<div class="modal-body html-modal">
    <div class="previewContainer page-root">
        <div class="page-with-margins">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content" *ngIf="previewContent" [innerHtml]="previewContent | sanitizeHtml"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer html-modal">
    <button type="button" class="btn btn-default" (click)="closePreview()">Close</button>
</div>