<div class="page domains detail detail-spec">
	<div class="card mb-0">
		<div class="card-header">
			<div class="card-title">{{dataService.labelSpecificationGroup()}} details</div>
		</div>
		<form>
			<div class="card-body">
				<div class="row">
					<div class="col-10 offset-1">
                        <app-specification-group-form [group]="group"></app-specification-group-form>
                    </div>
				</div>
			</div>
			<div class="card-footer button-container">
				<div class="btn-toolbar">
					<button (click)="saveGroupChanges()" type="submit" class="btn btn-secondary" [disable]="deletePending || saveDisabled()" [pending]="savePending">Save changes</button>
					<button (click)="back()" type="button" class="btn btn-secondary">Back</button>
				</div>
				<div class="btn-toolbar btn-toolbar-delete">
                    <div class="btn-group" dropdown [isDisabled]="savePending">
                        <button id="button-delete" [disable]="savePending" [pending]="deletePending" dropdownToggle type="button" class="btn btn-outline-danger dropdown-toggle" aria-controls="dropdown-delete">Delete<span class="caret withMargin"></span></button>
                        <ul id="dropdown-delete" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-result">
                            <li role="menuitem"><a class="dropdown-item" href (click)="deleteGroup(false);$event.preventDefault()">Delete this {{dataService.labelSpecificationGroupLower()}} but keep its {{dataService.labelSpecificationInGroupsLower()}}</a></li>
                            <li role="menuitem"><a class="dropdown-item" href (click)="deleteGroup(true);$event.preventDefault()">Delete this {{dataService.labelSpecificationGroupLower()}} and all its {{dataService.labelSpecificationInGroupsLower()}}</a></li>
                        </ul>
                    </div>
				</div>
			</div>
		</form>
	</div>
</div>