<div class="page">
	<div class="panel panel-default no-bottom-margin">
        <div class="panel-heading">
			<h4 class="title">Data export</h4>
		</div>
        <form class="form-horizontal">
            <div class="panel-body">
				<div class="form-group" *ngIf="showDomainOption">
					<label class="col-xs-3 control-label" for="choice_domain">* Data to export:</label>
					<div class="col-xs-8">
						<label class="radio-inline">
							<input type="radio" [(ngModel)]="exportType" name="choice" id="choice_domain" [value]="'domain'" (change)="resetSettings()">{{dataService.labelDomain()}} configuration
							<app-tooltip [inline]="true" [inlineType]="'checkLabel'" [tbTooltip]="'Export the data linked to the conformance testing scenarios, including '+dataService.labelSpecificationsLower()+' and configured test suites. Select this if you want to fully skip the configuration linked to the community\'s members.'"></app-tooltip>
						</label>
						<label class="radio-inline">
							<input type="radio" [(ngModel)]="exportType" name="choice" id="choice_community" [value]="'community'" (change)="resetSettings()">Community configuration
							<app-tooltip [inline]="true" [inlineType]="'checkLabel'" tbTooltip="Export the data linked to the community. As part of a community's data you may also select to export the data linked to its conformance testing scenarios. Select this to obtain a complete export of all information linked to a community's testing setup."></app-tooltip>
						</label>
					</div>
				</div>
				<div [collapse]="exportType == undefined" [isAnimated]="true">
					<div class="form-group" *ngIf="exportType == 'domain'">
						<label class="col-xs-3 control-label" for="domain">* {{dataService.labelDomain()}}:</label>
						<div class="col-xs-7">
							<select *ngIf="dataService.isSystemAdmin" class="form-control" id="domain" name="domainSelect" [(ngModel)]="domain">
                                <option *ngFor="let domain of domains" [ngValue]="domain">{{domain.fname}}</option>
                            </select>
							<input *ngIf="dataService.isCommunityAdmin && domain != undefined" class="form-control" id="domain" name="domain" [(ngModel)]="domain.fname" readonly="true"/>
						</div>
						<app-tooltip [tbTooltip]="'The '+dataService.labelDomainLower()+' to export.'"></app-tooltip>
					</div>
					<div class="form-group" *ngIf="exportType == 'community'">
						<label class="col-xs-3 control-label" for="community">* Community:</label>
						<div class="col-xs-7">
							<select *ngIf="dataService.isSystemAdmin" class="form-control" id="community" [(ngModel)]="community" name="communitySelect">
                                <option *ngFor="let c of communities" [ngValue]="c">{{c.fname}}</option>
                            </select>
							<input *ngIf="dataService.isCommunityAdmin" class="form-control" id="community" name="community" [(ngModel)]="community!.fname" readonly="true"/>
						</div>
						<app-tooltip tbTooltip="The community to export."></app-tooltip>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label" for="encryptionPassword">* Export password:</label>
						<div class="col-xs-4 inline-checkbox-container">
							<input id="encryptionPassword" name="encryptionPassword" autocomplete="off" [(ngModel)]="settings.encryptionKey" class="form-control" [attr.type]="showEncryptionKey?'text':'password'"/>
							<label class="inline-checkbox">
								<input type="checkbox" name="showEncryptionKey" [(ngModel)]="showEncryptionKey">Show
								<app-tooltip [inline]="true" tbTooltip="Used to encrypt the exported ZIP archive and also any sensitive values it may include. This password will need to be provided when importing or opening the archive."></app-tooltip>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-offset-1 col-xs-10">
							<table id="exportSettingsTable" class="table">
								<thead>
                                    <tr>
                                        <th>
                                            <span>Include</span><app-tooltip [inline]="true" tbTooltip="The types of data to include in the export."></app-tooltip>
                                        </th>
                                        <th class="td-centered"><span>All</span></th>
                                        <th>
                                            <span class="withMargin">Specific</span>
                                        </th>
                                        <th>
                                            <div class="btn-toolbar pull-right">
                                                <button class="btn btn-default btn-sm" type="button" (click)="allIncludes()" [disabled]="disableAllIncludes()">All</button>
                                                <button class="btn btn-default btn-sm" type="button" (click)="clearIncludes()" [disabled]="disableClearIncludes()">None</button>
                                            </div>
                                        </th>
                                    </tr>
								</thead>
								<tbody>
									<tr *ngIf="exportType == 'community'">
										<td class="row-header"><span>Community data</span><app-tooltip [inline]="true" tbTooltip="Data linked to the community and its members."></app-tooltip></td>
										<td class="td-centered">
											<input type="checkbox" name="allCommunityData" [(ngModel)]="allCommunityData" class="form-check" (change)="allCommunityDataChanged()"/>
										</td>
										<td colspan="2">
											<table>
												<tr>
													<td>
														<label class="checkbox-inline" *ngIf="!dataService.configuration.ssoEnabled">
															<input type="checkbox" name="settingsCommunityAdministrators" [(ngModel)]="settings.communityAdministrators" [disabled]="allCommunityData">Administrators
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsLandingPages" [(ngModel)]="settings.landingPages" [disabled]="allCommunityData">Landing pages
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsLegalNotices" [(ngModel)]="settings.legalNotices" [disabled]="allCommunityData">Legal notices
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsErrorTemplates" [(ngModel)]="settings.errorTemplates" [disabled]="allCommunityData">Error templates
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsTriggers" [(ngModel)]="settings.triggers" [disabled]="allCommunityData">Triggers
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsResources" [(ngModel)]="settings.resources" [disabled]="allCommunityData">Resources
														</label>
													</td>
												</tr>
												<tr>
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsCertificateSettings" [(ngModel)]="settings.certificateSettings" [disabled]="allCommunityData">Certificate settings
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsCustomLabels" [(ngModel)]="settings.customLabels" [disabled]="allCommunityData">Custom labels
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsCustomProperties" [(ngModel)]="settings.customProperties" [disabled]="allCommunityData || isPrerequisiteCustomProperties()">Custom property definitions
														</label>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr *ngIf="showDomainOption">
										<td class="row-header"><span>{{dataService.labelDomain()}} data</span><app-tooltip [inline]="true" [tbTooltip]="'Data linked to '+dataService.labelSpecificationsLower()+' and the test suites available for testing.'"></app-tooltip></td>
										<td class="td-centered"><input type="checkbox" name="allDomainData" [(ngModel)]="allDomainData" class="form-check" (change)="allDomainDataChanged()"/></td>
										<td colspan="2">
											<table>
												<tr>
													<td>
														<label class="checkbox-inline" *ngIf="exportType == 'community'">
															<input type="checkbox" name="settingsDomain" [(ngModel)]="settings.domain" [disabled]="allDomainData || isPrerequisiteDomain()">{{dataService.labelDomain()}} configuration
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsDomainParameters" [(ngModel)]="settings.domainParameters" (change)="domainParametersChanged()" [disabled]="allDomainData">{{dataService.labelDomain()}} parameters
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsSpecifications" [(ngModel)]="settings.specifications" (change)="specificationsChanged()" [disabled]="allDomainData || isPrerequisiteSpecifications()">{{dataService.labelSpecifications()}}
														</label>
													</td>
												</tr>
												<tr>
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsActors" [(ngModel)]="settings.actors" (change)="actorsChanged()" [disabled]="allDomainData || isPrerequisiteActors()">{{dataService.labelActors()}}
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsTestSuites" [(ngModel)]="settings.testSuites" (change)="testSuitesChanged()" [disabled]="allDomainData">Test suites
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsEndpoints" [(ngModel)]="settings.endpoints" (change)="endpointsChanged()" [disabled]="allDomainData || isPrerequisiteEndpoints()">{{dataService.labelEndpoints()}}
														</label>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr *ngIf="exportType == 'community'">
										<td class="row-header"><span>{{dataService.labelOrganisation()}} data</span><app-tooltip [inline]="true" [tbTooltip]="'Data linked to the community\'s '+dataService.labelOrganisationsLower()+' and their test configuration.'"></app-tooltip></td>
										<td class="td-centered"><input type="checkbox" name="allOrganisationData" [(ngModel)]="allOrganisationData" class="form-check" (change)="allOrganisationDataChanged()"/></td>
										<td colspan="2">
											<table>
												<tr>
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsOrganisations" [(ngModel)]="settings.organisations" [disabled]="allOrganisationData || isPrerequisiteOrganisations()">{{dataService.labelOrganisations()}}
														</label>
														<label class="checkbox-inline" *ngIf="!dataService.configuration.ssoEnabled">
															<input type="checkbox" name="settingsOrganisationUsers" [(ngModel)]="settings.organisationUsers" (change)="organisationUsersChanged()" [disabled]="allOrganisationData">Users
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsOrganisationPropertyValues" [(ngModel)]="settings.organisationPropertyValues" (change)="organisationPropertyValuesChanged()" [disabled]="allOrganisationData">Custom {{dataService.labelOrganisationLower()}} property values
														</label>
													</td>
												</tr>
												<tr>
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsSystems" [(ngModel)]="settings.systems" (change)="systemsChanged()" [disabled]="allOrganisationData || isPrerequisiteSystems()">{{dataService.labelSystems()}}
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsSystemPropertyValues" [(ngModel)]="settings.systemPropertyValues" (change)="systemPropertyValuesChanged()" [disabled]="allOrganisationData">Custom {{dataService.labelSystemLower()}} property values
														</label>
													</td>
												</tr>
												<tr *ngIf="showDomainOption">
													<td>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsStatements" [(ngModel)]="settings.statements" (change)="statementsChanged()" [disabled]="allOrganisationData || isPrerequisiteStatements()">Conformance statements
														</label>
														<label class="checkbox-inline">
															<input type="checkbox" name="settingsStatementConfigurations" [(ngModel)]="settings.statementConfigurations" (change)="statementConfigurationsChanged()" [disabled]="allOrganisationData">Conformance statement property configurations
														</label>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
            <div class="panel-footer">
				<button class="btn btn-default" type="submit" (click)="export()" [disable]="exportDisabled()" [pending]="pending">Export</button>
			</div>
		</form>
	</div>
</div>
