<div #conformanceItemPage id="conformanceDashboardPage" class="page conformancedashboard">
    <div class="card mb-0">
        <div class="card-header">
            <div class="card-title">Conformance statements</div>
            <div class="btn-toolbar allStatementControls">
                @if (listView) {
                    <app-filter-control #filterControl (toggle)="toggleFilters()" (refresh)="refreshFilters()" (clear)="clearFilters()"></app-filter-control>
                    @if (showExport) {
                        <button type="button" class="btn btn-secondary"  (click)="onExportConformanceStatementsAsCsv()" [pending]="exportPending">Export CSV</button>
                    }
                }
                <div class="btn-group" dropdown [isDisabled]="selectedCommunityId == undefined" placement="bottom right">
                    <button id="button-snapshot" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-snapshot"><span class="me-2">{{snapshotButtonLabel}}</span></button>
                    <ul id="dropdown-snapshot" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-snapshot">
                      <li role="menuitem"><a class="dropdown-item" href (click)="viewLatestConformanceSnapshot();$event.preventDefault()">{{latestSnapshotButtonLabel}}</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" href (click)="manageConformanceSnapshots();$event.preventDefault()">Manage conformance snapshots</a></li>
                    </ul>
                </div>
                <div class="extra-control-container">
                    <div class="btn input-switch">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="viewTypeToggle" [(ngModel)]="listView" (change)="viewTypeToggled()">
                            <label class="form-check-label" for="viewTypeToggle">List view</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (!listView) {
            <div class="card-body treeDisplay">
                @if (treeControlsExist()) {
                    <div class="partyControls" [class.wrapped]="searchControlsWrapped" [class.not-wrapped]="!searchControlsWrapped">
                        <div #selectorControls class="partySelectors">
                            @if (communityId == undefined) {
                                <div class="partyControl">
                                    @if (availableCommunities == undefined) {
                                        <div class="pending-container">
                                            <div class="pending-icon"><app-pending-block></app-pending-block></div>
                                            <div class="pending-message">Loading communities...</div>
                                        </div>
                                    } @else if (availableCommunities.length > 0) {
                                        <app-multi-select-filter [config]="communitySelectConfig!" (apply)="communityChanged(false, $event)"></app-multi-select-filter>
                                    }
                                </div>
                            }
                            @if (selectedCommunityId != undefined && availableCommunities) {
                                <div class="partyControl">
                                    @if (availableOrganisations == undefined) {
                                        <div class="pending-container">
                                            <div class="pending-icon"><app-pending-block></app-pending-block></div>
                                            <div class="pending-message">Loading {{dataService.labelOrganisationsLower()}}...</div>
                                        </div>
                                    } @else if (availableOrganisations.length > 0) {
                                        <app-multi-select-filter [config]="organisationSelectConfig!" (apply)="organisationChanged($event)"></app-multi-select-filter>
                                    }
                                </div>
                                @if (selectedOrganisationId != undefined && availableOrganisations) {
                                    <div class="partyControl">
                                        @if (availableSystems == undefined) {
                                            <div class="pending-container">
                                                <div class="pending-icon"><app-pending-block></app-pending-block></div>
                                                <div class="pending-message">Loading {{dataService.labelSystemsLower()}}...</div>
                                            </div>
                                            } @else if (availableSystems.length > 0) {
                                            <app-multi-select-filter [config]="systemSelectConfig!" (apply)="systemChanged($event)"></app-multi-select-filter>
                                        }
                                    </div>
                                }
                            }
                        </div>
                        @if ((selectedCommunityId != undefined && selectedOrganisationId != undefined && selectedSystemId != undefined) && dataStatus.status == Constants.STATUS.FINISHED && (hasStatementsBeforeFiltering || statements.length > 0)) {
                            <div #searchControls class="partyButtons">
                                <div class="text-filter">
                                    <app-text-filter name="statementFilter" [width]="350" [placeholder]="'Search statements...'" [(ngModel)]="searchCriteria.filterText" (apply)="getConformanceStatementsForTreeView()"></app-text-filter>
                                </div>
                                <div class="status-filter">
                                    <app-checkbox-option-panel
                                        label="Show statements..."
                                        [options]="statusOptions"
                                        (updated)="filterByStatus($event)"></app-checkbox-option-panel>
                                </div>
                                <div class="btn-group export-group" dropdown [isDisabled]="selectedSystemId == undefined || exportOverviewPending" placement="bottom right">
                                    <button type="button" [disable]="selectedSystemId == undefined || exportOverviewPending" [pending]="exportOverviewPending" class="btn btn-secondary text-nowrap" (click)="exportOverview('pdf')">Download report</button>
                                    <button id="button-export" type="button" [disabled]="selectedSystemId == undefined || exportOverviewPending" dropdownToggle class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
                                        <span class="caret"></span>
                                        <span class="sr-only visually-hidden">Download report</span>
                                    </button>
                                    <ul id="dropdown-export" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-export">
                                        <li role="menuitem"><a class="dropdown-item" href (click)="exportOverview('xml');$event.preventDefault()">Download report as XML</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                }
                @if (availableCommunities && availableCommunities.length == 0) {
                    <div class="alert alert-info rounded mb-0" [class.top-margin]="treeControlsExist()">
                        <span>No communities are defined.</span>
                    </div>
                } @else if (selectedCommunityId != undefined && availableOrganisations && availableOrganisations.length == 0) {
                    <div class="alert alert-info rounded mb-0" [class.top-margin]="treeControlsExist()">
                        <span>No {{dataService.labelOrganisationsLower()}} are defined.</span>
                    </div>
                } @else if (selectedOrganisationId != undefined && availableSystems && availableSystems.length == 0) {
                    <div class="alert alert-info rounded mb-0 top-margin">
                        <span>No {{dataService.labelSystemsLower()}} are defined.</span>
                    </div>
                } @else if (availableCommunities && selectedSystemId == undefined){
                    <div class="alert alert-info rounded mb-0 top-margin">
                        <span>Select a {{dataService.labelSystemLower()}} to view its conformance statements.</span>
                    </div>
                } @else if (availableCommunities && availableOrganisations && availableSystems && selectedSystemId != undefined) {
                    @if (dataStatus.status == Constants.STATUS.FINISHED) {
                        @if (statements.length == 0) {
                            @if (hasStatementsBeforeFiltering) {
                                <div class="alert alert-info rounded mb-0 top-margin">
                                    <span>No conformance statements match your search criteria.</span>
                                </div>
                            } @else {
                                <div class="alert alert-info rounded mb-0 top-margin">
                                    <span>No conformance statements defined.</span>
                                </div>
                            }
                        } @else {
                            <div class="statement-container" [class.disable-events]="updatePending">
                                <app-conformance-statement-items-display
                                    #conformanceItemTree
                                    [items]="statements"
                                    [animated]="true"
                                    [withCheck]="false"
                                    [withExport]="true"
                                    [withResults]="true"
                                    [withOptions]="true"
                                    [communityId]="selectedCommunityId"
                                    [organisationId]="selectedOrganisationId"
                                    [systemId]="selectedSystemId"
                                    [snapshotId]="activeConformanceSnapshot?.id"
                                    (selectionChanged)="onStatementSelect($event)"
                                    (export)="onExportConformanceItem($event)"
                                    (selected)="onStatementOptionsActivated($event)"
                                ></app-conformance-statement-items-display>
                            </div>
                        }
                    } @else {
                        <div class="pending-container top-margin">
                            <div class="pending-icon"><app-pending-block></app-pending-block></div>
                            <div class="pending-message">Loading conformance statements...</div>
                        </div>
                    }
                }
                <div [class.disable-events]="updatePending">
                    <app-paging-controls #pagingControls [placement]="PagingPlacement.card" (navigation)="doTreeViewPaging($event)"></app-paging-controls>
                </div>
            </div>
        } @else {
            <app-conformance-statement-table #listViewTable
                                             [communityId]="communityId"
                                             [statementLoader]="loadConformanceStatementsForListViewFactory()"
                                             [snapshot]="activeConformanceSnapshot"
                                             (communityChange)="listViewCommunityChange($event)"
                                             (searchChange)="listViewSearching($event)"
                                             (exportChange)="listViewExportChange($event)"
                                             (select)="onStatementSelectFromListView($event)"></app-conformance-statement-table>
        }
    </div>
</div>
