@import "../../../../styles/less/_common.less";

.statementControls {
    display: flex;
    margin-left: -5px;
    margin-bottom: 10px;
}
.statementRatios {
    display: flex;
    align-items: center;
    margin-left: auto;    
}

.spinnerPadded {
    padding-bottom: 15px;
}