<div id="conformanceDashboardPage" class="page conformancedashboard">
    <app-test-filter [filterState]="filterState" [communityId]="communityId" (onApply)="getConformanceStatements()"></app-test-filter>
	<div id="conformanceDashboardPageTable" class="panel panel-default">
		<div class="panel-heading">
			<h4 id="conformance-statements-title" class="title">Conformance statements</h4>
			<div class="btn-toolbar" [class.disable-events]="filterState.updatePending">
				<button type="button" class="btn btn-default" *ngIf="conformanceStatements.length > 0" (click)="onExportConformanceStatementsAsCsv()" [disable]="conformanceStatements.length == 0" [pending]="exportPending">Export CSV</button>
				<button type="button" class="btn btn-default" *ngIf="showCollapseAll()" (click)="onCollapseAll()">Collapse all</button>
			</div>
		</div>
        <div class="table-container">
            <table class="table table-directive expandable-table">
                <thead>
                    <tr>
                        <th class="sortableHeader" *ngIf="!dataService.isCommunityAdmin" (click)="sort(Constants.FILTER_TYPE.COMMUNITY)">Community <i *ngIf="sortColumn == Constants.FILTER_TYPE.COMMUNITY" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" (click)="sort(Constants.FILTER_TYPE.ORGANISATION)">{{dataService.labelOrganisation()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.ORGANISATION" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" (click)="sort(Constants.FILTER_TYPE.SYSTEM)">{{dataService.labelSystem()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.SYSTEM" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" *ngIf="dataService.isSystemAdmin || (dataService.isCommunityAdmin && dataService.community!.domain == undefined)" (click)="sort(Constants.FILTER_TYPE.DOMAIN)">{{dataService.labelDomain()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.DOMAIN" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" (click)="sort(Constants.FILTER_TYPE.SPECIFICATION)">{{dataService.labelSpecification()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.SPECIFICATION" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" (click)="sort(Constants.FILTER_TYPE.ACTOR)">{{dataService.labelActor()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.ACTOR" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="th-min">Last update</th>
                        <th class="th-min-centered">Test results</th>
                        <th class="th-min-centered">Status</th>
                        <th class="th-min-centered"></th>
                    </tr>
                </thead>
                <tbody *ngIf="dataStatus.status != Constants.STATUS.FINISHED">
                    <tr><td [attr.colspan]="columnCount" class="td-data-loading"><span><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span></td></tr>
                </tbody>
                <tbody *ngIf="dataStatus.status == Constants.STATUS.FINISHED && conformanceStatements.length == 0">
                    <tr><td [attr.colspan]="columnCount" class="td-no-data"><span>No conformance data found</span></td></tr>
                </tbody>
                <tbody *ngIf="conformanceStatements.length > 0" [class.disable-events]="filterState.updatePending">
                    <ng-container *ngFor="let statement of conformanceStatementsPage">
                        <tr (click)="onExpand(statement)"
                            class="table-row-directive expandable-table-row-collapsed">
                            <td *ngIf="!dataService.isCommunityAdmin">{{statement.communityName}}</td>
                            <td>{{statement.organizationName}}</td>
                            <td>{{statement.systemName}}</td>
                            <td *ngIf="dataService.isSystemAdmin || (dataService.isCommunityAdmin && dataService.community!.domain == undefined)">{{statement.domainName}}</td>
                            <td>{{statement.specName}}</td>
                            <td>{{statement.actorName}}</td>
                            <td class="td-min">{{statement.updateTime}}</td>
                            <td class="td-min-centered"><app-test-status-icons [counters]="statement.counters!"></app-test-status-icons></td>
                            <td class="td-min-centered"><span><i containerClass="shortTooltip" [tooltip]="dataService.tooltipForTestResult(statement.overallStatus)" [ngClass]="dataService.iconForTestResult(statement.overallStatus)"></i></span></td>
                            <td class="td-min-centered">
                                <button class="btn btn-default" (click)="onExportConformanceStatement(statement); $event.stopPropagation();" [pending]="statement.exportPending" [icon]="true"  containerClass="shortTooltip" tooltip="Export" [delay]="Constants.TOOLTIP_DELAY"><i class="fa fa-file-pdf-o"></i></button>
                            </td>
                        </tr>
                        <tr class="expandable-table-row-expanded">
                            <td colspan="10" class="expandable-table-expandable-cell">
                                <div [collapse]="!isExpanded(statement)" [isAnimated]="true">
                                    <div class="collapsing-div">
                                        <div *ngIf="statement.testCasesLoaded == undefined || !statement.testCasesLoaded" class="spinnerPadded">
                                            <span><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>
                                        </div>
                                        <div class="statementControls">
                                            <div class="btn-toolbar">
                                                <button type="button" class="btn btn-default" (click)="toOrganisation(statement)">View {{dataService.labelOrganisationLower()}}</button>
                                                <button type="button" class="btn btn-default" (click)="toSystem(statement)">View {{dataService.labelSystemLower()}}</button>
                                                <button type="button" class="btn btn-default" (click)="toStatement(statement)">View conformance statement</button>
                                                <button type="button" class="btn btn-default" (click)="toSpecification(statement)">View {{dataService.labelSpecificationLower()}}</button>
                                                <button type="button" class="btn btn-default" (click)="toActor(statement)">View {{dataService.labelActorLower()}}</button>
                                            </div>
                                        </div>
                                        <div class="testSuitePanel" *ngFor="let testSuite of statement.testSuites">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" (click)="testSuite.expanded = !testSuite.expanded">
                                                    <div class="testSuiteHeaderLabel">Test suite</div>
                                                    <div class="testSuiteHeaderValue">{{testSuite.testSuiteName}}</div>
                                                    <div class="testSuiteResult"><app-test-result-status-display [result]="testSuite.result"></app-test-result-status-display></div>
                                                </div>
                                                <div class="collapsibleTestCaseDiv" [collapse]="!testSuite.expanded" [isAnimated]="true">
                                                    <div class="panel-body">
                                                        <div class="testCaseContainer table-container">
                                                            <table class="table table-directive">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="90%">Test case</th>
                                                                        <th class="sessionTime">Last run</th>
                                                                        <th class="th-min-centered"></th>
                                                                        <th class="th-min-centered"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let testCase of testSuite.testCases">
                                                                        <td>{{testCase.testCaseName}}</td>
                                                                        <td class="sessionTime">{{testCase.sessionTime}}</td>
                                                                        <td class="td-min-centered test-case-controls">
                                                                            <div class="btn-toolbar testcase-toolbar">
                                                                                <button *ngIf="testCase.sessionId != undefined" class="btn btn-default" (click)="toTestSession(testCase.sessionId)" containerClass="shortTooltip" tooltip="View session" [delay]="Constants.TOOLTIP_DELAY"><i class="fa fa-search"></i></button>
                                                                                <button *ngIf="showExportTestCase(testCase)" [pending]="testCase.actionPending" [icon]="true" class="btn btn-default" (click)="onExportTestCaseXml(testCase)" containerClass="shortTooltip" tooltip="Export (XML)" [delay]="Constants.TOOLTIP_DELAY"><i class="fa fa-file-text-o"></i></button>
                                                                                <button *ngIf="showExportTestCase(testCase)" [pending]="testCase.exportPending" [icon]="true" class="btn btn-default" (click)="onExportTestCasePdf(testCase)" containerClass="shortTooltip" tooltip="Export (PDF)" [delay]="Constants.TOOLTIP_DELAY"><i class="fa fa-file-pdf-o"></i></button>
                                                                            </div>
                                                                        </td>
                                                                        <td class="td-min-centered test-case-result">
                                                                            <app-test-result-status-display [message]="testCase.outputMessage" [result]="testCase.result"></app-test-result-status-display>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div *ngIf="(!prevDisabled || !nextDisabled) && conformanceStatements && conformanceStatements.length > 0" class="text-center table-paging-controls-expandable">
            <ul class="pagination pagination-sm" [class.disable-events]="filterState.updatePending">
                <li [ngClass]="prevDisabled ? 'disabled' : ''"><a href (click)="doFirstPage(); $event.preventDefault()">First</a></li>
                <li [ngClass]="prevDisabled ? 'disabled' : ''"><a href (click)="doPrevPage(); $event.preventDefault()">Previous</a></li>
                <li [ngClass]="nextDisabled ? 'disabled' : ''"><a href (click)="doNextPage(); $event.preventDefault()">Next</a></li>
                <li [ngClass]="nextDisabled ? 'disabled' : ''"><a href (click)="doLastPage(); $event.preventDefault()">Last</a></li>
            </ul>
        </div>
	</div>
</div>