<div id="conformanceDashboardPage" class="page conformancedashboard">
    <app-test-filter [filterState]="filterState" [communityId]="communityId" (onApply)="getConformanceStatements()"></app-test-filter>
	<div id="conformanceDashboardPageTable" class="panel panel-default no-bottom-margin">
		<div class="panel-heading">
			<h4 id="conformance-statements-title" class="title">Conformance statements</h4>
			<div class="btn-toolbar allStatementControls" [class.disable-events]="filterState.updatePending">
                <div class="btn-group" dropdown [isDisabled]="selectedCommunityId == undefined">
                    <button id="button-snapshot" dropdownToggle type="button" class="btn btn-default dropdown-toggle" aria-controls="dropdown-snapshot">{{snapshotButtonLabel}}<span class="caret"></span></button>
                    <ul id="dropdown-snapshot" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-snapshot">
                      <li role="menuitem"><a class="dropdown-item" href (click)="viewLatestConformanceSnapshot();$event.preventDefault()">{{latestSnapshotButtonLabel}}</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" href (click)="manageConformanceSnapshots();$event.preventDefault()">Manage conformance snapshots</a></li>
                    </ul>
                </div>
				<button type="button" class="btn btn-default" *ngIf="conformanceStatements.length > 0" (click)="onExportConformanceStatementsAsCsv()" [disable]="conformanceStatements.length == 0" [pending]="exportPending">Export CSV</button>
				<button type="button" class="btn btn-default" *ngIf="showCollapseAll()" (click)="onCollapseAll()">Collapse all</button>
			</div>
		</div>
        <div class="table-container">
            <table class="table table-directive expandable-table">
                <thead>
                    <tr>
                        <th class="th-min-centered"></th>
                        <th class="sortableHeader" *ngIf="!dataService.isCommunityAdmin" (click)="sort(Constants.FILTER_TYPE.COMMUNITY)">Community <i *ngIf="sortColumn == Constants.FILTER_TYPE.COMMUNITY" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" (click)="sort(Constants.FILTER_TYPE.ORGANISATION)">{{dataService.labelOrganisation()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.ORGANISATION" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" (click)="sort(Constants.FILTER_TYPE.SYSTEM)">{{dataService.labelSystem()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.SYSTEM" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" *ngIf="dataService.isSystemAdmin || (dataService.isCommunityAdmin && dataService.community!.domain == undefined)" (click)="sort(Constants.FILTER_TYPE.DOMAIN)">{{dataService.labelDomain()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.DOMAIN" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" (click)="sort(Constants.FILTER_TYPE.SPECIFICATION)">{{dataService.labelSpecification()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.SPECIFICATION" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="sortableHeader" (click)="sort(Constants.FILTER_TYPE.ACTOR)">{{dataService.labelActor()}} <i *ngIf="sortColumn == Constants.FILTER_TYPE.ACTOR" [ngClass]="{'fa-caret-down': sortOrder == Constants.ORDER.DESC, 'fa-caret-up': sortOrder == Constants.ORDER.ASC}" class="fa"></i></th>
                        <th class="th-min">Last update</th>
                        <th class="th-min-centered">Test results</th>
                        <th class="th-min-centered">Status</th>
                        <th class="th-min-centered"></th>
                    </tr>
                </thead>
                <tbody *ngIf="dataStatus.status != Constants.STATUS.FINISHED">
                    <tr><td [attr.colspan]="columnCount" class="td-data-loading"><span><i class="fa-solid fa-spinner fa-spin-override fa-lg"></i></span></td></tr>
                </tbody>
                <tbody *ngIf="dataStatus.status == Constants.STATUS.FINISHED && conformanceStatements.length == 0">
                    <tr><td [attr.colspan]="columnCount" class="td-no-data"><span>No conformance data found</span></td></tr>
                </tbody>
                <tbody *ngIf="conformanceStatements.length > 0" [class.disable-events]="filterState.updatePending">
                    <ng-container *ngFor="let statement of conformanceStatements">
                        <tr (click)="onExpand(statement)"
                            class="table-row-directive expandable-table-row-collapsed">
                            <td class="td-min-centered"><app-collapsing-icon [padded]="false" [isCollapsed]="!isExpanded(statement)"></app-collapsing-icon></td>
                            <td *ngIf="!dataService.isCommunityAdmin">{{statement.communityName}}</td>
                            <td>{{statement.organizationName}}</td>
                            <td>{{statement.systemName}}</td>
                            <td *ngIf="dataService.isSystemAdmin || (dataService.isCommunityAdmin && dataService.community!.domain == undefined)">{{statement.domainName}}</td>
                            <td>{{statement.specName}}</td>
                            <td>{{statement.actorName}}</td>
                            <td class="td-min">{{statement.updateTime}}</td>
                            <td class="td-min-centered"><app-test-status-icons [counters]="statement.counters!" [asLine]="true"></app-test-status-icons></td>
                            <td class="td-min-centered"><span><i containerClass="shortTooltip" [tooltip]="dataService.tooltipForTestResult(statement.overallStatus)" [ngClass]="dataService.iconForTestResult(statement.overallStatus)"></i></span></td>
                            <td class="td-min-centered">
                                <button class="btn btn-default" (click)="onExportConformanceStatement(statement); $event.stopPropagation();" [pending]="statement.exportPending" [icon]="true"  containerClass="shortTooltip" tooltip="Export" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-regular fa-file-pdf"></i></button>
                            </td>
                        </tr>
                        <tr class="expandable-table-row-expanded">
                            <td [attr.colspan]="columnCount" class="expandable-table-expandable-cell">
                                <div [collapse]="!isExpanded(statement)" [isAnimated]="true">
                                    <div class="collapsing-div">
                                        <div *ngIf="statement.testSuitesLoaded == undefined || !statement.testSuitesLoaded" class="spinnerPadded">
                                            <span><i class="fa-solid fa-spinner fa-spin-override fa-lg"></i></span>
                                        </div>
                                        <div class="statementControls">
                                            <div class="statementButtons btn-toolbar" *ngIf="showToOrganisation(statement) || showToSystem(statement) || showToStatement(statement) || showToSpecification(statement) || showToActor(statement)">
                                                <button type="button" class="btn btn-default" *ngIf="showToOrganisation(statement)" (click)="toOrganisation(statement)">View {{dataService.labelOrganisationLower()}}</button>
                                                <button type="button" class="btn btn-default" *ngIf="showToSystem(statement)" (click)="toSystem(statement)">View {{dataService.labelSystemLower()}}</button>
                                                <button type="button" class="btn btn-default" *ngIf="showToStatement(statement)" (click)="toStatement(statement)">View conformance statement</button>
                                                <button type="button" class="btn btn-default" *ngIf="showToSpecification(statement)" (click)="toSpecification(statement)">View {{dataService.labelSpecificationLower()}}</button>
                                                <button type="button" class="btn btn-default" *ngIf="showToActor(statement)" (click)="toActor(statement)">View {{dataService.labelActorLower()}}</button>
                                            </div>
                                            <div class="statementRatios">
                                                <app-test-result-ratio [counters]="statement.counters!" [asLine]="true"></app-test-result-ratio>
                                            </div>
                                        </div>
                                        <app-test-suite-display
                                            [testSuites]="statement.testSuites"
                                            [showExecute]="false"
                                            [showExport]="true"
                                            (viewTestSession)="toTestSession($event)"
                                        ></app-test-suite-display>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div *ngIf="(!prevDisabled || !nextDisabled) && conformanceStatements && conformanceStatements.length > 0" class="text-center table-paging-controls">
            <ul class="pagination pagination-sm" [class.disable-events]="filterState.updatePending">
                <li [class.disabled]="prevDisabled"><a href (click)="doFirstPage(); $event.preventDefault()">First</a></li>
                <li [class.disabled]="prevDisabled"><a href (click)="doPrevPage(); $event.preventDefault()">Previous</a></li>
                <li [class.disabled]="nextDisabled"><a href (click)="doNextPage(); $event.preventDefault()">Next</a></li>
                <li [class.disabled]="nextDisabled"><a href (click)="doLastPage(); $event.preventDefault()">Last</a></li>
            </ul>
        </div>
	</div>
</div>
