@import "../_common.less";

@processing-color: #03A9F4;
@error-color: #D32F2F;
@completed-color: #4CAF50;
@basic-color: #777;

.table-directive {
  	padding:0; margin:0;
	tbody {
		tr.table-row-directive {
			&:hover {
				cursor: pointer;
				background-color: fade(@gray-light, 50%);
			}
			&.selected {
				background-color: fade(@blue, 20%);
			}
		}
	}
}

.row-display-first {
    padding-bottom: 10px;	
}

.row-display-last {
	border-top: 1px solid @gray-light;
    padding-top: 10px;	
}

.row-display {
	border-top: 1px solid @gray-light;
    padding-top: 10px;
    padding-bottom: 10px;	
}

.row-display-inner {
	border-top: 1px solid @gray-light;
	padding-top: 5px;
	margin-top: 5px;
}

.test-result-obsolete {
	color: #ddd
}

.system-container-div {
	padding-right: 0px;
	padding-left: 0px;
}

.panel-heading-tests {
	padding: 10px 9px 10px 15px;
}

.testsuite-progress-icon {
	font-size: 24px;
}

.test-case-pending {
	visibility: hidden;
}
.test-case-ready {
	color: @basic-color;
}
.test-case-stopped {
	color: @basic-color;
}
.test-case-running {
	color: @processing-color;
}
.test-case-error {
	color: @error-color;
}
.test-case-success {
	color: @completed-color;
}

.select-execution {
	.panel-body {
		min-height: 220px;
	}
}

.test-case-list-table {
	padding-bottom: 20px;
}

.td-centered {
	text-align: center;
}

.test-case-table {
	padding:0; margin:0;
	tbody {
		tr.clickable-row {
			&:hover {
				cursor: pointer;
				background-color: fade(@gray-light, 50%);
			}
		}
		tr.selected-row {
			background-color: fade(@blue, 20%);
		}
	}	
}

#domain-parameter-checkbox {
	margin: 12px 0 0 0;
}