@import "../_common.less";

.table-directive {
  	padding:0; margin:0;
	tbody {
		tr.table-row-directive {
			&:hover {
				cursor: pointer;
				background-color: fade(@gray-light, 50%);
			}
			&.selected {
				background-color: fade(@blue, 20%);
			}
		}
	}
}

.row-display-first {
    padding-bottom: 10px;	
}

.row-display-last {
	border-top: 1px solid @gray-light;
    padding-top: 10px;	
}

.row-display {
	border-top: 1px solid @gray-light;
    padding-top: 10px;
    padding-bottom: 10px;	
}

.row-display-inner {
	border-top: 1px solid @gray-light;
	padding-top: 5px;
	margin-top: 5px;
}

.test-result-obsolete {
	color: #ddd
}