<ng-container [ngSwitch]="isButton">
  <div *ngSwitchCase="true" style="display:inline-block">
    <button type="button" class="btn btn-default" (click)="onButtonClick()">{{label}}</button>
  </div>
  <div *ngSwitchCase="false" class="input-group">
    <div class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="onButtonClick()"><i class="fa fa-folder-open-o"></i></button>
    </div>
    <input type="text" autocomplete="off" class="form-control clickable" [value]="(fileName != undefined)?fileName:''" [attr.placeholder]="placeholder" (click)="onButtonClick()" readonly="readonly"/>
  </div>
  <input #fileInput type="file" style="display:none" (change)="onFileChange()" [attr.accept]="acceptString"/>
</ng-container>
