<div class="col-md-2">
    <aside class="sidebar">
        <ul class="nav nav-list primary push-bottom">
            <li><a (click)="routingService.toConformanceStatements(organisationId, systemId)">Conformance Statements</a></li>
            <li><a (click)="routingService.toSystemInfo(organisationId, systemId)">{{dataService.labelSystem()}} Information</a></li>
            <li><a (click)="routingService.toTestHistory(organisationId, systemId)">Test Sessions</a></li>
            <li *ngIf="!(dataService.isVendorUser && count <= 1)" class="nav-divider"></li>
            <li *ngIf="!(dataService.isVendorUser && count <= 1)"><a (click)="routingService.toSystems(organisationId)">{{dataService.labelSystems()}}</a></li>
        </ul>
    </aside>
</div>
<div class="child col-md-10">
    <router-outlet></router-outlet>
</div>