@import '../../../styles/less/_common.less';

.test-case-list-table{
    .testCaseName {
        display: flex;
        align-items: center;
        &.padded {
            min-height: 34px;
        }
    }
}
.sessionDiagramDiv {
    margin-bottom: 20px;
}
.missingConfigurationDiv {
    padding: 20px;
}
.pendingDiv {
    padding: 20px;
}
.no-display {
    display: none;
}
.viewLogButton {
    position: relative;
    margin-left: 5px;
}
.session-execution-info {
	display: flex;
	width: 100%;
	.session-table-title {
		display: inline-flex;
		padding-left: 0px;
		.session-table-title-part {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	.session-table-operations {
		display: inline-flex;
		align-items: center;
	}
}
.sessionButtonDiv {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    & > .optionsDiv {
        flex-grow: 0;
        border-left: 1px solid @gray-dark-1;
        margin-left: 20px;
        padding-left: 20px;
    }
    & > .actionButtonDiv {
        flex-grow: 0;
        border-left: 1px solid @gray-dark-1;
        margin-left: 20px;
        padding-left: 20px;
    }
}
.expandable-hidden {
    opacity: 0;
}
.test-case-table {
    .expandable-table-row-expanded {
        border-top-style: hidden;
    }
}
div.progress-icon {
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}