.test-case-list-table{
    margin-bottom: 0px;
    .testCaseName {
        display: flex;
        align-items: center;
        &.padded {
            min-height: 34px;
        }
    }
}
.test-case-list-table {
    span.caret {
        margin-left: 10px;
    }
}
.test-case-list-table {
    & > .panel-heading {
        display: flex;
        align-items: center;
        & > .btn-toolbar {
            flex-grow: 1;
            display: flex;
            justify-content: right;
        }
    }
}
.sessionDiagramDiv {
    margin-bottom: 20px;
}
.missingConfigurationDiv {
    padding: 20px;
}
.pendingDiv {
    padding: 20px;
}