<div class="table-container rounded">
    <table class="table table-directive">
        @if (tableCaptionVisible) {
            <caption>{{tableCaption}}</caption>
        }
        <thead>
            <tr>
                @if (expandableRowProperty != undefined) {
                    <th class="th-min-centered"></th>
                }
                @if (checkboxEnabled) {
                    <th class="th-min-centered">
                        <input type="checkbox" [(ngModel)]="allChecked" (change)="checkAll()">
                    </th>
                }
                @for (column of columnsLeft; track $index) {
                    <th [ngClass]="classForColumn(column)" [class.sortable]="column.sortable" (click)="headerColumnClicked(column)">
                        {{column.title}}
                        @if (column.order != undefined) {
                            <i [ngClass]="{'fa-caret-down': column.order == 'desc', 'fa-caret-up': column.order == 'asc'}" class="fa"></i>
                        }
                    </th>
                }
                @if (actionVisible || operationsVisible || exportVisible) {
                    <th class="th-min-centered"></th>
                }
                @for (column of columnsRight; track $index) {
                    <th [ngClass]="classForColumn(column)" [class.sortable]="column.sortable" (click)="headerColumnClicked(column)">
                        {{column.title}}
                        @if (column.order != undefined) {
                            <i [ngClass]="{'fa-caret-down': column.order == 'desc', 'fa-caret-up': column.order == 'asc'}" class="fa"></i>
                        }
                    </th>
                }
            </tr>
        </thead>
        <tbody [class.disable-events]="contentRefreshing">
            @if (loadingStatus) {
                @if (loadingStatus.status != Constants.STATUS.FINISHED) {
                    <tr>
                        <td [attr.colspan]="columnCount" class="td-data-loading"><app-pending-block></app-pending-block></td>
                    </tr>
                } @else if (!data || data.length == 0) {
                    <tr>
                        <td [attr.colspan]="columnCount" class="td-no-data"><span>{{noDataMessage}}</span></td>
                    </tr>
                }
            }
            @for (row of data; track row; let i = $index) {
                <tr table-row-directive
                    class="table-row-directive"
                    [ngClass]="rowClass(i)"
                    [class.selected]="row._selected"
                    (click)="select(i)"
                    [data]="row"
                    [columns]="columns"
                    [classes]="classes"
                    [actionVisible]="actionVisible"
                    [actionIcon]="actionIcon"
                    [exportIcon]="exportIcon"
                    [deleteIcon]="deleteIcon"
                    [operationsVisible]="operationsVisible"
                    [exportVisible]="exportVisible"
                    [exportVisibleForRow]="exportVisibleForRow"
                    [checkboxEnabled]="checkboxEnabled"
                    (onAction)="handleAction($event)"
                    (onDelete)="handleDelete($event)"
                    (onExport)="handleExport($event)"
                    (onCheck)="handleCheck($event)"
                    [deleteVisibleForRow]="deleteVisibleForRow"
                    [actionVisibleForRow]="actionVisibleForRow"
                    [actionPendingProperty]="actionPendingProperty"
                    [deletePendingProperty]="deletePendingProperty"
                    [exportPendingProperty]="exportPendingProperty"
                    [actionTooltip]="actionTooltip"
                    [deleteTooltip]="deleteTooltip"
                    [exportTooltip]="exportTooltip"
                    [expandableRowProperty]="expandableRowProperty"
                    [refresh]="refreshRows"></tr>
            }
        </tbody>
    </table>
    @if (supportPaging) {
        <app-paging-controls #pagingControls [refreshing]="contentRefreshing" (navigation)="doPageNavigation($event)"></app-paging-controls>
    }
</div>
