<div class="modal-header">
	<h4>Prerequisite information missing</h4>
</div>
<div class="modal-body">
	<app-missing-configuration-display 
		[organisationProperties]="organisationProperties"
		[organisationConfigurationValid]="organisationConfigurationValid"
		[systemProperties]="systemProperties"
		[systemConfigurationValid]="systemConfigurationValid"
		[statementProperties]="statementProperties"
		[configurationValid]="configurationValid"
		(action)="close($event)"
	></app-missing-configuration-display>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" (click)="close()">Close</button>
</div>