<div class="modal-header">
	<h4>Prerequisite information missing</h4>
</div>
<div class="modal-body panel-configuration">
	<!-- Nothing is visible -->
	<div *ngIf="!somethingIsVisible">
		<div class="bg-info div-rounded div-padded">
			<span>Certain configuration must be completed for you by an administrator before you can proceed with testing.</span>
		</div>                    
	</div>
	<!-- Something is visible -->
	<div *ngIf="somethingIsVisible">
		<!-- Something is not visible -->
		<div class="bg-info div-rounded div-padded bottom-margin" *ngIf="requiredPropertiesAreHidden">
			<p>Required information is needed before tests can be launched. Please review this below and complete it accordingly.</p>
			<span><b>Note: </b></span><span>Certain additional configuration must be completed for you by an administrator before you can proceed with testing.</span>
		</div>
		<!-- Everything is visible -->
		<div class="bg-info div-rounded div-padded bottom-margin" *ngIf="!requiredPropertiesAreHidden">
			<span>Required information is needed before tests can be launched. Please review this below and complete it accordingly.</span>
		</div>
		<div class="panel panel-default" *ngIf="showOrganisationProperties">
			<div class="panel-heading">
				<h5 class="title">Organisation properties</h5>
				<div class="pull-right">
					<button type="button" class="btn btn-default" (click)="toOrganisationProperties()">View</button>
				</div>
			</div>
            <app-parameter-display 
                [parameters]="organisationProperties" 
                [onlyMissing]="true" 
                [showValues]="false" 
                [editable]="false"
                [parameterLabel]="'Property'"></app-parameter-display>
		</div>
		<div class="panel panel-default" *ngIf="showSystemProperties">
			<div class="panel-heading">
				<h5 class="title">System properties</h5>
				<div class="pull-right">
					<button type="button" class="btn btn-default" (click)="toSystemProperties()">View</button>
				</div>
			</div>
            <app-parameter-display 
                [parameters]="systemProperties" 
                [onlyMissing]="true" 
                [showValues]="false" 
                [editable]="false"
                [parameterLabel]="'Property'"></app-parameter-display>
		</div>
		<div class="panel panel-default" *ngIf="showStatementProperties">
			<div class="panel-heading">
				<h5 class="title">Conformance statement parameters</h5>
				<div class="pull-right">
					<button type="button" class="btn btn-default" (click)="toConfigurationProperties()">View</button>
				</div>
			</div>
            <app-parameter-display 
                [parameters]="statementProperties" 
                [onlyMissing]="true" 
                [showValues]="false" 
                [editable]="false"
                [parameterLabel]="'Property'"></app-parameter-display>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" (click)="close()">Close</button>
</div>