<div class="modal-header">
    <div class="modal-title">{{modalTitle}}</div>
</div>
<form>
	<div class="modal-body" appFileDropTarget>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info rounded">
                    <span>The defined properties generate a form that differs depending on the connected user. Use the preview mode below to ensure this form matches your expectations for each case.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end" for="mode">Preview mode:</label>
                    <div class="col-8">
                        <select class="form-select" id="mode" name="mode" [(ngModel)]="mode">
                            <option value="user">{{dataService.labelOrganisation()}} user</option>
                            @if (hasRegistrationCase) {
                                <option value="registration">Self-registration screen</option>
                            }
                            <option value="admin">Community administrator</option>
                        </select>
                    </div>
                    <div app-tooltip class="col-auto" tbTooltip="The mode to consider to generate the preview."></div>
                </div>
            </div>
        </div>
        <app-form-section sectionTitle="Property form">
            @if (mode == 'user') {
                <app-custom-property-form
                    [tbProperties]="parameters"
                    [tbPropertyType]="parameterType"
                    [tbShowFormHeader]="false"
                    [tbSetDefaults]="true"
                    [tbAdmin]="false"></app-custom-property-form>
            } @else if (mode == 'admin') {
                <app-custom-property-form 
                    [tbProperties]="parameters"
                    [tbPropertyType]="parameterType"
                    [tbShowFormHeader]="false"
                    [tbSetDefaults]="true"
                    [tbAdmin]="true"></app-custom-property-form>
            } @else if (hasRegistrationCase && mode == 'registration') {
                <app-custom-property-form
                    [tbProperties]="parametersForRegistration"
                    [tbPropertyType]="parameterType"
                    [tbShowFormHeader]="false"
                    [tbSetDefaults]="true"
                    [tbAdmin]="false"></app-custom-property-form>
            }
            @if (!hasVisibleProperties()) {
                <div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="alert alert-info rounded mb-0">
                                <span>The form resulting from the defined properties and selected preview mode is empty.</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </app-form-section>
	</div>
	<div class="modal-footer">
        <div class="btn-toolbar">
            <button class="btn btn-secondary" type="button" (click)="close()">Close</button>
        </div>
	</div>
</form>