<div class="modal-header">
	<h4>{{modalTitle}}</h4>
</div>
<form class="form-horizontal">
	<div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="bg-info div-rounded div-padded bottom-margin">
                    <span>The defined properties generate a form that differs depending on the connected user. Use the preview mode below to ensure this form matches your expectations for each case.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="mode">Preview mode:</label>
                    <div class="col-xs-8">
                        <select class="form-control" id="mode" name="mode" [(ngModel)]="mode">
                            <option value="user">{{dataService.labelOrganisation()}} user</option>
                            <option value="registration" *ngIf="hasRegistrationCase">Self-registration screen</option>
                            <option value="admin">Community administrator</option>
                        </select>
                    </div>
                    <app-tooltip tbTooltip="The mode to consider to generate the preview."></app-tooltip>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-separator">
                    <h4 class="title">Property form</h4>
                </div>
            </div>
        </div>
        <app-custom-property-form *ngIf="mode == 'user'"
            [tbProperties]="parameters"
            [tbPropertyType]="parameterType"
            [tbShowFormHeader]="false"
            [tbSetDefaults]="true"
            [tbAdmin]="false"></app-custom-property-form>
        <app-custom-property-form *ngIf="mode == 'admin'"
            [tbProperties]="parameters"
            [tbPropertyType]="parameterType"
            [tbShowFormHeader]="false"
            [tbSetDefaults]="true"
            [tbAdmin]="true"></app-custom-property-form>
        <app-custom-property-form *ngIf="hasRegistrationCase && mode == 'registration'"
            [tbProperties]="parametersForRegistration"
            [tbPropertyType]="parameterType"
            [tbShowFormHeader]="false"
            [tbSetDefaults]="true"
            [tbAdmin]="false"></app-custom-property-form>
        <div *ngIf="!hasVisibleProperties()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bg-info div-rounded div-padded bottom-margin">
                        <span>The form resulting from the defined properties and selected preview mode is empty.</span>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="modal-footer">
        <button class="btn btn-default" type="button" (click)="close()">Close</button>
	</div>
</form>