<div class="page users detail">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Community details</div>
        </div>
        <form (ngSubmit)="updateCommunity()">
            <div class="card-body" [pending]="!loaded" focus="sname">
                @if (selfRegistrationWarningActive) {
                    <div class="alert alert-warning rounded">
                        <span>The community's self-registration settings require that users join existing {{dataService.labelOrganisationsLower()}}. For self-registration to be possible you must either configure a default {{dataService.labelOrganisationLower()}}, or enable {{dataService.labelOrganisationLower()}} tokens (or both).</span>
                    </div>
                }
                <app-community-form [community]="community" [admin]="dataService.isSystemAdmin" [domains]="domains" [validation]="validation"></app-community-form>
            </div>
            <div class="card-footer button-container">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" [disable]="saveDisabled()" [pending]="savePending" [labelIcon]="Constants.BUTTON_ICON.SAVE">Save changes</button>
                    <button class="btn btn-secondary" type="button" (click)="updateReportSettings()" [disable]="!loaded || savePending || deletePending" [labelIcon]="Constants.BUTTON_ICON.REPORT">Manage report settings</button>
                    <button class="btn btn-secondary" type="button" (click)="updateParameters()" [disable]="!loaded || savePending || deletePending" [labelIcon]="Constants.BUTTON_ICON.CONFIGURATION_PROPERTIES">Manage configuration properties</button>
                    <button class="btn btn-secondary" type="button" (click)="editLabels()" [disable]="!loaded || savePending || deletePending" [labelIcon]="Constants.BUTTON_ICON.LABELS">Manage labels</button>
                    @if (dataService.isSystemAdmin) {
                        <button class="btn btn-secondary" type="button" (click)="cancelCommunityDetail()" [labelIcon]="Constants.BUTTON_ICON.BACK">Back</button>
                    }
                </div>
                @if (dataService.isSystemAdmin) {
                    <div class="btn-toolbar btn-toolbar-delete">
                        <button class="btn btn-outline-danger" type="button" (click)="deleteCommunity()" [disable]="!loaded || savePending" [pending]="deletePending" [labelIcon]="Constants.BUTTON_ICON.DELETE">Delete</button>
                    </div>
                }
            </div>
        </form>
    </div>
    <div>
        <ul ngbNav #tabs="ngbNav" class="nav-tabs" [(activeId)]="tabIdToShow" (activeIdChange)="showTab()" [animation]="false">
            <li [ngbNavItem]="Constants.TAB.COMMUNITY.ORGANISATIONS">
                <button ngbNavLink class="nav-link tabClass"><app-tab-title [icon]="Constants.BUTTON_ICON.ORGANISATION" [text]="dataService.labelOrganisations()"></app-tab-title></button>
                <ng-template ngbNavContent>
                    <!-- Organisations -->
                    <div class="tabPanel">
                        <div class="tabControls">
                            <div class="searchControls btn-toolbar">
                                <app-text-filter name="organisationFilter" [width]="300" [placeholder]="'Search '+dataService.labelOrganisationsLower()+'...'" [(ngModel)]="organisationFilter" (apply)="applyOrganisationFilter()"></app-text-filter>
                                <div class="btn-group" ngbDropdown>
                                    <button id="button-order" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-result">
                                        <span class="mini-tab"><i [class]="Constants.BUTTON_ICON.SORT"></i></span>
                                        <span class="me-2">{{sortByCreationOrderLabel}}</span>
                                    </button>
                                    <div id="dropdown-order" ngbDropdownMenu aria-labelledby="button-order">
                                        <button ngbDropdownItem type="button" (click)="applyCreationOrderSort(sortByCreationOrderNone, sortByCreationOrderLabelNone)">Do not apply</button>
                                        <div class="divider dropdown-divider"></div>
                                        <button ngbDropdownItem type="button" (click)="applyCreationOrderSort(sortByCreationOrderAsc, sortByCreationOrderLabelAsc)">{{sortByCreationOrderLabelAsc}}</button>
                                        <button ngbDropdownItem type="button" (click)="applyCreationOrderSort(sortByCreationOrderDesc, sortByCreationOrderLabelDesc)">{{sortByCreationOrderLabelDesc}}</button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.NEW" (click)="createOrganisation()">Create {{dataService.labelOrganisationLower()}}</button>
                            </div>
                        </div>
                        <div class="card">
                            <div #organisationTable table-directive
                                 [columns]="organizationColumns"
                                 [data]="organizations"
                                 [noDataMessage]="'No '+dataService.labelOrganisationsLower()+' found'"
                                 [loadingStatus]="organisationStatus"
                                 [contentRefreshing]="organisationsRefreshing"
                                 [allowSelect]="true"
                                 (pageNavigation)="doOrganisationPaging($event)"
                                 (onSort)="sortOrganisations($event)"
                                 (onSelect)="organisationSelect($event)"
                                 [supportPaging]="true">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="Constants.TAB.COMMUNITY.ADMINISTRATORS">
                <button ngbNavLink class="nav-link tabClass"><app-tab-title [icon]="Constants.BUTTON_ICON.USER" text="Administrators"></app-tab-title></button>
                <ng-template ngbNavContent>
                    <!-- Administrators -->
                    <div class="tabPanel">
                        <div class="tabControls">
                            <div class="btn-toolbar">
                                <button type="button" [labelIcon]="Constants.BUTTON_ICON.NEW" class="btn btn-secondary" (click)="createAdmin()">Create community administrator</button>
                            </div>
                        </div>
                        <div class="card">
                            <div #adminsTable table-directive
                                 [columns]="adminColumns"
                                 [data]="admins"
                                 noDataMessage="No administrators found"
                                 [loadingStatus]="adminStatus"
                                 [contentRefreshing]="adminsRefreshing"
                                 (pageNavigation)="doAdminPaging($event)"
                                 [allowSelect]="true"
                                 (onSelect)="adminSelect($event)"
                                 [supportPaging]="true">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="Constants.TAB.COMMUNITY.LANDING_PAGES">
                <button ngbNavLink class="nav-link tabClass"><app-tab-title [icon]="Constants.BUTTON_ICON.LANDING_PAGE" text="Landing pages"></app-tab-title></button>
                <ng-template ngbNavContent>
                    <!-- Landing pages -->
                    <div class="tabPanel">
                        <div class="tabControls">
                            <div class="btn-toolbar">
                                @if (communityId != Constants.DEFAULT_COMMUNITY_ID) {
                                    <button [labelIcon]="Constants.BUTTON_ICON.COPY" [disable]="testBedLandingPage == undefined" type="button" class="btn btn-secondary" (click)="createLandingPage(true)">Copy Test Bed landing page</button>
                                }
                                <button type="button" [labelIcon]="Constants.BUTTON_ICON.NEW" class="btn btn-secondary" (click)="createLandingPage(false)">Create landing page</button>
                            </div>
                        </div>
                        <div class="card">
                            <div #landingPagesTable table-directive
                                 [columns]="landingPagesColumns"
                                 [data]="landingPages"
                                 noDataMessage="No landing pages found"
                                 [loadingStatus]="landingPageStatus"
                                 [contentRefreshing]="landingPagesRefreshing"
                                 (pageNavigation)="doLandingPagePaging($event)"
                                 [allowSelect]="true"
                                 (onSelect)="landingPageSelect($event)"
                                 [supportPaging]="true">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="Constants.TAB.COMMUNITY.LEGAL_NOTICES">
                <button ngbNavLink class="nav-link tabClass"><app-tab-title [icon]="Constants.BUTTON_ICON.LEGAL_NOTICE" text="Legal notices"></app-tab-title></button>
                <ng-template ngbNavContent>
                    <!-- Legal notices -->
                    <div class="tabPanel">
                        <div class="tabControls">
                            <div class="btn-toolbar">
                                @if (communityId != Constants.DEFAULT_COMMUNITY_ID) {
                                    <button [labelIcon]="Constants.BUTTON_ICON.COPY" [disable]="testBedLegalNotice == undefined" type="button" class="btn btn-secondary" (click)="createLegalNotice(true)">Copy Test Bed legal notice</button>
                                }
                                <button type="button" [labelIcon]="Constants.BUTTON_ICON.NEW" class="btn btn-secondary" (click)="createLegalNotice(false)">Create legal notice</button>
                            </div>
                        </div>
                        <div class="card">
                            <div #legalNoticesTable table-directive
                                 [columns]="legalNoticesColumns"
                                 [data]="legalNotices"
                                 noDataMessage="No legal notices found"
                                 [loadingStatus]="legalNoticeStatus"
                                 [contentRefreshing]="legalNoticesRefreshing"
                                 (pageNavigation)="doLegalNoticePaging($event)"
                                 [allowSelect]="true"
                                 (onSelect)="legalNoticeSelect($event)"
                                 [supportPaging]="true">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="Constants.TAB.COMMUNITY.ERROR_TEMPLATES">
                <button ngbNavLink class="nav-link tabClass"><app-tab-title [icon]="Constants.BUTTON_ICON.ERROR_TEMPLATE" text="Error templates"></app-tab-title></button>
                <ng-template ngbNavContent>
                    <!-- Error templates -->
                    <div class="tabPanel">
                        <div class="tabControls">
                            <div class="btn-toolbar">
                                @if (communityId != Constants.DEFAULT_COMMUNITY_ID) {
                                    <button [labelIcon]="Constants.BUTTON_ICON.COPY" [disable]="testBedErrorTemplate == undefined" type="button" class="btn btn-secondary" (click)="createErrorTemplate(true)">Copy Test Bed error template</button>
                                }
                                <button type="button" [labelIcon]="Constants.BUTTON_ICON.NEW" class="btn btn-secondary" (click)="createErrorTemplate(false)">Create error template</button>
                            </div>
                        </div>
                        <div class="card">
                            <div #errorTemplatesTable table-directive
                                 [columns]="errorTemplatesColumns"
                                 [data]="errorTemplates"
                                 noDataMessage="No error templates found"
                                 [loadingStatus]="errorTemplateStatus"
                                 [contentRefreshing]="errorTemplatesRefreshing"
                                 (pageNavigation)="doErrorTemplatePaging($event)"
                                 [allowSelect]="true"
                                 (onSelect)="errorTemplateSelect($event)"
                                 [supportPaging]="true">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="Constants.TAB.COMMUNITY.TRIGGERS">
                <button ngbNavLink class="nav-link tabClass"><app-tab-title [icon]="Constants.BUTTON_ICON.TRIGGER" text="Triggers"></app-tab-title></button>
                <ng-template ngbNavContent>
                    <!-- Triggers -->
                    <div class="tabPanel">
                        <div class="tabControls">
                            <div class="btn-toolbar">
                                <button type="button" [labelIcon]="Constants.BUTTON_ICON.NEW" class="btn btn-secondary" (click)="createTrigger()">Create trigger</button>
                            </div>
                        </div>
                        <div class="card">
                            <div #triggersTable table-directive
                                 [columns]="triggerColumns"
                                 [data]="triggers"
                                 noDataMessage="No triggers found"
                                 [loadingStatus]="triggerStatus"
                                 [contentRefreshing]="triggersRefreshing"
                                 (pageNavigation)="doTriggerPaging($event)"
                                 [allowSelect]="true"
                                 (onSelect)="triggerSelect($event)"
                                 [supportPaging]="true">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="Constants.TAB.COMMUNITY.RESOURCES">
                <button ngbNavLink class="nav-link tabClass"><app-tab-title [icon]="Constants.BUTTON_ICON.RESOURCE" text="Resources"></app-tab-title></button>
                <ng-template ngbNavContent>
                    <!-- Community resources -->
                    <app-resource-management-tab
                        [state]="resourceState"
                        [actions]="resourceActions"
                        (pageSizeChanged)="resourceTabPageSizeChange()"
                    ></app-resource-management-tab>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="tabs"></div>
    </div>
</div>
