@import '../../../../../../styles/less/components/common.less';

.caret {
    margin-left: 10px;
}
.tabControls {
    display: flex;
    .searchControls {
        display: flex;
        flex-wrap: nowrap;
    }
    .otherControls {
        display: flex;
        flex-grow: 1;
        justify-content: right;
    }
}
::ng-deep {
    .tb-active, .tb-status, .tb-default {
        .min-width;
        .td-centered;
    }
}
