<div class="page users detail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Community details</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <!-- Error messages -->
                <div class="row">
                    <app-alert-display [alerts]="alerts" innerClass="col-xs-10 col-xs-offset-1"></app-alert-display>
                </div>
                <app-community-form [community]="community" [admin]="dataService.isSystemAdmin" [domains]="domains"></app-community-form>
            </div>
            <div class="panel-footer button-container">
                <div class="btn-toolbar">
                    <button class="btn btn-default" type="submit" (click)="updateCommunity()" [disable]="deletePending || saveDisabled()" [pending]="savePending">Save changes</button>
                    <button class="btn btn-default" type="button" (click)="updateConformanceCertificateSettings()" [disabled]="savePending || deletePending">Edit conformance certificate settings</button>
                    <button class="btn btn-default" type="button" (click)="updateParameters()" [disabled]="savePending || deletePending">Edit custom member properties</button>
                    <button class="btn btn-default" type="button" (click)="editLabels()" [disabled]="savePending || deletePending">Edit labels</button>
                    <button class="btn btn-default" type="button" *ngIf="dataService.isSystemAdmin" (click)="cancelCommunityDetail()">Back</button>
                </div>
                <div class="btn-toolbar">
                    <button class="btn btn-link" type="button" *ngIf="dataService.isSystemAdmin" (click)="deleteCommunity()" [disable]="savePending" [pending]="deletePending">Delete</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <tabset #tabs>
            <tab *ngIf="true" (selectTab)="showOrganisations()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-building" [text]="dataService.labelOrganisations()"></app-tab-title></ng-template>
                <!-- Organisations -->
                <div class="tabPanel">
                    <div class="tabControls form-inline">
                        <div class="searchControls btn-toolbar">
                            <app-text-filter name="organisationFilter" [width]="300" [placeholder]="'Search '+dataService.labelOrganisationsLower()+'...'" [(ngModel)]="organisationFilter" (apply)="applyOrganisationFilter()"></app-text-filter>
                            <div class="btn-group" dropdown>
                                <button id="button-order" dropdownToggle type="button" class="btn btn-default dropdown-toggle" aria-controls="dropdown-result">{{sortByCreationOrderLabel}}<span class="caret"></span></button>
                                <ul id="dropdown-order" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-order">
                                    <li role="menuitem"><a class="dropdown-item" href (click)="applyCreationOrderSort(sortByCreationOrderNone, sortByCreationOrderLabelNone); $event.preventDefault()">Do not apply</a></li>
                                    <li class="divider dropdown-divider"></li>
                                    <li role="menuitem"><a class="dropdown-item" href (click)="applyCreationOrderSort(sortByCreationOrderAsc, sortByCreationOrderLabelAsc); $event.preventDefault()">{{sortByCreationOrderLabelAsc}}</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href (click)="applyCreationOrderSort(sortByCreationOrderDesc, sortByCreationOrderLabelDesc); $event.preventDefault()">{{sortByCreationOrderLabelDesc}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="otherControls">
                            <button type="button" class="btn btn-default" (click)="createOrganisation()">Create {{dataService.labelOrganisationLower()}}</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="organizationColumns"
                            [data]="organizations"
                            [noDataMessage]="'No '+dataService.labelOrganisationsLower()+' found'"
                            [loadingStatus]="organisationStatus"
                            [contentRefreshing]="organisationsRefreshing"
                            [allowSelect]="true"
                            [nextDisabled]="isNextPageOrganisationsDisabled"
                            [prevDisabled]="isPreviousPageOrganisationsDisabled"
                            (nextPage)="goNextPageOrganisations()"
                            (lastPage)="goLastPageOrganisations()"
                            (firstPage)="goFirstPageOrganisations()"
                            (prevPage)="goPreviousPageOrganisations()"
                            (onSort)="sortOrganisations($event)"
                            (onSelect)="organisationSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab *ngIf="communityId != Constants.DEFAULT_COMMUNITY_ID" (selectTab)="showAdministrators()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-user" text="Administrators"></app-tab-title></ng-template>
                <!-- Administrators -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <button type="button" class="btn btn-default" (click)="createAdmin()">Create community administrator</button>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="adminColumns"
                            [data]="admins"
                            noDataMessage="No administrators found"
                            [loadingStatus]="adminStatus"
                            [allowSelect]="true"
                            (onSelect)="adminSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab *ngIf="true" (selectTab)="showLandingPages()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-house" text="Landing pages"></app-tab-title></ng-template>
                <!-- Landing pages -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button [disabled]="testBedLandingPage == undefined" *ngIf="communityId != Constants.DEFAULT_COMMUNITY_ID" type="button" class="btn btn-default" (click)="createLandingPage(true)">Copy Test Bed landing page</button>
                            <button type="button" class="btn btn-default" (click)="createLandingPage(false)">Create landing page</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="landingPagesColumns"
                            [data]="landingPages"
                            noDataMessage="No landing pages found"
                            [loadingStatus]="landingPageStatus"
                            [allowSelect]="true"
                            (onSelect)="landingPageSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab *ngIf="true" (selectTab)="showLegalNotices()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-scale-balanced" text="Legal notices"></app-tab-title></ng-template>
                <!-- Legal notices -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button [disabled]="testBedLegalNotice == undefined" *ngIf="communityId != Constants.DEFAULT_COMMUNITY_ID" type="button" class="btn btn-default" (click)="createLegalNotice(true)">Copy Test Bed legal notice</button>
                            <button type="button" class="btn btn-default" (click)="createLegalNotice(false)">Create legal notice</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="legalNoticesColumns"
                            [data]="legalNotices"
                            noDataMessage="No legal notices found"
                            [loadingStatus]="legalNoticeStatus"
                            [allowSelect]="true"
                            (onSelect)="legalNoticeSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab *ngIf="true" (selectTab)="showErrorTemplates()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-bug" text="Error templates"></app-tab-title></ng-template>
                <!-- error templates -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button [disabled]="testBedErrorTemplate == undefined" *ngIf="communityId != Constants.DEFAULT_COMMUNITY_ID" type="button" class="btn btn-default" (click)="createErrorTemplate(true)">Copy Test Bed error template</button>
                            <button type="button" class="btn btn-default" (click)="createErrorTemplate(false)">Create error template</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="errorTemplatesColumns"
                            [data]="errorTemplates"
                            noDataMessage="No error templates found"
                            [loadingStatus]="errorTemplateStatus"
                            [allowSelect]="true"
                            (onSelect)="errorTemplateSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab *ngIf="true" (selectTab)="showTriggers()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-bolt" text="Triggers"></app-tab-title></ng-template>
                <!-- Triggers -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <button type="button" class="btn btn-default" (click)="createTrigger()">Create trigger</button>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="triggerColumns"
                            [data]="triggers"
                            noDataMessage="No triggers found"
                            [loadingStatus]="triggerStatus"
                            [allowSelect]="true"
                            (onSelect)="triggerSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab *ngIf="true" (selectTab)="showResources()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-image" text="Resources"></app-tab-title></ng-template>
                <!-- Community resources -->
                <div class="tabPanel">
                    <div class="tabControls form-inline">
                        <div class="searchControls">
                            <app-text-filter name="resourceFilter" [width]="300" [placeholder]="'Search resources...'" [(ngModel)]="resourceFilter" (apply)="applyResourceFilter()"></app-text-filter>
                        </div>
                        <div class="otherControls btn-toolbar">
                            <button type="button" class="btn btn-default" (click)="selectDeleteResources()" *ngIf="!selectingForDeleteResources" [disabled]="resources.length == 0 || downloadAllResourcesPending">Delete resources...</button>
                            <button type="button" class="btn btn-default" (click)="confirmDeleteResources()" *ngIf="selectingForDeleteResources" [disable]="!resourcesChecked()" [pending]="deleteResourcesPending">Confirm</button>
                            <button type="button" class="btn btn-default" (click)="cancelDeleteResources()" *ngIf="selectingForDeleteResources" [disabled]="deleteResourcesPending">Cancel</button>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-default" (click)="uploadResource()" [disabled]="downloadAllResourcesPending || selectingForDeleteResources">Upload resource</button>
                                <button id="button-upload-resource" dropdownToggle type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-upload-resource" [disabled]="downloadAllResourcesPending || selectingForDeleteResources">
                                    <span class="caret no-spacing"></span>
                                    <span class="sr-only visually-hidden"></span>
                                </button>
                                <ul id="dropdown-upload-resource" *dropdownMenu class="dropdown-menu">
                                    <li role="menuitem"><a class="dropdown-item" href (click)="uploadResource(); $event.preventDefault()">Upload resource</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href (click)="uploadResourceBulk(); $event.preventDefault()">Bulk upload</a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-default" (click)="downloadAllResources()" [disable]="resources.length == 0 || selectingForDeleteResources" [pending]="downloadAllResourcesPending">Download all</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="resourceColumns"
                            [data]="resources"
                            noDataMessage="No community resources found"
                            [loadingStatus]="resourcesStatus"
                            [contentRefreshing]="resourcesRefreshing"
                            [allowSelect]="true"
                            [actionVisible]="true"
                            [operationsVisible]="true"
                            [exportVisible]="true"
                            [actionIcon]="'fa-solid fa-clipboard'"
                            [exportIcon]="'fa-solid fa-download'"
                            [actionTooltip]="'Copy resource reference'"
                            [exportTooltip]="'Download'"
                            [clearSelection]="clearResourceSelections"
                            [deletePendingProperty]="'deletePending'"
                            [exportPendingProperty]="'downloadPending'"
                            [nextDisabled]="isNextPageResourcesDisabled"
                            [prevDisabled]="isPreviousPageResourcesDisabled"
                            [checkboxEnabled]="selectingForDeleteResources"
                            (onSelect)="selectResource($event)"
                            (onAction)="copyResourceReference($event)"
                            (onExport)="downloadResource($event)"
                            (onDelete)="deleteResource($event)"
                            (nextPage)="goNextPageResources()"
                            (lastPage)="goLastPageResources()"
                            (firstPage)="goFirstPageResources()"
                            (prevPage)="goPreviousPageResources()">
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
