@import '../../../../../../styles/less/_common.less';

.tabControls {
    display: flex;
    .searchControls {
        display: flex;
        flex-wrap: wrap;
    }
}
::ng-deep {
    .tb-active, .tb-status, .tb-default {
        width: 1px !important;
        text-align: center;
    }
}
