<div class="page users detail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">{{dataService.labelOrganisation()}} details</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row">
                    <app-alert-display [alerts]="alerts" innerClass="col-md-10 col-md-offset-1"></app-alert-display>
                </div>
                <app-organisation-form
                    [organisation]="organisation"
                    [communityId]="communityId"
                    [propertyData]="propertyData"
                    [showAdminInfo]="showAdminInfo"
                    [showLandingPage]="showLandingPage"
                    [readonly]="readonly"
                ></app-organisation-form>
            </div>
            <div class="panel-footer button-container">
                <div class="btn-toolbar">
                    <button class="btn btn-default" *ngIf="!readonly" type="submit" (click)="updateOrganisation()" [disable]="deletePending || saveDisabled()" [pending]="savePending">Update</button>
                    <button class="btn btn-default" type="button" (click)="manageOrganisationTests()">Manage tests</button>
                    <ng-container *ngIf="showAdminInfo">
                        <button class="btn btn-default" type="button" (click)="cancelDetailOrganisation()">Back</button>
                    </ng-container>
                </div>
                <div class="btn-toolbar btn-toolbar-delete" *ngIf="showAdminInfo">
                    <button class="btn btn-default btn-delete" type="button" (click)="deleteOrganisation()" [disable]="savePending" [pending]="deletePending">Delete</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <tabset #tabs>
            <tab (selectTab)="showSystems()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-cube" [text]="dataService.labelSystems()"></app-tab-title></ng-template>
                <div class="tabPanel">
                    <div class="tabControls" *ngIf="showCreateSystem">
                        <button type="button" class="btn btn-default" (click)="createSystem()">Create {{dataService.labelSystemLower()}}</button>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive 
                            [columns]="systemColumns" 
                            [data]="systems"
                            [noDataMessage]="'No '+dataService.labelSystemsLower()+' found'"
                            [loadingStatus]="systemsStatus" 
                            [allowSelect]="true"
                            (onSelect)="systemSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="showUsers()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-user" text="Users"></app-tab-title></ng-template>
                <div class="tabPanel">
                    <div class="tabControls" *ngIf="showCreateUser">
                        <button type="button" class="btn btn-default" (click)="createUser()">Create user</button>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive 
                            [columns]="userColumns" 
                            [data]="users"
                            [noDataMessage]="'No users found'"
                            [loadingStatus]="usersStatus" 
                            [allowSelect]="showCreateUser"
                            (onSelect)="userSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="showApiInfo()" *ngIf="apiInfoVisible" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-key" text="REST API keys"></app-tab-title></ng-template>
                <div class="tabPanel">
                    <app-api-key-info 
                        [organisationId]="orgId" 
                        [organisationName]="organisation.fname"
                        [loadData]="loadApiInfo">
                    </app-api-key-info>
                </div>
            </tab>
        </tabset>
    </div>
</div>