<div class="page users detail">
    <div class="card">
        <div class="card-header">
            <div class="card-title">{{dataService.labelOrganisation()}} details</div>
        </div>
        <form>
            <div class="card-body" [pending]="!loaded" focus="sname">
                <app-organisation-form
                    [organisation]="organisation"
                    [communityId]="communityId"
                    [propertyData]="propertyData"
                    [showAdminInfo]="showAdminInfo"
                    [showLandingPage]="showLandingPage"
                    [readonly]="readonly"
                    [validation]="validation"
                    [landingPages]="landingPages"
                    [legalNotices]="legalNotices"
                    [errorTemplates]="errorTemplates"
                    [otherOrganisations]="otherOrganisations"
                ></app-organisation-form>
            </div>
            @if (organisation.id) {
                <div class="card-footer button-container">
                    <div class="btn-toolbar">
                        @if (!readonly) {
                            <button class="btn btn-secondary" type="submit" (click)="updateOrganisation()" [disable]="!loaded || deletePending || saveDisabled()" [pending]="savePending">Update</button>
                        }
                        <button class="btn btn-secondary" type="button" (click)="manageOrganisationTests()">Manage tests</button>
                        @if (showAdminInfo) {
                            <button class="btn btn-secondary" type="button" (click)="cancelDetailOrganisation()">Back</button>
                        }
                    </div>
                    @if (showAdminInfo) {
                        <div class="btn-toolbar btn-toolbar-delete">
                            <button class="btn btn-outline-danger" type="button" (click)="deleteOrganisation()" [disable]="!loaded || savePending" [pending]="deletePending">Delete</button>
                        </div>
                    }
                </div>
            }
        </form>
    </div>
    <div>
        <tabset #tabs>
            <tab (selectTab)="showSystems()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-cube" [text]="dataService.labelSystems()"></app-tab-title></ng-template>
                <div class="tabPanel">
                    @if (showCreateSystem) {
                        <div class="tabControls">
                            <button type="button" class="btn btn-secondary" (click)="createSystem()">Create {{dataService.labelSystemLower()}}</button>
                        </div>
                    }
                    <div class="card">
                        <div table-directive 
                            [columns]="systemColumns" 
                            [data]="systems"
                            [noDataMessage]="'No '+dataService.labelSystemsLower()+' found'"
                            [loadingStatus]="systemsStatus" 
                            [allowSelect]="true"
                            (onSelect)="systemSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            @if (showUsersTab) {
                <tab (selectTab)="showUsers()" customClass="tabClass">
                    <ng-template tabHeading><app-tab-title icon="fa-solid fa-user" text="Users"></app-tab-title></ng-template>
                    <div class="tabPanel">
                        @if (showCreateUser) {
                            <div class="tabControls">
                                <button type="button" class="btn btn-secondary" (click)="createUser()">Create user</button>
                            </div>
                        }
                        <div class="card">
                            <div table-directive 
                                [columns]="userColumns" 
                                [data]="users"
                                [noDataMessage]="'No users found'"
                                [loadingStatus]="usersStatus" 
                                [allowSelect]="showCreateUser"
                                (onSelect)="userSelect($event)">
                            </div>
                        </div>
                    </div>
                </tab>
            }
            @if (apiInfoVisible) {
                <tab (selectTab)="showApiInfo()" customClass="tabClass">
                    <ng-template tabHeading><app-tab-title icon="fa-solid fa-key" text="REST API keys"></app-tab-title></ng-template>
                    <div class="tabPanel">
                        <app-api-key-info 
                            [organisationId]="orgId" 
                            [organisationName]="organisation.fname"
                            [adminOrganisation]="organisation.adminOrganization == true"
                            [communityId]="communityId"
                            [loadData]="loadApiInfo">
                        </app-api-key-info>
                    </div>
                </tab>
            }
        </tabset>
    </div>
</div>