<div class="page">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Data import</h4>
		</div>
		<form class="form-horizontal">
            <div class="panel-body">
				<div ng-if="controller.importStep1">
					<div class="form-group" ng-if="controller.showDomainOption">
						<label class="col-xs-3 control-label" for="choice_domain">* Data to import:</label>
						<div class="col-xs-8">
							<label class="radio-inline">
								<input type="radio" ng-model="controller.exportType" name="choice" id="choice_domain" ng-value="'domain'" ng-change="controller.resetSettings()">{{controller.DataService.labelDomain()}} configuration
								<div tb-inline="true" tb-inline-type="checkLabel" tb-tooltip="Import data linked to conformance testing scenarios, including {{controller.DataService.labelSpecificationsLower()}} and configured test suites."></div>
							</label>
							<label class="radio-inline">
								<input type="radio" ng-model="controller.exportType" name="choice" id="choice_community" ng-value="'community'" ng-change="controller.resetSettings()">Community configuration
								<div tb-inline="true" tb-inline-type="checkLabel" tb-tooltip="Import data linked to a community. This may also include the community's {{controller.DataService.labelDomainLower()}} configuration."></div>
							</label>
						</div>
					</div>
					<div uib-collapse="!controller.exportType">
						<div class="form-group" ng-if="controller.exportType == 'domain'">
							<label class="col-xs-3 control-label" for="domain">* Target {{controller.DataService.labelDomainLower()}}:</label>
							<div class="col-xs-7">
								<select ng-if="controller.DataService.isSystemAdmin" class="form-control" id="domain" ng-model="controller.domain" ng-options="domain.fname for domain in controller.domains track by domain.id"></select>
								<input ng-if="controller.DataService.isCommunityAdmin" class="form-control" id="domain" ng-model="controller.domain.fname" readonly="true"/>
							</div>
							<div tb-tooltip="The {{controller.DataService.labelDomainLower()}} for which data will be imported."></div>
						</div>
						<div class="form-group" ng-if="controller.exportType == 'community'">
							<label class="col-xs-3 control-label" for="community">* Target community:</label>
							<div class="col-xs-7">
								<select ng-if="controller.DataService.isSystemAdmin" class="form-control" id="community" ng-model="controller.community" ng-options="community.fname for community in controller.communities track by community.id"></select>
								<input ng-if="controller.DataService.isCommunityAdmin" class="form-control" id="community" ng-model="controller.community.fname" readonly="true"/>
							</div>
							<div tb-tooltip="The community for which data will be imported."></div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label">* Data archive:</label>
							<div class="col-xs-7">
								<div class="input-group">
									<div class="input-group-btn">
										<button class="btn btn-default" type="button" ng-file-select="controller.uploadArchive($files)"><i class="fa fa-folder-open-o"></i></button>
									</div>
									<input type="text" class="form-control clickable" ng-value="controller.archiveData.name" placeholder="Select data archive ..." ng-file-select="controller.uploadArchive($files)" readonly="readonly"/>
								</div>
							</div>
							<div tb-tooltip="The archive containing the data to import."></div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="encryptionPassword">* Archive password:</label>
							<div class="col-xs-4 inline-checkbox-container">
								<input id="encryptionPassword" ng-model="controller.settings.encryptionKey" class="form-control" ng-attr-type="{{controller.showEncryptionKey?'text':'password'}}"/>
								<label class="inline-checkbox">
									<input type="checkbox" ng-model="controller.showEncryptionKey">Show
									<div tb-inline="true" tb-tooltip="Provide the password that was used to encrypt the export archive."></div>
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label">* Default import actions:</label>
							<div class="col-xs-8">
								<label class="checkbox-inline">
									<input type="checkbox" ng-model="controller.settings.createNewData">Create new data found in the archive
                                    <div tb-inline="true" tb-inline-type="checkLabel" tb-tooltip="When set, the data that is present in the provided archive that cannot be matched against existing data will be flagged for creation. Don't select this if you only want to process data that already exists."></div>
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" ng-model="controller.settings.deleteUnmatchedData">Delete unmatched existing data
                                    <div tb-inline="true" tb-inline-type="checkLabel" tb-tooltip="When set, the data that exists but that is not matched against data from the provided archive, will be flagged for deletion. Don't select this if you want to leave such data unchanged."></div>
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" ng-model="controller.settings.updateMatchingData">Update matched data
                                    <div tb-inline="true" tb-inline-type="checkLabel" tb-tooltip="When set, all existing data that is matched against data from the provided archive will have their information updated. Don't select this to skip updating such data and only process additions and deletions."></div>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="controller.importStep2">
					<div class="bg-info div-rounded div-padded bottom-margin">
						<span>The items below represent the detailed actions to be carried out if the import is confirmed. You can review these actions and fine tune them to ensure the expected outcome.</span>
					</div>
					<div tb-import-items="controller.importItems" tb-default-action-fn="controller.defaultAction" tb-type-label-fn="controller.typeDescription"></div>
				</div>
			</div>
            <div class="panel-footer">
				<div ng-if="controller.importStep1">
					<button class="btn btn-default" type="submit" ng-click="controller.import()" ng-disabled="controller.importDisabled()"><span class="tab" ng-if="controller.pending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Import</button>
				</div>
				<div ng-if="controller.importStep2">
					<button class="btn btn-default" type="submit" ng-click="controller.confirm()" ng-disabled="controller.importDisabled()"><span class="tab" ng-if="controller.pending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Confirm</button>
					<button class="btn btn-default" type="button" ng-click="controller.cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
