html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	background-color: #FFF;
	color: #777;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}

/* Header */
.header {
	clear: both;
	border-top: 5px solid #EDEDED;
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #f6f6f6 0%,#ffffff 100%);
	min-height: 100px;
	padding: 8px 0;
	width: 100%;
	z-index: 1001;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
	filter: none;
}

.header > .navbar > .container {
	position: relative
}

.header div.header-top {
	min-height: 50px;
}

.header div.header-top form {
	margin: 0;
}

.header div.header-top p {
	float: left;
	font-size: 0.9em;
	line-height: 50px;
	margin: 0;
}

.header div.header-top i {
	margin-right: 6px;
	margin-left: 6px;
	position: relative;
	top: 1px;
}

/* Top Navigation */
.header div.header-top nav {
	float: left;
	width: auto;
}

.header div.header-top ul.nav-top {
	margin: 7px 0 0 -15px;
	min-height: 5px;
}

.header div.header-top ul.nav-top li.phone {
	margin-right: 10px;
}

.header div.header-top ul.nav-top li a {
	padding-left: 4px;
}

/* Responsive Nav Button */
button.btn-responsive-nav {
	display: none;
}

/* Header Container */
.header > div.container {
	height: 100px;
	margin-bottom: -35px;
	position: relative;
	display: table;
	max-width: 1170px;
}

/* Header Container */
div.header-container {
	min-height: 76px;
	position: relative;
}

/* Logo */
.header h1.logo {
	margin: 0;
	padding: 5px 0;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: transparent;
	-moz-transition: all 0.2s ease-in 0.2s;
	-o-transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s;
	transition: all 0.2s ease-in 0.2s;
}

.header h1.logo a {
	position: relative;
	z-index: 1;
}

.header h1.logo img {
	position: relative;
	color: transparent;
}

/* Navigation */
.header nav {
	float: right;
}

.header div.nav-main-collapse,
.header div.nav-main-collapse.in {
	overflow-y: visible;
}

.header nav ul.nav-main {
	margin: -7px 10px 8px 0;
}

.header nav ul.nav-main > li + li {
	margin-left: -4px;
}

.header nav ul.nav-main .dropdown-submenu {
	position: relative;
}

.header nav ul.nav-main .dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.header nav ul.nav-main .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.header nav ul.nav-main .dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.header nav ul.nav-main .dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}

.header nav ul.nav-main .dropdown-submenu.pull-left {
	float: none;
}

.header nav ul.nav-main .dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.header nav ul.nav-main li.dropdown.open a.dropdown-toggle {
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.header nav ul.nav-main ul.dropdown-menu,
.header nav ul.nav-main li.dropdown.open a.dropdown-toggle,
.header nav ul.nav-main li.active a {
	background-color: #CCC;
}

.header nav ul.nav-main ul.dropdown-menu {
	/* -moz-border-radius: 0 6px 6px 6px; */
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
	/* -webkit-border-radius: 0 6px 6px 6px; */
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
	border: 0;
	/* border-radius: 0 6px 6px 6px; */
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
	margin: 1px 0 0 3px;
	padding: 5px;
	top: auto;
}

.header nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-left: 0;
	margin-top: -5px;
}

.header nav ul.nav-main ul.dropdown-menu li:hover > a {
	filter: none;
	background: #999;
}

.header nav ul.nav-main ul.dropdown-menu > li > a {
	color: #FFF;
	font-weight: 400;
	padding-bottom: 4px;
	padding-top: 4px;
	text-transform: none;
	position: relative;
}

.header nav ul.nav-main ul.dropdown-menu > li > a {
	padding: 8px 10px 8px 5px;
	font-size: 0.9em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.header nav ul.nav-main ul.dropdown-menu li:last-child > a {
	border-bottom: 0;
}

.header nav ul.nav-main li a {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	margin-left: 3px;
	margin-right: 3px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 13px;
}

.header nav ul.nav-main li ul a {
	text-transform: none;
	font-weight: normal;
	font-size: 0.9em;
}

.header nav ul.nav-main li a:hover {
	background-color: #F4F4F4;
}

.header nav ul.nav-main li.dropdown:hover > a {
	padding-bottom: 11px;
	margin-bottom: -1px;
}

.header nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.header nav ul.nav-main li.dropdown:hover > ul {
	display: block;
}

.header nav ul.nav-top {
	margin: 10px 0 -10px;
	min-height: 62px;
}

.header nav ul.nav-top li span {
	display: block;
	line-height: 14px;
	margin-bottom: 2px;
	margin-right: 0;
	margin-top: 5px;
	padding: 8px 2px 8px 12px;
}

.header nav ul.nav-top li a,
.header nav ul.nav-top li span {
	color: #999;
	font-size: 0.9em;
	padding: 6px 10px;
}

.header nav ul.nav-top li i {
	margin-right: 6px;
	position: relative;
	top: 1px;
}

body .header nav ul.nav-main {
	margin-bottom: 7px;
	margin-top: -1px;
}

/* Mega Menu (Signin/SignUp) */
nav.mega-menu .mega-menu-signin {
	margin-right: -20px;
	padding-left: 0;
	margin-left: 0;
}

nav.mega-menu .mega-menu-signin .dropdown-menu {
	width: 40%;
	right: 8px;
	margin-top: 0;
	-moz-border-radius: 6px 0 6px 6px;
	-webkit-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

nav.mega-menu .mega-menu-signin a {
	color: #444;
}

nav.mega-menu .mega-menu-signin .icon-user {
	margin-right: 5px;
}

nav.mega-menu .mega-menu-signin .mega-menu-sub-title {
	margin-bottom: 10px;
	display: block;
}

body .header nav.mega-menu .mega-menu-signin ul.dropdown-menu li a,
body .header nav.mega-menu .mega-menu-signin ul.dropdown-menu:hover li:hover li:hover a {
	background-color: transparent !important;
	color: #333;
	padding: 0;
	margin: 0;
}

nav.mega-menu .mega-menu-signin.logged .user-avatar strong {
	color: #111;
	display: block;
	padding-top: 7px;
}

nav.mega-menu .mega-menu-signin.logged .user-avatar span {
	color: #666;
	display: block;
	font-size: 12px;
}

nav.mega-menu .mega-menu-signin.logged .user-avatar p {
	color: #999;
	margin: 0 0 0 25px;
	text-align: left;
}

nav.mega-menu .mega-menu-signin.logged .list-account-options {
	list-style: square;
	margin-top: 6px;
}

nav.mega-menu .mega-menu-signin.logged .list-account-options a:hover {
	text-decoration: none;
}

@media (max-width: 668px) {
	.header .header-user-name {
		display: none;
	}
	.header .header-profile-popup {
		flex-wrap: wrap;
	}
}

@media (min-width: 669px) {
	.header .header-profile-popup {
		flex-wrap: nowrap;
	}
	.header .header-profile-popup > div.header-profile-popup-options {
		margin-left: auto;
	}
}

.header .header-profile-popup {
	display: flex;
}
.header .header-profile-popup > div {
	display: inline-flex;
}
.header .header-profile-popup > div.header-profile-popup-options {
	white-space: nowrap;
	margin-right: 20px;
}

nav.mega-menu .nav,
nav.mega-menu .dropup,
nav.mega-menu .dropdown,
nav.mega-menu .collapse {
	position: static;
}

.header nav.mega-menu ul.nav-main .mega-menu-content {
	text-shadow: none;
}

.header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
	background: #FFF !important;
	border-top: 6px solid #CCC;
	color: #777;
	-moz-box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
	box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
}

.header nav.mega-menu ul.nav-main li.mega-menu-fullwidth ul.dropdown-menu {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.header.flat-menu nav.mega-menu ul.nav-main li.mega-menu-fullwidth ul.dropdown-menu {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.header nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title {
	color: #333333;
	display: block;
	font-size: 1em;
	font-weight: 600;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu a {
	color: #777;
	text-shadow: none;
	margin: 0 0 0 -8px;
	padding: 3px 8px;
	text-transform: none;
	font-size: 0.9em;
	display: block;
	font-weight: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.header nav.mega-menu ul.nav-main li.mega-menu-item:hover ul.sub-menu li:hover a:hover {
	background: #F4F4F4 !important;
	text-decoration: none;
}

nav.mega-menu .navbar-inner,
nav.mega-menu .container {
	position: relative;
}

nav.mega-menu .dropdown-menu {
	left: auto;
}

nav.mega-menu .dropdown-menu > li {
	display: block;
}

nav.mega-menu .nav.pull-right .dropdown-menu {
	right: 0;
}

nav.mega-menu .mega-menu-content {
	padding: 20px 30px;
}

nav.mega-menu .mega-menu-content:before,
nav.mega-menu .mega-menu-content:after {
	display: table;
	content: "";
	line-height: 0;
}

nav.mega-menu .mega-menu-content:after {
	clear: both;
}

nav.mega-menu.navbar .nav > li > .dropdown-menu:after,
nav.mega-menu.navbar .nav > li > .dropdown-menu:before {
	display: none;
}

nav.mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
	width: 100%;
	left: 0;
	right: 0;
}

/* Sidebar */
aside {
	margin-bottom: 30px;
}

aside ul.nav-list > li > a {
	color: #666;
	font-size: 0.9em;
	cursor: pointer;	
}

/* Footer */
footer {
	margin-top: 50px;
	height: 60px;
	position: relative;
	clear: both;
}

footer a {
	color: #FFF;
	margin-top: 20px;
}

footer a:link {
	color: #FFF;
}

footer a:hover {
	color: #FFF;
}

footer a:visited {
	color: #FFF;
}

footer a:active {
	color: #FFF;
}

/* Scroll to Top */
a.scroll-to-top {
	-moz-border-radius: 7px 7px 0 0;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-border-radius: 7px 7px 0 0;
	-webkit-transition: all 0.3s;
	background: #404040;
	border-radius: 7px 7px 0 0;
	bottom: 0px;
	color: #FFF;
	display: block;
	height: 9px;
	opacity: 0;
	padding: 13px 0 35px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	width: 49px;
	z-index: 1040;
}

a.scroll-to-top:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

a.scroll-to-top.visible {
	filter: alpha(opacity=75);
	opacity: 0.75;
}

div.conformance tr.row-hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

div.conformance tr.row-hover:hover {
    background-color: #F2F2F2;
}

table th.sortable {
    cursor: pointer;
}