<div class="page">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Create {{dataService.labelSystemLower()}}</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row">
                    <app-alert-display [alerts]="alerts" innerClass="col-md-10 col-md-offset-1"></app-alert-display>
                </div>
                <app-system-form
                    [system]="system"
                    [communityId]="communityId"
                    [organisationId]="organisationId"
                    [propertyData]="propertyData"
                ></app-system-form>
            </div>
            <div class="panel-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-default" type="submit" (click)="create()" [pending]="savePending" [disable]="!saveEnabled()">Save</button>
                    <button class="btn btn-default" type="button" (click)="cancel()" [disabled]="savePending">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>