@if (checkboxEnabled) {
    <td class="td-min-centered" (click)="$event.stopPropagation();">
        <input class="form-check-input" type="checkbox" [(ngModel)]="data.checked" (change)="check()">
    </td>
}
@if (expandableRowProperty != undefined) {
    <td class="td-min-centered">
        <app-collapsing-icon [padded]="false" [isCollapsed]="data[expandableRowProperty] == undefined || !data[expandableRowProperty]"></app-collapsing-icon>
    </td>
}
@for (item of columnDataItemsAtLeft; track i; let i = $index) {
    <td class="{{item.class}}">
        <app-table-column-content [item]="item" [column]="columns[i]"></app-table-column-content>
    </td>
}
@if (showOptions) {
    <td class="td-min-centered">
        <app-checkbox-option-panel #optionButton
                                   label="Options"
                                   icon="fa-solid fa-bars"
                                   placement="left"
                                   [optionProvider]="loadAvailableOptionsFactory()"
                                   [singleSelection]="true"
                                   [pending]="data[actionPendingProperty] || data[deletePendingProperty] || data[exportPendingProperty]"
                                   (updated)="handleOption($event)"
                                   (opening)="optionsOpening()"
                                   (closed)="optionsClosed()"></app-checkbox-option-panel>
    </td>
} @else if (actionVisible || operationsVisible || exportVisible) {
    <td class="td-min-centered">
        <div class="btn-toolbar">
            @if (actionVisible && (!actionVisibleForRow || actionVisibleForRow(data))) {
                <button type="button" [ngClass]="{'pending': data[actionPendingProperty]}" [pending]="data[actionPendingProperty]" [icon]="true" class="btn btn-secondary" (click)="action(); $event.stopPropagation();" container="body" containerClass="shortTooltip" [tooltip]="actionTooltip" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'">
                    <i [ngClass]="actionIcon"></i>
                </button>
            }
            @if (operationsVisible && (!deleteVisibleForRow || deleteVisibleForRow(data))) {
                <button type="button" [ngClass]="{'pending': data[deletePendingProperty]}" [pending]="data[deletePendingProperty]" [icon]="true" class="btn btn-secondary" (click)="delete(); $event.stopPropagation();" container="body" containerClass="shortTooltip" [tooltip]="deleteTooltip" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'">
                    <i [ngClass]="deleteIcon"></i>
                </button>
            }
            @if (exportVisible && (!exportVisibleForRow || exportVisibleForRow(data))) {
                <button type="button" [ngClass]="{'pending': data[exportPendingProperty]}" [pending]="data[exportPendingProperty]" [icon]="true" class="btn btn-secondary" (click)="export(); $event.stopPropagation();" container="body" containerClass="shortTooltip" [tooltip]="exportTooltip" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'">
                    <i [ngClass]="exportIcon"></i>
                </button>
            }
        </div>
    </td>
}
@for (item of columnDataItemsAtRight; track i; let i = $index) {
    <td class="{{item.class}}">
        <app-table-column-content [item]="item" [column]="columns[columnDataItemsAtLeft.length + i]"></app-table-column-content>
    </td>
}
