<div class="page admin">
	<section class="page-top">
			<div class="container">
					<div class="row">
							<div class="col-md-12">
									<h2>Admin Panel</h2>
							</div>
					</div>
			</div>
	</section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<aside class="sidebar">
					<ul class="nav nav-list primary push-bottom">
						<li><a (click)="routingService.toSessionDashboard()">Session Dashboard</a></li>
						<li><a (click)="routingService.toConformanceDashboard()">Conformance Dashboard</a></li>
						<li class="menu-section-start" *ngIf="dataService.isSystemAdmin"><a (click)="routingService.toDomains()">{{dataService.labelDomain()}} Management</a></li>
						<li class="menu-section-start" *ngIf="dataService.isCommunityAdmin && dataService.community!.domainId != undefined"><a (click)="routingService.toDomain(dataService.community!.domainId)">{{dataService.labelDomain()}} Management</a></li>
						<li *ngIf="dataService.isSystemAdmin"><a (click)="routingService.toUserManagement()">User Management</a></li>
						<li *ngIf="dataService.isCommunityAdmin"><a (click)="routingService.toCommunity(communityId!)">Community Management</a></li>
						<li class="menu-section-start"><a (click)="routingService.toDataExport()">Data Export</a></li>
						<li><a (click)="routingService.toDataImport()">Data Import</a></li>
					</ul>
				</aside>
			</div>
			<div class="child col-md-10">
                <router-outlet></router-outlet>
            </div>
		</div>
	</div>
</div>