@(webJarAssets: WebJarAssets, config: models.ErrorPageData)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GITB</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel="stylesheet" href='@routes.WebJarAssets.at(webJarAssets.locate("css/font-awesome.min.css"))'>
    <!-- Web Fonts  -->
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/fonts/opensans/stylesheet.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/theme.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/theme-animate.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/theme-responsive.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/skins/blue.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/custom.css")'>
    <link rel="stylesheet" href='theme/css'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/gitb.css")?v=@config.versionNumber'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))'></script>
</head>
<body class="sticky-menu-active">
<div class="page index">
    <header>
        <div class="navbar-collapse nav-main-collapse collapse">
            <div class="container">
                <img src='@config.logoPath' class="logo"/>
            </div>
        </div>
    </header>
    <div class="child">
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>An error occurred</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    An unexpected error occurred while processing your request. If you need to contact the support team about this you can refer to error code <b>@config.errorId</b>.
                </div>
            </div>
            <div class="row" style="padding-top: 15px">
                <div class="col-xs-12">
                    To return to the Test Bed's welcome page click <a href="@config.testBedHomeLink">here</a>.
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="@config.footerLogoPath" class="pull-left"/>
                </div>
                <div class="col-md-6 version-div">
                    <span class="pull-right">
                        <a href="@config.userGuideLink" target="blank">User guide</a><span class="version-text"> | </span><a href="#" data-toggle="modal" data-target="#legalModal">Legal notice</a><span class="version-text"> | </span><span class="version-text">@config.versionNumber</span>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Modal -->
<div class="modal fade" id="legalModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Legal Notice</h3>
            </div>
            <div class="modal-body">
                <div id="content">
                    @Html(config.defaultLegalNotice)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>
