@(webJarAssets: WebJarAssets, config: models.PublicConfig)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GITB</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
		<link rel="stylesheet" href='@routes.WebJarAssets.at(webJarAssets.locate("css/font-awesome.min.css"))'>
		<!-- Web Fonts  -->
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/fonts/opensans/stylesheet.css")'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/theme.css")'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/theme-animate.css")'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/theme-responsive.css")'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/skins/blue.css")'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/css/custom.css")'>
		<link rel="stylesheet" href='theme/css'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/gitb.css")?v=@config.versionNumber'>
		<script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
		<script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))'></script>
		<script type='text/javascript'>
			function option(value) {
				if (value) {
					document.cookie = 'LOGIN_OPTION='+value;
				} else {
					document.cookie = 'LOGIN_OPTION=none';
				}
				window.location.href = 'app';
			}
			function eraseCookies() {
				document.cookie = 'LOGIN_OPTION=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
				document.cookie = 'tat=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
				document.cookie = 'tat=;path=@config.cookiePath;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			}
			eraseCookies();
		</script>
	</head>
	<body class="sticky-menu-active">
		<div class="page index">
			<header>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<img src='@config.logoPath' class="logo"/>
					</div>
				</div>
			</header>
			<div class="child">
				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h2>Welcome to the Interoperability Test Bed</h2>
							</div>
						</div>
					</div>
				</section>
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h4>The Interoperability Test Bed is a platform to help you test conformance against one or more specifications.</h4>
							<div style="padding-top:20px">
								<div style="display:flex; align-items:center;">
									<div>
										<button type="button" class="btn btn-primary" onclick="option()" style="padding:20px">Click to log in</button>
									</div>
									<div style="margin-left:20px;">
										@if(config.ssoEnabled) {
										<p><b style="margin-right:10px;">Assigned a new role by an administrator?</b><a href="#" onclick="option('link')">Confirm your new role</a>.</p>
										}
										@if(config.demosEnabled && config.registrationEnabled) {
										<span><b style="margin-right:10px;">New to the Test Bed?</b><a href="#" onclick="option('register')">Create an account</a> or <a href="#" onclick="option('demo')">try out our demos</a></span>.
										} else {@if(config.demosEnabled && !config.registrationEnabled) {
										<span><b style="margin-right:10px;">New to the Test Bed?</b><a href="#" onclick="option('demo')">Try out our demos</a>.</span>
										} else {@if(!config.demosEnabled && config.registrationEnabled) {
										<span><b style="margin-right:10px;">New to the Test Bed?</b><a href="#" onclick="option('register')">Create an account</a>.</span>
										}}}
									</div>
								</div>
							</div>
							<div class="bg-info div-rounded div-spaced div-padded">
								@if(config.ssoEnabled) {
									<p>To connect to the Test Bed you need to first authenticate using your EU Login account. If you are new to EU Login follow <a href="@config.euLoginUseGuideLink" target="blank">this tutorial</a> to get started.</p>
								}
								<p style="margin-bottom: 0px"><b>Privacy note:</b> By connecting you consent to the use of cookies to manage your session. Please refer to our <a href="#" data-toggle="modal" data-target="#legalModal">legal notice</a> for more information.</p>
								@if(config.ssoEnabled && config.inMigrationPeriod) {
									<p style="margin-top: 10px; margin-bottom: 0px"><b>Migration note:</b> If you have been using a functional account to log in click <a href="#" onclick="option('migrate')">here</a> to migrate it to EU Login. Step-by-step instructions are available in <a href="@config.euLoginMigrationGuideLink" target="blank">this guide</a>.</p>
								}
							</div>
						</div>

					</div>
				</div>
			</div>
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<img src="@config.footerLogoPath" class="pull-left"/>
						</div>
						<div class="col-md-6 version-div">
							<span class="pull-right">
								<a href="@config.userGuideLink" target="blank">User guide</a><span class="version-text"> | </span><a href="#" data-toggle="modal" data-target="#legalModal">Legal notice</a><span class="version-text"> | </span><span class="version-text">@config.versionNumber</span>
							</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="legalModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h3>Legal Notice</h3>
					</div>
					<div class="modal-body">
						<div id="content">
							@Html(config.defaultLegalNotice)
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>
