@(config: models.PublicConfig)
<!doctype html>
<html lang="en">
	<head>
		<title>Interoperability Test Bed</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="application-name" content="Interoperability Test Bed"/>
		<meta name="description" content="Conformance testing platform"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" href='@(config.contextPath)assets/build/styles.css?v=@config.resourceVersionNumber'>
		<link id="themeFaviconLink" rel="icon" href="@(config.contextPath)favicon.ico">
		<link id="themeCssLink" rel="stylesheet" href="@(config.contextPath)api/theme/css">
		<script type='text/javascript' src='@(config.contextPath)assets/lib/jquery/jquery.min.js'></script>
		<script type='text/javascript' src='@(config.contextPath)assets/components/gitb-cookie-cleanup.js?v=@config.resourceVersionNumber'></script>
	</head>
	<body>
		<div id="ctx-div" style="display:none">@config.contextPath</div>
		<div id="cp-div" style="display:none">@config.cookiePath</div>
		<div class="page index">
			<div class="header-bar">
				<div class="container">
					<div class="header-container">
						<div class="header-logo-container">
							<img class="logo"/>
						</div>
					</div>
				</div>
			</div>
			<div class="child">
				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="page-title">Welcome to the Interoperability Test Bed</div>
							</div>
						</div>
					</div>
				</section>
				<div class="page-with-margins">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="welcome-text">@Html(config.welcomeText)</div>
								<div style="padding-top:20px">
									<div style="display:flex; align-items:center;">
										<div>
											<button id="loginOption" type="button" class="btn btn-primary" style="padding:20px">Click to log in</button>
										</div>
										<div class="ms-4">
											@if(config.ssoEnabled) {
											   @if(config.demosEnabled || config.registrationEnabled) {
											<p><b class="me-2">Assigned a new role by an administrator?</b><a id="linkOption" href="#">Confirm your new role</a>.</p>
											   } else {
											<p class="mb-0"><b class="me-2">Assigned a new role by an administrator?</b><a id="linkOption" href="#">Confirm your new role</a>.</p>
											   }
											}
											@if(config.demosEnabled && config.registrationEnabled) {
											<p class="mb-0"><b class="me-2">New to the Test Bed?</b><a id="registerOption" href="#">Register in a public community</a> or <a id="demoOption" href="#">try out our demos</a>.</p>
											} else {@if(config.demosEnabled && !config.registrationEnabled) {
											<p class="mb-0"><b class="me-2">New to the Test Bed?</b><a id="demoOption" href="#">Try out our demos</a>.</p>
											} else {@if(!config.demosEnabled && config.registrationEnabled) {
											<p class="mb-0"><b class="me-2">New to the Test Bed?</b><a id="registerOption" href="#">Register in a public community</a>.</p>
											} else {@if(!config.ssoEnabled) {
											<p class="mb-0"><b class="me-2">New to the Test Bed?</b>Contact your administrator to create your account.</p>
											}}}}
										</div>
									</div>
								</div>
								<div class="alert alert-info rounded padded mt-3 mb-0">
									@if(config.ssoEnabled) {
									<p class="mb-2">To connect to the Test Bed you need to first authenticate using your EU Login account. If you are new to EU Login follow <a href="@config.euLoginUseGuideLink" target="blank">this tutorial</a> to get started.</p>
									}
									<p class="mb-0"><b>Privacy note:</b> By connecting you consent to the use of cookies to manage your session.
										@if(config.hasDefaultLegalNotice) {
										<span>Please refer to our <a href="#" data-bs-toggle="modal" data-bs-target="#legalModal">legal notice</a> for more information.</span>
										}
									</p>
									@if(config.ssoEnabled && config.inMigrationPeriod) {
									<p class="mt-2 mb-0"><b>Migration note:</b> If you have been using a functional account to log in click <a id="migrateOption" href="#">here</a> to migrate it to EU Login. Step-by-step instructions are available in <a href="@config.euLoginMigrationGuideLink" target="blank">this guide</a>.</p>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-bar">
				<div class="container">
					<div class="footer-logo">
						<img/>
					</div>
					@if(config.developmentMode) {
					<div class="footer-devmode-container">
						<div class="footer-devmode"><span><i class="fa-solid fa-exclamation-circle" aria-hidden="true"></i></span><span>Development mode</span></div>
					</div>
					}
					<div class="version-div">
						<div class="footer-links">
							<div class="footer-link"><a href="@config.userGuideLink" target="blank">User guide</a></div>
							@if(config.hasDefaultLegalNotice) {
							<div class="footer-link"><a href="#" data-bs-toggle="modal" data-bs-target="#legalModal">Legal notice</a></div>
							}
							@if(config.moreInfoEnabled) {
							<div class="footer-link"><a href="@config.moreInfoLink" target="blank">Find out more</a></div>
							}
							@if(config.releaseInfoEnabled) {
							<div class="footer-link"><a href="@config.releaseInfoLink" target="blank">@config.versionNumber</a></div>
							} else {
							<div class="footer-link"><span class="version-text">@config.versionNumber</span></div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		@if(config.hasDefaultLegalNotice) {
			<!-- Legal notice modal -->
			<div class="modal fade" id="legalModal" role="dialog">
				<div class="modal-dialog modal-lg">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<div class="modal-title">Legal Notice</div>
						</div>
						<div class="modal-body html-modal">
							<div id="content">
								@Html(config.defaultLegalNotice)
							</div>
						</div>
						<div class="modal-footer">
							<div class="btn-toolbar">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
		@if(config.initialSandboxRun) {
			<!-- Legal notice modal -->
			<div class="modal fade" id="sandboxModal" role="dialog">
				<div class="modal-dialog modal-lg">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<div class="modal-title">Initial setup</div>
						</div>
						<form id="initForm" enctype="multipart/form-data">
							<div class="modal-body">
								<div class="alert alert-info rounded div-padded">
									<span>Please provide the data archive and its password to initialise the Test Bed's configuration. If you would prefer to proceed with an empty installation close this dialog and make an initial login.</span>
								</div>
								<div id="initFormAlerts"></div>
								<div class="row mb-3">
									<label class="col-3 col-form-label d-flex justify-content-end">* Data archive:</label>
									<div class="col-7">
										<div class="input-group">
											<input id="fileInputText" type="text" class="form-control clickable" placeholder="Select data archive ..." readonly="readonly"/>
											<button id="fileInputButton" class="btn btn-secondary" type="button"><i class="fa-regular fa-folder-open"></i></button>
										</div>
										<input id="fileInputControl" name="file" type="file" style="display: none" />
									</div>
									<div class="col-auto">
										<div class="form-control-plaintext"><span data-bs-toggle="tooltip" class="check" title="The archive containing the data to import."><i class="fa-solid fa-question-circle"></i></span></div>
									</div>
								</div>
								<div class="row align-items-center">
									<label class="col-3 col-form-label d-flex justify-content-end" for="encryptionPassword">* Archive password:</label>
									<div class="col-5">
										<input id="encryptionPasswordVisible" name="passwordVisible" type="text" class="form-control"/>
										<input id="encryptionPassword" name="passwordHidden" type="password" class="form-control"/>
									</div>
									<div class="col-auto">
										<div class="form-check">
											<input class="form-check-input" id="encryptionPasswordCheck" type="checkbox">
											<label class="form-check-label" for="encryptionPasswordCheck">Show
												<div class="inline-tooltip"><div class="check"><span data-bs-toggle="tooltip" class="check" title="Provide the password that was used to encrypt the data archive."><i class="fa-solid fa-question-circle"></i></span></div></div>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="btn-toolbar">
									<button id="buttonNoImport" type="button" class="btn btn-secondary">Close</button>
									<button id="buttonImport" type="submit" class="btn btn-secondary"><span id="initDataSpinner" class="tab"><i class="fa-solid fa-spinner fa-spin-override fa-lg"></i></span>Import archive</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		}
		<script type='text/javascript' src='@(config.contextPath)assets/lib/bootstrap/js/bootstrap.bundle.min.js'></script>
		@if(config.initialSandboxRun) {
		<script type='text/javascript' src='@(config.contextPath)assets/components/gitb-init-sandbox.js?v=@config.resourceVersionNumber'></script>
		}
	</body>
</html>
