@(config: models.PublicConfig, mode: play.api.Mode)
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Interoperability Test Bed</title>
	<base href="@(config.contextPath)app">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href='@(config.contextPath)assets/build/styles.css?v=@config.resourceVersionNumber'>
	<link id="themeCssLink" rel="stylesheet" href="@(config.contextPath)api/theme/css">
	<link id="themeFaviconLink" rel="icon" href="@(config.contextPath)favicon.ico">
</head>
<body>
	<div id="ctx-int-div" style="display:none">@config.internalContextPath</div>
	<div id="ctx-pub-div" style="display:none">@config.contextPath</div>
	<app-root></app-root>
	<script src="@(config.contextPath)assets/javascripts/routes"></script>
	<script src="@(config.contextPath)assets/build/polyfills.js?v=@config.resourceVersionNumber" type="module"></script>
	<script src="@(config.contextPath)assets/build/scripts.js?v=@config.resourceVersionNumber" defer></script>
	<script src="@(config.contextPath)assets/build/main.js?v=@config.resourceVersionNumber" type="module"></script>
	<script src='@(config.contextPath)assets/build/tinymce/tinymce.min.js?v=@config.resourceVersionNumber' defer></script>
</body>
</html>
