@(contextPath: String, resourceVersionNumber: String, restApiPath: String)
<!doctype html>
<html lang="en">
	<head>
		<title>Interoperability Test Bed - Swagger UI</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="application-name" content="Interoperability Test Bed"/>
		<meta name="description" content="Conformance testing platform"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" href='@(contextPath)assets/lib/swagger-ui/swagger-ui.css'>
	</head>
	<body>
		<div id="swagger-ui" data-api-url="@(contextPath + restApiPath)"></div>
		<script src="@(contextPath)assets/lib/swagger-ui/swagger-ui-bundle.js" charset="UTF-8"> </script>
		<script src='@(contextPath)assets/components/swagger-init.js?v=resourceVersionNumber'></script>
	</body>
</html>
