<div class="modal-header">
	<h4>Edit parameter</h4>
</div>
<form class="form-horizontal">
	<div class="modal-body">
		<div class="form-group">
			<label class="col-sm-3 control-label">Name:</label>
			<div class="col-sm-8"><p class="form-control-static">{{parameter.name}}</p></div>
		</div>
		<div class="form-group" *ngIf="parameter.desc && parameter.desc.length > 0">
			<label class="col-sm-3 control-label">Description:</label>
			<div class="col-sm-8"><p class="form-control-static">{{parameter.desc}}</p></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="value" *ngIf="parameter.use == 'R'" style="font-weight: bold;">{{parameter.kind == 'SECRET'?'* New value:':'* Value:'}}</label>
			<label class="col-sm-3 control-label" for="value" *ngIf="parameter.use != 'R'">{{parameter.kind == 'SECRET'?'New value:':'Value:'}}</label>
			<div class="col-sm-8">
				<div *ngIf="parameter.kind == 'SIMPLE'">
					<div *ngIf="hasPresetValues">
						<select #value id="value" name="value" [(ngModel)]="configuration.value" class="form-control">
                            <option *ngIf="parameter.use == 'O'" value=""></option>
                            <option *ngFor="let v of presetValues" [ngValue]="v.value">{{v.label}}</option>
						</select>
					</div>
					<div *ngIf="!hasPresetValues">
						<input #value id="value" name="value" [(ngModel)]="configuration.value" class="form-control" type="text"/>
					</div>
				</div>
                <div *ngIf="parameter.kind == 'SECRET'">
                    <input #value id="value" name="value" [(ngModel)]="configuration.value" class="form-control" type="password" />
                </div>
				<div *ngIf="parameter.kind == 'BINARY'">
                    <a class="form-control-static" href *ngIf="showFileName()" (click)="download();$event.preventDefault();" style="padding-right:10px;">{{fileName()}}</a>
                    <app-file-select label="Upload" (onUpload)="onFileSelect($event)"></app-file-select>
                    <app-tooltip [tbTooltip]="'The file to set as the parameter value.'" [inline]="true"></app-tooltip>
				</div>
			</div>
            <app-tooltip *ngIf="parameter.kind != 'BINARY'" [tbTooltip]="'The value to set for the parameter.'"></app-tooltip>
		</div>
		<div class="form-group" *ngIf="parameter.kind == 'SECRET'">
			<label class="col-sm-3 control-label" for="valueConfirm" *ngIf="parameter.use == 'R'" style="font-weight: bold;">* Confirm value:</label>
			<label class="col-sm-3 control-label" for="valueConfirm" *ngIf="parameter.use != 'R'">Confirm value:</label>
			<div class="col-sm-8">
				<input id="valueConfirm" name="valueConfirm" [(ngModel)]="configuration.valueConfirm" class="form-control" type="password" *ngIf="parameter.kind == 'SECRET'"/>
			</div>
            <app-tooltip [tbTooltip]="'Confirm the provided parameter value.'"></app-tooltip>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="submit" (click)="save()" [pending]="savePending" [disable]="saveDisabled()">Save</button>
		<button class="btn btn-default" type="button" *ngIf="isConfigurationSet" (click)="delete()" [pending]="deletePending" [disable]="savePending">Delete</button>
		<button class="btn btn-default" type="button" (click)="cancel()" [disabled]="savePending || deletePending">Cancel</button>
	</div>
</form>