<div class="modal-header">
    <div class="modal-title">Edit parameter</div>
</div>
<form>
	<div class="modal-body" appFileDropTarget>
		<div class="row mb-3">
			<label class="col-3 col-form-label text-end">Name:</label>
			<div class="col-8"><p class="form-control-plaintext">{{parameter.name}}</p></div>
		</div>
		@if (parameter.desc && parameter.desc.length > 0) {
			<div class="row mb-3">
				<label class="col-3 col-form-label text-end">Description:</label>
				<div class="col-8"><p class="form-control-plaintext">{{parameter.desc}}</p></div>
			</div>
		}
		<div class="row">
			@if (parameter.use == 'R') {
				<label class="col-3 col-form-label text-end" for="value" style="font-weight: bold;">{{parameter.kind == 'SECRET'?'* New value:':'* Value:'}}</label>
			} @else {
				<label class="col-3 col-form-label text-end" for="value">{{parameter.kind == 'SECRET'?'New value:':'Value:'}}</label>
			}
			<div class="col-8">
				@if (parameter.kind == 'SIMPLE') {
					<div>
						@if (hasPresetValues) {
							<div>
								<select #value id="value" name="value" [(ngModel)]="configuration.value" class="form-control form-select">
									@if (parameter.use == 'O') {
										<option value=""></option>
									}
									@for (v of presetValues; track $index) {
										<option [ngValue]="v.value">{{v.label}}</option>
									}
								</select>
							</div>
						} @else {
							<div>
								<input #value id="value" name="value" [(ngModel)]="configuration.value" class="form-control" type="text"/>
							</div>
						}
					</div>
				} @else if (parameter.kind == 'SECRET') {
					<app-secret-input id="value" name="value" [(ngModel)]="configuration.value"></app-secret-input>
				} @else if (parameter.kind == 'BINARY') {
					<app-file-select [fileName]="fileName()" (onUpload)="onFileSelect($event)" [extraActions]="true">
						@if (showFileName()) {
							<button type="button" class="btn btn-secondary" (click)="download()" containerClass="shortTooltip" tooltip="Download" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'" container="body"><i class="fa-solid fa-download"></i></button>
						}
					</app-file-select>
				}
			</div>
			@if (parameter.kind == 'BINARY') {
				<div app-tooltip class="col-auto" [tbTooltip]="'The file to set as the parameter value.'"></div>
			} @else {
				<div app-tooltip class="col-auto" [tbTooltip]="'The value to set for the parameter.'"></div>
			}
		</div>
	</div>
	<div class="modal-footer button-container">
		@if (isConfigurationSet) {
			<div class="btn-toolbar btn-toolbar-delete">
				<button class="btn btn-outline-danger" type="button" (click)="delete()" [pending]="deletePending" [disable]="savePending">Delete</button>
			</div>
		}
		<div class="btn-toolbar">
			<button class="btn btn-secondary" type="button" (click)="cancel()" [disabled]="savePending || deletePending">Cancel</button>
			<button class="btn btn-secondary" type="submit" (click)="save()" [pending]="savePending" [disable]="saveDisabled()">Save</button>
		</div>
	</div>
</form>