<div class="modal-header">
	<h4>Edit parameter</h4>
</div>
<form>
	<div class="modal-body">
		<div class="row mb-3">
			<label class="col-3 col-form-label text-end">Name:</label>
			<div class="col-8"><p class="form-control-plaintext">{{parameter.name}}</p></div>
		</div>
		<div class="row mb-3" *ngIf="parameter.desc && parameter.desc.length > 0">
			<label class="col-3 col-form-label text-end">Description:</label>
			<div class="col-8"><p class="form-control-plaintext">{{parameter.desc}}</p></div>
		</div>
		<div class="row">
			<label class="col-3 col-form-label text-end" for="value" *ngIf="parameter.use == 'R'" style="font-weight: bold;">{{parameter.kind == 'SECRET'?'* New value:':'* Value:'}}</label>
			<label class="col-3 col-form-label text-end" for="value" *ngIf="parameter.use != 'R'">{{parameter.kind == 'SECRET'?'New value:':'Value:'}}</label>
			<div class="col-8">
				<div *ngIf="parameter.kind == 'SIMPLE'">
					<div *ngIf="hasPresetValues">
						<select #value id="value" name="value" [(ngModel)]="configuration.value" class="form-control form-select">
                            <option *ngIf="parameter.use == 'O'" value=""></option>
                            <option *ngFor="let v of presetValues" [ngValue]="v.value">{{v.label}}</option>
						</select>
					</div>
					<div *ngIf="!hasPresetValues">
						<input #value id="value" name="value" [(ngModel)]="configuration.value" class="form-control" type="text"/>
					</div>
				</div>
                <div *ngIf="parameter.kind == 'SECRET'">
					<app-secret-input id="value" name="value" [(ngModel)]="configuration.value"></app-secret-input>
                </div>
				<div *ngIf="parameter.kind == 'BINARY'">
                    <a class="form-control-plaintext" href *ngIf="showFileName()" (click)="download();$event.preventDefault();" style="padding-right:10px;">{{fileName()}}</a>
                    <app-file-select label="Upload" (onUpload)="onFileSelect($event)"></app-file-select>
                    <div app-tooltip class="col-auto d-inline-flex" [tbTooltip]="'The file to set as the parameter value.'" [inline]="true"></div>
				</div>
			</div>
            <div app-tooltip class="col-auto" *ngIf="parameter.kind != 'BINARY'" [tbTooltip]="'The value to set for the parameter.'"></div>
		</div>
	</div>
	<div class="modal-footer button-container">
		<div class="btn-toolbar btn-toolbar-delete" *ngIf="isConfigurationSet">
			<button class="btn btn-outline-danger" type="button" (click)="delete()" [pending]="deletePending" [disable]="savePending">Delete</button>
		</div>
		<div class="btn-toolbar">
			<button class="btn btn-secondary" type="button" (click)="cancel()" [disabled]="savePending || deletePending">Cancel</button>
			<button class="btn btn-secondary" type="submit" (click)="save()" [pending]="savePending" [disable]="saveDisabled()">Save</button>
		</div>
	</div>
</form>