*.class
*.log
*.swp
*.tmp

#IntelliJ IDEA specific
.idea
*.iml
*.ipr
*.iws

#Eclipse specific
.classpath
.project
.settings/

#Play Specific
logs
/project/project
/project/target
target
tmp
.history
dist
/out
/.idea_modules
/.classpath
/.project
/.settings
RUNNING_PID

#test repository deployment folder
test/resources/repository
*/repository/status-updates/
