<div class="page users create">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="title">Admin detail</h4>
                </div>
                <div class="panel-body">
                    <!-- Error messages -->
                    <div class="row col-md-10 col-md-offset-1">
                        <alert ng-repeat="alert in adminDetailCtrl.alerts" type="{{alert.type}}" close="adminDetailCtrl.closeAlert($index)">{{alert.msg}}</alert>
                    </div>

                    <div class="col-md-10 col-md-offset-1" tb-user-form tb-user="adminDetailCtrl.user" tb-new="false" tb-admin="true"></div>
                    <div class="row col-md-10 col-md-offset-3">
                        <div class="btn-toolbar">
                            <button class="btn btn-default" type="button" ng-click="adminDetailCtrl.cancelDetailAdmin()">Cancel</button>
                            <button class="btn btn-warning" type="button" ng-click="adminDetailCtrl.updateAdmin()">Update</button>
                            <button class="btn btn-danger" type="button" ng-click="adminDetailCtrl.deleteAdmin()" ng-disabled="adminDetailCtrl.disableDeleteButton">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
