<div class="page users detail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Community administrator details</h4>
        </div>
        <div class="panel-body">
            <!-- Error messages -->
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div uib-alert ng-repeat="alert in communityAdminDetailCtrl.alerts" ng-class="'alert-' + alert.type" close="communityAdminDetailCtrl.closeAlert($index)">{{alert.msg}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11" tb-user-form tb-user="communityAdminDetailCtrl.user" tb-new="false" tb-admin="true" sso="communityAdminDetailCtrl.DataService.configuration['sso.enabled']"></div>
            </div>
            <div class="row" ng-if="!communityAdminDetailCtrl.DataService.configuration['sso.enabled']">
                <div class="col-md-10 col-centered">
                    <div class="form-control-static bg-info div-padded-sides div-rounded">
                        <p style="margin-bottom: 0px;"><b>Privacy note:</b> By clicking 'Update' you grant the user's consent on his/her behalf to record the provided information. This is used only for internal identification purposes and is never shared with other parties. Alternatively you may also complete this form with information that is not personally identifiable. Please refer to the legal notice (link available in the screen's footer) for more information.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8 btn-toolbar">
                    <button class="btn btn-default" type="button" ng-click="communityAdminDetailCtrl.updateAdmin()" ng-if="!communityAdminDetailCtrl.DataService.configuration['sso.enabled']" ng-disabled="communityAdminDetailCtrl.saveDisabled()">Update</button>
                    <button class="btn btn-default" type="button" ng-click="communityAdminDetailCtrl.deleteAdmin()" ng-disabled="communityAdminDetailCtrl.disableDeleteButton">Delete</button>
                    <button class="btn btn-default" type="button" ng-click="communityAdminDetailCtrl.cancelDetailAdmin()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
