<div class="page memberProperties">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Custom properties for community members</h4>
        </div>
        <div class="panel-body">
            <div class="bg-info div-rounded div-padded bottom-margin">
                <span>The following custom properties will be presented to your community members for completion and, if configured, will also be made available as test session variables. Required properties must be provided before executing test sessions.</span>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="title">{{controller.DataService.labelOrganisation()}} level properties</h5>
                    <div class="btn-toolbar pull-right">
                        <button type="button" class="btn btn-default" ng-click="controller.previewOrganisationParameters()">Preview</button>
                        <button type="button" class="btn btn-default" ng-disabled="controller.orderOrganisationParametersDisabled.value" ng-click="controller.orderOrganisationParameters()">Save property order</button>
                        <button type="button" class="btn btn-default" ng-click="controller.addOrganisationParameter()">Create property</button>
                    </div>
                </div>
                <div>
                    <table class="table table-directive thick">
                        <thead>
                            <th>Label</th>
                            <th>Key</th>
                            <th>Type</th>
                            <th class="min-width">Required</th>
                            <th class="min-width">Editable</th>
                            <th class="min-width">In&nbsp;tests</th>
                            <th class="min-width">In&nbsp;exports</th>
                            <th class="min-width">Hidden</th>
                            <th class="min-width" ng-if="controller.DataService.configuration['registration.enabled']">In&nbsp;registration</th>
                            <th class="min-width"></th>
                        </thead>
                        <tbody>
                            <tr class="table-row-directive selectable" ng-repeat="parameter in controller.organisationParameters" ng-click="controller.onOrganisationParameterSelect(parameter)">
                                <td><div><span>{{parameter.name}}</span></div></td>
                                <td><div><span>{{parameter.testKey}}</span></div></td>
                                <td><div><span>{{parameter.kindLabel}}</span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.useLabel, 'glyphicon-remove': !parameter.useLabel}"></i></span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.adminOnlyLabel, 'glyphicon-remove': !parameter.adminOnlyLabel}"></i></span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.notForTestsLabel, 'glyphicon-remove': !parameter.notForTestsLabel}"></i></span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.inExports, 'glyphicon-remove': !parameter.inExports}"></i></span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.hidden, 'glyphicon-remove': !parameter.hidden}"></i></span></div></td>
                                <td class="centered" ng-if="controller.DataService.configuration['registration.enabled']"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.inSelfRegistration, 'glyphicon-remove': !parameter.inSelfRegistration}"></i></span></div></td>
                                <td class="btn-stacked-container" ng-click="$event.stopPropagation();">
                                    <div class="btn-toolbar btn-stacked">
                                        <button ng-if="!$first" class="btn btn-xs btn-default" type="button" ng-click="controller.movePropertyUp(controller.organisationParameters, controller.orderOrganisationParametersDisabled, $index)"><i class="fa fa-chevron-up"></i></button>
                                        <button ng-if="!$last" class="btn btn-xs btn-default" type="button" ng-click="controller.movePropertyDown(controller.organisationParameters, controller.orderOrganisationParametersDisabled, $index)"><i class="fa fa-chevron-down"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 0px;">
                <div class="panel-heading">
                    <h5 class="title">{{controller.DataService.labelSystem()}} level properties</h5>
                    <div class="btn-toolbar pull-right">
                        <button type="button" class="btn btn-default" ng-click="controller.previewSystemParameters()">Preview</button>
                        <button type="button" class="btn btn-default" ng-disabled="controller.orderSystemParametersDisabled.value" ng-click="controller.orderSystemParameters()">Save property order</button>
                        <button type="button" class="btn btn-default" ng-click="controller.addSystemParameter()">Create property</button>
                    </div>
                </div>
                <div>
                    <table class="table table-directive thick">
                        <thead>
                            <th>Label</th>
                            <th>Key</th>
                            <th>Type</th>
                            <th class="min-width">Required</th>
                            <th class="min-width">Editable</th>
                            <th class="min-width">In&nbsp;tests</th>
                            <th class="min-width">In&nbsp;exports</th>
                            <th class="min-width">Hidden</th>
                            <th class="min-width"></th>
                        </thead>
                        <tbody>
                            <tr class="table-row-directive selectable" ng-repeat="parameter in controller.systemParameters" ng-click="controller.onSystemParameterSelect(parameter)">
                                <td><div><span>{{parameter.name}}</span></div></td>
                                <td><div><span>{{parameter.testKey}}</span></div></td>
                                <td><div><span>{{parameter.kindLabel}}</span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.useLabel, 'glyphicon-remove': !parameter.useLabel}"></i></span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.adminOnlyLabel, 'glyphicon-remove': !parameter.adminOnlyLabel}"></i></span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.notForTestsLabel, 'glyphicon-remove': !parameter.notForTestsLabel}"></i></span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.inExports, 'glyphicon-remove': !parameter.inExports}"></i></span></div></td>
                                <td class="centered"><div><span><i class="glyphicon" ng-class="{'glyphicon-ok': parameter.hidden, 'glyphicon-remove': !parameter.hidden}"></i></span></div></td>
                                <td class="btn-stacked-container" ng-click="$event.stopPropagation();">
                                    <div class="btn-toolbar btn-stacked">
                                        <button ng-if="!$first" class="btn btn-xs btn-default" type="button" ng-click="controller.movePropertyUp(controller.systemParameters, controller.orderSystemParametersDisabled, $index)"><i class="fa fa-chevron-up"></i></button>
                                        <button ng-if="!$last" class="btn btn-xs btn-default" type="button" ng-click="controller.movePropertyDown(controller.systemParameters, controller.orderSystemParametersDisabled, $index)"><i class="fa fa-chevron-down"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar">
                <button class="btn btn-default" type="button" ng-click="controller.cancel()">Back</button>
            </div>
        </div>
    </div>
</div>