<div class="page users create">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Error template create</h4>
        </div>
        <div class="panel-body">
            <!-- Error messages -->
            <div class="row col-md-10 col-md-offset-1">
                <alert ng-repeat="alert in errorTemplateCreateCtrl.alerts" type="{{alert.type}}" close="errorTemplateCreateCtrl.closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <!-- error template form -->
            <div class="row col-md-10 col-md-offset-1">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">* Name:</label>
                        <div class="col-sm-8"><input id="name" ng-model="errorTemplateCreateCtrl.template.name" class="form-control" type="text" required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="description">Description:</label>
                        <div class="col-sm-8"><textarea id="description" ng-model="errorTemplateCreateCtrl.template.description" class="form-control"></textarea></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="default">Default:</label>
                        <div class="col-sm-8"><input id="default" ng-model="errorTemplateCreateCtrl.template.default" type="checkbox" class="form-check"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8 btn-toolbar">
                    <button class="btn btn-default" type="button" ng-click="errorTemplateCreateCtrl.preview()" ng-disabled="errorTemplateCreateCtrl.saveDisabled()">Preview</button>
                    <button class="btn btn-default" type="button" ng-click="errorTemplateCreateCtrl.createErrorTemplate()" ng-disabled="errorTemplateCreateCtrl.saveDisabled()">Save</button>
                    <button class="btn btn-default" type="button" ng-click="errorTemplateCreateCtrl.cancelCreateErrorTemplate()">Cancel</button>
                </div>
            </div>
        </div>        
    </div>
    <div error-template-editor></div>
</div>
