<div class="page users">
    <!-- Administrators -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Administrators</h4>
            <a ui-sref="app.admin.users.admins.create" class="btn btn-default pull-right">Create administrator</a>
        </div>
        <div table-directive columns="userManagementCtrl.adminColumns" data="userManagementCtrl.admins" on-select="userManagementCtrl.adminSelect"></div>
    </div>
    <!-- organizations -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Organisations</h4>
            <a ui-sref="app.admin.users.organizations.create" class="btn btn-default pull-right">Create organization</a>
        </div>
        <div table-directive columns="userManagementCtrl.organizationColums" data="userManagementCtrl.organizations" on-select="userManagementCtrl.organizationSelect"></div>
    </div>
    <!-- landing pages -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Landing pages</h4>
            <a ui-sref="app.admin.users.landingpages.create" class="btn btn-default pull-right">Create landing page</a>
        </div>
        <div table-directive columns="userManagementCtrl.landingPagesColumns" data="userManagementCtrl.landingPages" on-select="userManagementCtrl.landingPageSelect"></div>
    </div>
</div>
