<div class="page users create">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Create legal notice</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <!-- Error messages -->
                <div class="row col-md-10 col-md-offset-1">
                    <div uib-alert ng-repeat="alert in LegalNoticeCreateCtrl.alerts" ng-class="'alert-' + alert.type" close="LegalNoticeCreateCtrl.closeAlert($index)">{{alert.msg}}</div>
                </div>
                <!-- legal notice form -->
                <div class="row col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">* Name:</label>
                        <div class="col-sm-8"><input id="name" ng-model="LegalNoticeCreateCtrl.notice.name" class="form-control" type="text"></div>
                        <div tb-tooltip="The name of the legal notice that will identify it and be displayed in selection lists."></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="description">Description:</label>
                        <div class="col-sm-8"><textarea id="description" ng-model="LegalNoticeCreateCtrl.notice.description" class="form-control"></textarea></div>
                        <div tb-tooltip="A description that will be visible only to administrators to help distinguish this legal notice and summarise its purpose."></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="default">Default:</label>
                        <div class="col-sm-8">
                            <input id="default" ng-model="LegalNoticeCreateCtrl.notice.default" type="checkbox" class="form-check">
                            <div tb-inline="true" tb-tooltip="Check this to make this legal notice the default one assumed for the community's {{LegalNoticeCreateCtrl.DataService.labelOrganisationsLower()}}."></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-8 btn-toolbar">
                        <button class="btn btn-default" type="submit" ng-click="LegalNoticeCreateCtrl.createLegalNotice()" ng-disabled="LegalNoticeCreateCtrl.saveDisabled()">Save</button>
                        <button class="btn btn-default" type="button" ng-click="LegalNoticeCreateCtrl.cancelCreateLegalNotice()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <textarea class="mce-editor">
        </textarea>
    </div>
</div>
