<div class="page users detail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">{{orgDetailCtrl.DataService.labelOrganisation()}} details</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <!-- Error messages -->
                <div class="row col-md-10 col-md-offset-1">
                    <div uib-alert ng-repeat="alert in orgDetailCtrl.alerts" ng-class="'alert-' + alert.type" close="orgDetailCtrl.closeAlert($index)">{{alert.msg}}</div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" tb-organization-form tb-organization="orgDetailCtrl.organization" tb-landing-pages="orgDetailCtrl.landingPages" tb-legal-notices="orgDetailCtrl.legalNotices" tb-error-templates="orgDetailCtrl.errorTemplates" tb-other-organisations="orgDetailCtrl.otherOrganisations" tb-copy-changed="orgDetailCtrl.copyChanged"></div>
                </div>
                <div ng-if="!orgDetailCtrl.organization.copyOrganisationParameters" tb-optional-custom-properties-form tb-property-data="orgDetailCtrl.propertyData">
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-8 btn-toolbar">
                        <button class="btn btn-default" type="submit" ng-click="orgDetailCtrl.updateOrganization()" ng-disabled="orgDetailCtrl.saveDisabled()">Update</button>
                        <button class="btn btn-default" type="button" ng-click="orgDetailCtrl.deleteOrganization()">Delete</button>
                        <button class="btn btn-default" type="button" ng-click="orgDetailCtrl.manageOrganizationTests()">Manage tests</button>
                        <button class="btn btn-default" type="button" ng-click="orgDetailCtrl.cancelDetailOrganization()">Back</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Users</h4>
            <a ui-sref="app.admin.users.communities.detail.organizations.detail.users.create" class="btn btn-default pull-right">Create user</a>
        </div>
        <div table-directive columns="orgDetailCtrl.userColumns" data="orgDetailCtrl.users" on-select="orgDetailCtrl.userSelect"></div>
    </div>
</div>