<div class="page users create">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="title">Organization create</h4>
                </div>
                <div class="panel-body">
                    <!-- Error messages -->
                    <div class="row col-md-10 col-md-offset-1">
                        <alert ng-repeat="alert in orgCreateCtrl.alerts" type="{{alert.type}}" close="orgCreateCtrl.closeAlert($index)">{{alert.msg}}</alert>
                    </div>

                    <div class="col-md-10 col-md-offset-1" tb-organization-form tb-organization="orgCreateCtrl.organization"></div>
                    <div class="row col-md-10 col-md-offset-3">
                        <div class="btn-toolbar">
                            <button class="btn btn-primary" type="button" ng-click="orgCreateCtrl.createOrganization()">Save</button>
                            <button class="btn btn-default" type="button" ng-click="orgCreateCtrl.cancelCreateOrganization()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
