<div class="page users create">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Create user</h4>
        </div>
        <div class="panel-body">
            <!-- Error messages -->
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div uib-alert ng-repeat="alert in userCreateCtrl.alerts" ng-class="'alert-' + alert.type" close="userCreateCtrl.closeAlert($index)">{{alert.msg}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1" tb-user-form tb-new="true" tb-admin="false" tb-user="userCreateCtrl.user" tb-roles="userCreateCtrl.roleCreateChoices" sso="userCreateCtrl.DataService.configuration['sso.enabled']"></div>
            </div>
            <div class="row">
                <div class="col-md-10 col-centered">
                    <div class="form-control-static bg-info div-padded-sides div-rounded">
                        <p ng-if="userCreateCtrl.DataService.configuration['sso.enabled']">The user's new role assignment will need to be confirmed by the user upon login.</p>
                        <p style="margin-bottom: 0px;"><b>Privacy note:</b> By clicking 'Save' you grant the user's consent on his/her behalf to record the provided information. This is used only for internal identification purposes and is never shared with other parties. <span ng-if="!userCreateCtrl.DataService.configuration['sso.enabled']">Alternatively you may also complete this form with information that is not personally identifiable. </span>Please refer to the legal notice (link available in the screen's footer) for more information.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8 btn-toolbar">
                    <button class="btn btn-default" type="button" ng-click="userCreateCtrl.createUser()" ng-disabled="userCreateCtrl.saveDisabled()">Save</button>
                    <button class="btn btn-default" type="button" ng-click="userCreateCtrl.cancelCreateUser()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
