<div class="panel-configuration" [ngSwitch]="somethingIsVisible">
	<!-- Nothing is visible -->
	<div *ngSwitchCase="false">
		<div class="alert alert-info rounded mb-0">
			<span>Certain configuration must be completed for you by an administrator before you can proceed with testing.</span>
		</div>                    
	</div>
	<!-- Something is visible -->
	<div *ngSwitchDefault>
		<!-- Something is not visible -->
		<ng-container [ngSwitch]="requiredPropertiesAreHidden">
			<div class="alert alert-info rounded" *ngSwitchCase="true">
				<p>Required information is needed before tests can be launched. Review this below and complete it accordingly.</p>
				<span><b>Note: </b></span><span>Certain additional configuration must be completed for you by an administrator before you can proceed with testing.</span>
			</div>
			<!-- Everything is visible -->
			<div class="alert alert-info rounded" *ngSwitchDefault>
				<span>Required information is needed before tests can be launched. Review this below and complete it accordingly.</span>
			</div>
		</ng-container>
		<div class="card" *ngIf="showOrganisationProperties">
			<div class="card-header">
				<div class="table-title">Organisation properties</div>
				<div class="btn-toolbar">
					<button type="button" class="btn btn-secondary" (click)="toOrganisationProperties()">View</button>
				</div>
			</div>
            <app-parameter-display 
                [parameters]="organisationProperties" 
                [onlyMissing]="true" 
                [showValues]="false" 
                [editable]="false"
                [parameterLabel]="'Property'"></app-parameter-display>
		</div>
		<div class="card" *ngIf="showSystemProperties">
			<div class="card-header">
				<div class="table-title">System properties</div>
				<div class="btn-toolbar">
					<button type="button" class="btn btn-secondary" (click)="toSystemProperties()">View</button>
				</div>
			</div>
            <app-parameter-display 
                [parameters]="systemProperties" 
                [onlyMissing]="true" 
                [showValues]="false" 
                [editable]="false"
                [parameterLabel]="'Property'"></app-parameter-display>
		</div>
		<div class="card" *ngIf="showStatementProperties">
			<div class="card-header">
				<div class="table-title">Conformance statement parameters</div>
				<div class="btn-toolbar">
					<button type="button" class="btn btn-secondary" (click)="toConfigurationProperties()">View</button>
				</div>
			</div>
            <app-parameter-display 
                [parameters]="statementProperties" 
                [onlyMissing]="true" 
                [showValues]="false" 
                [editable]="false"
                [parameterLabel]="'Property'"></app-parameter-display>
		</div>
	</div>
</div>