<div class="panel-configuration">
	@if (somethingIsVisible) {
		<div>
			@if (requiredPropertiesAreHidden) {
				 <!-- Something is not visible -->
				<div class="alert alert-info rounded">
					<p>Required information is needed before tests can be launched. Review this below and complete it accordingly.</p>
					<span><b>Note: </b></span><span>Certain additional configuration must be completed for you by an administrator before you can proceed with testing.</span>
				</div>
			 } @else {
				<!-- Everything is visible -->
				<div class="alert alert-info rounded">
					<span>Required information is needed before tests can be launched. Review this below and complete it accordingly.</span>
				</div>
			 }
			 @if (showOrganisationProperties) {
				 <div class="card">
					 <div class="card-header">
						 <div class="table-title">Organisation properties</div>
					 </div>
					 <app-parameter-display 
						 [parameters]="organisationProperties" 
						 [onlyMissing]="true" 
						 [showValues]="false" 
						 [editable]="false"
						 [parameterLabel]="'Property'"></app-parameter-display>
				 </div>
			 }
			 @if (showSystemProperties) {
				 <div class="card">
					 <div class="card-header">
						 <div class="table-title">System properties</div>
					 </div>
					 <app-parameter-display 
						 [parameters]="systemProperties" 
						 [onlyMissing]="true" 
						 [showValues]="false" 
						 [editable]="false"
						 [parameterLabel]="'Property'"></app-parameter-display>
				 </div>
			 }
			 @if (showStatementProperties) {
				 <div class="card">
					 <div class="card-header">
						 <div class="table-title">Conformance statement parameters</div>
					 </div>
					 <app-parameter-display 
						 [parameters]="statementProperties" 
						 [onlyMissing]="true" 
						 [showValues]="false" 
						 [editable]="false"
						 [parameterLabel]="'Property'"></app-parameter-display>
				 </div>
			 }
		</div>
	} @else {
		<div>
			<div class="alert alert-info rounded mb-0">
				<span>Certain configuration must be completed for you by an administrator before you can proceed with testing.</span>
			</div>                    
		</div>
	}
</div>