<div class="page domains">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{dataService.labelDomains()}}</h4>
			<a *ngIf="dataService.isSystemAdmin" routerLink="create" class="btn btn-default pull-right">Create {{dataService.labelDomainLower()}}</a>
		</div>
		<div table-directive 
			[columns]="tableColumns" 
			[data]="domains"
			[noDataMessage]="'No '+dataService.labelDomainsLower()+' found'"
			[loadingStatus]="dataStatus"
			[allowSelect]="true"
			(onSelect)="onDomainSelect($event)">
		</div>
	</div>
</div>
