<div class="page domains">
	<div class="card mb-0">
		<div class="card-header">
			<div class="card-title">{{dataService.labelDomains()}}</div>
            <div class="btn-toolbar">
                <app-text-filter name="domainFilter" [width]="300" [placeholder]="'Search '+dataService.labelDomainsLower()+'...'" [(ngModel)]="domainFilter" (apply)="applyFilter()"></app-text-filter>
        		@if (dataService.isSystemAdmin) {
					<button type="button" class="btn btn-secondary" (click)="create()">Create {{dataService.labelDomainLower()}}</button>
	    		}
            </div>
        </div>
		<div #domainTable table-directive
			[columns]="tableColumns"
			[data]="domains"
			[noDataMessage]="'No '+dataService.labelDomainsLower()+' found'"
			[loadingStatus]="domainStatus"
			[allowSelect]="true"
            [contentRefreshing]="domainsRefreshing"
            [supportPaging]="true"
            (pageNavigation)="doDomainPaging($event)"
			(onSelect)="onDomainSelect($event)">
		</div>
	</div>
</div>
