<div class="page domains">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{dataService.labelDomains()}}</h4>
			<button *ngIf="dataService.isSystemAdmin" type="button" class="btn btn-default pull-right" (click)="create()">Create {{dataService.labelDomainLower()}}</button>
		</div>
		<div table-directive 
			[columns]="tableColumns" 
			[data]="domains"
			[noDataMessage]="'No '+dataService.labelDomainsLower()+' found'"
			[loadingStatus]="dataStatus"
			[allowSelect]="true"
			(onSelect)="onDomainSelect($event)">
		</div>
	</div>
</div>
