<div class="modal-header">
	<div class="modal-title">{{isNameVisible?documentName:"Data"}}</div>
</div>
<div class="modal-body">
	<div class="editor" [ngClass]="styleClass">
		<ngx-codemirror #codeEditor [(ngModel)]="editorOptions.value" [options]="editorOptions"></ngx-codemirror>
	</div>
</div>
<div class="modal-footer">
	<div class="btn-toolbar">
		<button type="button" class="btn btn-secondary" (click)="close()">Close</button>
		@if (isCopyVisible) {
			<button type="button" class="btn btn-secondary" (click)="copyToClipboard()">Copy to clipboard</button>
		}
		@if (isDownloadVisible) {
			<button type="button" class="btn btn-secondary" (click)="download()">Download</button>
		}
	</div>
</div>