<div class="modal-header">
	<div class="modal-title">{{isNameVisible?documentName:"Data"}}</div>
</div>
<div class="modal-body">
	<div class="editor" [ngClass]="styleClass">
		<ngx-codemirror #codeEditor [(ngModel)]="editorOptions.value" [options]="editorOptions"></ngx-codemirror>
	</div>
</div>
<div class="modal-footer">
	<div class="btn-toolbar">
		<button type="button" class="btn btn-secondary" (click)="close()">Close</button>
		<button type="button" class="btn btn-secondary" (click)="copyToClipboard()" *ngIf="isCopyVisible">Copy to clipboard</button>
		<button type="button" class="btn btn-secondary" (click)="download()" *ngIf="isDownloadVisible">Download</button>
	</div>
</div>