<h1 style="margin-left:15px;color:darkslateblue;"> Mission Statement </h1> <br>

<div style="margin-left:20px;"> 

<p> As the SRDC Team, </p>
<br>
<ul>
	<li> We believe that quality is fundamental to our products and services </li>
	<li> We are honest and forthright in our dealings with the employees, the customers and the community </li>
	<li> We believe in teamwork because team promotes opportunity, trust, growth and success </li>
	<li> We attach importance to innovation; creative thinking, novel ideas and practical solutions </li>
	<li> We compete in all areas of life as a continuous source of progress </li>
	<li> We believe in Turkiye and we aim to give back to our community </li>
</ul>
