<h1 style="margin-left:15px;color:darkslateblue;"> Contact Information </h1> <br>

<div style="margin-left:20px;"> 
	<div class="row">
		<div class="col-md-2" > 
			<p style="font-weight:bold;"> Founder & Director: 	</p>
		</div>
		<div class="col-md-10" > 
			<a href="http://srdc.com.tr/~asuman/"> Prof. Dr. Asuman Dogac 	</a> 
		</div>
	</div>
	<div class="row"> 
		<div class="col-md-2" > 
			<p style="font-weight:bold;"> Email:  				</p> 
		</div>
		<div class="col-md-10" > 
			<a href="mailto:asuman@srdc.com.tr"> asuman@srdc.com.tr		</a> 
		</div>
	</div>
	<div class="row"> 
		<div class="col-md-2" >	
			<p style="font-weight:bold;"> Address:  				</p> 
		</div>
		<div class="col-md-10" >
			<p> SRDC Yazilim Arastirma ve Gelistirme ve Danismanlik Tic. Ltd. Sti. 
				Silikon Bina 1. Kat No: 12 ODTÜ Teknokent 061000 
				Çankaya/Ankara TURKEY  	</p> 
		</div>
	</div>
	<div class="row"> 
		<div class="col-md-2" > 
			<p style="font-weight:bold;"> Phone:  				</p> 
			</div>
		<div class="col-md-10" >
			<p> +90 (312) 210 13 93    <br>    +90 (312) 210 17 63  	</p> 
		</div>
	</div>
	<div class="row"> 
		<div class="col-md-2" > 
			<p style="font-weight:bold;"> Fax:  					</p> 
			</div>
		<div class="col-md-10" > 
			<p> +90 (312) 210 110 37		</p>
		</div>
	</div>
	<div class="row"> 
		<div class="col-md-2" >
			<p style="font-weight:bold;"> For your questions:  	</p> 
		</div>
		<div class="col-md-10" > 
			<a href="mailto:info@srdc.com.tr"> info@srdc.com.tr  		</a> 
		</div>
	</div>
</div>
	
	
	
	
	
	