<h1 style="margin-left:15px;color:darkslateblue;"> Help and Support </h1> <br>

<div style="margin-left:15px;"> 
	<div class="col-md-8" style="border-right: outset thin blanchedalmond;height:100%;">
		<h3 style="color:blue;"> FAQs </h3><br>

		<h4> Lorem ipsum dolor sit amet? </h4>
		<p> 
		Jujubes gummies wafer icing. Donut icing brownie brownie. Unerdwear.com oat cake pie soufflé gummi bears. Pudding lemon drops unerdwear.com biscuit halvah jujubes carrot cake bonbon caramels. Pastry unerdwear.com powder donut pastry jelly beans. Candy chocolate pudding. Sesame snaps marshmallow marzipan chupa chups ice cream carrot cake macaroon sweet. Muffin marzipan cotton candy tart toffee. Jujubes fruitcake pastry gummi bears jelly. Gingerbread pie sugar plum. Oat cake fruitcake croissant cheesecake cupcake icing. Jelly beans macaroon chocolate bar cupcake.
		</p> <br>
		<h4> Lorem ipsum dolor sit amet? </h4>
		<p> 
		Donut wafer liquorice marzipan pastry toffee toffee toffee sweet roll. Dragée gummi bears chocolate cake pudding applicake liquorice jelly croissant sesame snaps. Jujubes muffin topping cake chupa chups sweet jelly beans cake. Dragée chupa chups chupa chups. Gingerbread jelly-o ice cream halvah pudding donut gummi bears halvah. Gummi bears chocolate cake apple pie pie brownie. Pudding candy canes tiramisu powder chocolate bar. Apple pie oat cake sesame snaps pudding. Donut sesame snaps pudding gingerbread wafer. Jelly lollipop sugar plum unerdwear.com croissant. Macaroon marshmallow wafer pudding jelly beans brownie macaroon powder pie. Powder ice cream dessert ice cream ice cream dragée croissant. Soufflé cookie icing chocolate cake.
		</p><br>
		<h4> Lorem ipsum dolor sit amet? </h4>
		<p> 
		Lemon drops cupcake carrot cake pudding gingerbread carrot cake wafer candy canes. Sweet icing soufflé. Gingerbread unerdwear.com pastry. Macaroon lemon drops candy. Carrot cake bonbon chocolate bar chocolate bar fruitcake sesame snaps. Biscuit sesame snaps chocolate chocolate cake sugar plum biscuit macaroon tootsie roll. Chocolate caramels gummi bears tootsie roll pie. Carrot cake pastry halvah chocolate bar chupa chups. Lemon drops macaroon donut cake. Marzipan wafer cookie applicake lemon drops powder. Gummi bears carrot cake soufflé gummies donut. Powder liquorice dessert gingerbread donut chocolate bar. Lemon drops biscuit tiramisu marzipan oat cake bear claw chocolate bar unerdwear.com.
		</p>

	</div>
	<div class="col-md-4" >
		<h3 style="color:blue;"> What would you like help with? </h3><br>

		<a href="" style="color:dimgrey;"> Using Test Screen 			</a>	<br>
		<a href="" style="color:dimgrey;"> Using Systems Screen 		</a>	<br>
		<a href="" style="color:dimgrey;"> Using Users Screen 			</a>	<br>
		<a href="" style="color:dimgrey;"> Using Profile Screen			</a>	<br>
		<a href="" style="color:dimgrey;"> Using Login/Register Screen 	</a>	<br>
		<a href="" style="color:dimgrey;"> Using Evaluation Screen 		</a>	<br>
		<a href="" style="color:dimgrey;"> Using Settings Screen 		</a>	<br>

		<br> <br> <br>
		<a href=""> User manual </a>
	</div>
</div>
