<div class="page home clearfix">
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Home</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content" ng-bind-html="homeCtrl.html">
                </div>
            </div>
        </div>
    </div>
</div>