<div class="page index">
  <header>
        <div class="navbar-collapse nav-main-collapse collapse">
          <div class="container">
            <img ng-src="{{indexCtrl.logo}}" class="logo"/>
            <nav class="nav-main mega-menu">
              <ul class="nav nav-pills nav-main" id="mainMenu">
                <li ng-if="indexCtrl.AuthProvider.isAuthenticated() && !indexCtrl.DataService.user.onetime">
                  <a ui-sref="app.home">Home</a>
                </li>
                <li ng-if="indexCtrl.AuthProvider.isAuthenticated() && !indexCtrl.DataService.user.onetime">
                  <a class="pointer" ng-click="indexCtrl.onTestsClick()">Tests</a>
                </li>
                <li ng-if="indexCtrl.AuthProvider.isAuthenticated() && (indexCtrl.DataService.isSystemAdmin || indexCtrl.DataService.isCommunityAdmin) && !indexCtrl.DataService.user.onetime">
                  <a ui-sref="app.admin.dashboard.list" ng-click="indexCtrl.toAdmin()">Admin</a>
                </li>
                <!-- User menu item, show when authenticated -->
                <li class="dropdown mega-menu-item mega-menu-signin signin logged" id="headerAccount" ng-cloak ng-if="indexCtrl.userLoaded()">
                  <a class="dropdown-toggle">
                    <i class="fa fa-user"></i> {{indexCtrl.DataService.user.name}}
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="mega-menu-content">
                        <div class="row">
                          <div class="col-xs-7">
                            <div class="user-avatar">
                              <p><strong>{{indexCtrl.DataService.user.name}}</strong></p>
                              <p class="role-description" ng-if="indexCtrl.userFullyLoaded()">{{indexCtrl.DataService.getRoleDescription(false)}}</p>
                            </div>
                          </div>
                          <div class="col-xs-5">
                            <ul class="list-account-options">
                              <li ui-sref-active="active" ng-if="!indexCtrl.DataService.isDemoAccount() && (indexCtrl.DataService.configuration['sso.enabled'] || !indexCtrl.DataService.user.onetime) && indexCtrl.AuthProvider.isAuthenticated()">
                                <a class="pointer" ui-sref="app.settings.profile">Settings</a>
                              </li>
                              <li ng-if="indexCtrl.DataService.configuration['sso.enabled'] && indexCtrl.AuthProvider.isAuthenticated()">
                                  <a class="pointer" ng-click="indexCtrl.switchAccount()">Switch role</a>
                              </li>
                              <li>
                                <a class="pointer" ng-click="indexCtrl.logout()">Logout</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
  </header>

  <div class="child" ui-view>
  </div>

  <footer>
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img ng-src="{{indexCtrl.footer}}" class="pull-left"/>
          </div>
          <div class="col-md-6 version-div">
            <span class="pull-right"><a href ng-if="indexCtrl.showUserGuide()" ng-href="{{indexCtrl.userGuideLink()}}" target="blank">User guide</a><span ng-if="indexCtrl.showUserGuide()" class="version-text"> | </span><a href ng-if="indexCtrl.showProvideFeedback()" ng-href="{{indexCtrl.provideFeedbackLink()}}" target="blank">Provide feedback</a><span ng-if="indexCtrl.showProvideFeedback()" class="version-text"> | </span><a href ng-if="indexCtrl.showContactUs()" ng-click="indexCtrl.contactUs()">Contact support</a><span ng-if="indexCtrl.showContactUs()" class="version-text"> | </span><a href ng-click="indexCtrl.onLegalNotice()">Legal notice</a><span class="version-text"> | </span><span class="version-text">{{indexCtrl.version}}</span></span>
          </div>
      </div>
    </div>
  </footer>
</div>
