<div class="page index">
  <header>
        <div class="navbar-collapse nav-main-collapse collapse">
          <div class="container">
            <img ng-src="{{indexCtrl.logo}}" class="logo"/>
            <nav class="nav-main mega-menu">
              <ul class="nav nav-pills nav-main" id="mainMenu">
                <li>
                  <a ui-sref="app.home">Home</a>
                </li>
                <!--<li>-->
                  <!--<a ui-sref="app.tutorial">Tutorial</a>-->
                <!--</li>-->
                <li ng-if="indexCtrl.isAuthenticated">
                  <a class="pointer" ng-click="indexCtrl.onTestsClick()">Tests</a>
                </li>
                <li ng-if="indexCtrl.DataService.isSystemAdmin || indexCtrl.DataService.isCommunityAdmin">
                  <a ui-sref="app.admin.dashboard.list">Admin</a>
                </li>
                <!-- Login Menu Item -->
                <li class="dropdown mega-menu-item mega-menu-signin signin" id="headerAccount" ng-cloak ng-if="!indexCtrl.isAuthenticated">
                  <a class="dropdown-toggle" ng-click="indexCtrl.redirect('/login')">
                    <i class="fa fa-user"></i> Login
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="mega-menu-content">
                        <div class="row">
                          <div class="col-md-12">
                            <!-- Login -->
                            <div class="signin-form">
                              <!-- include reusable login form component -->
                              <ng-include src="'assets/views/login-form.html'"></ng-include>
                            </div>
                            <!-- Register -->
                            <div class="signup-form">
                              <!-- include reusable register form component -->
                              <ng-include src="'assets/views/register-form.html'"></ng-include>

                              <p class="log-in-info">Already have an account? <a href="#" id="headerSignIn">Log In!</a></p>
                            </div>
                            <!-- Reset Password -->
                            <div class="recover-form">
                              <!-- include reusable reset form component -->
                              <ng-include src="'assets/views/recover-form.html'"></ng-include>

                              <p class="log-in-info">Already have an account? <a href="#" id="headerRecoverCancel">Log In!</a></p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <!-- User menu item, show when authenticated -->
                <li class="dropdown mega-menu-item mega-menu-signin signin logged" id="headerAccount" ng-cloak ng-if="indexCtrl.isAuthenticated">
                  <a class="dropdown-toggle" ng-click="indexCtrl.redirect('/settings')">
                    <i class="fa fa-user"></i> {{indexCtrl.DataService.user.name}}
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="mega-menu-content">
                        <div class="row">
                          <div class="col-md-8">
                            <div class="user-avatar">
                              <!-- <div class="img-thumbnail"> -->
                              <!--   <img src="assets/images/clients/client.jpg" alt=""> -->
                              <!-- </div> -->
                              <p><strong>{{indexCtrl.DataService.user.name}}</strong><!-- <span>CEO & Founder - Okler</span> --></p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <ul class="list-account-options">
                              <li>
                                <a class="pointer" ng-click="indexCtrl.redirect('/settings')">Settings</a>
                              </li>
                              <li>
                                <a class="pointer" ng-click="indexCtrl.logout()">Log Out</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
  </header>

  <div class="child" ui-view>
  </div>

  <footer>
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img ng-src="{{indexCtrl.footer}}" class="img-responsive pull-left"/>
          </div>
          <div class="col-md-6 version-div">
            <span class="pull-right"><a href ng-if="indexCtrl.showProvideFeedback()" ng-href="{{indexCtrl.provideFeedbackLink()}}" target="blank">Provide feedback</a><span ng-if="indexCtrl.showProvideFeedback()" class="version-text"> | </span><a href ng-if="indexCtrl.showContactUs()" ng-click="indexCtrl.contactUs()">Contact support</a><span ng-if="indexCtrl.showContactUs()" class="version-text"> | </span><a href ng-click="indexCtrl.onLegalNotice()">Legal notice</a><span class="version-text"> | </span><span class="version-text">{{indexCtrl.version}}</span></span>
          </div>
      </div>
    </div>
  </footer>
</div>
