<div class="row" ng-controller="LoginController as lc">
    <h4>Login
        <span class="tab" ng-if="lc.spinner"><i class="fa fa-spinner fa-spin"></i></span>
    </h4>

    <form type="post" >
        <!-- Error messages -->
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <alert ng-repeat="alert in lc.alerts" type="{{alert.type}}" close="lc.closeAlert($index)">{{alert.msg}}</alert>
                </div>
            </div>
        </div>

        <!-- Actual form components -->
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label>E-mail address</label>
                    <input type="email" class="form-control" ng-model="email" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="password">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 8px;"> <!-- REMOVE INLINE STYLES -->
            <div class="col-md-6">
                <span class="remember-box checkbox">
                    <label for="rememberme">
                        <input type="checkbox" id="rememberme" name="rememberme" ng-model="rememberme">Remember me
                    </label>
                </span>
            </div>
            <div class="col-md-6">
                <input type="submit" ng-click="lc.login()" value="Login" class="btn btn-default pull-right push-bottom" >
            </div>
        </div>
        <div class="row div-spaced">
            <div class="form-group">
                <div class="col-md-12 bg-info div-rounded">
                    <p class="form-control-static"><b>Privacy note:</b> By clicking 'Login' you consent to the use of cookies to manage your session. Please refer to the legal notice (link available in the screen's footer) for more information.</p>
                </div>
            </div>
        </div>
    </form>
</div>
