<div id="content" class="page main content full" >
  <div class="slider-container">
    <div class="slider" id="revolutionSlider">
      <ul>
        <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

          <img src="assets/images/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

          <div class="tp-caption main-label sft stb"
               data-x="30"
               data-y="210"
               data-speed="300"
               data-start="1500"
               data-easing="easeOutExpo">GITB</div>

          <div class="tp-caption bottom-label sft stb"
               data-x="80"
               data-y="280"
               data-speed="500"
               data-start="2000"
               data-easing="easeOutExpo">a self conformance testing</div>
          
          <div class="tp-caption bottom-label sft stb"
               data-x="80"
               data-y="310"
               data-speed="500"
               data-start="2000"
               data-easing="easeOutExpo">service for</div>
          
          <div class="tp-caption bottom-label sft stb"
               data-x="80"
               data-y="340"
               data-speed="500"
               data-start="2000"
               data-easing="easeOutExpo">interoperability standards</div>

        </li>
      </ul>
    </div>
  </div>

  <div class="home-intro">
    <div class="container">

      <div class="row">
        <div class="col-md-8">
          <p>
            The best way of testing conformance and interoperability of applications.
          </p>
        </div>
        <div class="col-md-4">
          <div class="get-started">
            <a ui-sref="app.register" class="btn btn-lg btn-primary">Get Started Now!</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="assets/components/theme.js"></script>
<script src="assets/components/views/view.home.js"></script>
