<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Login</h2>
            </div>
        </div>
    </div>
</section>

<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="row featured-boxes login">
                <div class="col-md-6">
                    <div class="featured-box featured-box-secundary default info-content">
                        <div class="box-content">

                            <!-- include reusable password change form -->
                            <ng-include src="'assets/views/password-change.html'"></ng-include>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
