<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Page 1</h2>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-controller="Page1Controller as pc">

    <div class="row">
        <div class="col-md-11">
            <p class="lead">
                To create a new instance of a testcase, please select a testcase and a party from the lists below. Then you can execute the testcase by clicking <strong>Execute</strong> button.
            </p>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default pull-right" ng-click="pc.redirect('/page2')">Execute</button>
        </div>
    </div>

    <hr class="tall">

    <div class="row">
        <div class="col-md-4">
            <h5>Testsuite Selection</h5>
            <div class="gridStyle" ng-grid="suiteGrid" ng-click="pc.testSuiteSelected()"></div>
        </div>

        <div class="col-md-6">
            <h5>Testcase Selection</h5>
            <div class="gridStyle" ng-grid="pc.caseGrid"></div>
        </div>

        <div class="col-md-2">
            <h5>Party Selection</h5>
            <div class="gridStyle" ng-grid="pc.partyGrid"></div>
        </div>
    </div>

    <hr class="tall">

    <div class="row">
        <div class="col-md-10">
            <h3>Testsuites</h3>
            <accordion close-others="true" >
                <accordion-group is-open="status.open" ng-repeat="suite in suites" ng-click="testcases = suites[$index].testcases">
                    <accordion-heading >
                        {{suite.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                        <div class="gridStyle"ng-grid="pc.caseGrid"></div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-2">
            <h3>Parties</h3>
                <div class="gridStyle" ng-grid="pc.partyGrid"></div>
            </div>
        </div>
    </div>
</div>

<script src="assets/components/theme.js"></script>