<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Page 2</h2>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-controller="Page2Controller as pc">
    <div class="row">
        <div class="col-md-11">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
            </p>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default pull-right " ng-click="pc.redirect('/execution')">Send</button>
        </div>
    </div>

    <hr class="tall">

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Test step report</h4>
            </div>
            <div class="panel-body">
                <div test-step-report step="" report="pc.report.report"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Configuration List</h3>

        <table class="table table-bordered" >
            <thead >
                <tr>
                    <th class="grid-header-center">CPA-ID</th>
                    <th class="grid-header-center">From</th>
                    <th class="grid-header-center">To</th>
                    <th class="grid-header-center">CPA-Type</th>
                    <th class="grid-header-center">Edit / Show</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="config in pc.configurations">
                    <!-- vertical-align:middle did not work in css :( -->
                    <td class="grid-row-center" style="vertical-align:middle;">{{config.id}}</td>
                    <td class="grid-row-center" style="vertical-align:middle;">{{config.from}}</td>
                    <td class="grid-row-center" style="vertical-align:middle;">{{config.to}}</td>
                    <td class="grid-row-center" style="vertical-align:middle;">{{config.type}}</td>
                    <td class="grid-row-center">
                        <button class="btn btn-default col-centered" data-toggle="modal" data-target="#myModal">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

    <div class="row">
        <h3>Preliminary Data List</h3>
        <table class="table table-bordered" >
            <thead >
                <tr>
                    <th class="grid-header-center">Inf. name</th>
                    <th class="grid-header-center">Description</th>
                    <th class="grid-header-center">Enter</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in pc.preliminary">
                    <!-- vertical-align:middle did not work in css :( -->
                    <td class="grid-row-center" style="vertical-align:middle;">{{data.name}}</td>
                    <td class="grid-row" style="vertical-align:middle;">{{data.description}}</td>
                    <td class="grid-row-center">
                        <input type="text" value="{{data.value}}"  class="form-control" ng-model="data.value" >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Configuration</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="" id="validatedForm" type="post">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>CPA ID</label>
                                    <input type="text" value="" data-msg-required="Please enter CPA ID" class="form-control" ng-model="name" name="name" id="name">
                                </div>

                                <div class="col-md-6">
                                    <label>CPA Type</label>
                                    <input type="text" value="" data-msg-required="Please enter CPA Type"  class="form-control" ng-model="email" name="email" id="email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>From Party</label>
                                    <input type="text" value="" data-msg-required="Please enter From Party" class="form-control" ng-model="sname" name="sname" id="sname">
                                </div>
                                <div class="col-md-6">
                                    <label>To Party</label>
                                    <input type="text" value="" data-msg-required="Please enter To Party" class="form-control" ng-model="fname" name="fname" id="fname">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <h5>Initiating Party</h5>
                    <form action="" id="validatedForm1" type="post">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Hostname</label>
                                    <input type="text" value="" data-msg-required="Please enter CPA ID" class="form-control" ng-model="name" name="name" id="name">
                                </div>
                                <div class="col-md-6">
                                    <label>Port</label>
                                    <input type="text" value="" data-msg-required="Please enter From Party" class="form-control" ng-model="sname" name="sname" id="sname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Endpoint</label>
                                    <input type="text" value="" data-msg-required="Please enter To Party" class="form-control" ng-model="fname" name="fname" id="fname">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <h5>Responding Party</h5>

                    <form action="" id="validatedForm1" type="post">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Hostname</label>
                                    <input type="text" value="" data-msg-required="Please enter CPA ID" class="form-control" ng-model="name" name="name" id="name">
                                </div>
                                <div class="col-md-6">
                                    <label>Port</label>
                                    <input type="text" value="" data-msg-required="Please enter From Party" class="form-control" ng-model="sname" name="sname" id="sname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Endpoint</label>
                                    <input type="text" value="" data-msg-required="Please enter To Party" class="form-control" ng-model="fname" name="fname" id="fname">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default">Save changes</button>
            </div>
        </div>
    </div>
</div>
