<div ng-controller="PasswordController as pc">

    <div class="row">
        <h4>Change Password
            <span class="tab" ng-if="pc.passwordSpinner"><i class="fa fa-spinner fa-spin"></i></span>
        </h4>
        <p>Change your current password, or reset the existing one</p>
    </div>

    <div class="row">
        <form >
            <div class="row">
                <div class="form-group col-md-6">
                    <alert ng-repeat="alert in pc.alerts" type="{{alert.type}}" close="pc.closeAlert($index)">{{alert.msg}}</alert>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Current Password</label>
                    <input type="password"  class="form-control" ng-model="data.currentPassword">
                    <a ng-click="pc.resetPassword()" class="pull-right">(Forgot Password?)</a>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>New Password</label>
                    <input type="password"  class="form-control" ng-model="data.password1" >
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" ng-model="data.password2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Save" ng-click="pc.updatePassword()" class="btn btn-info pull-right push-bottom" >
                </div>
            </div>
        </form>
    </div>
</div>