<div class="container" ng-controller="ProfileController as pc">
    <div class="row">
            <a style="float:right;margin-right:15px;" ng-click="pc.updateProfiles()" data-toggle="modal" data-target="#pwdConfirm"
                        ng-show="show1 || show2 "> Save changes </a>
    </div>

    <div class="panel panel-default">

        <div class="panel-heading" style="font-weight:bold;">
            <div class="row">
                <div class="col-md-6">USER INFORMATION</div>
                <div class="col-md-6" >
                    <a href="" class="pull-right" ng-show="!show1" ng-click="show1 = true; show2 = true;" style="font-size:medium;">
                        <span class="glyphicon glyphicon-pencil"> </span> Edit
                    </a>

                </div>
            </div>
        </div>

        <div class="panel-body" >
            <div class = "row" >
                <div class="col-md-2 profile-first-column"> NAME: </div>
                <div class="col-md-10"  ng-show="!show1"> {{pc.DataService.user.name}} </div>
                <div class="col-md-10" ng-show="show1">
                    <input ng-model="uName" type="text" class="form-control" placeholder="{{pc.DataService.user.name}}"style="width:60%;"> </input>
                </div>
            </div>
            <br>


            <div class = "row" >
                <div class="col-md-2 profile-first-column"> EMAIL: </div>
                <div class="col-md-10"> {{pc.DataService.user.email}} </div>
            </div>
            <br>


            <div class = "row">
                <div class="col-md-2 profile-first-column"> ROLE: </div>
                <div class="col-md-10"> {{pc.DataService.user.role}} </div>
            </div><br>

            <div class = "row">
                <a style="float:right; margin-right:5px;" href="" ng-click="showPassChange = true" ng-show="!showPassChange"> Change Password </a>
            </div>


            <div class = "row" ng-show="showPassChange">
                <div class="col-md-2 profile-first-column" style="width:19%"> CHANGE PASSWORD: </div>
                <div class="col-md-3">
                    <input type="password" class="form-control" placeholder="Old Password" ng-model="oPwd" style="width:100%;float:left;"> </input>
                </div>
                <div class="col-md-3">
                    <input type="password" class="form-control" placeholder="New Password" ng-model="nPwd" style="width:100%;float:left;"> </input>
                </div>
                <!--div class="col-md-3">
                    <input type="text" class="form-control" placeholder="New Password Confirmation" style="width:100%;float:left;"> </input>
                </div-->
                <!--div class="col-md-1" style="margin-left: -18px; width: 5%;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="changePwd()" > Save </button>
                    </div>
                </div-->
            </div>
        </div>

        <div class="panel-heading" style="font-weight:bold;">
            <div class="row">
                <div class="col-md-6">ORGANISATION INFORMATION</div>
                <div class="col-md-6" ng-show="canEdit">
                    <a href="" class="pull-right" ng-show="!show2" ng-click="show2 = true;" style="font-size:medium;">
                        <span class="glyphicon glyphicon-pencil"> </span> Edit
                    </a>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class = "row" >
                <div class="col-md-2 profile-first-column"> NAME: </div>
                <div class="col-md-10"  ng-show="!show2"> {{pc.DataService.user.organization.fname}} ({{pc.DataService.user.organization.sname}}) </div>

                <div class="col-md-5" ng-show="show2" >
                    <input ng-model="oFName" type="text" class="form-control" placeholder="{{pc.DataService.user.organization.fname}}"  style="width:90%;"> </input>
                </div>
                <div class="col-md-5" ng-show="show2" >
                    <input ng-model="oSName" type="text" class="form-control" placeholder="{{pc.DataService.user.organization.sname}}" style="width:90%;"> </input>
                </div>
            </div>
            <br>


            <div class = "row" >
                <div class="col-md-2 profile-first-column" > TYPE: </div>
                <div class="col-md-10"> {{pc.DataService.user.organization.type}} </div>
            </div>
            <br>


            <!--div class = "row">
                <div class="col-md-2 profile-first-column"> ADMIN: </div>
                <div class="col-md-10"> {{orgadmin}} </div>
            </div -->


        </div>
    </div>



</div>


<!--Modal Password Confirmation BEGINNING-->
<div class="modal fade" id="pwdConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <br>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="font-weight:none;">To save these settings, please enter your password.</h4>
            </div>
            <div class="modal-body">
                <br>
                <input type="text" class="form-control" placeholder="Password" style="width:90%;"> </input>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updateProfileInfo()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal password Confirmation END-->