<div ng-controller="UserProfileController as pc">
    <div class="row">
        <h4>Profile
            <span class="tab" ng-if="pc.spinner"><i class="fa fa-spinner fa-spin"></i></span>
        </h4>
    </div>

    <div class="row">

        <div class="row">
            <div class="form-group">
                <div uib-alert ng-repeat="alert in pc.alerts" ng-class="'alert-' + alert.type" close="pc.closeAlert($index)">{{alert.msg}}</div>
            </div>
        </div>

        <table class="table">
            <thead >
            <tr>
                <th class="grid-header col-md-4">Name</th>
                <th class="grid-header col-md-6">Email</th>
                <th class="grid-header col-md-2">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="grid-row col-md-4">
                    <span  ng-if="!pc.edit">{{data.name}}</span>
                    <input ng-if="pc.edit" type="text" class="form-control-little" ng-model="data.name">
                </td>
                <td class="grid-row col-md-6">{{data.email}}</td>
                <td class="grid-row col-md-2">{{data.role}}</td>
            </tr>
            </tbody>
        </table>

        <div class="float-left">
            <button type="button" class="btn btn-default" ng-if="!pc.edit" ng-click="pc.editProfile()">Edit profile</button>
            <button type="button" class="btn btn-default" ng-if="pc.edit"  ng-click="pc.updateProfile()">Save changes</button>
            <button type="button" class="btn btn-default" ng-if="pc.edit"  ng-click="pc.cancelEdit()">Cancel</button>
        </div>
        <div class="row bg-info div-rounded div-spaced div-padded-sides" ng-if="pc.edit">
            <p class="form-control-static"><b>Privacy note:</b> By clicking 'Save changes' you grant consent to record the provided information. This is used only for internal identification purposes and is never shared with other parties. Alternatively you may also complete this form with information that is not personally identifiable. Please refer to the legal notice (link available in the screen's footer) for more information.</p>
        </div>

    </div>
</div>