<div class="row" ng-controller="RecoverController as rc">

    <h4>Reset My Password
        <span class="tab" ng-if="rc.spinner"><i class="fa fa-spinner fa-spin"></i></span>
    </h4>

    <p>Complete the form below to receive an email with the authorization code needed to reset your password.</p>

    <form  type="post">
        <!-- Error messages -->
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <alert ng-repeat="alert in rc.alerts" type="{{alert.type}}" close="rc.closeAlert($index)">{{alert.msg}}</alert>
                </div>
            </div>
        </div>

        <!-- Actual form components -->
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label>E-mail Address</label>
                    <input type="email" class="form-control" ng-model="email" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Submit" ng-click="rc.reset()" class="btn btn-default pull-right push-bottom">
            </div>
        </div>
    </form>
</div>