<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Register</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row featured-boxes login">
                <div class="col-md-6">
                    <div class="featured-box featured-box-green default info-content">
                        <div class="box-content">
                            <!-- include reusable register form component -->
                            <ng-include src="'assets/views/register-form.html'"></ng-include>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6"> -->
                <!--     <div class="featured-box featured-box-secundary default info-content"> -->
                <!--         <div class="box-content"> -->
                <!--             <h4>Why Register?</h4> -->
                <!--             <div class="row"> -->
                <!--                 <div class="col-md-12"> -->
                <!--                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisi sem, fringilla sit amet placerat non, iaculis a tortor. Morbi scelerisque felis eros, ac venenatis ipsum condimentum suscipit.</p> -->
                <!--                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisi sem, fringilla sit amet placerat non, iaculis a tortor. Morbi scelerisque felis eros, ac venenatis ipsum condimentum suscipit.</p> -->
                <!--                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisi sem, fringilla sit amet placerat non, iaculis a tortor. Morbi scelerisque felis eros, ac venenatis ipsum condimentum suscipit.</p> -->
                <!--                 </div> -->
                <!--             </div> -->
                <!--             <a href="#/login">Already have an account?</a> -->
                <!--         </div> -->
                <!--     </div> -->
                <!-- </div> -->
            </div>

        </div>
    </div>
</div>
