<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Test Result Report</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-md-10">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
            </p>
        </div>
        <div class="col-md-2">
            <div class="row"></div>
            <button type="button" class="btn btn-default pull-right ">Email Test Report</button>
            <br> <br>
            <button type="button" class="btn btn-default pull-right ">Download as PDF</button>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr >
                <td class="col-md-1 grid-header"><h5>Status</h5> </td>
                <td class="col-md-11 grid-row">:<span class="tab"></span>Completed</td>
            </tr>
            <tr >
                <td class="col-md-1 grid-header"><h5>Seq Id</h5> </td>
                <td class="col-md-11 grid-row">:<span class="tab"></span>_0</td>
            </tr>
            <tr >
                <td class="col-md-1 grid-header"><h5>Test Step Id</h5> </td>
                <td class="col-md-11 grid-row">:<span class="tab"></span>1</td>
            </tr>
            <tr >
                <td class="col-md-1 grid-header"><h5>Test Suite</h5> </td>
                <td class="col-md-11 grid-row">:<span class="tab"></span>NES_SimpleProcurement</td>
            </tr>
            <tr >
                <td class="col-md-1 grid-header"><h5>Test Case</h5> </td>
                <td class="col-md-11 grid-row">:<span class="tab"></span>BasicTestScenario_AcceptedOrderInvoiceMismatch_Customer</td>
            </tr>
            <tr >
                <td class="col-md-1 grid-header"><h5>Description</h5> </td>
                <td class="col-md-11 grid-row">:<span class="tab"></span>Verification Report</td>
            </tr>
            <tr >
                <td class="col-md-1 grid-header"><h5>Time</h5> </td>
                <td class="col-md-11 grid-row">:<span class="tab"></span>13 Ağustos 2014 - 14:16</td>
            </tr>
            <tr >
                <td class="col-md-1 grid-header"><h5>Result</h5> </td>
                <td class="col-md-11 grid-row">:<span class="tab"></span>Passed</td>
            </tr>
            <tr >
                <td class="col-md-1 grid-header"><h5>Report</h5> </td>
                <td class="col-md-11 grid-row">:
                    <br>
                    <br>
                    <h5>Verification Report</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>