<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Settings</h2>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-controller="TabController as tc">
    <div class="row">
        <div class="col-md-3">
            <aside class="sidebar">
                <ul class="nav nav-list primary push-bottom">
                    <li><a ng-class="tc.selectFontClass(1)" ng-click="tc.selectTab(1)">Profile</a></li>
                    <li><a ng-class="tc.selectFontClass(2)" ng-click="tc.selectTab(2)">Organization</a></li>
                    <li><a ng-class="tc.selectFontClass(3)" ng-click="tc.selectTab(3)">Password</a></li>
                    <!-- <li><a ng-class="tc.selectFontClass(4)" ng-click="tc.selectTab(4)">Services</a></li> -->
                    <!-- <li><a ng-class="tc.selectFontClass(5)" ng-click="tc.selectTab(5)">Upgrade</a></li> -->
                </ul>

            </aside>
        </div>
        <!-- Profile -->
        <div class="col-md-9" ng-if="tc.selectedTab == 1">
            <ng-include src="'assets/views/profile-view.html'"></ng-include>
        </div>

        <!-- Organization -->
        <div class="col-md-9" ng-if="tc.selectedTab == 2">
            <ng-include src="'assets/views/organization-view.html'"></ng-include>
        </div>

        <!-- Password -->
        <div class="col-md-9"  ng-if="tc.selectedTab == 3">
            <ng-include src="'assets/views/password-change.html'"></ng-include>
        </div>

        <!-- Services -->
        <!-- <div class="col-md-9"  ng-if="tc.selectedTab == 4"> -->
        <!--     <h4>Services</h4> -->

        <!--     <p> -->
        <!--         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum. -->
        <!--     </p> -->
        <!--     <p> -->
        <!--         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum. -->
        <!--     </p> -->
        <!--     <p > -->
        <!--         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum. -->
        <!--     </p> -->
        <!-- </div> -->

        <!-- Upgrade -->
        <!-- <div class="col-md-9" ng-if="tc.selectedTab == 5"> -->
        <!--     <h4>Upgrade</h4> -->

        <!--     <p> -->
        <!--         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum. -->
        <!--     </p> -->
        <!--     <p> -->
        <!--         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum. -->
        <!--     </p> -->
        <!--     <p > -->
        <!--         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum. -->
        <!--     </p> -->
        <!-- </div> -->
    </div>
</div>
