<div class="container" style="width:95%;">
    <div class="panel-group row" id="accordion">
        <div class="panel panel-default" ng-repeat="spec in specifications track by $index">
            <div class="panel-heading" ng-click="selectPanel($index)">
                <h4 class="panel-title">
                    <a data-parent="#accordion" href="">{{spec.name}}</a>
                </h4>
            </div>
            <div class="panel-body" ng-if="toggleSpec($index)">
                <div class="row" style="text-align:center">
                    <div class="btn-group " >
                        <button type="button" class="btn btn-default btn-lg " ng-repeat="actor in spec.actors track by $index" ng-click="changeActor(actor)">
                            <strong>{{actor}}</strong>
                        </button>
                    </div>
                </div>
                <table class="usersTable table table-striped " ng-show="isSpecVisible" width="100%" style="table-layout: fixed;">
                    <br>
                        <tr>
                            <th class="tableHeader" style="width:10%;"> Name </th>
                            <th class="tableHeader" style="width:6%;" > Version </th>
                            <th class="tableHeader" style="width:14%;"> Tested By </th>
                            <th class="tableHeader" style="width:10%;"> Original Date </th>
                            <th class="tableHeader" style="width:10%;"> Modification Date </th>
                            <th class="tableHeader" style="width:40%;"> Description </th>
                            <th class="tableHeader" style="width:10%;"> Optionality </th>
                        </tr>


                        <tr ng-repeat="test in tests track by $index" ng-if="check(test,currentActor,spec.name)">
                            <td style="text-align:center;"> {{test.sname}} </td>
                            <td style="text-align:center;"> {{test.version}} </td>
                            <td style="text-align:center;"> {{test.authors[test.authors.length-1]}} </td>
                            <td style="text-align:center;"> {{test.origDate}} </td>
                            <td style="text-align:center;"> {{test.modifDate}} </td>
                            <td style="text-align:center;"> {{test.description}} </td>
                            <td style="text-align:center;">
                                <p ng-repeat="opt in test.target_optionalities track by $index"> {{opt}} </p>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>