<div class="container" style="width:50%;height:90%;">


    <!-- System Registration Step 1 -->
    <div id="systemRegistrationStep1" class="panel" ng-show="step1">

        <div class="panel-heading" style="font-weight:bold;">
            <div class="row">
                <div class="col-md-6">REGISTER A NEW SYSTEM</div>
            </div>
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-4 profile-first-column">
                    SYSTEM NAME:
                    <div id="label1" class="pull-right" ng-show="noFullName">
                        <label style="color:red;">*</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <input ng-model="systemFullName" type="text" class="form-control" placeholder="System Full Name"></input>
                </div>
            </div>
            <br>



            <div class="row">
                <div class="col-md-4 profile-first-column">
                    <div id="label2" class="pull-right" ng-show="noShortName">
                        <label style="color:red;">*</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <input ng-model="systemShortName" type="text" class="form-control" placeholder="System Short Name" style="width:80%;"></input>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 profile-first-column">
                    <label>ADMINS:</label>
                </div>
                <div class="col-md-8 dropdown">

                    <div ng-repeat="ad in selectedAdmins" class="adminListing">
                        {{ad.name}}
                        <a ng-click="removeAdmin(ad)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>

                    <div class=" dropdown-toggle" data-toggle="dropdown" ng-click="onMouseClicked()">
                        <!--facebooktaki grup konusmasi secimi gibi yap -->
                        <input get-users-input type="text" class="form-control" ng-model="search" placeholder="Search">
                    </div>

                    <ul style="width:100%;" class="dropdown-menu" role="menu" ng-show="isPopupVisible">
                        <li class="" get-users-dropdown ng-repeat="user in userList | filter:search | limitTo:8" user="user" on-item-clicked="onItemClicked" role="presentation" ng-click="itemClicked(user)"></li>
                    </ul>

                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4 profile-first-column">
                    VERSION:
                    <label style="color:red;float:right;" ng-show="noVersion">*</label>
                </div>
                <div class="col-md-8">
                    <input ng-model="systemVersion" type="text" class="form-control" placeholder="System Version"></input>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 profile-first-column">
                    <label>DESCRIPTION:</label>
                </div>
                <div class="col-md-8">
                    <input ng-model="systemDescription" type="text" class="form-control" placeholder="System Description"></input>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <a href="" class="pull-right sysreg-button" ng-click="saveFirstStep();" style="margin-right:15px;color:#23245D;">Next</a>
            </div>
        </div>
    </div>
    <!-- System Registration Step 1 END -->






    <!-- System Registration Step 2 -->
    <div id="systemRegistrationStep2" class="panel " ng-show="step2" style="max-height:600px;">

        <div class="panel-heading" style="font-weight:bold;">
            <div class="row">
                <div class="col-md-6">REGISTER A NEW SYSTEM</div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 profile-first-column" ng-show="!locked">SELECT DOMAIN:</div>
                <div class="col-md-8" ng-show="!locked">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" style="color:black;"> {{testDoms[indexOfDomain].domainName}}
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>


                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" ng-repeat="domItem in testDoms track by $index">
                            <a role="menuitem" tabindex="-1" href="" ng-click="domainChange(domItem.id)">{{domItem.domainName}}</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-4 profile-first-column" ng-show="locked">DOMAIN:</div>
                <div class="col-md-8" ng-show="locked">
                    <p>{{testDoms[indexOfDomain].domainName}}</p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-6 profile-first-column" ng-show="!locked">SELECT SPECIFICATION:</div>
                <div class="col-md-12 profile-first-column" ng-show="locked">SELECT ACTORS FOR EACH SPECIFICATION AND OPTIONS FOR EACH ACTOR:</div>

            </div>
            <br>
            <div class="box" ng-show="!locked">
                <!--div class="row" >
                    <a href="" ng-click="step2 = false; step3=true;"> Save </a>
                </div-->
                <div class="row" ng-repeat="specItem in testSpecs">
                    <input type="checkbox" name="selectedSpecifications[]" value="{{specItem.sname}}" ng-checked="selection.indexOf(specItem.sname) > -1" ng-click="toggleSpecificationSelection(specItem)">{{specItem.sname}}</input>

                </div>
            </div>

            <div class="box" ng-show="locked">
                <div class="row" ng-repeat="specItem in testSpecs | filter:isSelected">
                    <a href="" ng-click="downgly = !downgly" ng-show="!downgly" style="color:#23245D;" title="{{specItem.fname}} &#13; Description : {{specItem.description}}">
                        <span class="glyphicon glyphicon-chevron-right"></span>{{specItem.sname}}</a>
                    <a href="" ng-click="downgly = !downgly" ng-show="downgly" style="color:#23245D;" title="{{specItem.fname}} &#13; Description : {{specItem.description}}">
                        <span class="glyphicon glyphicon-chevron-down"></span>{{specItem.sname}}</a>


                    <div class="row" ng-show="downgly">
                        <div class="col-md-12">
                            <div class="row" ng-repeat="specItemActor in specItem.actors" style="margin-left:1em;">
                                <input type="checkbox" name="selectedActors[]" value="{{specItemActor.name}}" ng-checked="selection.indexOf(specItemActor.name) > -1" ng-click="toggleActorSelection(specItem, specItemActor); showOpt = !showOpt;">{{specItemActor.sname}}</input>
                                <br>

                                <div class="row" ng-repeat="specItemOption in specItemActor.options" style="margin-left:2em;" ng-show="showOpt">
                                    <input type="checkbox" name="selectedOptions[]" value="{{specItemOption.name}}" ng-checked="selection.indexOf(specItemOption.name) > -1" ng-click="toggleOptionSelection(specItem, specItemActor, specItemOption)">{{specItemOption.sname}}</input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <a href="" ng-click="locked=false;" ng-show="locked" style="margin-left:15px;color:#23245D;"> Back </a>
                <a href="" ng-click="step1=true;step2=false;" ng-show="!locked" style="margin-left:15px;color:#23245D;"> Back </a>

                <a class=" pull-right sysreg-button" href="" ng-click="locked=true;setDomain();" ng-show="!locked" style="margin-right:15px;color:#23245D;"> Lock Specification</a>

                <a href="" class=" pull-right sysreg-button" ng-click="step2 = false; step3=true;" style="margin-right:15px;color:#23245D;" ng-show="locked">Next</a>
            </div>
        </div>
    </div>


    <!-- System Registration Step 2 END -->





    <!-- System Registration Step 3 -->
    <div id="systemRegistrationStep3" class="panel " ng-show="step3">

        <div class="panel-heading" style="font-weight:bold;">
            <div class="row">
                <div class="col-md-6">CONFIGURATION OF THE SYSTEM</div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 profile-first-column">IP:</div>
                <div class="col-md-8">
                    <input ng-model="ip" type="text" class="form-control" placeholder="IP"></input>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 profile-first-column">PORT:</div>
                <div class="col-md-8">
                    <input ng-model="portNum" type="text" class="form-control" placeholder="Port Number"></input>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 profile-first-column">EXTENSION</div>
                <div class="col-md-8">
                    <input ng-model="extension" type="text" class="form-control" placeholder="Extension"></input>
                </div>
            </div>
            <br>

        </div>
        <div class="panel-footer">
            <div class="row">
                <a href="" ng-click="step2=true;step3=false;locked=true;" style="margin-left:15px;color:#23245D;"> Back </a>
                <a href="" class="pull-right sysreg-button" ng-click="step4 = true; step3=false; saveThirdStep();" style="margin-right:15px;color:#23245D;">Next</a>
            </div>
        </div>
    </div>


    <!-- System Registration Step 3 END -->




    <!-- System Registration Step 4 -->
    <div id="systemRegistrationStep4" class="panel" ng-show="step4">

        <div class="panel-heading" style="font-weight:bold;">
            <div class="row">
                <div class="col-md-6">NEW SYSTEM HAS REGISTERED</div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 profile-first-column">SYSTEM NAME:</div>
                <div class="col-md-8">
                    <p>{{system.fullname}} ({{system.shortname}})</p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 profile-first-column">OWNER OF THE SYSTEM:</div>
                <div class="col-md-8">
                    <p>{{system.owner}}</p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 profile-first-column">ADMIN:</div>
                <div class="col-md-8">
                    <p>{{system.admin}}</p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 profile-first-column">VERSION:</div>
                <div class="col-md-8">
                    <p>{{system.version}}</p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 profile-first-column">DESCRIPTION:</div>
                <div class="col-md-8">
                    <p>{{system.description}}</p>
                </div>
            </div>
            <br>



            <div class="row">
                <div class="col-md-4 profile-first-column">SYSTEM CONFIGURATION:</div>
                <div class="col-md-8">
                    <p>{{system.ip}}:{{system.portNum}}{{system.extension}}</p>
                </div>
            </div>
            <br>




            <div class="row">
                <div class="col-md-4 profile-first-column">DOMAIN:</div>
                <div class="col-md-8">
                    <p>{{system.domain}}</p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-12 profile-first-column">SPECIFICATIONS:</div>
                <br>
                <div class="col-md-12">

                    <div class="box" style="max-height:230px;">

                        <div style=" margin-left : 1em;  width : 100%;">
                            <div class="row" ng-repeat="specItem in testSpecs | filter:isSelected">
                                <p style="font-weight:bold;">{{specItem.sname}} :</p>

                                <!--label style="margin-left:5em;"> Actors : </label-->
                                <div class="row" ng-repeat="specItemActor in specItem.actors | filter:isSelectedActors" style="margin-left:1em;">
                                    <i> <small class="glyphicon glyphicon-play"> </small> {{specItemActor.sname}} </i>
                                    <br>
                                    <!--label style="margin-left:5em;">  Options :  </label-->

                                    <p ng-repeat="specItemOption in specItemActor.options | filter:isSelectedOptions" style="margin-left:2em;">
                                        <small class="glyphicon glyphicon-play"></small>{{specItemOption.sname}}
                                    </p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <a href="" ng-click="step3=true;step4=false;" style="margin-left:15px;color:#23245D;"> Back </a>
                <a href="#/specs" class="pull-right sysreg-button" style="margin-right:15px;color:#23245D;" ng-click="regSystem()">Finish</a>
            </div>
        </div>


    </div>
    <!-- System Registration Step 4 END -->

</div>
