<div class="row">
    <div ng-include="'testSteps'"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default pull-right" type="button" ng-click="testPresentationCtrl.back()">Back</button>    
    </div>
</div>
<script type="text/ng-template" id="testSteps">

    <div ng-repeat="step in steps" ng-switch on="step.type" style='margin-top:10px;' ng-class="testPresentationCtrl.divClassForStatus(step.status)">

        <!-- messaging step -->
        <div ng-switch-when="msg">
            <div class="col-md-7">
                <span class="mini-tab"><i title="{{testPresentationCtrl.tooltipForStatus(step.status)}}" ng-class="testPresentationCtrl.iconClassForStatus(step.status)"></i></span>
                <strong>{{step.id}}. </strong> {{step.desc}}
            </div>
            <div class="col-md-4 right">
                <span ng-class="testPresentationCtrl.labelClassForStatus(step.status)">{{step.from}}</span>
                <span><i class="fa fa-long-arrow-right fa-lg"></i></span>
                <span ng-class="testPresentationCtrl.labelClassForStatus(step.status)">{{step.to}}</span>
            </div>
            <div class="col-md-1">
                <!-- TODO handle reporting -->
                <a class="pull-right" ng-if="step.report" href="" ng-click="testPresentationCtrl.showStepReport(step)">
                    <i class="fa fa-file-text-o fa-lg"></i>
                </a>
            </div>
        </div>

        <!-- verify step -->
        <div ng-switch-when="verify">
            <div class="col-md-11">
                <span class="mini-tab"><i title="{{testPresentationCtrl.tooltipForStatus(step.status)}}" ng-class="testPresentationCtrl.iconClassForStatus(step.status)"></i></span>
                <strong>{{step.id}}. </strong> {{step.desc}}
            </div>
            <div class="col-md-1">
                <!-- TODO handle reporting -->
                <a class="pull-right" ng-if="step.report"  href="" ng-click="testPresentationCtrl.showStepReport(step)">
                    <i class="fa fa-file-text-o fa-lg"></i>
                </a>
            </div>
        </div>

        <!-- decision step -->
        <div ng-switch-when="decision">
            <div class="col-md-11 absolute" >
                <span class="mini-tab"><i title="{{testPresentationCtrl.tooltipForStatus(step.status)}}" ng-class="testPresentationCtrl.iconClassForStatus(step.status)"></i></span>
                <strong>{{step.id}}. </strong> {{step.desc}}
            </div>

            <tabset>
                <tab class="pull-right" active="!step.condition" disabled="step.condition">
                    <tab-heading>
                        <strong>Else</strong>
                        <span class="tab"><i title="Else" class="fa fa-share fa-rotate-90 fa-fw fa-lg"></i></span>
                    </tab-heading>
                    <!-- use ng-if to create a new scope -->
                    <div ng-if="step.else" ng-init="steps = step.else" ng-include="'testSteps'"></div>
                </tab>

                <tab class="pull-right" active="step.condition" disabled="!step.condition">
                    <tab-heading>
                        <span class="tab"><i title="Then" class="fa fa-reply fa-rotate-270 fa-fw fa-lg"></i></span>
                        <strong>Then</strong>
                    </tab-heading>
                    <!-- use ng-if to create a new scope -->
                    <div ng-if="step.then" ng-init="steps = step.then" ng-include="'testSteps'"></div>
                </tab>
            </tabset>

        </div>

        <!-- loop step -->
        <div ng-switch-when="loop">
            <div class="col-md-12" >

                <div class="btn-group pull-right" style="top:5px;" dropdown >
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        Iterations <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="sequence in step.sequences" ng-click="testPresentationCtrl.select(step.id, $index)" ng-class="{active: testPresentationCtrl.getSelection(step, $index)}">
                            <a href="#tab{{step.id}}[{{$index + 1}}]" target="_self"  data-toggle="tab">{{$index + 1}}</a>
                        </li>
                    </ul>
                </div>

                <span class="mini-tab"><i title="{{testPresentationCtrl.tooltipForStatus(step.status)}}" ng-class="testPresentationCtrl.iconClassForStatus(step.status)"></i></span>
                <strong>{{step.id}}. </strong> {{step.desc}}
            </div> <br>

            <div class="tab-content">
                <div class="tab-pane" id="tab{{step.id}}[{{$index + 1}}]" ng-repeat="sequence in step.sequences" ng-class="{active: testPresentationCtrl.getSelection(step, $index)}">
                    <div ng-if="sequence" ng-init="steps = sequence" ng-include="'testSteps'"></div>
                </div>
            </div>

        </div>

        <!-- flow step -->
        <div ng-switch-when="flow">
            <div class="col-md-12">
                <div class="btn-group pull-right" style="top:5px;" dropdown >
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        Threads <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="thread in step.threads" ng-click="testPresentationCtrl.select(step.id, $index)" ng-class="{active: testPresentationCtrl.getSelection(step, $index)}">
                            <a href="#thread{{step.id}}{{$index + 1}}" target="_self"  data-toggle="tab">{{$index + 1}}</a>
                        </li>
                    </ul>
                </div>

                <span class="mini-tab"><i title="{{testPresentationCtrl.tooltipForStatus(step.status)}}" ng-class="testPresentationCtrl.iconClassForStatus(step.status)"></i></span>
                <strong>{{step.id}}. </strong> {{step.desc}}
            </div>
            <br>

            <div class="tab-content">
                <div class="tab-pane" id="thread{{step.id}}{{$index + 1}}" ng-repeat="thread in step.threads" ng-class="{active: testPresentationCtrl.getSelection(step, $index)}">
                    <div ng-if="thread" ng-init="steps = thread" ng-include="'testSteps'"></div>
                </div>
            </div>
        </div>

        <!-- interact step -->
        <div ng-switch-when="interact">
            <div class="col-md-11">
                <span class="mini-tab"><i title="{{testPresentationCtrl.tooltipForStatus(step.status)}}" ng-class="testPresentationCtrl.iconClassForStatus(step.status)"></i></span>
                <strong>{{step.id}}. </strong> {{step.desc}}
            </div>
        </div>

        <!-- exit step -->
        <div ng-switch-when="exit">
            <div class="col-md-12">
                <span class="mini-tab"><i class="fa fa-ban fa-fw fa-lg"></i></span>
                <strong>{{step.id}}. </strong> {{step.desc}}
            </div>
        </div>
    </div>
</script>