<div class="import-item" [ngClass]="{'with-groups': tbImportItem.hasGroups, 'without-groups': !tbImportItem.hasGroups, 'add': tbImportItem.match == Constants.IMPORT_ITEM_MATCH.ARCHIVE_ONLY, 'update': tbImportItem.match == Constants.IMPORT_ITEM_MATCH.BOTH, 'delete': tbImportItem.match == Constants.IMPORT_ITEM_MATCH.DB_ONLY}">
    <div class="import-item-icon"><span [tooltip]="iconTooltip" [containerClass]="'tooltipContainer'"><i class="fa" [ngClass]="{'fa-check-square': tbImportItem.match == Constants.IMPORT_ITEM_MATCH.BOTH, 'fa-plus-square': tbImportItem.match == Constants.IMPORT_ITEM_MATCH.ARCHIVE_ONLY, 'fa-minus-square': tbImportItem.match == Constants.IMPORT_ITEM_MATCH.DB_ONLY}"></i></span></div>
    <div class="import-item-container">
      <div (click)="toggleItem(); $event.stopPropagation();" class="import-item-title title-holder" [ngClass]="{'open': tbImportItem.open, 'with-groups': tbImportItem.hasGroups, 'without-groups': !tbImportItem.hasGroups}">
        <div class="title-text" [ngClass]="{'skip': isSkipped()}">{{itemName()}}</div>
        <div class="title-action">
          <button *ngIf="showExpandAll()" type="button" (click)="expandItem(tbImportItem); $event.stopPropagation();" class="btn btn-primary btn-sm">Expand all</button>
          <select *ngIf="!tbImportItem.disableProcessChoice && tbImportItem.process != Constants.IMPORT_ITEM_CHOICE.SKIP_DUE_TO_PARENT" [name]="'choice_'+tbImportItem.id" class="control" (click)="$event.stopPropagation();" [(ngModel)]="tbImportItem.selectedProcessOption" (change)="processOptionChanged()">
              <option *ngFor="let option of processOptions" [ngValue]="option.id">{{option.label}}</option>
          </select>
          <input type="text" value="Skip" *ngIf="tbImportItem.disableProcessChoice || tbImportItem.process == Constants.IMPORT_ITEM_CHOICE.SKIP_DUE_TO_PARENT" class="control" (click)="$event.stopPropagation();" disabled="true"/>
        </div>
        <div class="title-icon" *ngIf="tbImportItem.hasGroups"><i class="fa" [ngClass]="{'fa-chevron-circle-down': tbImportItem.open, 'fa-chevron-circle-right': !tbImportItem.open}"></i></div>
      </div>
      <div [collapse]="!tbImportItem.open" [isAnimated]="true" *ngIf="tbImportItem.groups != undefined && tbImportItem.groups.length > 0">
          <div class="import-item-group-container">
            <div app-import-item-group-preview *ngFor="let group of tbImportItem.groups" 
                [tbImportItemGroup]="group" 
                (processStatusChange)="childProcessStatusUpdated()"></div>
          </div>
      </div>
    </div>
</div>