@import "../../../styles/less/_common.less";

.modal-title {
    display: flex;
    flex: 1;
    align-items: center;
    .title {
        flex: 1;
    }
    .icon {
        margin-top: -12px;
        margin-bottom: -12px;
    }
}
::ng-deep markdown pre {
    background-color: @gray-light;
    border-radius: @border-radius;
    border: 1px solid @gray-dark-1;
    padding: 10px;
}
