<div *ngIf="hasVisibleProperties()">
    <app-custom-property-form 
        [tbExpandable]="true"
        [tbCollapsed]="!tbPropertyData.edit" 
        [tbProperties]="tbPropertyData.properties" 
        [tbPopup]="tbPopup"
        [tbColOffset]="tbColOffset" 
        [tbColLabel]="tbColLabel" 
        [tbColInputLess]="tbColInputLess"
        [tbReadonly]="tbReadonly"
        [tbPropertyType]="tbPropertyType"
        [tbOwner]="tbOwner"
        (collapseChange)="collapseChanged($event)">
    </app-custom-property-form>
</div>