@if (hasVisibleProperties()) {
    <div [class.mt-3]="tbTopMargin">
        <app-custom-property-form 
            [tbExpandable]="true"
            [tbCollapsed]="!tbPropertyData.edit" 
            [tbProperties]="tbPropertyData.properties" 
            [tbColOffset]="tbColOffset" 
            [tbColLabel]="tbColLabel" 
            [tbColInputLess]="tbColInputLess"
            [tbReadonly]="tbReadonly"
            [tbPropertyType]="tbPropertyType"
            [tbOwner]="tbOwner"
            [tbSetDefaults]="tbSetDefaults"
            (collapseChange)="collapseChanged($event)">
        </app-custom-property-form>
    </div>
}