@import "../../../../styles/less/_common.less";

.operation-container {
    display: flex;
    app-radio-card {
        width: 50%;
        margin-left: 16px;
        &:first-of-type {
            margin-left: 0;
        }
    }
}
.form-container {
    margin: 16px -17px -17px;
}
