@navigation-height: 64px;

@gray-dark: #555555;
@gray: #777777;
@gray-light: #e5e5e5;
@gray-light-1: #f5f5f5;
@gray-dark-1: #ddd;

@blue: #428bca;

@success-green: #5cb85c;
@warning-yellow: #f0ad4e;
@error-red: #c9302c;

@white: #fff;