body {
	padding: 0 !important;
}

.app {
}
.page {
	position: relative;
}

.version-div {
	padding-top:15px;
	a {
		text-decoration: underline;
	}
}

.version-text {
	color:white;
}

.div-spaced {
	margin-top: 20px;
}

.div-spaced-small {
	margin-top: 15px;
}

.div-rounded {
	border-radius: 5px;
}

.div-padded-sides {
	padding-left: 15px;
	padding-right: 15px;
}

.div-padded {
	padding: 15px;
}

.account-card {
	&:extend(.div-rounded);
	cursor: pointer;
    -moz-box-shadow: 3px 3px 5px 0px #ccc;
    -webkit-box-shadow: 3px 3px 5px 0px #ccc;
    box-shadow: 3px 3px 5px 0px #ccc;
}

.account-card-oa {
	&:extend(.account-card);
	background-color: #555;
}

.account-card-ou {
	&:extend(.account-card);
	background-color: #adadad;
}

.account-card-ta {
	&:extend(.account-card);
	background-color: #0065A2;
}

.account-card-ca {
	&:extend(.account-card);
	background-color: #a94442;
}

.account-card-internal {
	margin-left: 15px;
    border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #eaeaea;
	&:hover {
		background-color: #cecece;
	}
}

.account-card-selected {
	background-color: #cecece;
}

.account-card-text {
	padding: 20px 30px 20px 30px;
	font-weight: bold;
}

.account-list-new {
	padding-top: 15px;
    margin-top: 30px;
    color: #0088cc;
    font-size: 18px;	
}

.role-description {
	font-size: 0.9em;
    padding-top: 5px;
}

.link-account-separator {
	margin-left: 40px;
	margin-right: 40px;
	margin-top:15px;
	margin-bottom:15px;
	padding-top:15px;
	border-top:1px solid #e5e5e5;
}

.bottom-margin {
	margin-bottom:15px;
}

.login-option {
	display: inline-block;
	padding: 20px;
}

#conformance-toggle, #conformance-toggle-configuration, #dashboard-toggle-filter, #dashboard-toggle-ttl, #conformance-toggle-filter, #sessions-toggle-filter {

	div.toggle > div.toggle-group > .btn {
		margin: 0 auto;
		float: none; 
	}

}

table.expandable-table {
	th {
		background-color: #FFFFFF;
	}
	tr {
		background-color: #F5F5F5;
	}
}

table tbody tr.expandable-table-row-collapsed {
	&:hover {
		background-color: #efefef;
		+ .expandable-table-row-expanded > td.expandable-table-expandable-cell {
			background-color: #efefef;
		}
	}
	td {
		padding-top: 15px;
		padding-bottom: 15px;
		cursor: pointer;
	}
	td:last-child {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

table.padded-table tbody tr {
	td {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	td.operation-cell {
		padding: 8px;
	}
}

table tbody tr.expandable-table-row-expanded {
	td.expandable-table-expandable-cell {
		padding: 0px;
		div {
			margin: 8px;
		}
	}
	td {
		border-top: 0px solid #ddd;
		background-color: #F5F5F5;
	}
}

tr.expandable-table-row-expanded table.expandable-table {
	tr:first-child {
		border-top: 1px solid #ddd;
	}
	tr:last-child {
		border-bottom: 1px solid #ddd;
	}
	th {
		background-color: #FFFFFF;
		padding: 8px
	}
	th:first-child {
		border-left: 1px solid #ddd;
	}
	th:last-child {
		border-right: 1px solid #ddd;
	}
	td {
		border-top: 1px solid #ddd;
		background-color: #FFFFFF;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	td:first-child {
		border-left: 1px solid #ddd;
	}
	td:last-child {
		border-right: 1px solid #ddd;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.self-reg-option-table {
	border:1px solid #e5e5e5;
	border-radius: 5px;
	margin-bottom: 20px;
}

.self-reg-option-table-popup {
	margin-right: 40px;
	margin-left: 40px;
}

.inline-form-text {
	margin-top: -15px;
	font-size: smaller;
}
