body {
	padding: 0 !important;
}

.app {
}
.page {
	position: relative;
}

.version-div {
	padding-top:15px;
	a {
		text-decoration: underline;
	}
}

.version-text {
	color:white;
}

.div-spaced {
	margin-top: 20px;
}

.div-rounded {
	border-radius: 5px;
}

.div-padded-sides {
	padding-left: 7px;
	padding-right: 7px;
}