<div class="page admin">
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Settings</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <aside class="sidebar">
                    <ul class="nav nav-list primary push-bottom">
                        <li><a class="pointer" (click)="toProfile()">Profile</a></li>
                        <li><a class="pointer" (click)="toOrganisation()">{{dataService.labelOrganisation()}}</a></li>
                        <li *ngIf="!dataService.configuration.ssoEnabled"><a class="pointer" (click)="toChangePassword()">Password</a></li>
                    </ul>
                </aside>
            </div>
            <div class="child col-md-10">
                <router-outlet></router-outlet>                
            </div>
        </div>
    </div>
</div>