<div class="page domains create">
	<div class="card mb-0">
		<div class="card-header">
			<div class="card-title">Create {{dataService.labelActorLower()}}</div>
            <div app-domain-tag-indicator></div>
		</div>
		<form (ngSubmit)="createActor()">
			<div class="card-body">
				<app-actor-form [actor]="actor"></app-actor-form>
			</div>
			<div class="card-footer">
				<div class="btn-toolbar">
					<button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.SAVE" type="submit" [disable]="saveDisabled()" [pending]="savePending">Save</button>
					<button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.CANCEL" type="button" (click)="cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
