<div class="page tests">
    <app-test-filter [filterState]="filterState" [organisationId]="organisationId" (onApply)="goFirstPage()"></app-test-filter>
    <div class="card">
        <div class="card-header clickable" (click)="activeSessionsCollapsed = !activeSessionsCollapsed" [class.collapsed]="activeSessionsCollapsedFinished">
            <div class="card-title"><app-collapsing-icon [isCollapsed]="activeSessionsCollapsed"></app-collapsing-icon>Active test sessions</div>
            <div class="btn-toolbar" [class.disable-events]="filterState.updatePending">
                <button type="button" class="btn btn-secondary" (click)="stopAll();$event.stopPropagation()" [pending]="stopAllPending" [disable]="activeTests.length == 0 || exportActivePending">Terminate all</button>
                <button type="button" class="btn btn-secondary" (click)="exportActiveSessionsToCsv();$event.stopPropagation()" [pending]="exportActivePending" [disable]="activeTests.length == 0 || stopAllPending">Export CSV</button>
                <button type="button" class="btn btn-secondary" *ngIf="showCollapseAllActive()" (click)="onCollapseAllActive();$event.stopPropagation()">Collapse all</button>
            </div>
        </div>
        <div [collapse]="activeSessionsCollapsed" [isAnimated]="true" (collapsed)="toggleActiveSessionsCollapsedFinished(true)" (expands)="toggleActiveSessionsCollapsedFinished(false)">
            <div app-session-table
                [sessionTableId]="'system-tests-table-active'"
                [expandedCounter]="activeExpandedCounter"
                [columns]="activeTestsColumns"
                [data]="activeTests"
                [noDataMessage]="'No sessions found'"
                [loadingStatus]="activeStatus"
                [operationsVisible]="true"
                [rowStyle]="rowStyle"
                [supportRefresh]="true"
                (onSort)="sortActiveSessions($event)"
                (onDelete)="stopSession($event)"
                (onRefresh)="refreshForSession($event)"
                [refreshComplete]="sessionRefreshCompleteEmitter"
                [contentRefreshing]="filterState.updatePending">
            </div>
        </div>
    </div>
    <div class="card mb-0">
        <div class="card-header clickable" (click)="completedSessionsCollapsed = !completedSessionsCollapsed" [class.collapsed]="completedSessionsCollapsedFinished">
            <div class="card-title"><app-collapsing-icon [isCollapsed]="completedSessionsCollapsed"></app-collapsing-icon>Completed test sessions</div>
            <div class="btn-toolbar" [class.disable-events]="filterState.updatePending">
                <button type="button" class="btn btn-secondary" *ngIf="canDelete()" [pending]="deletePending" [disable]="completedTests.length == 0" (click)="deleteObsolete();$event.stopPropagation()">Delete obsolete sessions</button>
                <button type="button" class="btn btn-secondary" (click)="exportCompletedSessionsToCsv();$event.stopPropagation()" [disable]="completedTests.length == 0" [pending]="exportCompletedPending">Export CSV</button>
				<button type="button" class="btn btn-secondary" *ngIf="showCollapseAll()" (click)="onCollapseAll();$event.stopPropagation()">Collapse all</button>
            </div>
        </div>
        <div [collapse]="completedSessionsCollapsed" [isAnimated]="true" (collapsed)="toggleCompletedSessionsCollapsedFinished(true)" (expands)="toggleCompletedSessionsCollapsedFinished(false)">
            <div app-session-table
                [sessionTableId]="'system-tests-table'"
                [expandedCounter]="completedExpandedCounter"
                [columns]="completedTestsColumns"
                [data]="completedTests"
                [noDataMessage]="'No sessions found'"
                [loadingStatus]="completedStatus"

                [actionVisible]="true"
                [actionIcon]="'fa-regular fa-file-lines'"
                (onAction)="onReportExportXml($event)"
                [actionVisibleForRow]="exportVisible"
                [actionTooltip]="'Export (XML)'"

                [exportVisible]="true"
                (onExport)="onReportExportPdf($event)"
                [exportVisibleForRow]="exportVisible"
                [exportTooltip]="'Export (PDF)'"

                (firstPage)="goFirstPage()"
                (prevPage)="goPreviousPage()"
                (onSort)="sortCompletedSessions($event)"
                (nextPage)="goNextPage()"
                (lastPage)="goLastPage()"
                [nextDisabled]="isNextPageDisabled"
                [prevDisabled]="isPreviousPageDisabled"
                [rowStyle]="rowStyle"
                [checkboxEnabled]="false"
                [contentRefreshing]="filterState.updatePending">
            </div>
        </div>
    </div>
</div>
