<div class="page users detail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Error template details</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <!-- Error messages -->
                <div class="row">
                    <app-alert-display [alerts]="alerts" innerClass="col-md-10 col-md-offset-1"></app-alert-display>
                </div>
                <!-- Error template form -->
                <div class="row col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">* Name:</label>
                        <div class="col-sm-8"><input id="name" name="name" [(ngModel)]="template.name" class="form-control" type="text"></div>
                        <app-tooltip tbTooltip="The name of the error template that will identify it and be displayed in selection lists."></app-tooltip>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="description">Description:</label>
                        <div class="col-sm-8"><textarea id="description" name="description" [(ngModel)]="template.description" class="form-control"></textarea></div>
                        <app-tooltip tbTooltip="A description that will be visible only to administrators to help distinguish this error template and summarise its purpose."></app-tooltip>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="default">Default:</label>
                        <div class="col-sm-8">
                            <input id="default" name="default" [(ngModel)]="template.default" [disabled]="isDefault" type="checkbox" class="form-check">
                            <app-tooltip [inline]="true" [tbTooltip]="tooltipForDefaultCheck"></app-tooltip>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-separator expandable" (click)="showContent = !showContent">
							<div><h4 class="title"><app-collapsing-icon [isCollapsed]="!showContent"></app-collapsing-icon>Content</h4></div>
						</div>
					</div>
				</div>
				<div [collapse]="!showContent" [isAnimated]="true">
					<div class="row">
                        <div class="col-sm-12">
                            <div class="div-padded-bottom">
                                <app-placeholder-selector [placeholders]="placeholders"></app-placeholder-selector>
                            </div>
                            <div>
                                <app-editor id="content" name="content" [(ngModel)]="template.content"></app-editor>
                            </div>
						</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-default" type="submit" (click)="updateErrorTemplate(false)" [disable]="saveDisabled() || copyPending" [pending]="savePending">Update</button>
                    <button class="btn btn-default" type="button" (click)="preview()" [disabled]="!textProvided(template.content)">Preview</button>
                    <button class="btn btn-default" type="button" (click)="updateErrorTemplate(true)" [disable]="saveDisabled() || savePending" [pending]="copyPending">Copy</button>
                    <button class="btn btn-default" type="button" (click)="deleteErrorTemplate()" [pending]="deletePending">Delete</button>
                    <button class="btn btn-default" type="button" (click)="cancelDetailErrorTemplate()">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>