<div class="page users detail">
    <div class="card no-bottom-margin">
        <div class="card-header">
            <h4 class="title">Error template details</h4>
        </div>
        <form>
            <div class="card-body">
                <!-- Error messages -->
                <app-alert-display [alerts]="alerts" innerClass="col-10 offset-1"></app-alert-display>
                <!-- Error template form -->
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="form-group row">
                            <label class="col-3 col-form-label text-right" for="name">* Name:</label>
                            <div class="col-8"><input id="name" name="name" [(ngModel)]="template.name" class="form-control" type="text"></div>
                            <app-tooltip tbTooltip="The name of the error template that will identify it and be displayed in selection lists."></app-tooltip>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label text-right" for="description">Description:</label>
                            <div class="col-8"><textarea id="description" name="description" [(ngModel)]="template.description" class="form-control"></textarea></div>
                            <app-tooltip tbTooltip="A description that will be visible only to administrators to help distinguish this error template and summarise its purpose."></app-tooltip>
                        </div>
                        <div class="form-group row pt-1">
                            <label class="col-3 col-form-label text-right pt-0" for="default">Default:</label>
                            <div class="col-8">
                                <div class="form-check">
                                    <input class="form-check-input" id="default" name="default" [(ngModel)]="template.default" [disabled]="isDefault" type="checkbox">
                                    <app-tooltip [inline]="true" [tbTooltip]="tooltipForDefaultCheck"></app-tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-12">
						<div class="form-separator expandable" (click)="showContent = !showContent">
							<div><h4 class="title"><app-collapsing-icon [isCollapsed]="!showContent"></app-collapsing-icon>Content</h4></div>
						</div>
					</div>
				</div>
				<div [collapse]="!showContent" [isAnimated]="true">
					<div class="row">
                        <div class="col-12">
                            <div class="div-padded-bottom">
                                <app-placeholder-selector [placeholders]="placeholders" [resources]="dataService.isCommunityAdmin" [community]="communityId"></app-placeholder-selector>
                            </div>
                            <div>
                                <app-editor id="content" name="content" [(ngModel)]="template.content"></app-editor>
                            </div>
						</div>
                    </div>
                </div>
            </div>
            <div class="card-footer button-container">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" (click)="updateErrorTemplate(false)" [disable]="saveDisabled() || copyPending" [pending]="savePending">Update</button>
                    <button class="btn btn-secondary" type="button" (click)="preview()" [disabled]="!textProvided(template.content)">Preview</button>
                    <button class="btn btn-secondary" type="button" (click)="updateErrorTemplate(true)" [disable]="saveDisabled() || savePending" [pending]="copyPending">Copy</button>
                    <button class="btn btn-secondary" type="button" (click)="cancelDetailErrorTemplate()">Back</button>
                </div>
                <div class="btn-toolbar btn-toolbar-delete">
                    <button class="btn btn-outline-danger" type="button" (click)="deleteErrorTemplate()" [pending]="deletePending">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>