<div class="page tests">
    <app-test-filter [filterState]="filterState" (onApply)="goFirstPage()"></app-test-filter>
    <div class="panel panel-default">
        <div class="panel-heading clickable" (click)="activeSessionsCollapsed = !activeSessionsCollapsed">
            <h4 class="title">Active test sessions</h4>
            <div class="btn-toolbar" [class.disable-events]="filterState.updatePending">
                <button type="button" class="btn btn-default" (click)="stopAll()" [pending]="stopAllPending" [disable]="activeTests.length == 0 || exportActivePending">Terminate all</button>
                <button type="button" class="btn btn-default" (click)="exportActiveSessionsToCsv()" [pending]="exportActivePending" [disable]="activeTests.length == 0 || stopAllPending">Export CSV</button>
				<button type="button" class="btn btn-default" *ngIf="showCollapseAllActive()" (click)="onCollapseAllActive()">Collapse all</button>
            </div>
        </div>
        <div [collapse]="activeSessionsCollapsed" [isAnimated]="true">
            <div app-session-table
                [sessionTableId]="'system-tests-table-active'"
                [expandedCounter]="activeExpandedCounter"
                [columns]="activeTestsColumns"
                [data]="activeTests"
                [noDataMessage]="'No sessions found'"
                [loadingStatus]="activeStatus"
                [operationsVisible]="true"
                [rowStyle]="rowStyle"
                [supportRefresh]="true"
                (onSort)="sortActiveSessions($event)"
                (onDelete)="stopSession($event)"
                (onRefresh)="refreshForSession($event)"
                [refreshComplete]="sessionRefreshCompleteEmitter"
                [contentRefreshing]="filterState.updatePending">            
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clickable" (click)="completedSessionsCollapsed = !completedSessionsCollapsed">
            <h4 class="title">Completed test sessions</h4>
            <div class="btn-toolbar" [class.disable-events]="filterState.updatePending">
                <button type="button" class="btn btn-default" *ngIf="canDelete()" [pending]="deletePending" [disable]="completedTests.length == 0" (click)="deleteObsolete()">Delete obsolete sessions</button>
                <button type="button" class="btn btn-default" (click)="exportCompletedSessionsToCsv()" [disable]="completedTests.length == 0" [pending]="exportCompletedPending">Export CSV</button>
				<button type="button" class="btn btn-default" *ngIf="showCollapseAll()" (click)="onCollapseAll()">Collapse all</button>
            </div>
        </div>
        <div [collapse]="completedSessionsCollapsed" [isAnimated]="true">
            <div app-session-table
                [sessionTableId]="'system-tests-table'"
                [expandedCounter]="completedExpandedCounter"
                [columns]="completedTestsColumns"
                [data]="completedTests"
                [noDataMessage]="'No sessions found'"
                [loadingStatus]="completedStatus"
                [exportVisible]="true"
                (onExport)="onReportExport($event)"
                [exportVisibleForRow]="exportVisible"
                (firstPage)="goFirstPage()"
                (prevPage)="goPreviousPage()"
                (onSort)="sortCompletedSessions($event)"
                (nextPage)="goNextPage()"
                (lastPage)="goLastPage()"
                [nextDisabled]="isNextPageDisabled"
                [prevDisabled]="isPreviousPageDisabled"
                [rowStyle]="rowStyle"
                [checkboxEnabled]="false"
                [contentRefreshing]="filterState.updatePending">
            </div>
        </div>
    </div>
</div>
