@if (showRefresh || showClear) {
    <div class="btn-group" ngbDropdown>
        <button type="button" [labelIcon]="Constants.BUTTON_ICON.FILTER" class="btn btn-secondary" (click)="doToggle()">Filter...</button>
        <button id="button-filters" type="button" ngbDropdownToggle class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
            <span class="caret"></span>
            <span class="sr-only visually-hidden">Search</span>
        </button>
        <div id="dropdown-filters" ngbDropdownMenu aria-labelledby="button-filters">
            @if (showRefresh) {
                <button ngbDropdownItem type="button" (click)="doRefresh()">Refresh</button>
            }
            @if (showClear) {
                <button ngbDropdownItem type="button" (click)="doClear()">Clear</button>
            }
        </div>
    </div>
} @else {
    <button type="button" class="btn btn-secondary" (click)="doToggle()"><app-collapsing-icon [isCollapsed]="!visible"></app-collapsing-icon>Search</button>
}
