@import '../../../styles/less/_common.less';

.provide-input-body ::ng-deep .CodeMirror {
	border: 1px solid @gray-button; 
	border-radius: 4px; 
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
}
.provide-input-body ::ng-deep .focused .CodeMirror {
  border-color: rgba(82,168,236,.8);
  box-shadow: 0 0px 0px rgb(82 168 236 / 80%) inset, 0 0 5px rgb(82 168 236 / 80%);
  outline: 0 none;
}
textarea { 
	resize: vertical; 
}