<div class="modal-header">
	<h4 class="modal-title" id="myModalLabel">{{inputTitle}}</h4>
</div>
<form>
	<div class="modal-body" style="overflow-x: auto; overflow-y: hidden;">
		<div *ngFor="let interaction of interactions; let index = index">
			<div class="form-group">
				<div class="col-md-12 col-centered" >
					<!-- request interaction: server asks operator to send inputs -->
					<div *ngIf="interaction.type == 'request'">
						<label>{{interaction.desc}}</label>
						<ng-container [ngSwitch]="interaction.inputType">
							<!-- Select single. -->
							<select *ngSwitchCase="'SELECT_SINGLE'" [name]="'input-'+index" [attr.id]="'input-'+index" class="form-control" [(ngModel)]="interaction.selectedOption">
								<option value=""></option>
								<option *ngFor="let option of interaction.optionData" [ngValue]="option">{{option.label}}</option>
							</select>
							<!-- Select multiple -->
							<select *ngSwitchCase="'SELECT_MULTIPLE'" [name]="'input-'+index" [attr.id]="'input-'+index" multiple="true" class="form-control" [(ngModel)]="interaction.selectedOption">
								<option *ngFor="let option of interaction.optionData" [ngValue]="option">{{option.label}}</option>
							</select>
							<!-- Upload -->
							<div *ngSwitchCase="'UPLOAD'">
								<span class="mini-tab" *ngIf="interaction.file != undefined">{{interaction.file.name}} - {{interaction.file.size}} bytes</span>
								<span class="mini-tab" *ngIf="interaction.file == undefined">No file selected</span>
								<app-file-select label="Select file" (onUpload)="onFileSelect(interaction, $event)"></app-file-select>
							</div>
							<!-- Code editor -->
							<ngx-codemirror *ngSwitchCase="'CODE'" #codeMirror (focusChange)="codeEditorFocus($event, 'input-'+index)" [name]="'input-'+index" [attr.id]="'input-'+index" [(ngModel)]="interaction.data" [options]="{lineNumbers:true, smartIndent: false, electricChars: false, mode: interaction.mimeType}" [ngClass]="{'focused': editorFocus['input-'+index]}"></ngx-codemirror>
							<!-- Text area -->
							<textarea *ngSwitchCase="'MULTILINE_TEXT'" [name]="'input-'+index" [attr.id]="'input-'+index" class="form-control" [(ngModel)]="interaction.data"></textarea>
							<!-- Secret -->
							<app-secret-input *ngSwitchCase="'SECRET'" [name]="'input-'+index" [id]="'input-'+index" [(ngModel)]="interaction.data"></app-secret-input>
							<!-- Text field -->
							<input *ngSwitchDefault [name]="'input-'+index" [attr.id]="'input-'+index" type="text" class="form-control" [(ngModel)]="interaction.data"/>
						</ng-container>
					</div>
					<!-- instruction interaction: server shows a message -->
					<div *ngIf="interaction.type == 'instruction'">
						<app-any-content-view [context]="instructionAsAnyContent(interaction)" [fileNameDownload]="interaction.name"></app-any-content-view>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" *ngIf="needsInput" (click)="reset()" class="btn btn-default">Reset</button>
		<button type="submit" *ngIf="needsInput" (click)="hideInput()" class="btn btn-default">Submit</button>
		<button type="button" *ngIf="!needsInput" (click)="hideInput()" class="btn btn-default">Close</button>
	</div>
</form>