@import '../../../styles/less/_common.less';

.provide-input-body ::ng-deep .CodeMirror {
	border: 1px solid @gray-button; 
	border-radius: 4px; 
}
.provide-input-body ::ng-deep .focused .CodeMirror {
    border-color: @bs-input-focus-highlight;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);	
}
textarea { 
	resize: vertical; 
}