<div class="modal-header">
	<h4 class="modal-title" id="myModalLabel">{{inputTitle}}</h4>
</div>
<form>
	<div class="modal-body" style="overflow-x: auto; overflow-y: hidden;">
		<div *ngFor="let interaction of interactions; let index = index">
			<div class="form-group">
				<div class="col-md-12 col-centered" >
					<label>{{interaction.desc}}</label>
					<!-- request interaction: server asks operator to send inputs -->
					<div *ngIf="interaction.type == 'request'">
						<!-- Case 1: input text -->
						<input *ngIf="interaction.contentType != 'BASE64' && !interaction.options" [name]="'input-'+index" [attr.id]="'input-'+index" type="text" class="form-control" [(ngModel)]="interaction.data"/>
						<!-- Case 2: select multiple/single -->
						<select *ngIf="interaction.contentType != 'BASE64' && interaction.options && interaction.multiple" [name]="'input-'+index" [attr.id]="'input-'+index" multiple="true" class="form-control" [(ngModel)]="interaction.selectedOption">
                            <option *ngFor="let option of interaction.optionData" [ngValue]="option">{{option.label}}</option>
                        </select>
						<select *ngIf="interaction.contentType != 'BASE64' && interaction.options && !interaction.multiple" [name]="'input-'+index" [attr.id]="'input-'+index" class="form-control" [(ngModel)]="interaction.selectedOption">
                            <option value=""></option>
                            <option *ngFor="let option of interaction.optionData" [ngValue]="option">{{option.label}}</option>
                        </select>
						<!-- Case 3: Upload file -->
						<div *ngIf="interaction.contentType == 'BASE64'">
                            <span class="tab" *ngIf="interaction.file != undefined">{{interaction.file.name}} - {{interaction.file.size}} bytes</span>
                            <span class="tab" *ngIf="interaction.file == undefined">No file selected</span>
                            <app-file-select label="Select file" (onUpload)="onFileSelect(interaction, $event)"></app-file-select>
						</div>
					</div>
					<!-- instruction interaction: server shows a message -->
					<div *ngIf="interaction.type == 'instruction' && interaction.value != undefined">
						<span class="tab" *ngIf="interaction.name != undefined">{{interaction.name}}</span>
						<button type="button" class="btn btn-default" *ngIf="interaction.contentType == 'BASE64'" (click)="download(interaction)">Download</button>
						<!-- configuration parameter is a string -->
						<span class="tab" *ngIf="interaction.contentType != 'BASE64'">{{interaction.value}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" *ngIf="needsInput" (click)="reset()" class="btn btn-default">Reset</button>
		<button type="submit" *ngIf="needsInput" (click)="hideInput()" class="btn btn-default">Submit</button>
		<button type="button" *ngIf="!needsInput" (click)="hideInput()" class="btn btn-default">Close</button>
	</div>
</form>