<div class="testCaseContainer" (click)="$event.stopPropagation()">
    @for (testCase of testCases; track testCase.id; let first = $first, last = $last) {
        <div class="testCaseHolder"
             [class.inGroup]="testCase.group != undefined"
             [class.groupFirst]="testCase.groupFirst"
             [class.groupLast]="testCase.groupLast"
             [class.last]="last"
             [class.shaded]="shaded"
             [ngClass]="{'status-none': !showResults || testCase.resultToShow == undefined, 'status-incomplete': showResults && testCase.resultToShow == 'UNDEFINED', 'status-success': showResults && testCase.resultToShow == 'SUCCESS', 'status-failure': showResults && testCase.resultToShow == 'FAILURE', 'status-warning': showResults && testCase.resultToShow == 'WARNING'}">
            @if (testCase.group != undefined) {
                <div class="groupMarker">
                    @if (testCase.groupFirst && showResults) {
                        <div class="groupMarkerIconContainer" [tooltip]="groupTooltip(testCase.resultToShow)" placement="right">
                            <span class="groupMarkerIcon">
                                <i [class.fa-solid]="testCase.resultToShow != undefined"
                                   [class.fa-regular]="testCase.resultToShow == undefined"
                                   [class.fa-xs]="!showResults || testCase.resultToShow == 'FAILURE' || testCase.resultToShow == 'WARNING'"
                                   [class.fa-2xs]="testCase.resultToShow == undefined || testCase.resultToShow == 'UNDEFINED' || testCase.resultToShow == 'SUCCESS'"
                                   [ngClass]="{'fa-circle': testCase.resultToShow == undefined, 'fa-xmark': testCase.resultToShow == 'FAILURE', 'fa-ban': testCase.resultToShow == 'UNDEFINED', 'fa-check': testCase.resultToShow == 'SUCCESS', 'fa-exclamation': testCase.resultToShow == 'WARNING'}"></i>
                            </span>
                        </div>
                    }
                </div>
            }
            <div class="testCase" (click)="testCaseClicked(testCase.id)" [class.disabled]="testCase.disabled" [class.shaded]="shaded" [class.hasDescription]="testCase.description != undefined && testCase.description != ''">
                <div class="mainLine">
                    @if (hasDescriptions) {
                        <div class="collapseIconContainer">
                            @if (hasDescription[testCase.id]) {
                                <app-collapsing-icon [isCollapsed]="!descriptionVisible[testCase.id]" [asDiv]="false"></app-collapsing-icon>
                            }
                        </div>
                    }
                    @if (hasOptional || hasDisabled) {
                        <div class="testCasePrescription">
                            <app-prescription-level [optional]="testCase.optional" [disabled]="testCase.disabled"></app-prescription-level>
                        </div>
                    }
                    @if (testCase.groupTag) {
                        <div class="testCaseGroupContainer">
                            <app-tags-display [tags]="[testCase.groupTag]"></app-tags-display>
                        </div>
                    }
                    <div class="testCaseName">{{testCase.sname}}</div>
                    <div class="testCaseExecution">
                        @if (testCase.parsedTags) {
                            <div class="testCaseTagsContainer">
                                <app-tags-display [tags]="testCase.parsedTags"></app-tags-display>
                            </div>
                        }
                        @if (testCase.updateTime) {
                            <div class="testCaseUpdateTimeContainer">
                                <app-tag label="fa-solid fa-clock" [icon]="true" tooltipText="Last execution time" [value]="testCase.updateTime"></app-tag>
                            </div>
                        }
                        @if (testCase.sessionId != undefined || (testCase.hasDocumentation && showViewDocumentation) || showExportTestCase(testCase) || showExecute || showEdit) {
                            <div class="btn-toolbar" (click)="$event.stopPropagation()">
                                @if (testCase.sessionId != undefined) {
                                    <button class="btn btn-secondary" (click)="viewTestCase(testCase)" containerClass="shortTooltip" container="body" tooltip="View session" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-solid fa-search"></i></button>
                                }
                                @if (testCase.hasDocumentation && showViewDocumentation) {
                                    <button type="button" class="btn btn-secondary" (click)="showTestCaseDocumentation(testCase)" [icon]="true" [pending]="viewDocumentationPending[testCase.id]" containerClass="shortTooltip" container="body"  tooltip="Documentation" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-solid fa-info-circle"></i></button>
                                }
                                @if (showExportTestCase(testCase)) {
                                    <button type="button" class="btn btn-secondary" [icon]="true" (click)="onExportTestCaseXml(testCase)" [pending]="exportXmlPending[testCase.id]" containerClass="shortTooltip" container="body"  tooltip="Export (XML)" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-regular fa-file-lines"></i></button>
                                    <button type="button" class="btn btn-secondary" [icon]="true" (click)="onExportTestCasePdf(testCase)" [pending]="exportPdfPending[testCase.id]" containerClass="shortTooltip" container="body"  tooltip="Export (PDF)" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-regular fa-file-pdf"></i></button>
                                }
                                @if (showEdit) {
                                    <button type="button" class="btn btn-secondary" (click)="editTestcase(testCase)" containerClass="shortTooltip" container="body"  tooltip="Edit" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-solid fa-pencil"></i></button>
                                }
                                @if (showExecute) {
                                    <button class="btn btn-primary" (click)="onTestSelect(testCase)" [pending]="testCase.executionPending" [icon]="true" containerClass="shortTooltip" container="body" tooltip="Run" [disabled]="testCase.disabled" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-solid fa-play"></i></button>
                                }
                            </div>
                        }
                        @if (showResults) {
                            <div class="testCaseStatus">
                                <app-test-result-status-display
                                    [popupId]="testCase.id"
                                    [message]="testCase.outputMessage"
                                    [result]="testCase.result"
                                    [ignored]="testCase.result != testCase.resultToShow"
                                    [close]="statusCloseEmitter"
                                    [refresh]="refresh"
                                    (open)="statusPopupOpened($event)"></app-test-result-status-display>
                            </div>
                        }
                    </div>
                </div>
                @if (hasDescription[testCase.id]) {
                    <div [collapse]="!descriptionVisible[testCase.id]" [isAnimated]="true" class="testCaseDescriptionContainer">
                        <div class="testCaseDescription">{{testCase.description}}</div>
                        <app-specification-reference-display [reference]="testCase"></app-specification-reference-display>
                    </div>
                }
            </div>
        </div>
    }
    @if (testSuiteSpecificationReference) {
        <app-specification-reference-display [reference]="testSuiteSpecificationReference" [withBorder]="false"></app-specification-reference-display>
    }
</div>
