@import '../../../styles/less/_common.less';

.testCaseContainer {
    padding: 0 15px 10px 15px;
    .mainLine {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .testCaseHolder {
        display: flex;
        border-radius: @border-radius @border-radius-more @border-radius-more @border-radius;
        background-color: @gray-dark-1;
        &.status-success {
            background-color: @green-success;
        }
        &.status-failure {
            background-color: @red-error;
            //border-color: @red-error;
        }
        &.status-warning {
            background-color: @orange-warning;
        }
        &.inGroup {
            &.padded {
                margin-top: 0;
            }
            margin-top: 0;
            border-top: 0;
            &.groupFirst {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            &.groupLast {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
        &.padded {
            margin-top: 5px;
        }
        &.last {
            margin-bottom: 5px;
        }
    }
    .testCase {
        display: flex;
        background: @white;
        border: 1px solid @gray-dark-1;
        border-left: 0;
        &.shaded {
            background: @gray-light-1;
        }
        border-radius: 0 @border-radius @border-radius 0;
        margin-left: 7px;
        &.inGroup {
            border-top: 0;
            border-bottom-style: dashed;
            border-bottom-color: @gray-dark-1;
            //margin-right: 50px;
            &.groupFirst {
                margin-right: 0;
                border-top: 1px solid @gray-dark-1;
                border-bottom-right-radius: 0;
            }
            &.groupLast {
                border-top-right-radius: 0;
                border-bottom-style: solid;
                border-bottom-color: @gray-dark-1;
            }
        }
        flex-grow: 1;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        &.disabled {
            .testCaseName, .testCaseDescription {
                opacity: 0.4;
            }
        }
        &.hasDescription {
            &:hover {
                cursor: pointer;
                background-color: @white-shaded;
                &.shaded {
                    background: @gray-highlight;
                }
            }
        }
    }
    //.testCaseGroupStatus {
    //    background-color: @gray-dark-1;
    //    display: flex;
    //    align-items: center;
    //}
    .collapseIconContainer {
        min-width: 25px;
    }
    .testCasePrescription {
        margin-right: 10px;
    }
    .testCaseName {
        font-weight: bold;
    }
    .testCaseDescription {
        width: 100%;
        margin-top: 10px;
    }
    .testCaseExecution {
        margin-left: auto;
        display: flex;
        align-items: center;
        & > .btn-toolbar {
            margin-left: 20px;
            display: flex;
            flex-wrap: nowrap;
            & > * {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .testCaseStatus {
            margin-left: 38px;
            display: flex;
            align-items: center;
        }
        .testCaseTagsContainer {
            margin-left: 20px;
        }
        .testCaseUpdateTimeContainer {
            margin-left: 20px;
        }
    }
    .testCaseDescriptionContainer {
        width: 100%;
    }
}
