<div class="testCaseContainer" (click)="$event.stopPropagation()">
    <div class="testCase" [class.disabled]="testCase.disabled" [class.padded]="!first" [class.last]="last" *ngFor="let testCase of testCases; let first = first; let last = last">
        <div *ngIf="hasOptional || hasDisabled" class="testCasePrescription">
            <app-prescription-level [optional]="testCase.optional" [disabled]="testCase.disabled"></app-prescription-level>
        </div>
        <div class="testCaseName">{{testCase.sname}}</div>
        <div class="testCaseDescription" *ngIf="testCase.description != undefined && testCase.description != ''">{{testCase.description}}</div>
        <div class="testCaseExecution">
            <app-tag *ngIf="testCase.updateTime" label="Last run" [value]="testCase.updateTime"></app-tag>
            <div class="btn-toolbar">
                <button *ngIf="testCase.sessionId != undefined" class="btn btn-default" (click)="viewTestCase(testCase)" containerClass="shortTooltip" tooltip="View session" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-search"></i></button>
                <button type="button" class="btn btn-default" *ngIf="testCase.hasDocumentation" (click)="showTestCaseDocumentation(testCase)" containerClass="shortTooltip" tooltip="Documentation" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-info-circle"></i></button>
                <ng-container *ngIf="showExportTestCase(testCase)">
                    <button type="button" class="btn btn-default" [icon]="true" (click)="onExportTestCaseXml(testCase)" [pending]="exportXmlPending[testCase.id]" containerClass="shortTooltip" tooltip="Export (XML)" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-regular fa-file-lines"></i></button>
                    <button type="button" class="btn btn-default" [icon]="true" (click)="onExportTestCasePdf(testCase)" [pending]="exportPdfPending[testCase.id]" containerClass="shortTooltip" tooltip="Export (PDF)" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-regular fa-file-pdf"></i></button>
                </ng-container>
                <button *ngIf="showExecute" class="btn btn-primary" (click)="onTestSelect(testCase)" containerClass="shortTooltip" tooltip="Run" [disabled]="testCase.disabled" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-play"></i></button>
            </div>
            <div class="testCaseStatus">
                <app-test-result-status-display [message]="testCase.outputMessage" [result]="testCase.result"></app-test-result-status-display>
            </div>
        </div>
    </div>
</div>