<div class="modal-header">
	<h4>{{title}}</h4>
</div>
<form class="form-horizontal">
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-10 col-md-offset-1">
				<div class="form-group">
					<label class="col-xs-3 control-label" for="sname">* Short name:</label>
					<div class="col-xs-7"><input id="sname" ng-model="system.sname" class="form-control" type="text"></div>
					<div tb-tooltip="A short name used to refer to this {{DataService.labelSystemLower()}} in lists and tabular displays where space is limited."></div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label" for="fname">* Full name:</label>
					<div class="col-xs-7"><input id="fname" ng-model="system.fname" class="form-control" type="text"></div>
					<div tb-tooltip="The full name for this {{DataService.labelSystemLower()}} used in reports and detail screens."></div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label" for="description">Description:</label>
					<div class="col-xs-7">
						<textarea id="description" ng-model="system.description" class="form-control"></textarea>
					</div>
					<div tb-tooltip="A short description of the purpose of this {{DataService.labelSystemLower()}}. This is only used for presentation purposes to distinguish this {{DataService.labelSystemLower()}} from others."></div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label" for="version">* Version:</label>
					<div class="col-xs-7"><input id="version" ng-model="system.version" class="form-control" type="text"></div>
					<div tb-tooltip="An arbitrary text to serve as a version number for this {{DataService.labelSystemLower()}}. Apart from being displayed here this is not currenty used, however it is reserved for potential future needs."></div>
				</div>
				<div class="form-group" ng-if="otherSystems.length">
					<label class="col-xs-3 control-label" for="version">Copy test setup from:</label>
					<div class="col-xs-7"><select class="form-control" ng-model="system.otherSystem" ng-options="sys.sname for sys in otherSystems track by sys.id"><option value=""></option></select></div>
					<div tb-tooltip="Select another {{DataService.labelSystemLower()}} to serve as a template for this one. The configuration from the selected {{DataService.labelSystemLower()}} will be copied to the current one."></div>
				</div>
				<div class="form-group" uib-collapse="!system.otherSystem">
					<label class="col-xs-3 control-label">Copy also:</label>
					<div class="col-xs-8">
						<label class="checkbox-inline">
							<input type="checkbox" ng-change="copyChanged()" ng-model="system.copySystemParameters">{{DataService.labelSystem()}} properties
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" ng-change="copyChanged()" ng-model="system.copyStatementParameters">Conformance statement configurations
						</label>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="!system.copySystemParameters" tb-optional-custom-properties-form tb-col-input-less="1" tb-property-data="propertyData" tb-popup="true">
		</div>            
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="submit" ng-click="save()" ng-disabled="!saveEnabled() || pending"><span class="tab" ng-if="savePending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Save</button>
		<button class="btn btn-default" type="button" ng-click="delete()" ng-if="system.id && canDelete()" ng-disabled="pending"><span class="tab" ng-if="deletePending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Delete</button>
		<button class="btn btn-default" type="button" ng-click="cancel()" ng-disabled="pending">Cancel</button>
	</div>
</form>