<div class="col-md-2">
    <aside class="sidebar">
        <ul class="nav nav-list primary push-bottom">
            <li ui-sref-active="active"><a ui-sref="app.systems.detail.conformance.list">Conformance Statement</a></li>
            <li ui-sref-active="active"><a ui-sref="app.systems.detail.info">{{systemNavigationCtrl.DataService.labelSystem()}} Information</a></li>
            <li ui-sref-active="active"><a ui-sref="app.systems.detail.tests" ng-click="systemNavigationCtrl.toPerformedTests()">Performed Tests</a></li>
            <li ng-if="!(systemNavigationCtrl.DataService.isVendorUser && systemNavigationCtrl.count <= 1)" class="nav-divider"></li>
            <li ng-if="!(systemNavigationCtrl.DataService.isVendorUser && systemNavigationCtrl.count <= 1)"><a ui-sref="app.systems.list">{{systemNavigationCtrl.DataService.labelSystems()}}</a></li>
        </ul>
    </aside>
</div>
<div class="child col-md-10" ui-view></div>