<div class="page users detail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">System information</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-11">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Short name:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{systemCtrl.system.sname}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Full name:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{systemCtrl.system.fname}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{systemCtrl.system.description}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Version:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{systemCtrl.system.version}}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div tb-optional-custom-properties-form tb-property-data="systemCtrl.propertyData" tb-col-offset="0" tb-col-label="2" tb-readonly="true">
        </div>
    </div>
</div>