<div class="container">
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addSystemModal">New System</button>
		</div>
	</div>

	<!-- div showed when there is no system around -->
	<div  style="height: 500px;" ng-cloak ng-if="systemsCtrl.systems.length == 0">
		<div class="alert alert-danger" >
			<span class="tab" ng-if="systemsCtrl.systemSpinner"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>
			<span class="tab" ng-if="!systemsCtrl.systemSpinner"> <i class="fa fa-exclamation-triangle fa-lg fa-fw"></i></span>
			You do not have any systems registered. In order to test one,
			<a  ng-click="systemsCtrl.closeAlerts()" data-toggle="modal" data-target="#addSystemModal">
				register your system
			</a>
		</div>
	</div>

	<!-- lists systems -->
	<div ng-if="systemsCtrl.systems.length != 0">

		<div class="row col-md-12" ng-repeat="system in systemsCtrl.systems">
			<div class="featured-box featured-box-secundary">
				<div class="box-content left">
					<a class="pull-right" ui-sref="app.systems.detail.info({id: system.id})">
						<i class="fa fa-pencil fa-lg"></i>
					</a>
					<h4><a ui-sref="app.systems.detail.conformance.list({id: system.id})">{{system.sname}}</a></h4>
					<p>{{system.fname}}</p>
					<strong>Version: </strong>{{system.version}} <br >
					<strong>Description: </strong>{{system.description}} <br >
				</div>
			</div>
		</div>
	</div>


	<!-- Popup control for adding members to organization -->
	<div class="modal fade" id="addSystemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">System Information</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<form type="post">
							<div class="row">
								<div class="form-group">
									<div class="col-md-11 col-centered">
										<alert ng-repeat="alert in systemsCtrl.modalAlerts" type="{{alert.type}}" close="systemsCtrl.closeModalAlert($index)">{{alert.msg}}</alert>
									</div>
								</div>
							</div>

							<!-- Actual form components -->
							<div class="row">
								<div class="form-group">
									<div class="col-md-11 col-centered">
										<label>System Name (Short) *</label>
										<input type="text" class="form-control" ng-model="sdata.sname">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group">
									<div class="col-md-11 col-centered">
										<label>System Name (Full) *</label>
										<input type="text" class="form-control" ng-model="sdata.fname">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group">
									<div class="col-md-11 col-centered">
										<label>Description</label>
										<input type="text"  class="form-control" ng-model="sdata.description">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-11 col-centered">
										<label>Version *</label>
										<input type="text" class="form-control" ng-model="sdata.version">
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<input type="submit" value="Save changes" ng-click="systemsCtrl.registerSystem()" class="btn btn-info" >
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>
