<div class="container page domains">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{systemsCtrl.DataService.labelSystems()}}</h4>
			<button type="button" ng-click="systemsCtrl.createSystem()" class="btn btn-default pull-right" ng-if="systemsCtrl.showCreate()">Create {{systemsCtrl.DataService.labelSystemLower()}}</button>
		</div>
		<div id="systems-table" table-directive 
			columns="systemsCtrl.tableColumns" 
			data="systemsCtrl.systems" 
			no-data-message="No {{systemsCtrl.DataService.labelSystemsLower()}} found"
			loading-status="systemsCtrl.dataStatus" 
			action-visible="systemsCtrl.showAction" 
			action-visible-for-row="systemsCtrl.isSystemEditable" 
			action-icon="'fa fa-pencil'" 
			on-action="systemsCtrl.onSystemEdit" 
			on-select="systemsCtrl.onSystemSelect">
		</div>
	</div>
	<button ng-if="systemsCtrl.showBack()" class="btn btn-default pull-left" type="button" ng-click="systemsCtrl.back()">Back</button>
</div>