<div class="page tests">

    <div tb-test-filter 
        filters = "systemTestsCtrl.filters"
        state = "systemTestsCtrl.filterState"
        apply-fn = "systemTestsCtrl.navigateFirstPage"
        load-domains-fn = "systemTestsCtrl.getAllDomains"
        load-specifications-fn = "systemTestsCtrl.getAllSpecifications"
        load-test-suites-fn = "systemTestsCtrl.getAllTestSuites"
        load-test-cases-fn = "systemTestsCtrl.getAllTestCases">
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Active test sessions</h4>
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-default" ng-click="systemTestsCtrl.exportActiveSessionsToCsv()" ng-disabled="systemTestsCtrl.exportActivePending"><span class="tab" ng-if="systemTestsCtrl.exportActivePending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Export CSV</button>
				<button type="button" class="btn btn-default" ng-if="systemTestsCtrl.showCollapseAllActive()" ng-click="systemTestsCtrl.onCollapseAllActive()">Collapse all</button>
            </div>
        </div>
        <div session-table-directive session-table-id="system-tests-table-active"
            expanded-counter="systemTestsCtrl.activeExpandedCounter"
            columns="systemTestsCtrl.activeTestsColumns"
            data="systemTestsCtrl.activeTests"
            no-data-message="No sessions found"
            loading-status="systemTestsCtrl.activeDataStatus"
            on-sort="systemTestsCtrl.sortActiveSessions"
            on-delete="systemTestsCtrl.stopSession"
            operations-visible="true"
            row-style="systemTestsCtrl.rowStyle">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Completed test sessions</h4>
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-default" ng-if="systemTestsCtrl.canDelete()" ng-disabled="systemTestsCtrl.deletePending" ng-click="systemTestsCtrl.deleteObsolete()"><span class="tab" ng-if="systemTestsCtrl.deletePending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Delete obsolete results</button>
                <button type="button" class="btn btn-default" ng-click="systemTestsCtrl.exportToCsv()" ng-disabled="systemTestsCtrl.exportCompletedPending"><span class="tab" ng-if="systemTestsCtrl.exportCompletedPending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Export CSV</button>
				<button type="button" class="btn btn-default" ng-if="systemTestsCtrl.showCollapseAll()" ng-click="systemTestsCtrl.onCollapseAll()">Collapse all</button>
            </div>
        </div>
        <div session-table-directive session-table-id="system-tests-table"
            expanded-counter="systemTestsCtrl.completedExpandedCounter"
            columns="systemTestsCtrl.tableColumns"
            data="systemTestsCtrl.testResults"
            no-data-message="No sessions found"
            loading-status="systemTestsCtrl.completedDataStatus"
            row-style="systemTestsCtrl.rowStyle"
            export-visible="true"
            export-visible-for-row="systemTestsCtrl.exportVisible"
            on-export="systemTestsCtrl.onReportExport"
            checkbox-enabled="false"
            on-sort="systemTestsCtrl.sortTestResults"
            pagination-visible="true"
            first-page="systemTestsCtrl.navigateFirstPage()"
            prev-page="systemTestsCtrl.navigatePreviousPage()"
            next-page="systemTestsCtrl.navigateNextPage()"
            last-page="systemTestsCtrl.navigateLastPage()"
            next-disabled="!systemTestsCtrl.hasNextPage"
            prev-disabled="!systemTestsCtrl.hasPreviousPage">
        </div>
    </div>
</div>
