<div class="page domains detail detail-testcase">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Test case details</h4>
		</div>
		<form class="form-horizontal">
			<div class="panel-body">
				<div class="row">
         			<div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label class="col-xs-3 control-label" for="identifier">ID:</label>
							<div class="col-xs-7">
								<app-api-key-text id="identifier" name="identifier" [key]="testCase.identifier!"></app-api-key-text>
							</div>
							<app-tooltip tbTooltip="The unique identifier of the test case within the test suite. This is not presented to users but is used internally to match uploaded test cases to existing ones."></app-tooltip>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="name">* Name:</label>
							<div class="col-xs-7"><input id="name" name="name" [(ngModel)]="testCase.sname" class="form-control" type="text"></div>
							<app-tooltip tbTooltip="A short and descriptive identifier for the test case. This is used for filtering purposes and also to distinguish the test case within its test suite."></app-tooltip>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="description">Description:</label>
							<div class="col-xs-7">
								<textarea id="description" name="description" [(ngModel)]="testCase.description" class="form-control"></textarea>
							</div>
							<app-tooltip tbTooltip="A description for the test case presented to users when viewing a conformance statement. This should be informative enough for users to understand the purpose of the test case. Where extended information is needed consider complementing the description with the test case's documentation."></app-tooltip>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-separator expandable" (click)="showDocumentation = !showDocumentation">
							<div><h4 class="title">Documentation</h4></div>
							<div><h4><i class="fa fa-chevron-circle-right" aria-hidden="true" [ngClass]="{'fa-chevron-circle-right': !showDocumentation, 'fa-chevron-circle-down': showDocumentation }"></i></h4></div>
						</div>						
					</div>
				</div>
				<div [collapse]="!showDocumentation" [isAnimated]="true">
					<div class="row form-group">
						<div class="col-xs-offset-1 col-xs-10">
                            <app-editor id="documentation" name="documentation" [(ngModel)]="testCase.documentation"></app-editor>
						</div>
						<app-tooltip tbTooltip="Extended documentation on the test case that users can click to view before and during test execution. Use this to provide detailed information, prerequisites, steps to follow and references to external resources."></app-tooltip>
					</div>
					<div class="row form-group">
						<div class="col-xs-offset-1 col-xs-10">
							<button (click)="previewDocumentation()" type="button" class="btn btn-default" [disabled]="this.testCase.documentation == undefined || this.testCase.documentation.length == 0">Preview documentation</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="btn-toolbar">
					<button (click)="saveChanges()" type="submit" class="btn btn-default" [disable]="saveDisabled()" [pending]="pending">Save changes</button>
					<button (click)="back()" type="button" class="btn btn-default">Back</button>
				</div>
			</div>
		</form>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Test case preview</h4>
		</div>
        <div class="panel-body" style="overflow-x: auto; overflow-y: hidden;">
            <ng-container [ngSwitch]="diagramLoaded">
                <ng-container *ngSwitchCase="true">
                    <div class="diagramContainer" *ngIf="diagramLoaded">
                        <app-sequence-diagram 
                            [stepsOfTests]="steps"
                            [test]="testCaseId+''"
                            [actorInfoOfTests]="actorInfo"
                            [events]="testEvents[testCaseId]">
                        </app-sequence-diagram>            
                    </div>
                </ng-container>
                <div *ngSwitchDefault>
                    <app-pending-block [pending]="true" [icon]="true"></app-pending-block>
                </div>            
            </ng-container>
        </div>
    </div>
</div>
