@if (session.diagramState) {
    <div class="test-session-presentation-div">
        <app-sequence-diagram
            [stepsOfTests]="session.diagramState.stepsOfTests"
            [test]="session.session"
            [actorInfoOfTests]="session.diagramState.actorInfoOfTests"
            [events]="session.diagramState.events">
        </app-sequence-diagram>
        @if (session.diagramState.outputMessage) {
            <app-output-message-display [message]="session.diagramState.outputMessage" [messageType]="session.diagramState.outputMessageType!"></app-output-message-display>
        }
    </div>
}
