<div class="property-container" [class.mb-0]="noMargin">
    <div class="property-container-title" (click)="collapsed = !collapsed" (mouseenter)="hovering = true" (mouseleave)="hovering = false" [class.hovering]="hovering">
        <app-collapsing-icon [isCollapsed]="collapsed"></app-collapsing-icon>{{title}}
    </div>
    @if (parameters && parameters.length > 0) {
        <div [collapse]="collapsed" [isAnimated]="true">
            <div class="property-list-container" [class.hovering]="hovering">
                @for (parameter of parameters; track parameter.id) {
                    <div class="property">
                        <div class="property-name">{{ parameter.name }}</div>
                        <div class="property-description">{{ parameter.desc }}</div>
                    </div>
                }
            </div>
        </div>
    }
</div>
