<div>
    <table class="table table-directive" [ngClass]="{'expandable-table': styleAsNestedTable}" *ngIf="parameters && parameters.length > 0">
        <thead>
            <tr>
                <th width="1%" style="padding-right:30px;" *ngIf="!onlyMissing">Set?</th>
                <th width="20%">{{parameterLabel}}</th>
                <th *ngIf="showValues">Configured value</th>
                <th>Description</th>
                <th class="th-min-centered" *ngIf="showActions"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parameter of parameters">
                <td style="text-align: center;padding-right:30px;" *ngIf="!onlyMissing"><i class="fa" [ngClass]="{'fa-check': parameter.configured, 'fa-times': !parameter.configured}"></i></td>
                <td style="font-weight: bold;" *ngIf="isRequired(parameter)">*&nbsp;{{parameter.name}}</td>
                <td *ngIf="!isRequired(parameter)">{{parameter.name}}</td>
                <td *ngIf="showValues && parameter.kind == 'BINARY'"><a *ngIf="parameter.value != undefined" href (click)="downloadBinaryParameter(parameter);$event.preventDefault()">{{parameter.fileName}}</a></td>
                <td *ngIf="showValues && parameter.kind != 'BINARY'"><span *ngIf="parameter.valueToShow != undefined">{{parameter.valueToShow}}</span><span *ngIf="parameter.valueToShow == undefined">{{parameter.value}}</span></td>
                <td>{{parameter.desc}}</td>
                <td class="td-min-centered" *ngIf="showActions"><button type="button" class="btn btn-default" *ngIf="canEdit!(parameter)" (click)="onEdit(parameter)" containerClass="shortTooltip" tooltip="Edit" [delay]="Constants.TOOLTIP_DELAY"><i class="fa fa-pencil"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>