@import "../../../styles/less/_common.less";

.minimised-message {
    position: fixed;
    bottom: 0;
    right: 69px;
    z-index: 1040;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 8px 8px 16px;
    background: var(--itb-btn-secondary-color);
    color: var(--itb-btn-secondary-label-color);
    border-radius: 7px 7px 0 0;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.30);
    height: 48px;

    .minimised-message-title {
        white-space: nowrap;
        margin-right: 30px;
    }

    .btn-minimised-message {
        border: none;
        background: transparent;
        color: var(--itb-btn-secondary-label-color);
        padding: 4px 6px;

        &:hover {
            opacity: 0.75;
        }
    }
}
