.clickable {
	&:hover {
		cursor: pointer;
	}
}
.faded{
	opacity: 0.5;
}
:host-context(.btn-toolbar)> :host > form > .input-group {
    margin-left: 5px;
}
.input-group-btn > button {
    width: 40px;
}
