<div *ngIf="hasVisibleProperties()">
    <div class="row" *ngIf="tbShowFormHeader">
      <div class="col-xs-12">
        <div [ngClass]="{'form-separator': !tbPopup, 'form-separator-popup': tbPopup}">
          <h4 class="title">Additional properties <span [tooltip]="'Properties specific to the community. Required properties will need to be completed before executing tests.'" [containerClass]="'tooltipContainerBig'"><i class="fa fa-question-circle"></i></span></h4>
        </div>
      </div>
    </div>
    <div [ngClass]="{'row': tbFormPadded}">
      <div [ngClass]="innerDivStyle">
        <form class="form-horizontal">
          <div *ngFor="let property of tbProperties">
            <div *ngIf="(isAdmin || !property.hidden) && property.prerequisiteOk" class="form-group">
              <label [ngClass]="'col-xs-'+tbColLabel" class="control-label" [attr.for]="'prop-'+property.id"><span *ngIf="property.use == 'R' && tbShowRequiredAsterisks">* </span>{{property.name}}:</label>
              <div [ngClass]="'col-xs-'+(11-tbColLabel-tbColInputLess)" *ngIf="property.kind == 'SIMPLE'">
                <div *ngIf="property.hasPresetValues">
                  <p *ngIf="isReadonly" class="form-control-static">{{presetValueLabel(property)}}<span *ngIf="property.desc" [ngStyle]="{'margin-left':(property.value?'20px':'0px')}" [tooltip]="property.desc" [containerClass]="'tooltipContainer'"><i class="fa fa-question-circle"></i></span></p>
                  <select *ngIf="!isReadonly" (change)="checkPrerequisites(property, true)" [attr.id]="'prop-'+property.id" name="{{'prop-'+property.id}}" [(ngModel)]="property.value" [disabled]="property.adminOnly! && !isAdmin" class="form-control">
                    <option value=""></option>
                    <option *ngFor="let v of property.presetValues" [ngValue]="v.value">{{v.label}}</option>
                  </select>
                </div>
                <div *ngIf="!property.hasPresetValues">
                  <p *ngIf="isReadonly" class="form-control-static">{{property.value}}<span *ngIf="property.desc" [ngStyle]="{'margin-left':(property.value?'20px':'0px')}" [tooltip]="property.desc" [containerClass]="'tooltipContainer'"><i class="fa fa-question-circle"></i></span></p>
                  <input *ngIf="!isReadonly" (change)="checkPrerequisites(property, true)" [attr.id]="'prop-'+property.id" name="{{'prop-'+property.id}}" [(ngModel)]="property.value" [readonly]="property.adminOnly && !isAdmin" class="form-control" type="text"/>
                </div>
              </div>
              <div *ngIf="property.kind == 'SECRET'">
                <div [ngClass]="'col-xs-'+(9-tbColLabel-tbColInputLess)">
                  <p *ngIf="isReadonly" class="form-control-static">{{property.value}}<span *ngIf="property.desc" [ngStyle]="{'margin-left':(property.value?'20px':'0px')}" [tooltip]="property.desc" [containerClass]="'tooltipContainer'"><i class="fa fa-question-circle"></i></span></p>
                  <input *ngIf="!isReadonly" (change)="checkPrerequisites(property)" (focus)="checkPrerequisites(property)" (focusout)="checkPrerequisites(property)" [attr.id]="'prop-'+property.id" name="{{'prop-'+property.id}}" [(ngModel)]="property.value" [readonly]="!property.changeValue" class="form-control" [attr.type]="property.showValue?'text':'password'"/>
                  <div class="checkbox" *ngIf="property.changeValue">
                    <label>
                      <input type="checkbox" name="{{'prop-show-'+property.id}}" [(ngModel)]="property.showValue" [disabled]="property.adminOnly! && !isAdmin">Show
                    </label>
                  </div>
                </div>
                <div class="col-xs-2" *ngIf="!isReadonly">
                  <span *ngIf="property.adminOnly && !isAdmin">&nbsp;</span>
                  <label class="checkbox-inline" *ngIf="!property.adminOnly || isAdmin">
                    <input type="checkbox" name="{{'prop-update-'+property.id}}" [(ngModel)]="property.changeValue" (change)="editSecret(property)">Update
                  </label>
                </div>
              </div>
              <div [ngClass]="'col-xs-'+(11-tbColLabel-tbColInputLess)" *ngIf="property.kind == 'BINARY'">
                <div *ngIf="isReadonly">
                  <p class="form-control-static"><a *ngIf="property.value" href (click)="downloadProperty(property);$event.preventDefault()" style="padding-right:10px;">{{fileName(property)}}</a><span *ngIf="isReadonly && property.desc" [ngStyle]="{'margin-left':(property.value?'20px':'0px')}" [tooltip]="property.desc" [containerClass]="'tooltipContainer'"><i class="fa fa-question-circle"></i></span></p>
                </div>
                <div *ngIf="!isReadonly">
                  <span *ngIf="!property.value && property.adminOnly && !isAdmin" class="form-control-static">&nbsp;</span>
                  <p *ngIf="property.value && property.adminOnly && !isAdmin" class="form-control-static"><a href (click)="downloadProperty(property);$event.preventDefault()" style="padding-right:10px;">{{fileName(property)}}</a></p>
                  <span *ngIf="property.value && (!property.adminOnly || isAdmin)" class="form-control-static"><a href (click)="downloadProperty(property);$event.preventDefault()" style="padding-right:10px;">{{fileName(property)}}</a></span>
                  <app-file-select *ngIf="!property.adminOnly || isAdmin" label="Upload" (onUpload)="onFileSelect(property, $event)"></app-file-select>                  
                  <button type="button" class="btn btn-default" *ngIf="property.value && (!property.adminOnly || isAdmin)" style="margin-left:5px" (click)="removeFile(property)">Remove</button>
                </div>
              </div>
              <div class="form-control-static" *ngIf="!isReadonly && property.desc"><span [tooltip]="property.desc" [containerClass]="'tooltipContainer'"><i class="fa fa-question-circle"></i></span></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
