.filePropertyRow {
  display: flex;
  align-items: center;
}
.secretField {
  display: flex;
  flex-grow: 1;    
  app-secret-input, input {
      width: 100%;
      margin-left: 10px;
  }
}
app-secret-input {
  flex-grow: 1;
}
.secretLabelInvalid {
  margin-bottom: 1.3rem;
}
