<div class="page users detail">
    <div class="card mb-0">
        <div class="card-header">
            <h4 class="title">Legal notice details</h4>
        </div>
        <form>
            <div class="card-body">
                <!-- Error messages -->
                <app-alert-display [alerts]="alerts" innerClass="col-10 offset-1"></app-alert-display>
                <!-- legal notice form -->
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="row mb-3">
                            <label class="col-3 col-form-label text-end" for="name">* Name:</label>
                            <div class="col-8"><input id="name" name="name" [(ngModel)]="notice.name" class="form-control" type="text"></div>
                            <div app-tooltip class="col-auto" tbTooltip="The name of the legal notice that will identify it and be displayed in selection lists."></div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-3 col-form-label text-end" for="description">Description:</label>
                            <div class="col-8"><textarea id="description" name="description" [(ngModel)]="notice.description" class="form-control"></textarea></div>
                            <div app-tooltip class="col-auto" tbTooltip="A description that will be visible only to administrators to help distinguish this legal notice and summarise its purpose."></div>
                        </div>
                        <div class="row mb-3 pt-1">
                            <label class="col-3 col-form-label text-end pt-0" for="default">Default:</label>
                            <div class="col-8">
                                <div class="form-check">
                                    <input class="form-check-input" id="default" name="default" [(ngModel)]="notice.default" [disabled]="isDefault" type="checkbox">
                                    <div app-tooltip class="col-auto d-inline-flex" [inline]="true" [tbTooltip]="tooltipForDefaultCheck"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-12">
						<div class="form-separator expandable" (click)="showContent = !showContent">
							<div><h4 class="title"><app-collapsing-icon [isCollapsed]="!showContent"></app-collapsing-icon>Content</h4></div>
						</div>
					</div>
				</div>
				<div [collapse]="!showContent" [isAnimated]="true">
					<div class="row">
                        <div class="col-12">
							<div class="mb-3" *ngIf="dataService.isCommunityAdmin">
								<app-placeholder-selector [resources]="true" [community]="communityId"></app-placeholder-selector>
							</div>
                            <app-editor id="content" name="content" [(ngModel)]="notice.content"></app-editor>
						</div>
                    </div>
                </div>
            </div>
            <div class="card-footer button-container">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" (click)="updateLegalNotice(false)" [disable]="saveDisabled() || copyPending" [pending]="savePending">Update</button>
                    <button class="btn btn-secondary" type="button" (click)="preview()" [disabled]="!textProvided(notice.content)">Preview</button>
                    <button class="btn btn-secondary" type="button" (click)="updateLegalNotice(true)" [disable]="saveDisabled() || savePending" [pending]="copyPending">Copy</button>
                    <button class="btn btn-secondary" type="button" (click)="cancelDetailLegalNotice()">Back</button>
                </div>
                <div class="btn-toolbar btn-toolbar-delete">
                    <button class="btn btn-outline-danger" type="button" (click)="deleteLegalNotice()" [pending]="deletePending">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>