<div class="page users detail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Legal notice details</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <!-- Error messages -->
                <div class="row col-md-10">
                    <app-alert-display [alerts]="alerts" innerClass="col-md-10 col-md-offset-1"></app-alert-display>
                </div>
                <!-- legal notice form -->
                <div class="row col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">* Name:</label>
                        <div class="col-sm-8"><input id="name" name="name" [(ngModel)]="notice.name" class="form-control" type="text"></div>
                        <app-tooltip tbTooltip="The name of the legal notice that will identify it and be displayed in selection lists."></app-tooltip>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="description">Description:</label>
                        <div class="col-sm-8"><textarea id="description" name="description" [(ngModel)]="notice.description" class="form-control"></textarea></div>
                        <app-tooltip tbTooltip="A description that will be visible only to administrators to help distinguish this legal notice and summarise its purpose."></app-tooltip>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="default">Default:</label>
                        <div class="col-sm-8">
                            <input id="default" name="default" [(ngModel)]="notice.default" [disabled]="isDefault" type="checkbox" class="form-check">
                            <app-tooltip [inline]="true" [tbTooltip]="'Check this to make this legal notice the default one assumed for the community\'s '+dataService.labelOrganisationsLower()+'.'"></app-tooltip>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-separator expandable" (click)="showContent = !showContent">
							<div><h4 class="title"><app-collapsing-icon [isCollapsed]="!showContent"></app-collapsing-icon>Content</h4></div>
						</div>
					</div>
				</div>
				<div [collapse]="!showContent" [isAnimated]="true">
					<div class="row">
                        <div class="col-sm-12">
                            <app-editor id="content" name="content" [(ngModel)]="notice.content"></app-editor>
						</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-default" type="submit" (click)="updateLegalNotice(false)" [disable]="saveDisabled() || copyPending" [pending]="savePending">Update</button>
                    <button class="btn btn-default" type="button" (click)="updateLegalNotice(true)" [disable]="saveDisabled() || savePending" [pending]="copyPending">Copy</button>
                    <button class="btn btn-default" type="button" (click)="deleteLegalNotice()" [pending]="deletePending">Delete</button>
                    <button class="btn btn-default" type="button" (click)="cancelDetailLegalNotice()">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>