<div class="page users create">
    <div class="card mb-0">
        <div class="card-header">
            <h4 class="title">Custom community labels</h4>
        </div>
        <form>
            <div class="card-body">
                <div class="alert alert-info rounded">
                    <span>Override the default labels of Test Bed concepts to align them with your community. The labels you provide will be used in all screens, reports and exports.</span>
                </div>
                <table id="labelTable" class="table">
                    <thead>
                        <tr>
                            <th><span>Concept</span><span class="spaced-left" [tooltip]="'The Test Bed concept to describe with a custom label.'" [containerClass]="'tooltipContainer'"><i class="fa-solid fa-question-circle"></i></span></th>
                            <th><span>Override?</span><span class="spaced-left" [tooltip]="'Whether or not to override the default label.'" [containerClass]="'tooltipContainer'"><i class="fa-solid fa-question-circle"></i></span></th>
                            <th><span>Singular form</span><span class="spaced-left" [tooltip]="'The label when referring to a single element.'" [containerClass]="'tooltipContainer'"><i class="fa-solid fa-question-circle"></i></span></th>
                            <th><span>Plural form</span><span class="spaced-left" [tooltip]="'The label when referring to a multiple elements.'" [containerClass]="'tooltipContainer'"><i class="fa-solid fa-question-circle"></i></span></th>
                            <th><span>Fixed casing?</span><span class="spaced-left" [tooltip]="'Whether or not the label\'s casing should never be adapted.'" [containerClass]="'tooltipContainer'"><i class="fa-solid fa-question-circle"></i></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let label of labels; let index = index">
                            <td>
                                <div>
                                    <span>{{labelTypeLabel(label.labelType)}}</span>
                                    <span class="spaced-left" [tooltip]="labelTypeDescription[label.labelType]"><i class="fa-solid fa-question-circle"></i></span>
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" [name]="'custom'+index" [(ngModel)]="label.custom" (change)="customChecked($event, label)"/>
                            </td>
                            <td [ngSwitch]="label.custom">
                                <div *ngSwitchCase="true"><input [attr.id]="'label-singular-'+label.labelType" type="text" [name]="'singular'+index" [(ngModel)]="label.singularForm" class="form-control"/></div>
                                <div *ngSwitchDefault><input type="text" [value]="Constants.LABEL_DEFAULT[label.labelType].singularForm" class="form-control" readonly="true"/></div>
                            </td>
                            <td [ngSwitch]="label.custom">
                                <div *ngSwitchCase="true"><input type="text" [name]="'pluralForm'+index" [(ngModel)]="label.pluralForm" class="form-control"/></div>
                                <div *ngSwitchDefault><input type="text" [value]="Constants.LABEL_DEFAULT[label.labelType].pluralForm" class="form-control" readonly="true"/></div>
                            </td>
                            <td [ngSwitch]="label.custom">
                                <div *ngSwitchCase="true"><input type="checkbox" [name]="'fixedCase'+index" [(ngModel)]="label.fixedCase"/></div>
                                <div *ngSwitchDefault><input type="checkbox" [checked]="Constants.LABEL_DEFAULT[label.labelType].fixedCase" [disabled]="true"/></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" (click)="save()" [disable]="saveDisabled()" [pending]="busy">Save</button>
                    <button class="btn btn-secondary" type="button" (click)="cancel()">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>