<div class="rootContainer" [class.hovering]="hovering">
    <div class="titleContainer" (click)="headerClicked()" (mouseover)="hovering = true" (mouseout)="hovering = false">
        <div class="configCollapse"><app-collapsing-icon [isCollapsed]="status.collapsed" [asDiv]="true"></app-collapsing-icon></div>
        <div class="configTitle">{{configTitle}}</div>
        <div *ngIf="configDescription" class="configDescription">{{configDescription}}</div>
        <div [class.active]="status.enabled" class="configStatus">
            <app-tag
                [label]="statusIcon()"
                [value]="statusText()"
                [foreground]="statusForeground()"
                [background]="statusBackground()"
                [icon]="true"
            ></app-tag>
        </div>
    </div>
    <div class="collapseContainer" [collapse]="status.collapsed" [isAnimated]="true">
        <div class="contentContainerOuter">
            <div class="contentContainer">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
