@navigation-height: 64px;

@gray-dark: #555555;
@gray: #777777;
@gray-light: #e5e5e5;
@gray-light-1: #f5f5f5;
@gray-medium: #c5c5c5;
@gray-dark-1: #ddd;
@gray-button: #ccc;
@gray-highlight: #efefef;

@success-green: #5cb85c;
@warning-yellow: #f0ad4e;
@error-red: #c9302c;
@blue: #428bca;
@blueHeading: #0088CC;

@green-light: fade(@success-green, 50%);
@orange-light: #fcf8e3;
@orange-dark: #a57735;
@blue-light: #D9EDF7;
@blue-dark: #074a8b;
@red-light: #f2dede;
@gray-light-2: #EDEDED;

@white: #fff;
@white-shaded: #fcfcfc;
@white-hover: fade(@gray-light-1, 50%);