@navigation-height: 64px;

@gray-dark: #555555;
@gray: #777777;
@gray-light: #e5e5e5;
@gray-light-1: #f5f5f5;
@gray-medium: #c5c5c5;
@gray-dark-1: #ddd;
@gray-button: #ccc;
@gray-highlight: #efefef;

@success-green: #5cb85c;
@warning-yellow: #f0ad4e;
@info-blue: #3D8BE9;
@error-red: #c9302c;
@blue: #428bca;
@blueHeading: #0088CC;

@green-light: fade(@success-green, 50%);
@orange-light: #fcf8e3;
@orange-light-hover: #f3eed1;
@orange-dark: #a57735;
@blue-light: #D9EDF7;
@blue-dark: #074a8b;
@red-light: #f2dede;
@red-light-hover: #efd1d1;
@gray-light-2: #EDEDED;

@white: #fff;
@white-shaded: #fcfcfc;
@white-hover: fade(@gray-light-1, 50%);

@green-success-content: #3c763d;
@green-success-background: #dff0d8;
@green-success-border: #d6e9c6;

@red-error-content: #a94442;
@red-error-background: #f2dede;
@red-error-border: #ebccd1;
