.page {
	position: relative;
}

.version-div {
	padding-top:15px;
	a {
		text-decoration: underline;
	}
}

.version-text {
	color:white;
}

.div-spaced {
	margin-top: 20px;
}

.div-spaced-small {
	margin-top: 15px;
}

.div-rounded {
	border-radius: 5px;
}

.div-padded-sides {
	padding-left: 15px;
	padding-right: 15px;
}

.div-padded {
	padding: 15px;
}
.div-padded-bottom {
	padding-bottom: 15px;
}
.div-padded-small {
	padding: 8px;
}

.account-card {
	&:extend(.div-rounded);
	cursor: pointer;
    -moz-box-shadow: 3px 3px 5px 0px #ccc;
    -webkit-box-shadow: 3px 3px 5px 0px #ccc;
    box-shadow: 3px 3px 5px 0px #ccc;
}

.account-card-oa {
	&:extend(.account-card);
	background-color: #555;
}

.account-card-ou {
	&:extend(.account-card);
	background-color: #adadad;
}

.account-card-ta {
	&:extend(.account-card);
	background-color: #0065A2;
}

.account-card-ca {
	&:extend(.account-card);
	background-color: #a94442;
}

.account-card-internal {
	margin-left: 15px;
    border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #eaeaea;
	&:hover {
		background-color: #cecece;
	}
}

.account-card-selected {
	background-color: #cecece;
}

.account-card-text {
	padding: 20px 30px 20px 30px;
	font-weight: bold;
}

.account-list-new {
	padding-top: 15px;
    margin-top: 30px;
    color: #0088cc;
    font-size: 18px;	
}

.role-description {
	font-size: 0.9em;
    padding-top: 5px;
}

.link-account-separator {
	margin-left: 40px;
	margin-right: 40px;
	margin-top:15px;
	margin-bottom:15px;
	padding-top:15px;
	border-top:1px solid #e5e5e5;
}

.bottom-margin {
	margin-bottom:15px;
}

.login-option {
	display: inline-block;
	padding: 20px;
}

.table-paging-controls-expandable {
	border-top: 2px solid #ddd;
}

.table-paging-controls {
	border-top: 2px solid #ddd;
}

table.expandable-table {
	border-collapse: separate;
	table.expandable-table {
		border-collapse: collapse;
	}
	th {
		background-color: #FFFFFF;
	}
	tr {
		background-color: #F5F5F5;
	}
	.panel {
		margin-bottom: 0px;
		.panel-heading {
			background-color: white;
    		color: #777;
			&.session-table-title.clickable:hover {
				cursor: pointer;
				background-color: @white-hover;
			}
		}
		.panel-footer {
			background-color: white;
		}
	}
}

.panel-default > .panel-heading > .session-table-title {
	color: #777;
}

.session-execution-info {
	display: flex;
	width: 100%;
	.session-table-title {
		display: inline-flex;
		width: 100%;
		padding-left: 0px;
		.session-table-title-part {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	.session-table-operations {
		display: inline-flex;
		align-items: center;
	}
}
.session-table-title {
	padding: 0px 15px;
	display: flex;
	color: #777;
	.session-table-title-part {
		display: inline-flex;
		border-left: 1px solid #ddd;
		padding-left: 10px;
		padding-right: 10px;		
		padding-top: 10px;
		padding-bottom: 10px;
		&:first-child {
			border-left: 0px;
			padding-left: 0px;
		}
		.session-table-title-label {
			display: inline-flex;
			font-weight: bold;
			padding-right: 10px;
			align-items: center;
			white-space: nowrap
		}
		.session-table-title-value {
			display: inline-flex;
			align-items: center;
		}
	}
}

table tbody tr.expandable-table-row-collapsed {
	&:hover {
		background-color: @gray-highlight;
		+ .expandable-table-row-expanded > td.expandable-table-expandable-cell {
			background-color: @gray-highlight;
		}
		+ .expandable-table-row-expanded > td.expandable-table-expandable-cell-no-spacings {
			background-color: @gray-highlight;
			.tr-expandable-inner {
				background-color: @gray-highlight;
			}
		}
	}
	td {
		cursor: pointer;
	}
	td:last-child {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

table.padded-table tbody tr {
	td {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	td.operation-cell {
		padding: 8px;
	}
}

table.table-directive {
	div.btn-toolbar {
		margin: 0px;
	}
}

.td-min-centered {
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: middle;
	text-align: center;
}
.th-min-centered {
	width: 1px;
	text-align: center;
	white-space: nowrap;
}
.td-min {
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: nowrap;
}
.th-min {
	width: 1px;
	white-space: nowrap;
}
#system-tests-table, #dashboard-table, #conformanceDashboardPageTable {
	th.tb-result {
		.th-min-centered
	}
	td.tb-result {
		.td-min-centered
	}
}

#conformance-statements-table {
	th.tb-status {
		.th-min-centered
	}
	td.tb-status {
		.td-min-centered
	}
}

table tbody tr.expandable-table-row-expanded {
	& > td {
		padding-top: 0px;
		padding-bottom: 0px;
		&.expandable-table-expandable-cell {
			padding: 0px;
			> div {
				.btn-toolbar {
					margin: 0px;
				}
			}
		}
	}
	& >td.expandable-table-expandable-cell-no-spacings {
		padding:0px;
	}
	& >td {
		border-top: 0px solid #ddd;
	}
}
div.collapsing-div {
	margin: 8px;
}

tr.expandable-table-row-expanded table.expandable-table {
	tr:first-child {
		border-top: 1px solid #ddd;
	}
	tr:last-child {
		border-bottom: 1px solid #ddd;
	}
	th {
		background-color: #FFFFFF;
		padding: 8px;
	}
	th:first-child {
		border-left: 1px solid #ddd;
	}
	th:last-child {
		border-right: 1px solid #ddd;
	}
	td {
		border-top: 1px solid #ddd;
		background-color: #FFFFFF;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	td:first-child {
		border-left: 1px solid #ddd;
	}
	td:last-child {
		border-right: 1px solid #ddd;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.self-reg-option-table {
	border:1px solid #e5e5e5;
	border-radius: 5px;
	margin-bottom: 20px;
}

.self-reg-option-table-popup {
	margin-right: 40px;
	margin-left: 40px;
}

.inline-form-text {
	margin-top: -15px;
	font-size: smaller;
}

.inline-tooltip {
    display: inline-block;
	margin-left: 10px;
	cursor: default;
	div.checkLabel {
		margin-left: -10px;
	}
	div.check {
		span {
			vertical-align: text-bottom;
		}
	}
	div.radio {
		span {
			vertical-align: sub;
		}
	}
}

.popover.result-message-popover {
	padding: 10px;
	max-width: 800px;
	top: -4px !important;
	left: -4px !important;
	&.success {
		> .arrow {
			border-left-color: #d6e9c6;
			&:after {
				border-left-color: #dff0d8;
			}
		}
		background-color: #dff0d8;
		border-color: #d6e9c6;
		.popover-inner {
			background-color: #dff0d8;
			color: #3c763d;
		}
	}
	&.failure {
		> .arrow {
			border-left-color: #ebccd1;
			&:after {
				border-left-color: #f2dede;
			}
		}
		background-color: #f2dede;
		border-color: #ebccd1;
		.popover-inner {
			background-color: #f2dede;
			color: #a94442;
		}
	}
}

.pointer {
	cursor: pointer !important;
}

.notification-container {
	div.simple-notification-wrapper {
		top: 71px !important;
		right: 10px !important;
		z-index: 5000;
		min-width: 350px;
		.notification-item {
			display: flex;
			border: 1px solid transparent;
			border-radius: 4px;
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);
			-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);
			-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);			
			div:first-of-type {
				display: inline-flex;
				align-items: center;
			}
			div.sn-content {
				font-size: inherit;
				line-height: inherit;
				display: block;
				min-width: 300px;
				text-align: left;
			}
			&.success {
				color: #3c763d;
    			background-color: #dff0d8;
				border-color: #d6e9c6;
				svg {
					fill: #3c763d;
				}
			}
			&.error {
				color :#a94442;
    			background-color: #f2dede;
				border-color: #ebccd1;
				svg {
					fill: #a94442;
				}
			}
		}
	}
}
.table-responsive.session-filter {
	overflow-x: visible;
}
ng-multiselect-dropdown {
	&.left-side {
		div.dropdown-list {
			right: 0px;
		}
	}
	div.multiselect-dropdown {
		width: 100px;
		li.no-data > h5 {
			color: #777;
			opacity: 0.5;
		}
		div.dropdown-list {
			width: 350px;
		}
		span.dropdown-btn {
			height: 34px;
			border: 1px solid #ccc !important;
			& > span.selected-item {
				white-space: nowrap;
				text-overflow: clip;
				overflow: hidden;
				width: 1px;			
				visibility: hidden;
				&::after {
					visibility: visible;
					position: absolute;
					top: 6px;
					left: 8px;
					content: '...';
					color: #777;
				}
			}
			& > span:last-child {
				& > span:first-child {
					display: none;
				}
			}
			a {
				display: none;
			}
		}
	}
}

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 24px;
    margin-bottom: 24px;
}

.spaced-left {
	margin-left: 5px;
}

.editor-body { 
	padding: 10px;
}

div.non-padded-alert div.alert { 
	margin-bottom: 5px; 
}

.tooltipContainer {
	left: 7px !important;
}
.tooltipContainerBig {
	left: 9px !important;
}