@import './_common.less';

html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

input, textarea {
	&.form-control:read-only {
		background-color: @readonly-color;
		&.bg-white {
			background-color: @white;
		}
	}
}

.card {
	margin-bottom: 10px;
}

.card-title {
    color: var(--itb-card-title-color);
    font-size: 1.125rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
}
.separator-title {
    color: var(--itb-separator-title-color);
    font-size: 1.125rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
}
.table-title {
    margin-top: 10px;
    margin-bottom: 10px;
	font-size: var(--bs-body-font-size);
    font-weight: 500;
    line-height: 1.2;
    color: var(--itb-table-title-color);
}

.btn-toolbar {
	&>.btn, &>.btn-group, &>.input-group, &>.btn-toolbar {
		margin-left: 5px;
		&:first-child {
			margin-left: 0px;
		}
	}
}

.col-form-label {
	font-weight: bold;
}

.nav-link {
	margin-right: 2px;
}

section.page-top {
    background-color: var(--itb-header-background-color);
    border-bottom-color: var(--itb-header-border-color);
    height: @page-header-height * 1px;
    position: relative;
    align-items: center;
    display: flex;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

.page-title {
    color: var(--itb-page-title-color);
    font-weight: 200;
    line-height: 1.2;
    font-size: 1.875rem;
}

footer {
    font-size: 0.9em;
    position: relative;
    clear: both;
}

/* Scroll to Top */
a.scroll-to-top {
	-moz-border-radius: 7px 7px 0 0;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-border-radius: 7px 7px 0 0;
	-webkit-transition: all 0.3s;
	background: @gray-dark;
	border-radius: 7px 7px 0 0;
	bottom: 0px;
	color: @white;
	display: block;
	height: 9px;
	opacity: 0;
	padding: 13px 0 35px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	width: 49px;
	z-index: 1040;
}

a.scroll-to-top:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

a.scroll-to-top.visible {
	filter: alpha(opacity=75);
	opacity: 0.75;
}

.page {
	position: relative;
}

.page-root {
	.page-with-margins {
		margin: @page-content-margin-under-root
	}
}

.page-with-margins {
    margin: @page-content-margin;
}

.div-spaced {
	margin-top: 20px;
}

.div-spaced-small {
	margin-top: 15px;
}

.link-account-separator {
	margin-top:15px;
	margin-bottom:15px;
	padding-top:15px;
	border-top:1px solid @gray-light;
}

.table-paging-controls {
	border-top: 2px solid @gray-dark-1;
	display: flex;
	justify-content: center;
	padding: 8px;
	.btn {
		font-size: 12px;
	}
}

.session-table-title {
	padding: 0px 15px;
	display: flex;
	.session-table-title-part {
		display: inline-flex;
		border-left: 1px solid @gray-dark-1;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		&:first-child {
			border-left: 0px;
			padding-left: 0px;
		}
		.session-table-title-label {
			display: inline-flex;
			font-weight: bold;
			padding-right: 10px;
			align-items: center;
			white-space: nowrap
		}
		.session-table-title-value {
			display: inline-flex;
			align-items: center;
		}
	}
}

table.padded-table tbody tr {
	td {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	td.operation-cell {
		padding: 8px;
	}
}

table.table-directive {
	div.btn-toolbar {
		margin: 0px;
	}
}
.no-wrap {
	white-space: nowrap;
	display: block;
}
.td-min-right {
	width: 1px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: middle;
	text-align: right;
}
.td-min-centered {
	width: 1px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: middle;
	text-align: center;
}
.table .th-min-centered, .th-min-centered {
	width: 1px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}
.td-min {
	width: 1px;
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: nowrap;
	&.padding-right-large {
		padding-right: 40px;
	}
}
.td-nowrap {
	white-space: nowrap;
}
.th-min {
	width: 1px;
	white-space: nowrap;
	&.padding-right-large {
		padding-right: 40px;
	}
}
#system-tests-table, #dashboard-table, #conformanceDashboardPageTable {
	th.tb-result {
		.th-min-centered
	}
	td.tb-result {
		.td-min-centered
	}
}

#conformance-statements-table {
	th.tb-status {
		.th-min-centered
	}
	td.tb-status {
		.td-min-centered
	}
}

div.collapsing-div {
	margin: 8px;
}

table.table tr th {
	border-bottom: 2px solid @gray-dark-1;
}

table.expandable-table {
	th {
		background-color: @white;
	}
	td {
		background-color: @gray-light-1;
	}
	.card {
		margin-bottom: 0px;
		.card-header {
			background-color: @white;
			&.session-table-title.clickable:hover {
				cursor: pointer;
				background-color: @white-hover;
			}
		}
		.card-footer {
			background-color: @white;
		}
	}
}

table tbody tr.expandable-table-row-collapsed {
	&:hover {
		td {
			background-color: @gray-highlight;
		}
		+ .expandable-table-row-expanded > td.expandable-table-expandable-cell {
			background-color: @gray-highlight;
		}
	}
	td {
		border-top-width: 1px;
		border-bottom-width: 0px;
		cursor: pointer;
	}
	td:last-child {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

table tbody tr.expandable-table-row-expanded {
	& > td {
		border-top-width: 0px;
		border-bottom-width: 1px;
		padding-top: 0px;
		padding-bottom: 0px;
		&.expandable-table-expandable-cell {
			padding: 0px;
			> div {
				.btn-toolbar {
					margin: 0px;
				}
			}
		}
	}
	& > td {
		border-top: 0px solid @gray-dark-1;
	}
}

.self-reg-option-table {
	border:1px solid @gray-light;
	border-radius: @border-radius;
}

.inline-form-text {
	font-size: smaller;
}

bs-tooltip-container {
	&.tooltip-bottom {
		top: var(--bs-tooltip-arrow-height) !important;
	}
	&.tooltip-top {
		top: calc(-1 * var(--bs-tooltip-arrow-height)) !important;
	}
}

.tooltipContainerBig {
	left: -5px !important;
}

.shortTooltip {
	.tooltip-inner {
		min-width: fit-content !important;
		max-width: fit-content !important;
		white-space: nowrap;
	}
}

.inline-tooltip {
    display: inline-block;
	margin-left: 10px;
	cursor: default;
	div.checkLabel {
		margin-left: -10px;
	}
	div.check {
		span {
			vertical-align: text-bottom;
		}
	}
	div.radio {
		span {
			vertical-align: sub;
		}
	}
}

.modal-header {
	.modal-title {
		font-size: 1.125rem;
		font-weight: 500;
		margin: 4px 0px;
		color: var(--itb-modal-title-color);
	}
}

/* Definitions to display a progressive backdrop for nested modals - START */
.modal.fade {
	background: rgba(0, 0, 0, 0.5);
}
.modal-backdrop.fade {
	opacity: 0;
}
/* END */

.tooltip-inner {
	min-width: 250px !important;
}

.popover.result-message-popover {
	padding: 10px;
	max-width: 800px;
	top: -4px !important;
	left: -4px !important;
	&.success {
		> .arrow {
			border-left-color: @green-success-border;
			&:after {
				border-left-color: @green-success-background;
			}
		}
		background-color: @green-success-background;
		border-color: @green-success-border;
		.popover-body {
			background-color: @green-success-background;
			color: @green-success-content;
		}
	}
	&.failure {
		> .arrow {
			border-left-color: @red-error-border;
			&:after {
				border-left-color: @red-error-background;
			}
		}
		background-color: @red-error-background;
		border-color: @red-error-border;
		.popover-body {
			background-color: @red-error-background;
			color: @red-error-content;
		}
	}
}

.pointer {
	cursor: pointer !important;
}

.notification-container {
	div.simple-notification-wrapper {
		top: 74px !important;
		right: 10px !important;
		z-index: 5000;
		min-width: 350px;
		.simple-notification {
			&.notification-item {
				display: flex;
				border: 1px solid transparent;
				border-radius: @border-radius;
				box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);
				-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);
				-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);
				div:first-of-type {
					display: inline-flex;
					align-items: center;
				}
				div.sn-content {
					font-size: inherit;
					line-height: inherit;
					display: block;
					min-width: 300px;
					text-align: left;
					padding-right: 30px;
				}
				div.icon {
					display: flex;
					justify-content: right;
					align-items: center;
					svg {
						width: 70%;
						height: 70%;
					}
				}
				&.success {
					div.sn-content {
						color: @green-success-text;
					}
					background-color: @green-success-background;
					border-color: @green-success-border;
					svg {
						fill: @green-success-content;
					}
					&:hover {
						background-color: @green-success-hover;
					}
				}
				&.error {
					div.sn-content {
						color :@red-error-text;
					}
					background-color: @red-error-background;
					border-color: @red-error-border;
					svg {
						fill: @red-error-content;
					}
					&:hover {
						background-color: @red-error-hover;
					}
				}
				&.warn {
					div.sn-content {
						color : @orange-warning-content;
					}
					background-color: @orange-warning-background;
					border-color: @orange-warning-border;
					svg {
						fill: @orange-warning-content;
					}
					&:hover {
						background-color: @orange-warning-hover;
					}
				}
				&.info {
					div.sn-content {
						color : @blue-info-text;
					}
					background-color: @blue-info-background;
					border-color: @blue-info-border;
					svg {
						fill: @blue-info-content;
					}
					&:hover {
						background-color: @blue-info-hover;
					}
				}
			}
		}
	}
}
.table-responsive.session-filter {
	overflow-x: visible;
}
ng-multiselect-dropdown {
	&.left-side {
		div.dropdown-list {
			right: 0px;
		}
	}
	div.multiselect-dropdown {
		width: 100px;
		li.no-data > h5 {
			color: @gray;
			opacity: 0.5;
		}
		div.dropdown-list {
			width: 350px;
		}
		span.dropdown-btn {
			height: 34px;
			border: 1px solid @gray-button !important;
			& > span.selected-item {
				white-space: nowrap;
				text-overflow: clip;
				overflow: hidden;
				width: 1px;
				visibility: hidden;
				&::after {
					visibility: visible;
					position: absolute;
					top: 6px;
					left: 8px;
					content: '...';
					color: @gray;
				}
			}
			& > span:last-child {
				& > span:first-child {
					display: none;
				}
			}
			a {
				display: none;
			}
		}
	}
}

body {
	.welcome-text {
		line-height: 30px;
		& > h1, h2, h3, h4, div, p, span {
			line-height: 30px;
		}
	}
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 24px;
		margin-bottom: 24px;
		color: var(--itb-heading-color);
	}
	h4, .h4, h5, .h5, h6, .h6 {
		margin-top: 10px;
		margin-bottom: 10px;
		color: var(--itb-heading-color);
	}
}

.spaced-left {
	margin-left: 5px;
}

.editor-body {
	padding: 10px;
}

div.non-padded-alert div.alert {
	margin-bottom: 5px;
}

.header {
	clear: both;
	border-top: 5px solid @gray-light-2;
	background: @gray-light-1;
	background: -moz-linear-gradient(top,  @gray-light-1 0%, @white 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gray-light-1), color-stop(100%,@white));
	background: -webkit-linear-gradient(top,  @gray-light-1 0%,@white 100%);
	background: -o-linear-gradient(top,  @gray-light-1 0%,@white 100%);
	background: -ms-linear-gradient(top,  @gray-light-1 0%,@white 100%);
	background: linear-gradient(to bottom,  @gray-light-1 0%, @white 100%);
	min-height: 100px;
	padding: 8px 0;
	width: 100%;
	z-index: 1001;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
	filter: none;
}

.header-bar {
	border-top: @page-header-bar-border-width * 1px solid @gray-light-2;
	border-bottom: 3px solid var(--itb-header-separator-color);
}
.header-container {
    display: flex;
	height: @page-header-bar-height * 1px;
    position: relative;
    .header-logo-container {
        display: flex;
        align-items: flex-end;
        .logo {
            height: 48px;
			content: var(--itb-header-logo-path);
        }
    }
}

.footer-bar {
    background-color: var(--itb-footer-background-color);
    border-top-color: var(--itb-footer-border-color);
    font-size: 0.9em;
    min-height: 60px;
	display: flex;
	border-top-width: 4px;
	border-top-style: solid;
    .container, .version-div .footer-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-logo{
		display: flex;
		img {
			height: 50px;
			display: var(--itb-footer-logo-display);
			content: var(--itb-footer-logo-path);
		}
	} 
    .version-div {
        display: flex;
        margin-left: auto;
    }
    .footer-links {
        margin-top: 1px;
        white-space: wrap;
        margin-left: 10px;
        .footer-link {
            &:not(:first-child) {
                border-left: 1px solid var(--itb-footer-text-color);
                padding-left: 5px;
            }
            display: inline-flex;
            margin: 5px 0px 5px 5px;
            span, a, a:visited {
                text-decoration: underline;
                color: var(--itb-footer-text-color);
            }
        }
    }
    .footer-devmode-container {
        flex-grow: 1;
        display: flex;
		padding-left: 10px;
        .footer-devmode {
            display: flex;
            align-self: center;
            align-content: center;
            border-color: var(--bs-warning-text-emphasis);
            color: var(--bs-warning-text-emphasis);
            background-color: var(--bs-warning-bg-subtle);
            padding: 5px;
            border-radius: @border-radius;
            border: 1px solid;
            font-weight: bold;
            white-space: nowrap;
            margin-left: auto;
            i {
                margin-right: 5px;
            }
        }
    }
}

.nav-item.tabClass {
	.nav-link {
		color: var(--itb-tab-link-color) !important;
	}
	&:not(.active) {
		.nav-link {
			border-radius: @border-radius @border-radius 0px 0px;
			border-top: 1px solid @gray-dark-1;
			border-left: 1px solid @gray-dark-1;
			border-right: 1px solid @gray-dark-1;
			&:hover {
				background-color: @gray-light-1;
			}
		}
	}
}

.button-container {
	display: flex;
	&.card-header {
		.btn-toolbar.btn-toolbar-delete {
			margin-left: inherit;
		}
	}
	.btn-toolbar {
		display: flex;
		&.btn-toolbar-delete {
			margin-left: auto;
		}
	}
	&.modal-footer {
		.btn-toolbar {
			margin-left: auto;
			&.btn-toolbar-delete {
				margin-left: inherit;
				margin-right: auto;
				.btn:first-child {
					margin-left: 0px;
				}
			}
		}
	}
}
.btn {
	min-width: 40px;
	&.dropdown-toggle-split, &.dropdown-toggle {
		min-width: inherit;
	}
}
span.tab{
    padding: 10px;
}
span.mini-tab{
    margin-right: 10px;
}
.hidden {
	display: none;
}

.caret.withMargin {
	margin-left: 10px;
}

.modal-dialog.landingPagePreview {
	margin-top: (@page-root-margin-top+@page-header-height+@page-header-bar-border-width+@page-header-bar-height+@breadcrumb-height) * 1px;
	max-width: inherit;
	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 1170px;
	}
	.modal-body {
		padding: 0px;
	}
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.report-image-container {
    display: flex;
    justify-content: center;
	img {
		max-width: 500px;
		max-height: 500px;
	}
}

.account-card {
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
	cursor: pointer;
    -moz-box-shadow: 3px 3px 5px 0px @gray-button;
    -webkit-box-shadow: 3px 3px 5px 0px @gray-button;
    box-shadow: 3px 3px 5px 0px @gray-button;
}

.account-card-oa {
	&:extend(.account-card);
	background-color: @account-card-oa;
}

.account-card-ou {
	&:extend(.account-card);
	background-color: @account-card-ou;
}

.account-card-ta {
	&:extend(.account-card);
	background-color: @account-card-ta;
}

.account-card-ca {
	&:extend(.account-card);
	background-color: @account-card-ca;
}

.account-card-internal {
	margin-left: 15px;
    border-top-right-radius: @border-radius;
	border-bottom-right-radius: @border-radius;
	background-color: @account-card-internal;
	&:hover {
		background-color: @account-card-internal-highlight;
	}
}

.account-card-selected {
	background-color: @account-card-internal-highlight;
}

.account-card-text {
	padding: 20px 30px 20px 30px;
	font-weight: bold;
}

.role-description {
	font-size: 0.9em;
    padding-top: 5px;
}

.colour-holder {
    width: 80px !important;
    height: 35px;
    cursor: pointer;
}

.color-picker.open {
	border-bottom-left-radius: @border-radius;
	border-bottom-right-radius: @border-radius;
}

.resourcePreviewContainer {
	display: flex;
	align-items: center;
	justify-content: center;        
	.resourcePreview {
		max-width: 100%;
		max-height: 350px;
	}
}

/* Drag and drop related styles - START */
.cdk-drag-preview {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder {
	background-color: transparent !important;
	color: transparent !important;
	& * {
		background-color: transparent !important;
		color: transparent !important;
	}
	&.drag-div {
		border-color: transparent !important;
		& * {
			border-color: transparent !important;
		}
	}
	&.drag-table-row {
		& * {
			&.btn, &.form-control {
				border-color: transparent !important;
			}
		}
	}
}
.cdk-drag-preview {
	&.drag-div {
		.drag-hide {
			display: none !important;
		}
		.drag-div {
			.drag-handle {
				display: none !important;
			}
		}
	}
	&.drag-table-row {
		background-color: @white;
		& > td, & > div {
			border-bottom: 1px solid @gray-dark-1;
			border-top: 1px solid @gray-dark-1;
			&:first-child {
				border-left: 1px solid @gray-dark-1;
			}
			&:last-child {
				border-right: 1px solid @gray-dark-1;
			}
		}
		.drag-preview {
			font-weight: bold;
			width: 100%;
		}
		input.form-control {
			border-style: none;
			background-color: @white;
			font-weight: bold;
		}
		& > td:not(.drag-preview), & > div:not(.drag-preview) {
			&:not(.drag-handle) {
				display: none;
			}
		}
	}
}
.drag-handle {
    cursor: default !important;    
    .btn {
        cursor: move !important;
    }
}
/* Drag and drop related styles - END */

.buttonBadge {
	padding: 6px;
	&.badgeLogErrors {
		background-color: @red-error;
	}
	&.badgeLogWarnings {
		background-color: @orange-warning;
	}
	&.badgeLogMessages {
		background-color: @gray-button;
	}
	&.hidden {
		display: none;
	}
}
