@import './_common.less';

html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	background-color: #FFF;
	color: #777;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}

/* Scroll to Top */
a.scroll-to-top {
	-moz-border-radius: 7px 7px 0 0;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-border-radius: 7px 7px 0 0;
	-webkit-transition: all 0.3s;
	background: #404040;
	border-radius: 7px 7px 0 0;
	bottom: 0px;
	color: #FFF;
	display: block;
	height: 9px;
	opacity: 0;
	padding: 13px 0 35px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	width: 49px;
	z-index: 1040;
}

a.scroll-to-top:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

a.scroll-to-top.visible {
	filter: alpha(opacity=75);
	opacity: 0.75;
}

h1, h2, h3, h4, h5, h6 {
	color: @blue
}

.page {
	position: relative;
}

.page-root {
	.page-with-margins {
		margin: @page-content-margin-under-root
	}
}

.page-with-margins {
    margin: @page-content-margin;
}

.welcome-text {
	line-height: 30px;
	& > h1, h2, h3, h4, div, p, span {
		line-height: 30px;
	}
}

.div-spaced {
	margin-top: 20px;
}

.div-spaced-small {
	margin-top: 15px;
}

.div-rounded {
	border-radius: 5px;
}

.div-padded-sides {
	padding-left: 15px;
	padding-right: 15px;
}

.div-padded {
	padding: 15px;
}
.div-padded-bottom {
	padding-bottom: 15px;
}
.div-padded-small {
	padding: 8px;
}
.account-card {
	&:extend(.div-rounded);
	cursor: pointer;
    -moz-box-shadow: 3px 3px 5px 0px #ccc;
    -webkit-box-shadow: 3px 3px 5px 0px #ccc;
    box-shadow: 3px 3px 5px 0px #ccc;
}

.account-card-oa {
	&:extend(.account-card);
	background-color: #555;
}

.account-card-ou {
	&:extend(.account-card);
	background-color: #adadad;
}

.account-card-ta {
	&:extend(.account-card);
	background-color: #0065A2;
}

.account-card-ca {
	&:extend(.account-card);
	background-color: #a94442;
}

.account-card-internal {
	margin-left: 15px;
    border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #eaeaea;
	&:hover {
		background-color: #cecece;
	}
}

.account-card-selected {
	background-color: #cecece;
}

.account-card-text {
	padding: 20px 30px 20px 30px;
	font-weight: bold;
}

.account-list-new {
	padding-top: 15px;
    margin-top: 30px;
    color: #0088cc;
    font-size: 18px;
}

.role-description {
	font-size: 0.9em;
    padding-top: 5px;
}

.link-account-separator {
	margin-left: 40px;
	margin-right: 40px;
	margin-top:15px;
	margin-bottom:15px;
	padding-top:15px;
	border-top:1px solid #e5e5e5;
}

.bottom-margin {
	margin-bottom:15px;
}

.login-option {
	display: inline-block;
	padding: 20px;
}

.table-paging-controls {
	border-top: 2px solid @gray-dark-1;
	display: flex;
	justify-content: center;
	.pagination {
		margin: 10px 0px;
	}	
}

table.expandable-table {
	border-collapse: separate;
	table.expandable-table {
		border-collapse: collapse;
	}
	th {
		background-color: #FFFFFF;
	}
	tr {
		background-color: #F5F5F5;
	}
	.panel {
		margin-bottom: 0px;
		.panel-heading {
			background-color: white;
    		color: #777;
			&.session-table-title.clickable:hover {
				cursor: pointer;
				background-color: @white-hover;
			}
		}
		.panel-footer {
			background-color: white;
		}
	}
}

.panel-default > .panel-heading > .session-table-title {
	color: #777;
}

.session-table-title {
	padding: 0px 15px;
	display: flex;
	color: #777;
	.session-table-title-part {
		display: inline-flex;
		border-left: 1px solid #ddd;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		&:first-child {
			border-left: 0px;
			padding-left: 0px;
		}
		.session-table-title-label {
			display: inline-flex;
			font-weight: bold;
			padding-right: 10px;
			align-items: center;
			white-space: nowrap
		}
		.session-table-title-value {
			display: inline-flex;
			align-items: center;
		}
	}
}

table tbody tr.expandable-table-row-collapsed {
	&:hover {
		background-color: @gray-highlight;
		+ .expandable-table-row-expanded > td.expandable-table-expandable-cell {
			background-color: @gray-highlight;
		}
		+ .expandable-table-row-expanded > td.expandable-table-expandable-cell-no-spacings {
			background-color: @gray-highlight;
			.tr-expandable-inner {
				background-color: @gray-highlight;
			}
		}
	}
	td {
		cursor: pointer;
	}
	td:last-child {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

table.padded-table tbody tr {
	td {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	td.operation-cell {
		padding: 8px;
	}
}

table.table-directive {
	div.btn-toolbar {
		margin: 0px;
	}
}
.td-min-right {
	width: 1px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: middle;
	text-align: right;
}
.td-min-centered {
	width: 1px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: middle;
	text-align: center;
}
.th-min-centered {
	width: 1px;
	text-align: center;
	white-space: nowrap;
}
.td-min {
	width: 1px;
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: nowrap;
	&.padding-right-large {
		padding-right: 40px;
	}
}
.th-min {
	width: 1px;
	white-space: nowrap;
	&.padding-right-large {
		padding-right: 40px;
	}	
}
#system-tests-table, #dashboard-table, #conformanceDashboardPageTable {
	th.tb-result {
		.th-min-centered
	}
	td.tb-result {
		.td-min-centered
	}
}

#conformance-statements-table {
	th.tb-status {
		.th-min-centered
	}
	td.tb-status {
		.td-min-centered
	}
}

table tbody tr.expandable-table-row-expanded {
	& > td {
		padding-top: 0px;
		padding-bottom: 0px;
		&.expandable-table-expandable-cell {
			padding: 0px;
			> div {
				.btn-toolbar {
					margin: 0px;
				}
			}
		}
	}
	& >td.expandable-table-expandable-cell-no-spacings {
		padding:0px;
	}
	& >td {
		border-top: 0px solid #ddd;
	}
}
div.collapsing-div {
	margin: 8px;
}

tr.expandable-table-row-expanded table.expandable-table {
	tr:first-child {
		border-top: 1px solid #ddd;
	}
	tr:last-child {
		border-bottom: 1px solid #ddd;
	}
	th {
		background-color: #FFFFFF;
		padding: 8px;
	}
	th:first-child {
		border-left: 1px solid #ddd;
	}
	th:last-child {
		border-right: 1px solid #ddd;
	}
	td {
		border-top: 1px solid #ddd;
		background-color: #FFFFFF;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	td:first-child {
		border-left: 1px solid #ddd;
	}
	td:last-child {
		border-right: 1px solid #ddd;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.self-reg-option-table {
	border:1px solid #e5e5e5;
	border-radius: 5px;
	margin-bottom: 20px;
}

.self-reg-option-table-popup {
	margin-right: 40px;
	margin-left: 40px;
}

.inline-form-text {
	margin-top: -15px;
	font-size: smaller;
}

.shortTooltip {
	.tooltip-inner {
		min-width: auto !important;
		white-space: nowrap;
	}
}

.tooltip-inner {
	min-width: 200px !important;
}

.inline-tooltip {
    display: inline-block;
	margin-left: 10px;
	cursor: default;
	div.checkLabel {
		margin-left: -10px;
	}
	div.check {
		span {
			vertical-align: text-bottom;
		}
	}
	div.radio {
		span {
			vertical-align: sub;
		}
	}
}

.popover.result-message-popover {
	padding: 10px;
	max-width: 800px;
	top: -4px !important;
	left: -4px !important;
	&.success {
		> .arrow {
			border-left-color: #d6e9c6;
			&:after {
				border-left-color: #dff0d8;
			}
		}
		background-color: #dff0d8;
		border-color: #d6e9c6;
		.popover-inner {
			background-color: #dff0d8;
			color: #3c763d;
		}
	}
	&.failure {
		> .arrow {
			border-left-color: #ebccd1;
			&:after {
				border-left-color: #f2dede;
			}
		}
		background-color: #f2dede;
		border-color: #ebccd1;
		.popover-inner {
			background-color: #f2dede;
			color: #a94442;
		}
	}
}

.pointer {
	cursor: pointer !important;
}

.notification-container {
	div.simple-notification-wrapper {
		top: 71px !important;
		right: 10px !important;
		z-index: 5000;
		min-width: 350px;
		.simple-notification {
			&.notification-item {
				display: flex;
				border: 1px solid transparent;
				border-radius: 4px;
				box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);
				-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);
				-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.50);
				div:first-of-type {
					display: inline-flex;
					align-items: center;
				}
				div.sn-content {
					font-size: inherit;
					line-height: inherit;
					display: block;
					min-width: 300px;
					text-align: left;
					padding-right: 30px;
				}
				div.icon {
					display: flex;
					justify-content: right;
					align-items: center;
					svg {
						width: 70%;
						height: 70%;
					}
				}
				&.success {
					div.sn-content {
						color: @green-success-content;
					}
					background-color: @green-success-background;
					border-color: @green-success-border;
					svg {
						fill: @green-success-content;
					}
				}
				&.error {
					div.sn-content {
						color :@red-error-content;
					}
					background-color: @red-error-background;
					border-color: @red-error-border;
					svg {
						fill: @red-error-content;
					}
				}
				&.warn {
					div.sn-content {
						color : @orange-dark;
					}
					background-color: @orange-light;
					border-color: @orange-light;
					svg {
						fill: @orange-dark;
					}
				}
				&.info {
					div.sn-content {
						color : @blue-dark;
					}
					background-color: @blue-light;
					border-color: @blue-light;
					svg {
						fill: @blue-dark;
					}
				}
			}
		}
	}
}
.table-responsive.session-filter {
	overflow-x: visible;
}
ng-multiselect-dropdown {
	&.left-side {
		div.dropdown-list {
			right: 0px;
		}
	}
	div.multiselect-dropdown {
		width: 100px;
		li.no-data > h5 {
			color: #777;
			opacity: 0.5;
		}
		div.dropdown-list {
			width: 350px;
		}
		span.dropdown-btn {
			height: 34px;
			border: 1px solid #ccc !important;
			& > span.selected-item {
				white-space: nowrap;
				text-overflow: clip;
				overflow: hidden;
				width: 1px;
				visibility: hidden;
				&::after {
					visibility: visible;
					position: absolute;
					top: 6px;
					left: 8px;
					content: '...';
					color: #777;
				}
			}
			& > span:last-child {
				& > span:first-child {
					display: none;
				}
			}
			a {
				display: none;
			}
		}
	}
}

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 24px;
    margin-bottom: 24px;
}

.spaced-left {
	margin-left: 5px;
}

.editor-body {
	padding: 10px;
}

div.non-padded-alert div.alert {
	margin-bottom: 5px;
}
.tooltipContainer {
	left: 1px !important;
}
.tooltipContainerBig {
	left: 2px !important;
}

.header {
	clear: both;
	border-top: 5px solid @gray-light-2;
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #f6f6f6 0%,#ffffff 100%);
	min-height: 100px;
	padding: 8px 0;
	width: 100%;
	z-index: 1001;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
	filter: none;
}

.header-bar {
	border-top: 5px solid @gray-light-2;	
}
.header-container {
    display: flex;
	min-height: 59px;
    position: relative;
    .header-logo-container {
        display: flex;
        align-items: flex-end;
        margin-bottom: 3px;
        .logo {
            height: 48px;
        }
    }
}

.footer-bar {
    background-color: #0065a2;
    border-top: 4px solid #074A8B;
    font-size: 0.9em;
    min-height: 60px;
    .container, .version-div .footer-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-logo img {
        height: 50px;
    }
    .version-div {
        display: flex;
        margin-left: auto;        
    }
    .footer-links {
        margin-top: 1px;
        white-space: wrap;
        margin-left: 10px;
        .footer-link {
            &:not(:first-child) {
                border-left: 1px solid @white;
                padding-left: 5px;
            }
            display: inline-flex;
            margin: 5px 0px 5px 5px;
            span, a, a:visited {
                text-decoration: underline;
                color: @white;
            }
        }
    }
    .footer-devmode-container {
        flex-grow: 1;
        display: flex;
		padding-left: 10px;
        .footer-devmode {
            display: flex;
            align-self: center;
            align-content: center;
            border-color: #faebcc;
            color: #8A6D3B;
            background-color: #fcf8e3;
            padding: 5px;
            border-radius: 4px;
            border: 1px solid;
            font-weight: bold;
            white-space: nowrap;
            margin-left: auto;
            i {
                margin-right: 5px;
            }
        }
    }
}

.nav-item.tabClass {
	&:not(.active) {
		.nav-link {
			border-radius: 4px 4px 0px 0px;
			border-top: 1px solid @gray-dark-1;
			border-left: 1px solid @gray-dark-1;
			border-right: 1px solid @gray-dark-1;
		}
	}
}
.button-container {
	display: flex;
	.btn-toolbar:not(:first-child) {
		margin-left: 15px;
		&:has(.btn-link) {
			margin-left: 30px;
		}
		padding-left: 10px;
		border-left: 1px solid @gray-dark-1;		
		display: flex;
	}
	&.modal-footer {
		.btn-toolbar {
			&:first-child {
				margin-left: auto;
			}
		}
		&:has(.btn-toolbar .btn-link) {
			.btn-toolbar:nth-child(n+2) {
				padding-left: 25px;
			}
		}
	}
}
.btn {
	min-width: 40px;
}
span.tab{
    padding: 10px;
}
span.mini-tab{
    margin-right: 10px;
}
.hidden {
	display: none;
}