<div class="custom-property-filter">
    @if (applied) {
      <div class="custom-property-filter-container applied">
        <div class="property-id">{{appliedName}}</div>
        <div class="property-value">{{appliedValueLabel}}</div>
        <div class="property-controls">
          <button class="btn btn-secondary" (click)="clear()" containerClass="shortTooltip" tooltip="Remove" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-solid fa-times"></i></button>
        </div>
      </div>
    } @else {
      <div class="custom-property-filter-container non-applied">
        <div class="property-id">
          <select name="propInput" (change)="propertyChanged()" [(ngModel)]="propertyInfo.property" class="form-control form-select">
              @for (prop of properties; track prop.id) {
                <option [ngValue]="prop">{{prop.name}}</option>
              }
          </select>
        </div>
        @if (!propertyInfo || !propertyInfo.property || !propertyInfo.property.allowedValues) {
          <div class="property-value">
            <input name="valInput" [(ngModel)]="propertyInfo.value" type="text" class="form-control"/>
          </div>
        } @else if (propertyInfo.property.presetValues) {
          <div class="property-value">
            <select name="valInputChoice" [(ngModel)]="propertyInfo.valueObj" class="form-control form-select">
                @for (v of propertyInfo.property!.presetValues; track $index) {
                  <option [ngValue]="v">{{v.label}}</option>
                }
            </select>
          </div>
        }
        <div class="property-controls">
          <button class="btn btn-secondary" (click)="apply()" containerClass="shortTooltip" tooltip="Apply" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'" container="body"><i class="fa-solid fa-check"></i></button>
          <button class="btn btn-secondary" (click)="cancel()" containerClass="shortTooltip" tooltip="Cancel" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'" container="body"><i class="fa-solid fa-times"></i></button>
        </div>
      </div>
    }
  </div>