<div class="page domains detail detail-spec">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{dataService.labelSpecification()}} details</h4>
		</div>
		<form class="form-horizontal">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
                        <app-specification-form [specification]="specification"></app-specification-form>
                    </div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="btn-toolbar">
					<button (click)="saveSpecificationChanges()" type="submit" class="btn btn-default" [disable]="deletePending || saveDisabled()" [pending]="savePending">Save changes</button>
					<button (click)="deleteSpecification()" type="button" class="btn btn-default" [pending]="deletePending" [disable]="savePending">Delete</button>
					<button (click)="back()" type="button" class="btn btn-default">Back</button>
				</div>
			</div>
		</form>
	</div>
	<div>
		<tabset #tabs>
			<tab (selectTab)="loadTestSuites()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-box-archive" text="Test suites"></app-tab-title></ng-template>
				<div class="tabPanel">
					<div class="tabControls">
						<div class="btn-toolbar">
							<button class="btn btn-default" (click)="uploadTestSuite()">Upload test suite</button>
							<div class="btn-group" dropdown (onShown)="loadAvailableSharedTestSuites()">
								<button id="button-link" [disable]="unlinkPending" [pending]="linkPending" dropdownToggle type="button" class="btn btn-default dropdown-toggle" aria-controls="dropdown-link">Link shared test suite<span class="caret"></span></button>
								<ul id="dropdown-link" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-link">
									<li role="menuitem" class="disabled" *ngIf="!availableSharedTestSuitesLoaded">
										<a class="dropdown-item" href (click)="$event.preventDefault()"><app-pending-block></app-pending-block></a>
									</li>
									<ng-container *ngIf="availableSharedTestSuitesLoaded" [ngSwitch]="availableSharedTestSuites.length">
										<ng-container *ngSwitchCase="0">
											<li role="menuitem" class="disabled">
												<a class="dropdown-item" href (click)="$event.preventDefault()">{{(sharedTestSuites.length > 0)?'All shared test suites are already linked to the '+dataService.labelSpecificationLower():'No shared test suites are defined'}}</a>
											</li>
										</ng-container>
										<ng-container *ngSwitchDefault>
											<li role="menuitem" *ngFor="let testSuite of availableSharedTestSuites">
												<a class="dropdown-item" href (click)="linkTestSuite(testSuite); $event.preventDefault()">{{testSuite.identifier}}</a>
											</li>
										</ng-container>
									</ng-container>
								</ul>
							</div>
							<div class="btn-group" dropdown>
								<button id="button-unlink" [disable]="sharedTestSuites.length == 0" [pending]="unlinkPending" dropdownToggle type="button" class="btn btn-default dropdown-toggle" aria-controls="dropdown-unlink">Unlink shared test suite<span class="caret"></span></button>
								<ul id="dropdown-unlink" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-unlink">
									<li role="menuitem" *ngFor="let testSuite of sharedTestSuites">
										<a class="dropdown-item" href (click)="unlinkTestSuite(testSuite); $event.preventDefault()">{{testSuite.identifier}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div table-directive id="test-suites-table" 
							[columns]="testSuiteTableColumns" 
							[data]="testSuites"
							noDataMessage="No test suites found"
							[loadingStatus]="testSuiteStatus" 
							[allowSelect]="true"
							(onSelect)="onTestSuiteSelect($event)">
						</div>
					</div>
				</div>
			</tab>
			<tab (selectTab)="loadActors()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-circle-user" [text]="dataService.labelActors()"></app-tab-title></ng-template>
				<div class="tabPanel">
					<div class="tabControls">
						<button class="btn btn-default" type="button" (click)="createActor()">Create {{dataService.labelActorLower()}}</button>
					</div>
					<div class="panel panel-default">
						<div table-directive
							[columns]="actorTableColumns"
							[data]="actors"
							[noDataMessage]="'No '+dataService.labelActorsLower()+' found'"
							[loadingStatus]="actorStatus" 
							[allowSelect]="true"
							(onSelect)="onActorSelect($event)">
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>