<div class="page domains detail detail-spec">
	<div class="card">
		<div class="card-header">
			<div class="card-title">{{dataService.labelSpecification()}} details</div>
		</div>
		<form>
			<div class="card-body" [pending]="!loaded" focus="shortName">
				<app-specification-form [specification]="specification"></app-specification-form>
			</div>
			<div class="card-footer button-container">
				<div class="btn-toolbar">
					<button (click)="saveSpecificationChanges()" type="submit" class="btn btn-secondary" [disable]="!loaded || deletePending || saveDisabled()" [pending]="savePending">Save changes</button>
					<button (click)="back()" type="button" class="btn btn-secondary">Back</button>
				</div>
				<div class="btn-toolbar btn-toolbar-delete">
					<button (click)="deleteSpecification()" type="button" class="btn btn-outline-danger" [pending]="deletePending" [disable]="!loaded || savePending">Delete</button>
				</div>
			</div>
		</form>
	</div>
	<div>
		<tabset #tabs>
			<tab (selectTab)="loadTestSuites()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-box-archive" text="Test suites"></app-tab-title></ng-template>
				<div class="tabPanel">
					<div class="tabControls">
						<div class="btn-toolbar">
                            <app-text-filter name="testSuiteFilter" [width]="300" [placeholder]="'Search test suites...'" [(ngModel)]="testSuiteFilter" (apply)="applyFilter()"></app-text-filter>
							<button class="btn btn-secondary" (click)="uploadTestSuite()" [disabled]="linkPending || unlinkPending">Upload test suite</button>
                            <app-multi-select-filter [config]="linkSharedSelectionConfig" (apply)="linkTestSuite($event)" [pending]="linkPending" [disable]="unlinkPending"></app-multi-select-filter>
                            <app-multi-select-filter [config]="unlinkSharedSelectionConfig" (apply)="unlinkTestSuite($event)" [pending]="unlinkPending" [disable]="sharedTestSuites.length == 0 || linkPending"></app-multi-select-filter>
						</div>
					</div>
					<app-alert-display [alerts]="alerts" [outerClass]="'inTab'"></app-alert-display>
					<div class="card">
						<div #testSuiteTable table-directive id="test-suites-table"
							[columns]="testSuiteTableColumns"
							[data]="testSuites"
							noDataMessage="No test suites found"
							[loadingStatus]="testSuiteStatus"
							[allowSelect]="true"
                            [contentRefreshing]="testSuitesRefreshing"
                            [supportPaging]="true"
                            (pageNavigation)="doTestSuitePaging($event)"
							(onSelect)="onTestSuiteSelect($event)">
						</div>
					</div>
				</div>
			</tab>
			<tab (selectTab)="loadActors()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-circle-user" [text]="dataService.labelActors()"></app-tab-title></ng-template>
				<div class="tabPanel">
					<div class="tabControls">
                        <div class="btn-toolbar">
                            <button class="btn btn-secondary" type="button" (click)="createActor()">Create {{dataService.labelActorLower()}}</button>
                        </div>
					</div>
					<div class="card">
						<div table-directive
							[columns]="actorTableColumns"
							[data]="actors"
							[noDataMessage]="'No '+dataService.labelActorsLower()+' found'"
							[loadingStatus]="actorStatus"
							[allowSelect]="true"
							(onSelect)="onActorSelect($event)">
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>
