@import "../../../../../styles/less/_common.less";

.card-header.clickable.collapsed {
    border-bottom-right-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
    border-bottom-style: hidden;
}
