<div class="page memberProperties">
    <div class="card no-bottom-margin">
        <div class="card-header">
            <h4 class="title">Custom properties for community members</h4>
        </div>
        <div class="card-body">
            <div class="alert alert-info rounded div-padded bottom-margin">
                <span>The following custom properties will be presented to your community members for completion and, if configured, will also be made available as test session variables. Required properties must be provided before executing test sessions.</span>
            </div>
            <div class="card panel-default">
                <div class="card-header">
                    <h5 class="title">{{dataService.labelOrganisation()}} level properties</h5>
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-secondary" (click)="previewOrganisationParameters()">Preview</button>
                        <button type="button" class="btn btn-secondary" [disabled]="orderOrganisationParametersDisabled.value" (click)="orderOrganisationParameters()">Save property order</button>
                        <button type="button" class="btn btn-secondary" (click)="addOrganisationParameter()">Create property</button>
                    </div>
                </div>
                <div class="table-container">
                    <table class="table table-directive thick">
                        <thead>
                            <tr>
                                <th>Label</th>
                                <th>Key</th>
                                <th>Type</th>
                                <th class="min-width">Required</th>
                                <th class="min-width">Editable</th>
                                <th class="min-width">In&nbsp;tests</th>
                                <th class="min-width">In&nbsp;exports</th>
                                <th class="min-width">Hidden</th>
                                <th class="min-width" *ngIf="dataService.configuration.registrationEnabled">In&nbsp;registration</th>
                                <th class="min-width"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="organisationParameterStatus.status != Constants.STATUS.FINISHED">
                                <td colspan="10" class="td-data-loading"><span><i class="fa-solid fa-spinner fa-spin-override fa-lg"></i></span></td>
                            </tr>
                            <tr *ngIf="organisationParameterStatus.status == Constants.STATUS.FINISHED && organisationParameters.length == 0">
                                <td colspan="10" class="td-no-data"><span>No properties found</span></td>
                            </tr>
                            <tr class="table-row-directive selectable" *ngFor="let parameter of organisationParameters; let first = first; let last = last; let index = index" (click)="onOrganisationParameterSelect(parameter)">
                                <td><div><span>{{parameter.name}}</span></div></td>
                                <td><div><span>{{parameter.testKey}}</span></div></td>
                                <td><div><span>{{kindLabel(parameter)}}</span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.use == 'R', 'fa-times': parameter.use != 'R'}"></i></span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': !parameter.adminOnly, 'fa-times': parameter.adminOnly}"></i></span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': !parameter.notForTests, 'fa-times': parameter.notForTests}"></i></span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.inExports, 'fa-times': !parameter.inExports}"></i></span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.hidden, 'fa-times': !parameter.hidden}"></i></span></div></td>
                                <td class="centered" *ngIf="dataService.configuration.registrationEnabled"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.inSelfRegistration, 'fa-times': !parameter.inSelfRegistration}"></i></span></div></td>
                                <td class="btn-stacked-container" (click)="$event.stopPropagation();">
                                    <div class="btn-toolbar btn-stacked">
                                        <button *ngIf="!first" class="btn btn-xs btn-secondary" type="button" (click)="movePropertyUp(organisationParameters, orderOrganisationParametersDisabled, index, $event)" containerClass="shortTooltip" tooltip="Move up" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-chevron-up"></i></button>
                                        <button *ngIf="!last" class="btn btn-xs btn-secondary" type="button" (click)="movePropertyDown(organisationParameters, orderOrganisationParametersDisabled, index, $event)" containerClass="shortTooltip" tooltip="Move down" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-chevron-down"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card no-bottom-margin">
                <div class="card-header">
                    <h5 class="title">{{dataService.labelSystem()}} level properties</h5>
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-secondary" (click)="previewSystemParameters()">Preview</button>
                        <button type="button" class="btn btn-secondary" [disable]="orderSystemParametersDisabled.value" [pending]="orderPending" (click)="orderSystemParameters()">Save property order</button>
                        <button type="button" class="btn btn-secondary" (click)="addSystemParameter()">Create property</button>
                    </div>
                </div>
                <div class="table-container">
                    <table class="table table-directive thick">
                        <thead>
                            <tr>
                                <th>Label</th>
                                <th>Key</th>
                                <th>Type</th>
                                <th class="min-width">Required</th>
                                <th class="min-width">Editable</th>
                                <th class="min-width">In&nbsp;tests</th>
                                <th class="min-width">In&nbsp;exports</th>
                                <th class="min-width">Hidden</th>
                                <th class="min-width"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="systemParameterStatus.status != Constants.STATUS.FINISHED">
                                <td colspan="10" class="td-data-loading"><span><i class="fa-solid fa-spinner fa-spin-override fa-lg"></i></span></td>
                            </tr>
                            <tr *ngIf="systemParameterStatus.status == Constants.STATUS.FINISHED && systemParameters.length == 0">
                                <td colspan="10" class="td-no-data"><span>No properties found</span></td>
                            </tr>
                            <tr class="table-row-directive selectable" *ngFor="let parameter of systemParameters; let first = first; let last = last; let index = index" (click)="onSystemParameterSelect(parameter)">
                                <td><div><span>{{parameter.name}}</span></div></td>
                                <td><div><span>{{parameter.testKey}}</span></div></td>
                                <td><div><span>{{kindLabel(parameter)}}</span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.use == 'R', 'fa-times': parameter.use != 'R'}"></i></span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': !parameter.adminOnly, 'fa-times': parameter.adminOnly}"></i></span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': !parameter.notForTests, 'fa-times': parameter.notForTests}"></i></span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.inExports, 'fa-times': !parameter.inExports}"></i></span></div></td>
                                <td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.hidden, 'fa-times': !parameter.hidden}"></i></span></div></td>
                                <td class="btn-stacked-container" (click)="$event.stopPropagation();">
                                    <div class="btn-toolbar btn-stacked">
                                        <button *ngIf="!first" class="btn btn-xs btn-secondary" type="button" (click)="movePropertyUp(systemParameters, orderSystemParametersDisabled, index, $event)" containerClass="shortTooltip" tooltip="Move up" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-chevron-up"></i></button>
                                        <button *ngIf="!last" class="btn btn-xs btn-secondary" type="button" (click)="movePropertyDown(systemParameters, orderSystemParametersDisabled, index, $event)" containerClass="shortTooltip" tooltip="Move down" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-chevron-down"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-toolbar">
                <button class="btn btn-secondary" type="button" (click)="cancel()">Back</button>
            </div>
        </div>
    </div>
</div>