<div class="col-10 offset-1">
    <div class="row mb-3">
        <label class="col-3 col-form-label text-end" for="currentPassword">* Current password:</label>
        <div class="col-7">
            <app-secret-input inputId="currentPassword" inputName="currentPassword" name="currentPasswordSecret" [(ngModel)]="model.currentPassword" [autoFocus]="autoFocus" [focusChange]="focusChange" [validation]="validation.get('current')"></app-secret-input>
        </div>
        <div app-tooltip class="col-auto" tbTooltip="Provide the password currently associated to your account."></div>
    </div>
    <div class="row" [class.mb-3]="padded">
        <label class="col-3 col-form-label text-end" for="newPassword">* New password:</label>
        <div class="col-7">
            <app-secret-input inputId="newPassword" inputName="newPassword" name="newPasswordSecret" [(ngModel)]="model.newPassword" [validation]="validation.get('new')"></app-secret-input>
        </div>
        <div app-tooltip class="col-auto" tbTooltip="Provide the new password to set for your account."></div>
    </div>
</div>
