<div class="col-xs-10 col-md-offset-1">
    <div class="form-group">
        <label class="col-xs-3 control-label" for="current">* Current password:</label>
        <div class="col-xs-7"><input id="current" name="current" [(ngModel)]="model.currentPassword" class="form-control" type="password"></div>
        <app-tooltip tbTooltip="Provide the password currently associated to your account."></app-tooltip>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="password">* New password:</label>
        <div class="col-xs-7"><input id="password" [(ngModel)]="model.password1" class="form-control" type="password"></div>
        <app-tooltip tbTooltip="Provide the new password to set for your account."></app-tooltip>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="confirm">* Confirm password:</label>
        <div class="col-xs-7"><input id="confirm" [(ngModel)]="model.password2" class="form-control" type="password"></div>
        <app-tooltip tbTooltip="Provide again the new password to ensure it is correct."></app-tooltip>
    </div>
</div>
