<div class="col-10 offset-1">
    <div class="form-group row">
        <label class="col-3 col-form-label text-right" for="current">* Current password:</label>
        <div class="col-7">
            <app-secret-input id="currentPassword" name="currentPassword" [(ngModel)]="model.currentPassword" [autoFocus]="autoFocus"></app-secret-input>
        </div>
        <app-tooltip tbTooltip="Provide the password currently associated to your account."></app-tooltip>
    </div>
    <div class="form-group row">
        <label class="col-3 col-form-label text-right" for="password">* New password:</label>
        <div class="col-7">
            <app-secret-input id="newPassword" name="newPassword" [(ngModel)]="model.newPassword"></app-secret-input>
        </div>
        <app-tooltip tbTooltip="Provide the new password to set for your account."></app-tooltip>
    </div>
</div>
