<div #wrapperElement class="toggle btn off" [ngStyle]="wrapperStyle" (click)="onSwitch($event)">
  <div class="toggle-group" [ngClass]="toggleClass">
    <label #onElement class="btn btn-primary toggle-on-pad" [ngClass]="{'disabled': disabled}">{{on}}</label>
    <label #offElement class="btn btn-default toggle-off-pad active" [ngClass]="{'disabled': disabled}">{{off}}</label>
    <span #handleElement class="btn btn-default toggle-handle" [ngClass]="{'disabled': disabled}"></span>
  </div>
</div>