<div class="input-group">
    <input *ngIf="!display" [name]="name" [attr.id]="id" type="password" class="form-control" [(ngModel)]="value"/>
    <input *ngIf="display" [name]="name" [attr.id]="id" type="text" class="form-control" [(ngModel)]="value"/>
    <div class="input-group-btn">
        <button #displayButton class="btn btn-default" type="button" (mousedown)="display = true" (mouseup)="display = false; displayButton.blur()" (mouseout)="display = false; displayButton.blur()"><i class="fa-solid fa-eye" aria-hidden="true"></i></button>
    </div>
</div>