<div class="input-group" [class.has-validation]="hasValidation">
    @if (!display) {
        <input #passwordField [name]="name" [attr.id]="id" type="password" class="form-control" [(ngModel)]="value" [invalid]="validation"/>
    } @else {
        <input #passwordField [name]="name" [attr.id]="id" type="text" class="form-control" [(ngModel)]="value" [invalid]="validation"/>
    }
    <button #displayButton class="btn btn-secondary" type="button" (click)="toggleDisplay()" containerClass="shortTooltip" container="body" tooltip="Toggle visibility" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-solid" [class.fa-eye]="!display" [class.fa-eye-slash]="display" aria-hidden="true"></i></button>
</div>