<div class="input-group">
    <input #passwordField *ngIf="!display" [name]="name" [attr.id]="id" type="password" class="form-control" [(ngModel)]="value"/>
    <input *ngIf="display" [name]="name" [attr.id]="id" type="text" class="form-control" [(ngModel)]="value" tabindex="-1"/>
    <div class="input-group-append">
        <button #displayButton class="btn btn-secondary" type="button" (mousedown)="display = true" (mouseup)="viewButtonOff()" (mouseout)="viewButtonOff()" tabindex="-1"><i class="fa-solid fa-eye" aria-hidden="true"></i></button>
    </div>
</div>