<div class="root-container"
    [class.not-first]="!first"
    [class.top-level]="spec.group || spec.groupId == undefined"
    [class.dragging]="dragOngoing"
    [class.draggable]="dragEnabled"
    cdkDrag
    (cdkDragStarted)="startDrag()"
    (cdkDragEnded)="endDrag()"
    cdkDragPreviewContainer="parent"
    [cdkDragDisabled]="!dragEnabled || (first && last)"
    >
    <div class="spec-container">
        <app-collapsing-icon [hidden]="!spec.group" [padded]="false" [isCollapsed]="spec.collapsed == true" [asDiv]="true"></app-collapsing-icon>
        <div class="spec-name" [class.left-margin]="spec.group">{{spec.fname}}</div>
        @if (spec.description != undefined && spec.description != '') {
            <div class="spec-description">{{spec.description}}</div>
        }
        <div class="right-container">
            @if (spec.hidden) {
                <div class="spec-hidden drag-hide"><app-hidden-icon></app-hidden-icon></div>
            }
            @if (!dragEnabled && groups.length > 0) {
                <div class="btn-toolbar">
                    @if (spec.group) {
                        <button id="button-edit" class="btn btn-secondary drag-hide" (click)="editGroup();$event.stopPropagation();" tooltipClass="shortTooltip" container="body" [ngbTooltip]="'Edit '+dataService.labelSpecificationGroupLower()" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><span><i [class]="Constants.BUTTON_ICON.EDIT"></i></span></button>
                        <button id="button-add-option" class="btn btn-secondary drag-hide" (click)="createOption();$event.stopPropagation();" tooltipClass="shortTooltip" container="body" [ngbTooltip]="'Add '+dataService.labelSpecificationInGroupLower()" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><span><i [class]="Constants.BUTTON_ICON.NEW"></i></span></button>
                    } @else {
                        @if (spec.groupId != undefined) {
                            <button id="button-remove-option" [disable]="isPending()" [pending]="spec.removePending" [icon]="true" class="btn btn-secondary drag-hide" (click)="removeFromGroup();$event.stopPropagation();" tooltipClass="shortTooltip" container="body" ngbTooltip="Ungroup" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><span><i [class]="Constants.BUTTON_ICON.UNGROUP"></i></span></button>
                        }
                        @if ((spec.groupId && groups.length > 1) || (!spec.groupId && groups.length > 0)) {
                            <div class="btn-group drag-hide" #copyDropdown="ngbDropdown" ngbDropdown (openChange)="copyExpanded()">
                                <button id="button-copy" #copyPop="ngbTooltip" (click)="copyPop.close(); $event.stopPropagation()" [disable]="isPending()" [pending]="spec.copyPending" [icon]="true" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-copy" tooltipClass="shortTooltip" ngbTooltip="Copy" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><span class="me-2"><i [class]="Constants.BUTTON_ICON.COPY"></i></span></button>
                                <div id="dropdown-copy" ngbDropdownMenu aria-labelledby="button-copy">
                                    @for (group of groups; track group.id) {
                                        @if (group.id != spec.groupId) {
                                            <button ngbDropdownItem type="button" (click)="copyToGroup(group.id); $event.stopPropagation()">Copy to {{group.sname}}</button>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="btn-group drag-hide" #moveDropdown="ngbDropdown" ngbDropdown (openChange)="moveExpanded()">
                                <button id="button-move" #movePop="ngbTooltip" (click)="movePop.close(); $event.stopPropagation()" [disable]="isPending()" [pending]="spec.movePending" [icon]="true" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-move" tooltipClass="shortTooltip" ngbTooltip="Move" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><span class="me-2"><i [class]="Constants.BUTTON_ICON.MOVE"></i></span></button>
                                <div id="dropdown-move" ngbDropdownMenu aria-labelledby="button-move">
                                    @for (group of groups; track group.id) {
                                        @if (group.id != spec.groupId) {
                                            <button ngbDropdownItem type="button" (click)="moveToGroup(group.id); $event.stopPropagation()">Move to {{group.sname}}</button>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
    @if (spec.group) {
        <div class="w-100" [ngbCollapse]="spec.collapsed == true" [animation]="true">
            <div class="option-container-collapsible">
                <div class="option-container" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="dropSpecification($event)">
                    @if (spec.options == undefined || spec.options.length == 0) {
                        <div class="no-options">
                            No {{dataService.labelSpecificationInGroupsLower()}} found.
                        </div>
                    } @else {
                        @for (option of spec.options; track option.id; ) {
                            <app-domain-specification-display #childComponent
                                                              [spec]="option"
                                                              [first]="$first"
                                                              [last]="$last"
                                                              [groups]="groups"
                                                              [dragOngoing]="dragOngoing"
                                                              [dragEnabled]="dragEnabled"
                                                              (removeSpec)="propagateRemove($event)"
                                                              (moveSpec)="propagateMove($event)"
                                                              (copySpec)="propagateCopy($event)"
                                                              (dragging)="propagateDrag($event)"
                                                              (click)="propagateSelect(option)"
                                                              (controlSelected)="propagateControlSelected($event)"
                            ></app-domain-specification-display>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
