@if (isAuthenticated()) {
    <div class="breacrumbContainer" [class.hidden]="logoutInProgress">
        @if (breadcrumbs != undefined) {
            @for (crumb of breadcrumbsToShow; track $index) {
                @if (crumb.label != undefined) {
                    @if (!$first) {
                        <div class="breacrumbItemSeparator"><i class="fa-solid fa-angle-right"></i></div>
                    }
                    <div class="breacrumbItem"
                        [class.actionable]="crumb.action != undefined"
                        #popup="bs-tooltip"                
                        (mouseover)="mouseOver($event)"
                        containerClass="shortTooltip"
                        placement="bottom"
                        [tooltip]="crumb.label"
                        [delay]="Constants.TOOLTIP_DELAY"
                        [isDisabled]="!hasOverflow"
                        (click)="popup.hide();breadcrumbClicked(crumb)"
                    >{{crumb.label}}</div>
                }
            }
        }
    </div>
}
