<div class="modal-header">
    <div class="modal-title">{{title}}</div>
</div>
<form>
    <div class="modal-body" appFileDropTarget>
        <div class="row mb-3">
            <label class="col-3 col-form-label text-end" for="name">* Resource:</label>
            <div class="col-7">
                <app-file-select id="name" placeholder="Select ZIP archive ..."
                    [fileName]="file?.name"
                    [accepts]="['application/zip']"
                    (onUpload)="selectFile($event)"
                    [maxSize]="-1">
                </app-file-select>
            </div>
            <div app-tooltip class="col-auto" tbTooltip="The ZIP archive containing the resources to make available. The archive should directly contain the resources to upload, without containing or contained directories."></div>
        </div>
        <div class="row pt-1">
            <legend class="col-3 col-form-label text-end pt-0">Update approach:</legend>
            <div class="col-8">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="updateMatching" name="updateMatching" [(ngModel)]="updateMatching" [value]="true">
                    <label class="form-check-label" for="updateMatching">Replace matching resources
                        <div app-tooltip class="col-auto d-inline-flex" [inline]="true" inlineType="checkLabel" tbTooltip="Uploaded files matching existing resources will update the existing ones."></div>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="keepMatching" name="keepMatching" [(ngModel)]="updateMatching" [value]="false">
                    <label class="form-check-label" for="keepMatching">Keep matching resources
                        <div app-tooltip class="col-auto d-inline-flex" [inline]="true" inlineType="checkLabel" tbTooltip="Uploaded files matching existing resources will be added as new resources, without updating the existing ones."></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-toolbar">
            <button class="btn btn-secondary" type="button" (click)="cancel()" [disabled]="uploadPending">Cancel</button>
            <button class="btn btn-secondary" type="submit" (click)="upload()" [disable]="!uploadEnabled()" [pending]="uploadPending">Upload</button>
        </div>
    </div>
</form>
