<div class="page users create">
    <div class="card mb-0">
        <div class="card-header">
            <div class="card-title">{{ (update?'Update':'Create') + ' trigger' }}</div>
        </div>
        <form>
            <div class="card-body" [pending]="!loaded" focus="name">
                <!-- Trigger form -->
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="row">
                            <label class="col-3 col-form-label text-end" for="name">* Name:</label>
                            <div class="col-7"><input id="name" name="name" [(ngModel)]="trigger.name" class="form-control" type="text" [invalid]="validation.get('name')"></div>
                            <div app-tooltip class="col-auto" tbTooltip="The name of the trigger that will identify it and be displayed in selection lists."></div>
                        </div>
                        <div class="row mt-3">
                            <label class="col-3 col-form-label text-end" for="description">Description:</label>
                            <div class="col-7"><textarea id="description" name="description" [(ngModel)]="trigger.description" class="form-control"></textarea></div>
                            <div app-tooltip class="col-auto" tbTooltip="A description to help distinguish this trigger and summarise its purpose."></div>
                        </div>
                        <div class="row mt-3">
                            <label class="col-3 col-form-label text-end" for="event">* Event type:</label>
                            <div class="col-7">
                                <select id="event" name="event" (change)="eventTypeChanged()" [(ngModel)]="trigger.eventType" class="form-select">
                                    <optgroup label="{{dataService.labelOrganisation() + ' events'}}">
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.ORGANISATION_CREATED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.ORGANISATION_CREATED)}}</option>
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.ORGANISATION_UPDATED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.ORGANISATION_UPDATED)}}</option>
                                    </optgroup>
                                    <optgroup label="{{dataService.labelSystem() + ' events'}}">
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.SYSTEM_CREATED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.SYSTEM_CREATED)}}</option>
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.SYSTEM_UPDATED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.SYSTEM_UPDATED)}}</option>
                                    </optgroup>
                                    <optgroup label="Conformance statement events">
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.CONFORMANCE_STATEMENT_CREATED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.CONFORMANCE_STATEMENT_CREATED)}}</option>
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.CONFORMANCE_STATEMENT_UPDATED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.CONFORMANCE_STATEMENT_UPDATED)}}</option>
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.CONFORMANCE_STATEMENT_SUCCEEDED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.CONFORMANCE_STATEMENT_SUCCEEDED)}}</option>
                                    </optgroup>
                                    <optgroup label="Test session events">
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.TEST_SESSION_STARTED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.TEST_SESSION_STARTED)}}</option>
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.TEST_SESSION_SUCCEEDED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.TEST_SESSION_SUCCEEDED)}}</option>
                                        <option [ngValue]="Constants.TRIGGER_EVENT_TYPE.TEST_SESSION_FAILED">{{dataService.triggerEventTypeLabel(Constants.TRIGGER_EVENT_TYPE.TEST_SESSION_FAILED)}}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div app-tooltip class="col-auto" tbTooltip="The event that will cause this trigger to fire."></div>
                        </div>
                        @if (supportsFireCondition()) {
                            <div class="row mt-3">
                                <legend class="col-3 col-form-label text-end">Fire condition:</legend>
                                <div class="col-7">
                                    @for (expression of fireExpressions; track expression) {
                                        <div [class.mt-1]="!$first">
                                            <app-trigger-fire-expression-control
                                                [fireExpression]="expression"
                                                [updateEmitter]="fireExpressionEmitters[$index]"
                                                [expressionTypes]="fireExpressionTypes"
                                                [first]="$first"
                                                (edit)="editFireExpression($index)"
                                                (delete)="deleteFireExpression($index)"
                                            ></app-trigger-fire-expression-control>
                                        </div>
                                    }
                                    <div [class.mt-3]="fireExpressions.length > 0">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-secondary" (click)="addFireCondition()">Add condition clause</button>
                                            </div>
                                            @if (fireExpressions.length == 0) {
                                                <div app-tooltip class="col-auto d-inline-flex" inlineType="button" [tbTooltip]="fireConditionsTooltip"></div>
                                            } @else {
                                                <div class="col">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="testFireCondition" name="testFireCondition" [(ngModel)]="testFireCondition">
                                                        <label class="form-check-label" for="testFireCondition">Test condition?
                                                            <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" tbTooltip="Verify the defined condition based on a test value."></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if (fireExpressions.length > 0) {
                                    <div app-tooltip class="col-auto" [tbTooltip]="fireConditionsTooltip"></div>
                                }
                            </div>
                            @if (fireExpressions.length > 0) {
                                <div [collapse]="!testFireCondition" [isAnimated]="true">
                                    <div class="row mt-3">
                                        <div class="offset-3 col-7 test-fire-condition-container">
                                            <div class="input-group" [class.has-validation]="testedFireCondition">
                                                <div class="btn-group" dropdown placement="bottom right">
                                                    <button id="button-testConditionType" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-testConditionType"><span class="me-2">{{dataService.triggerExpressionTypeLabel(this.testValueTypeForFireCondition!)}}</span></button>
                                                    <ul id="dropdown-testConditionType" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-testConditionType">
                                                        @for (expressionType of fireExpressionTypes; track expressionType) {
                                                            <li role="menuitem"><a class="dropdown-item" href (click)="selectTestExpressionType($index);$event.preventDefault()">{{dataService.triggerExpressionTypeLabel(expressionType)}}</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                                <input id="testConditionValue" placeholder="Value to test" name="testConditionValue" [(ngModel)]="testValueForFireCondition" class="form-control" [class.is-invalid]="testedFireCondition && !testedFireConditionMatches" [class.is-valid]="testedFireCondition && testedFireConditionMatches">
                                                <button type="button" class="btn btn-secondary" [disabled]="!textProvided(testValueForFireCondition)" (click)="testFireConditionWithSampleValue()">Test</button>
                                                @if (testedFireCondition) {
                                                    <div [class.valid-feedback]="testedFireConditionMatches" [class.invalid-feedback]="!testedFireConditionMatches">
                                                        {{ testedFireConditionMatches?'The condition is satisfied and the trigger will fire.':'The condition is not satisfied and the trigger will not fire.' }}
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="row mt-3 pt-2">
                            <label class="col-3 col-form-label text-end pt-0" for="active">Active:</label>
                            <div class="col-7">
                                <div class="form-check">
                                    <input id="active" name="active" [(ngModel)]="trigger.active" type="checkbox" class="form-check-input">
                                    <div app-tooltip class="col-auto d-inline-flex" [inline]="true" tbTooltip="Check this to activate this trigger and have it fire when the defined event occurs. An inactive trigger is effectively disabled."></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-form-section sectionTitle="Web service details" titleTooltip="When the trigger's event occurs a call will be made to the web service configured below. This service is expected to implement the GITB processing service API. For information on how to implement this service check the Test Bed's user guide (link in the screen's footer)." [marginBefore]="true">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="row mt-3 pt-2">
                                <legend class="col-3 col-form-label text-end pt-0">* Service type:</legend>
                                <div class="col-7">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="serviceType" [(ngModel)]="trigger.serviceType" id="service_type_1" [value]="Constants.TRIGGER_SERVICE_TYPE.GITB">
                                        <label class="form-check-label" for="service_type_1">GITB processing service
                                            <div app-tooltip class="col-auto d-inline-flex" [inline]="true" inlineType="checkLabel" tbTooltip="A SOAP service endpoint that realises the GITB processing service API."></div>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="serviceType" [(ngModel)]="trigger.serviceType" id="service_type_2" [value]="Constants.TRIGGER_SERVICE_TYPE.JSON">
                                        <label class="form-check-label" for="service_type_2">JSON HTTP Service
                                            <div app-tooltip class="col-auto d-inline-flex" [inline]="true" inlineType="checkLabel" tbTooltip="A HTTP service listening for POST operations. The payloads sent to and (optionally) received from the service will be JSON."></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <label class="col-3 col-form-label text-end" for="url">* Endpoint URL:</label>
                                <div class="col-7">
                                    <div class="input-group">
                                        <input id="url" name="url" [(ngModel)]="trigger.url" class="form-control" type="text">
                                        <button class="btn btn-secondary" type="button" (click)="testEndpoint()" [pending]="testPending" [disable]="!trigger.url">Test</button>
                                    </div>
                                </div>
                                @if (trigger.serviceType == Constants.TRIGGER_SERVICE_TYPE.GITB) {
                                    <div app-tooltip class="col-auto" tbTooltip="The URL of the web service that will be called when the trigger fires. This URL must be provided as the full address needed to resolve the processing service's WSDL. Note that the URL provided is the one the Test Bed will use internally for the call (i.e. it doesn't have to be publicly available)."></div>
                                } @else {
                                    <div app-tooltip class="col-auto" tbTooltip="The URL of the web service that will be called when the trigger fires. Note that the URL provided is the one the Test Bed will use internally for the call (i.e. it doesn't have to be publicly available)."></div>
                                }
                            </div>
                            <div class="row mt-3">
                                <label class="col-3 col-form-label text-end" for="operation">Operation:</label>
                                <div class="col-7"><input id="operation" name="operation" [(ngModel)]="trigger.operation" class="form-control" type="text"></div>
                                @if (trigger.serviceType == Constants.TRIGGER_SERVICE_TYPE.GITB) {
                                    <div app-tooltip class="col-auto" tbTooltip="An optional operation identifier to pass to the service. As a GITB processing service may define multiple operations this identifier can be used to determine the one intended by this trigger."></div>
                                } @else {
                                    <div app-tooltip class="col-auto" tbTooltip="An optional operation identifier to pass to the service. This could be used to identify the trigger's type in case the service is used in multiple scenarios."></div>
                                }
                            </div>
                            <div class="row mt-3 pt-1">
                                <legend class="col-3 col-form-label text-end pt-0">Input data:</legend>
                                <div class="col-7 trigger-data-checks">
                                    @if (triggerData.community.visible) {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="communityData" name="communityData" [(ngModel)]="triggerData.community.selected">
                                            <label class="form-check-label" for="communityData">{{dataTypeMap[triggerData.community.dataType]}}</label>
                                        </div>
                                    }
                                    @if (triggerData.organisation.visible) {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="organisationData" name="organisationData" [(ngModel)]="triggerData.organisation.selected">
                                            <label class="form-check-label" for="organisationData">{{dataTypeMap[triggerData.organisation.dataType]}}</label>
                                        </div>
                                    }
                                    @if (triggerData.system.visible) {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="systemData" name="systemData" [(ngModel)]="triggerData.system.selected">
                                            <label class="form-check-label" for="systemData">{{dataTypeMap[triggerData.system.dataType]}}</label>
                                        </div>
                                    }
                                    @if (triggerData.specification.visible) {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="specificationData" name="specificationData" [(ngModel)]="triggerData.specification.selected">
                                            <label class="form-check-label" for="specificationData">{{dataTypeMap[triggerData.specification.dataType]}}</label>
                                        </div>
                                    }
                                    @if (triggerData.actor.visible) {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="actorData" name="actorData" [(ngModel)]="triggerData.actor.selected">
                                            <label class="form-check-label" for="actorData">{{dataTypeMap[triggerData.actor.dataType]}}</label>
                                        </div>
                                    }
                                    @if (triggerData.testSession.visible) {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="testSessionData" name="testSessionData" [(ngModel)]="triggerData.testSession.selected">
                                            <label class="form-check-label" for="testSessionData">{{dataTypeMap[triggerData.testSession.dataType]}}</label>
                                        </div>
                                    }
                                    @if (triggerData.testReport.visible) {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="testReportData" name="testReportData" [(ngModel)]="triggerData.testReport.selected">
                                            <label class="form-check-label" for="testReportData">{{dataTypeMap[triggerData.testReport.dataType]}}</label>
                                        </div>
                                    }
                                </div>
                                <div app-tooltip class="col-auto" [withTopMargin]="false" tbTooltip="Optional data that will be provided as input to the service when it is called. The type of data available depends on the trigger's event type."></div>
                                @if (triggerData.domainParameter.visible) {
                                    <div class="offset-3 col-7 trigger-data-checks">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="domainParameterData" name="domainParameterData" [(ngModel)]="triggerData.domainParameter.selected">
                                            <label class="form-check-label" for="domainParameterData">{{dataTypeMap[triggerData.domainParameter.dataType]}}</label>
                                        </div>
                                    </div>
                                    <div class="offset-3 col-7" [collapse]="!triggerData.domainParameter.selected" [isAnimated]="true">
                                        <div class="trigger-data-properties-container table-container rounded">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="checkColumn"></th>
                                                        <th>Identifier</th>
                                                        <th>Type</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (parameter of domainParameters; track parameter.id; let index = $index) {
                                                        <tr (click)="parameter.selected = !parameter.selected">
                                                            <td><input class="form-check-input" type="checkbox" [name]="'parameterData'+index" [(ngModel)]="parameter.selected" (click)="$event.stopPropagation()"></td>
                                                            <td>{{parameter.name}}</td>
                                                            <td>{{parameterType(parameter)}}</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                @if (triggerData.organisationParameter.visible) {
                                    <div class="offset-3 col-7 trigger-data-checks">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="organisationParameterData" name="organisationParameterData" [(ngModel)]="triggerData.organisationParameter.selected">
                                            <label class="form-check-label" for="organisationParameterData">{{dataTypeMap[triggerData.organisationParameter.dataType]}}</label>
                                        </div>
                                    </div>
                                    <div class="offset-3 col-7" [collapse]="!triggerData.organisationParameter.selected" [isAnimated]="true">
                                        <div class="trigger-data-properties-container table-container rounded">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="checkColumn"></th>
                                                        <th>Name</th>
                                                        <th>Type</th>
                                                        <th>Identifier</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (parameter of organisationParameters; track parameter.id; let index = $index) {
                                                        <tr (click)="parameter.selected = !parameter.selected">
                                                           <td><input class="form-check-input" type="checkbox" [name]="'orgParameter'+index" [(ngModel)]="parameter.selected" (click)="$event.stopPropagation()"></td>
                                                           <td>{{parameter.name}}</td>
                                                           <td>{{parameterType(parameter)}}</td>
                                                           <td>{{parameter.testKey}}</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                @if (triggerData.systemParameter.visible) {
                                    <div class="offset-3 col-7 trigger-data-checks">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="sysParameterData" name="sysParameterData" [(ngModel)]="triggerData.systemParameter.selected">
                                            <label class="form-check-label" for="sysParameterData">{{dataTypeMap[triggerData.systemParameter.dataType]}}</label>
                                        </div>
                                    </div>
                                    <div class="offset-3 col-7" [collapse]="!triggerData.systemParameter.selected" [isAnimated]="true">
                                        <div class="trigger-data-properties-container table-container">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="checkColumn"></th>
                                                        <th>Name</th>
                                                        <th>Type</th>
                                                        <th>Identifier</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (parameter of systemParameters; track parameter.id; let index = $index) {
                                                        <tr (click)="parameter.selected = !parameter.selected">
                                                           <td><input class="form-check-input" type="checkbox" [name]="'sysParam'+index" [(ngModel)]="parameter.selected" (click)="$event.stopPropagation()"></td>
                                                           <td>{{parameter.name}}</td>
                                                           <td>{{parameterType(parameter)}}</td>
                                                           <td>{{parameter.testKey}}</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                @if (triggerData.statementParameter.visible) {
                                    <div class="offset-3 col-7 trigger-data-checks">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="stmtParameterData" name="stmtParameterData" [(ngModel)]="triggerData.statementParameter.selected">
                                            <label class="form-check-label" for="stmtParameterData">{{dataTypeMap[triggerData.statementParameter.dataType]}}</label>
                                        </div>
                                    </div>
                                    <div class="offset-3 col-7" [collapse]="!triggerData.statementParameter.selected" [isAnimated]="true">
                                        <div class="trigger-data-properties-container table-container rounded">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="checkColumn"></th>
                                                        <th>Name</th>
                                                        <th>Type</th>
                                                        <th>Identifier</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (parameter of statementParameters; track parameter.id; let index = $index) {
                                                        <tr (click)="parameter.selected = !parameter.selected">
                                                           <td><input class="form-check-input" type="checkbox" [name]="'stmtParam'+index" [(ngModel)]="parameter.selected" (click)="$event.stopPropagation()"></td>
                                                           <td>{{parameter.name}}</td>
                                                           <td>{{parameterType(parameter)}}</td>
                                                           <td>{{parameter.testKey}}</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </app-form-section>
                @if (update) {
                    <app-form-section sectionTitle="Trigger status" titleTooltip="The presented result is the trigger's latest outcome from calling the configured web service. In case of failure you can also view the incremental error messages that were reported when the service call was attempted."  [marginBefore]="true">
                        <div class="row">
                            <div class="col-10 offset-1">
                                <div class="mt-3 row">
                                    <label class="col-3 col-form-label text-end" for="url">Latest result:</label>
                                    <div class="col-2">
                                        <p class="rounded status-display alert mb-0" [ngClass]="{'alert-info': trigger.status == statusTextUnknown.id,'alert-success': trigger.status == statusTextOk.id,'alert-danger': trigger.status == statusTextError.id}">
                                            {{trigger.statusText}}
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <div class="btn-toolbar">
                                            @if (trigger.status == statusTextError.id) {
                                                <button class="btn btn-secondary" type="button" (click)="viewLatestErrors()">View errors</button>
                                            }
                                            @if (trigger.status == statusTextOk.id || trigger.status == statusTextError.id) {
                                                <button class="btn btn-secondary" type="button" (click)="clearStatus()" [disable]="clearStatusDisabled()" [pending]="clearStatusPending">Clear</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-form-section>
                }
            </div>
            <div class="card-footer button-container">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" (click)="save()" [disable]="saveDisabled()" [pending]="savePending">Save</button>
                    <button class="btn btn-secondary" type="button" (click)="preview()" [disable]="previewDisabled()" [pending]="previewPending">Preview and test service call</button>
                    <button class="btn btn-secondary" type="button" (click)="back()">{{ update?'Back':'Cancel' }}</button>
                </div>
                @if (update) {
                    <div class="btn-toolbar btn-toolbar-delete">
                        <button class="btn btn-outline-danger" type="button" [disable]="deleteDisabled()" [pending]="deletePending" (click)="delete()">Delete</button>
                    </div>
                }
            </div>
        </form>
    </div>
</div>

