<div class="page users create">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">{{ (update?'Update':'Create') + ' trigger' }}</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <!-- Error messages -->
                <app-alert-display [alerts]="alerts" [innerClass]="'col-xs-10 col-xs-offset-1'"></app-alert-display>
                <!-- Trigger form -->
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="name">* Name:</label>
                            <div class="col-xs-8"><input id="name" name="name" [(ngModel)]="trigger.name" class="form-control" type="text"></div>
                            <app-tooltip tbTooltip="The name of the trigger that will identify it and be displayed in selection lists."></app-tooltip>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="description">Description:</label>
                            <div class="col-xs-8"><textarea id="description" name="description" [(ngModel)]="trigger.description" class="form-control"></textarea></div>
                            <app-tooltip tbTooltip="A description to help distinguish this trigger and summarise its purpose."></app-tooltip>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="event">* Event type:</label>
                            <div class="col-xs-8">
                                <select id="event" name="event" (change)="eventTypeChanged()" [(ngModel)]="trigger.eventType" class="form-control">
                                    <option *ngFor="let eventType of eventTypes" [ngValue]="eventType.id">{{eventType.label}}</option>
                                </select>
                            </div>
                            <app-tooltip tbTooltip="The event that will cause this trigger to fire."></app-tooltip>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="active">Active:</label>
                            <div class="col-xs-8">
                                <input id="active" name="active" [(ngModel)]="trigger.active" type="checkbox" class="form-check">
                                <app-tooltip [inline]="true" tbTooltip="Check this to activate this trigger and have it fire when the defined event occurs. An inactive trigger is effectively disabled."></app-tooltip>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-separator">
                            <h4 class="title">Web service details <span [tooltip]="'When the trigger\'s event occurs a call will be made to the web service configured below. This service is expected to implement the GITB processing service API. For information on how to implement this service check the Test Bed\'s user guide (link in the screen\'s footer).'" [containerClass]="'tooltipContainerBig'"><i class="fa fa-question-circle"></i></span></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="url">* Endpoint URL:</label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <input id="url" name="url" [(ngModel)]="trigger.url" class="form-control" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button" (click)="testEndpoint()" [pending]="testPending" [disable]="!trigger.url">Test</button>
                                    </div>
                                </div>
                            </div>
                            <app-tooltip tbTooltip="The URL of the web service that will be called when the trigger fires. This URL must be provided as the full address needed to resolve the service's WSDL. Note that the URL provided is the one the Test Bed will use internally for the call (i.e. it doesn't have to be publicly available)."></app-tooltip>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="operation">Operation:</label>
                            <div class="col-xs-8"><input id="operation" name="operation" [(ngModel)]="trigger.operation" class="form-control" type="text"></div>
                            <app-tooltip tbTooltip="An optional operation identifier to pass to the service. As a GITB processing service may define multiple operations this identifier can be used to determine the one intended by this trigger."></app-tooltip>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Input data:</label>
                            <div class="col-xs-8 trigger-data-checks">
                                <label class="checkbox-inline" *ngIf="triggerData.community.visible">
                                    <input type="checkbox" name="communityData" [(ngModel)]="triggerData.community.selected">{{dataTypeMap[triggerData.community.dataType]}}
                                </label>
                                <label class="checkbox-inline" *ngIf="triggerData.organisation.visible">
                                    <input type="checkbox" name="organisationData" [(ngModel)]="triggerData.organisation.selected">{{dataTypeMap[triggerData.organisation.dataType]}}
                                </label>
                                <label class="checkbox-inline" *ngIf="triggerData.system.visible">
                                    <input type="checkbox" name="systemData" [(ngModel)]="triggerData.system.selected">{{dataTypeMap[triggerData.system.dataType]}}
                                </label>
                                <label class="checkbox-inline" *ngIf="triggerData.specification.visible">
                                    <input type="checkbox" name="specificationData" [(ngModel)]="triggerData.specification.selected">{{dataTypeMap[triggerData.specification.dataType]}}
                                </label>
                                <label class="checkbox-inline" *ngIf="triggerData.actor.visible">
                                    <input type="checkbox" name="actorData" [(ngModel)]="triggerData.actor.selected">{{dataTypeMap[triggerData.actor.dataType]}}
                                </label>
                                <label class="checkbox-inline" *ngIf="triggerData.testSession.visible">
                                    <input type="checkbox" name="testSessionData" [(ngModel)]="triggerData.testSession.selected">{{dataTypeMap[triggerData.testSession.dataType]}}
                                </label>
                            </div>
                            <div class="col-xs-1 no-left-padding">
                                <app-tooltip tbTooltip="Optional data that will be provided as input to the service when it is called. The type of data available depends on the trigger's event type."></app-tooltip>
                            </div>
                            <div *ngIf="triggerData.domainParameter.visible">
                                <div class="col-xs-offset-3 col-xs-8 trigger-data-checks" *ngIf="triggerData.domainParameter.visible">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="domainParameterData" [(ngModel)]="triggerData.domainParameter.selected">{{dataTypeMap[triggerData.domainParameter.dataType]}}
                                    </label>
                                </div>
                                <div class="col-xs-offset-3 col-xs-8" [collapse]="!triggerData.domainParameter.selected" [isAnimated]="true">
                                    <div class="trigger-data-properties-container table-container">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="checkColumn"></th>
                                                    <th>Identifier</th>
                                                    <th>Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let parameter of domainParameters; let index = index" (click)="parameter.selected = !parameter.selected">
                                                   <td><input type="checkbox" [name]="'parameterData'+index" [(ngModel)]="parameter.selected" (click)="$event.stopPropagation()"></td>
                                                   <td>{{parameter.name}}</td> 
                                                   <td>{{parameterType(parameter)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="triggerData.organisationParameter.visible">
                                <div class="col-xs-offset-3 col-xs-8 trigger-data-checks" *ngIf="triggerData.organisationParameter.visible">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="organisationParameterData" [(ngModel)]="triggerData.organisationParameter.selected">{{dataTypeMap[triggerData.organisationParameter.dataType]}}
                                    </label>
                                </div>
                                <div class="col-xs-offset-3 col-xs-8" [collapse]="!triggerData.organisationParameter.selected" [isAnimated]="true">
                                    <div class="trigger-data-properties-container table-container">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="checkColumn"></th>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Identifier</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let parameter of organisationParameters; let index = index" (click)="parameter.selected = !parameter.selected">
                                                   <td><input type="checkbox" [name]="'orgParameter'+index" [(ngModel)]="parameter.selected" (click)="$event.stopPropagation()"></td>
                                                   <td>{{parameter.name}}</td> 
                                                   <td>{{parameterType(parameter)}}</td>
                                                   <td>{{parameter.testKey}}</td> 
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="triggerData.systemParameter.visible">
                                <div class="col-xs-offset-3 col-xs-8 trigger-data-checks">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="sysParameterData" [(ngModel)]="triggerData.systemParameter.selected">{{dataTypeMap[triggerData.systemParameter.dataType]}}
                                    </label>
                                </div>
                                <div class="col-xs-offset-3 col-xs-8" [collapse]="!triggerData.systemParameter.selected" [isAnimated]="true">
                                    <div class="trigger-data-properties-container table-container">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="checkColumn"></th>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Identifier</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let parameter of systemParameters; let index = index" (click)="parameter.selected = !parameter.selected">
                                                   <td><input type="checkbox" [name]="'sysParam'+index" [(ngModel)]="parameter.selected" (click)="$event.stopPropagation()"></td>
                                                   <td>{{parameter.name}}</td> 
                                                   <td>{{parameterType(parameter)}}</td>
                                                   <td>{{parameter.testKey}}</td> 
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="triggerData.statementParameter.visible">
                                <div class="col-xs-offset-3 col-xs-8 trigger-data-checks">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="stmtParameterData" [(ngModel)]="triggerData.statementParameter.selected">{{dataTypeMap[triggerData.statementParameter.dataType]}}
                                    </label>
                                </div>
                                <div class="col-xs-offset-3 col-xs-8" [collapse]="!triggerData.statementParameter.selected" [isAnimated]="true">
                                    <div class="trigger-data-properties-container table-container">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="checkColumn"></th>
                                                    <th>Identifier</th>
                                                    <th>Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let parameter of statementParameters; let index = index" (click)="parameter.selected = !parameter.selected">
                                                   <td><input type="checkbox" [name]="'stmtParam'+index" [(ngModel)]="parameter.selected" (click)="$event.stopPropagation()"></td>
                                                   <td>{{parameter.name}}</td> 
                                                   <td>{{parameterType(parameter)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="update">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-separator">
                                <h4 class="title">Trigger status <span [tooltip]="'The presented result is the trigger\'s latest outcome from calling the configured web service. In case of failure you can also view the incremental error messages that were reported when the service call was attempted.'" [containerClass]="'tooltipContainerBig'"><i class="fa fa-question-circle"></i></span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="url">Latest result:</label>
                                <div class="col-xs-2">
                                    <p class="form-control-static status-display" [ngClass]="{'bg-info': trigger.status == statusTextUnknown.id,'bg-success': trigger.status == statusTextOk.id,'bg-danger': trigger.status == statusTextError.id}">
                                        {{trigger.statusText}}
                                    </p>
                                </div>
                                <div class="col-xs-6">
                                    <div class="btn-toolbar">
                                        <button class="btn btn-default" type="button" (click)="viewLatestErrors()" *ngIf="trigger.status == statusTextError.id">View errors</button>
                                        <button class="btn btn-default" type="button" (click)="clearStatus()" *ngIf="trigger.status == statusTextOk.id || trigger.status == statusTextError.id" [disable]="clearStatusDisabled()" [pending]="clearStatusPending">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-default" type="submit" (click)="save()" [disable]="saveDisabled()" [pending]="savePending">Save</button>
                    <button class="btn btn-default" type="button" (click)="preview()" [disable]="previewDisabled()" [pending]="previewPending">Preview service call</button>
                    <button *ngIf="update" class="btn btn-default" type="button" [disable]="deleteDisabled()" [pending]="deletePending" (click)="delete()">Delete</button>
                    <button class="btn btn-default" type="button" (click)="back()">{{ update?'Back':'Cancel' }}</button>
                </div>
            </div>
        </form>
    </div>
</div>