<div class="modal-header">
	<div class="modal-title">Test session log</div>
</div>
<div class="modal-body">
    <div tabindex="-1" class="modal-focus-anchor" ngbAutofocus></div>
    <app-session-log-viewer #viewer layout="modal" [messages]="messages" [messageEmitter]="messageEmitter" [(tail)]="tail"></app-session-log-viewer>
</div>
<div class="modal-footer">
	<div class="btn-toolbar">
		<button type="button" [labelIcon]="Constants.BUTTON_ICON.CANCEL" class="btn btn-secondary" (click)="close()">Close</button>
		<button type="button" [labelIcon]="Constants.BUTTON_ICON.CLIPBOARD" class="btn btn-secondary" (click)="copyToClipboard()">Copy to clipboard</button>
		<button type="button" [labelIcon]="Constants.BUTTON_ICON.DOWNLOAD" class="btn btn-secondary" (click)="download()">Download</button>
	</div>
</div>
