@import '../../../styles/less/_common.less';

::ng-deep {
    .log-level {
        &.error {
            font-weight: bold;
            color: @red-error !important;
        }
        &.warn {
            font-weight: bold;
            color: @orange-warning !important;
        }
        &.debug {
            color: @gray-medium !important;
        }
    }
}