<div class="root-container" (click)="tagClicked($event)" [class.with-toggle]="toggleEnabled">
    <div class="tag-container"
        [class.pill]="pill"
        [class.in-table]="inTable"
        [class.in-form]="inForm"
        [ngbTooltip]="tooltipText"
        [disableTooltip]="tooltipText == undefined || tooltipText == ''"
        [openDelay]="Constants.TOOLTIP_DELAY"
        [ngClass]="styleClass == undefined ? '': styleClass"
        [style.background]="background ? background : null"
        [style.color]="foreground ? foreground : null"
        [style.border]="(!isDefaultBorder()) ? ('1px solid '+background) : null"
        [class.editable]="editable"
    >
        @if (label) {
            <div class="tag-label">
                @if (icon) {
                    <span class="tag-label-icon"><i [ngClass]="label"></i></span>
                } @else {
                    <span class="tag-label-text">{{label}}</span>
                }
            </div>
        }
        @if (value) {
            <div class="tag-value">{{value}}</div>
        }
        @if (toggleEnabled) {
            <div class="form-switch ms-3">
                <input name="toggle" class="form-check-input" type="checkbox" role="switch" aria-label="Toggle" [(ngModel)]="toggled">
            </div>
        }
    </div>
    @if (editable) {
        <div class="tag-controls">
            <div class="btn-group">
                <button (click)="editTag()" type="button" class="btn btn-secondary" ngbTooltip="Edit" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'" tooltipClass="shortTooltip" container="body"><i [class]="Constants.BUTTON_ICON.EDIT" aria-hidden="true"></i></button>
                <button (click)="deleteTag()" type="button" class="btn btn-secondary" ngbTooltip="Delete" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'" tooltipClass="shortTooltip" container="body"><i [class]="Constants.BUTTON_ICON.DELETE" aria-hidden="true"></i></button>
            </div>
        </div>
    }
</div>
