<div [class.pt-3]="marginBefore" [class.pb-3]="marginAfter">
    <div class="row">
        <div class="col-12">
            <div class="form-separator expandable" (click)="collapsed = !collapsed">
                <div class="section-title"><app-collapsing-icon [isCollapsed]="collapsed!"></app-collapsing-icon>{{sectionTitle}}
                    @if (titleTooltip != undefined) {
                        <span class="ms-2" [ngbTooltip]="titleTooltip" tooltipClass="tooltipContainerBig"><i [class]="Constants.BUTTON_ICON.HELP"></i></span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div [ngbCollapse]="collapsed!" [animation]="true">
        <ng-content></ng-content>
    </div>
</div>
