<div [class.mt-3]="marginBefore" [class.mb-3]="marginAfter">
    <div class="row">
        <div class="col-12">
            <div class="form-separator expandable" (click)="collapsed = !collapsed">
                <div class="section-title"><app-collapsing-icon [isCollapsed]="collapsed!"></app-collapsing-icon>{{sectionTitle}}
                    @if (titleTooltip != undefined) {
                        <span class="ms-2" [tooltip]="titleTooltip" containerClass="tooltipContainerBig"><i class="fa-solid fa-question-circle"></i></span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div [collapse]="collapsed!" [isAnimated]="true">
        <ng-content></ng-content>
    </div>
</div>