<div class="page conformance create">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Create conformance statement</h4>
    </div>
    <div class="panel-body">
      <h5 class="conformanceWizardHeader">{{createConformanceStatementCtrl.headerText}}</h5>
      <div ng-if="createConformanceStatementCtrl.showDomains">
        <div id="conformanceWizardTable" ng-if="createConformanceStatementCtrl.domains.length > 0"
          table-directive columns="createConformanceStatementCtrl.tableColumns"
          data="createConformanceStatementCtrl.domains"
          on-select="createConformanceStatementCtrl.onDomainSelect"></div>
        <div class="no-data-found" ng-if="createConformanceStatementCtrl.domains.length == 0">
          <span>There are no domains available.</span>
        </div>
      </div>
      <div ng-if="createConformanceStatementCtrl.showSpecs">
        <div id="conformanceWizardTable" ng-if="createConformanceStatementCtrl.specs.length > 0"
          table-directive columns="createConformanceStatementCtrl.tableColumns"
          data="createConformanceStatementCtrl.specs"
          on-select="createConformanceStatementCtrl.onSpecificationSelect"></div>
        <div class="no-data-found" ng-if="createConformanceStatementCtrl.specs.length == 0">
          <span>There are no specifications available</span>
        </div>
      </diV>
      <diV ng-if="createConformanceStatementCtrl.showActors">
        <div id="conformanceWizardTable" ng-if="createConformanceStatementCtrl.actors.length > 0"
            table-directive columns="createConformanceStatementCtrl.actorTableColumns"
            data="createConformanceStatementCtrl.actors"
            on-select="createConformanceStatementCtrl.onActorSelect"></div>
        <div class="no-data-found" ng-if="createConformanceStatementCtrl.actors.length == 0">
          <span>There are no actors available.</span>
        </div>
      </diV>
      <diV id="conformanceWizardTableSummary" ng-if="createConformanceStatementCtrl.showConfirmation">
        <div class="row row-display-first">
          <div class="col-md-2"><strong>Domain</strong></div>
          <div class="col-md-10">{{createConformanceStatementCtrl.selectedDomain.fname}}</div>
          <div class="col-md-10 col-md-offset-2 row-display-inner" ng-if="createConformanceStatementCtrl.selectedDomain.description">{{createConformanceStatementCtrl.selectedDomain.description}}</div>
        </div>
        <div class="row row-display">
          <div class="col-md-2"><strong>Specification</strong></div>
          <div class="col-md-10">{{createConformanceStatementCtrl.selectedSpec.fname}}</div>
          <div class="col-md-10 col-md-offset-2 row-display-inner" ng-if="createConformanceStatementCtrl.selectedSpec.description">{{createConformanceStatementCtrl.selectedSpec.description}}</div>
        </div>
        <div class="row row-display">
          <div class="col-md-2"><strong>Actor</strong></div>
          <div class="col-md-10">{{createConformanceStatementCtrl.selectedActor.name}}</div>
          <div class="col-md-10 col-md-offset-2 row-display-inner" ng-if="createConformanceStatementCtrl.selectedActor.description">{{createConformanceStatementCtrl.selectedActor.description}}</div>
        </div>
      </diV>
    </div>
    <div class="panel-footer" ng-if="createConformanceStatementCtrl.showButtonPanel">
        <button class="btn btn-default" ng-click="createConformanceStatementCtrl.cancel()">Cancel</button>
        <button class="btn btn-default" ng-click="createConformanceStatementCtrl.confirmAction()" ng-disabled="createConformanceStatementCtrl.confirmDisabled()">{{createConformanceStatementCtrl.confirmButtonText}}</button>
    </div>
  </div>
</div>
