<div class="page conformance create">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Create conformance statement</h4>
    </div>
    <div class="panel-body">
      <div class="create-conformance-statement wizard-directive"
           wizard-directive steps="createConformanceStatementCtrl.steps"
		   triggerNext="createConformanceStatementCtrl.nextStep"
		   on-before="createConformanceStatementCtrl.onWizardBefore"
           on-next="createConformanceStatementCtrl.onWizardNext"
           on-finish="createConformanceStatementCtrl.onWizardFinish">
	<div class="step-content select-domain">
	  <div table-directive columns="createConformanceStatementCtrl.tableColumns"
               data="createConformanceStatementCtrl.domains"
               on-select="createConformanceStatementCtrl.onDomainSelect"></div>
	  <button class="btn btn-primary pull-right"
                  ng-click="createConformanceStatementCtrl.nextStep()">Next</button>
	</div>
	<div class="step-content select-spec">
	  <div table-directive columns="createConformanceStatementCtrl.tableColumns"
               data="createConformanceStatementCtrl.specs"
               on-select="createConformanceStatementCtrl.onSpecificationSelect"></div>
	  <button class="btn btn-primary pull-right"
                  ng-click="createConformanceStatementCtrl.nextStep()">Next</button>
	</div>
	<div class="step-content select-actors">
	  <div ng-if="createConformanceStatementCtrl.actors.length > 0"
               table-directive columns="createConformanceStatementCtrl.actorTableColumns"
               data="createConformanceStatementCtrl.actors"
               on-select="createConformanceStatementCtrl.onActorSelect"
               on-deselect="createConformanceStatementCtrl.onActorDeselect"
               allow-multi-select="true"></div>
          <div class="no-data-found" ng-if="createConformanceStatementCtrl.actors.length == 0">
            <span>There are no actors defined for this specification.</span>
          </div>
	  <button class="btn btn-primary pull-right"
                  ng-click="createConformanceStatementCtrl.nextStep()">Next</button>
	</div>
	<div class="step-content select-options">
	  <div ng-if="createConformanceStatementCtrl.options.length"
               table-directive columns="createConformanceStatementCtrl.optionTableColumns"
               data="createConformanceStatementCtrl.options"
               on-select="createConformanceStatementCtrl.onOptionSelect"
               on-deselect="createConformanceStatementCtrl.onOptionDeselect"
               allow-multi-select="true"></div>
          <div class="no-data-found" ng-if="createConformanceStatementCtrl.options.length == 0">
            <span>There are no options defined for this actor.</span>
          </div>
	  <button class="btn btn-primary pull-right"
                  ng-click="createConformanceStatementCtrl.nextStep()">Finish</button>
	</div>
      </div>
    </div>
  </div>
</div>
