<div id="conformanceDetailPage" class="page conformance">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Conformance statement details</h4>
		</div>
		<div class="panel-body">
			<div class="row row-display-first">
				<div class="col-md-2"><strong>{{conformanceStatementDetailCtrl.DataService.labelDomain()}}</strong></div>
				<div class="col-md-10">{{conformanceStatementDetailCtrl.domain.fname}}</div>
				<div class="col-md-10 col-md-offset-2 row-display-inner" ng-if="conformanceStatementDetailCtrl.domain.description">{{conformanceStatementDetailCtrl.domain.description}}</div>
			</div>
			<div class="row row-display">
				<div class="col-md-2"><strong>{{conformanceStatementDetailCtrl.DataService.labelSpecification()}}</strong></div>
				<div class="col-md-10">{{conformanceStatementDetailCtrl.specification.fname}}</div>
				<div class="col-md-10 col-md-offset-2 row-display-inner" ng-if="conformanceStatementDetailCtrl.specification.description">{{conformanceStatementDetailCtrl.specification.description}}</div>
			</div>
			<div class="row row-display">
				<div class="col-md-2"><strong>{{conformanceStatementDetailCtrl.DataService.labelActor()}}</strong></div>
				<div class="col-md-10">{{conformanceStatementDetailCtrl.actor.name}}</div>
				<div class="col-md-10 col-md-offset-2 row-display-inner" ng-if="conformanceStatementDetailCtrl.actor.description">{{conformanceStatementDetailCtrl.actor.description}}</div>
			</div>
			<div class="row row-display-last">
				<div class="col-md-2"><strong>Test status</strong></div>
				<div class="col-md-10">{{conformanceStatementDetailCtrl.testStatus}}</div>
			</div>
		</div>
        <div class="panel-footer">
			<button class="btn btn-default" ng-click="conformanceStatementDetailCtrl.onExportConformanceStatement()" ng-disabled="conformanceStatementDetailCtrl.exportPending"><span class="tab" ng-if="conformanceStatementDetailCtrl.exportPending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Download report</button>
			<button class="btn btn-default" ng-if="conformanceStatementDetailCtrl.canDelete()" ng-click="conformanceStatementDetailCtrl.deleteConformanceStatement()">Delete statement</button>
        </div>		
	</div>
	<div class="panel panel-default" ng-if="conformanceStatementDetailCtrl.endpoints.length > 0">
		<div class="panel-heading panel-heading-tests">
			<h4 class="title">Configuration parameters</h4>
            <div class="btn-toolbar pull-right" ng-class="{'padded': conformanceStatementDetailCtrl.testSuites.length > 1}">
				<toggle id="conformance-toggle-configuration" class="btn-group" ng-model="conformanceStatementDetailCtrl.endpointsExpanded" on="Visible" off="Hidden"/>
			</div>
		</div>
		<div class="list-group" uib-collapse="!conformanceStatementDetailCtrl.endpointsExpanded">
			<div class="list-group-item endpoint" ng-repeat="endpoint in conformanceStatementDetailCtrl.endpointRepresentations">
				<div endpoint-display endpoint="endpoint" editable="!conformanceStatementDetailCtrl.DataService.isVendorUser" can-edit="conformanceStatementDetailCtrl.canEditParameter" show-values="true" on-edit="conformanceStatementDetailCtrl.onParameterSelect"></div>
			</div>
		</div>
	</div>

	<div class="panel panel-default" ng-if="conformanceStatementDetailCtrl.testSuites.length > 0">
		<div class="panel-heading panel-heading-tests">
			<h4 class="title">Conformance tests</h4>
            <div class="btn-toolbar pull-right" ng-class="{'padded': conformanceStatementDetailCtrl.testSuites.length > 1}">
				<toggle id="conformance-toggle" class="btn-group" ng-model="conformanceStatementDetailCtrl.backgroundMode" on="Background execution" off="Interactive execution"/>
				<button class="btn btn-primary" ng-if="conformanceStatementDetailCtrl.testSuites.length == 1 && conformanceStatementDetailCtrl.testSuites[0].testCases.length > 1" ng-click="conformanceStatementDetailCtrl.onTestSuiteSelect()"><i class="fa fa-play"></i></button>
			</div>
		</div>
		<div>
			<div class="container-fluid div-table" ng-class="{'expandable': conformanceStatementDetailCtrl.testSuites.length > 1}">
				<div class="row div-table-row-header">
					<div class="col-xs-2 div-table-cell wordwrap">{{conformanceStatementDetailCtrl.testSuites.length == 1?"Test case":"Test suite"}}</div>
					<div class="col-xs-8 div-table-cell wordwrap">Description</div>
					<div class="col-xs-1 div-table-cell wordwrap">Result</div>
					<div class="col-xs-1 div-table-cell">&nbsp;</div>
				</div>
				<div class="row div-table-row non-expandable row-cells" ng-repeat="testCase in conformanceStatementDetailCtrl.testSuites[0].testCases" ng-if="conformanceStatementDetailCtrl.testSuites.length == 1">
					<div class="col-xs-2 div-table-cell wordwrap">{{testCase.sname}}</div>
					<div class="col-xs-8 div-table-cell wordwrap">{{testCase.description}}</div>
					<div class="col-xs-1 div-table-cell wordwrap">{{testCase.result}}</div>
					<div class="col-xs-1 div-table-cell">
						<button class="btn btn-primary pull-right" ng-click="conformanceStatementDetailCtrl.onTestSelect(testCase)"><i class="fa fa-play"></i></button>
					</div>
				</div>
				<div ng-repeat="testSuite in conformanceStatementDetailCtrl.testSuites" ng-if="conformanceStatementDetailCtrl.testSuites.length > 1">
					<div class="row div-table-row expandable" ng-click="conformanceStatementDetailCtrl.onExpand(testSuite)">
						<div class="row-cells">
							<div class="col-xs-2 div-table-cell wordwrap">{{testSuite.sname}}</div>
							<div class="col-xs-8 div-table-cell wordwrap">{{testSuite.description}}</div>
							<div class="col-xs-1 div-table-cell wordwrap">{{testSuite.result}}</div>
							<div class="col-xs-1 div-table-cell padded">
								<button class="btn btn-primary pull-right" ng-click="conformanceStatementDetailCtrl.onTestSuiteSelect(testSuite)"><i class="fa fa-play"></i></button>
							</div>
						</div>
						<div class="col-xs-12 expandable-placeholder" uib-collapse="!testSuite.expanded">
							<div class="container-fluid div-table non-expandable inner">
								<div class="row div-table-row-header non-expandable">
									<div class="col-xs-2 div-table-cell wordwrap">Test&nbsp;case</div>
									<div class="col-xs-8 div-table-cell wordwrap">Description</div>
									<div class="col-xs-1 div-table-cell wordwrap">Result</div>
									<div class="col-xs-1 div-table-cell">&nbsp;</div>
								</div>
								<div class="row div-table-row non-expandable row-cells" ng-repeat="testCase in testSuite.testCases">
									<div class="col-xs-2 div-table-cell wordwrap">{{testCase.sname}}</div>
									<div class="col-xs-8 div-table-cell wordwrap">{{testCase.description}}</div>
									<div class="col-xs-1 div-table-cell wordwrap">{{testCase.result}}</div>
									<div class="col-xs-1 div-table-cell">
										<button class="btn btn-primary pull-right" ng-click="conformanceStatementDetailCtrl.onTestSelect(testCase)"><i class="fa fa-play"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
