<div class="modal-header">
	<h4>Edit parameter</h4>
</div>
<form class="form-horizontal">
	<div class="modal-body">
		<div class="form-group">
			<label class="col-sm-3 control-label">Name:</label>
			<div class="col-sm-8"><p class="form-control-static">{{editEndpointConfigurationCtrl.parameter.name}}</p></div>
		</div>
		<div class="form-group" ng-if="editEndpointConfigurationCtrl.parameter.desc && editEndpointConfigurationCtrl.parameter.desc.length > 0">
			<label class="col-sm-3 control-label">Description:</label>
			<div class="col-sm-8"><p class="form-control-static">{{editEndpointConfigurationCtrl.parameter.desc}}</p></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="value" ng-if="editEndpointConfigurationCtrl.parameter.use == 'R'" style="font-weight: bold;">{{editEndpointConfigurationCtrl.parameter.kind == 'SECRET'?'* New value:':'* Value:'}}</span></label>
			<label class="col-sm-3 control-label" for="value" ng-if="editEndpointConfigurationCtrl.parameter.use != 'R'">{{editEndpointConfigurationCtrl.parameter.kind == 'SECRET'?'New value:':'Value:'}}</label>
			<div class="col-sm-8">
				<div ng-if="editEndpointConfigurationCtrl.parameter.kind == 'SIMPLE'">
					<div ng-if="editEndpointConfigurationCtrl.hasPresetValues">
						<select id="value" ng-model="editEndpointConfigurationCtrl.configuration.value" class="form-control">
							<option ng-if="editEndpointConfigurationCtrl.parameter.use == 'O'" value=""></option>
							<option ng-repeat="v in editEndpointConfigurationCtrl.presetValues" ng-value="v.value">{{v.label}}</option>
						</select>
					</div>
					<div ng-if="!editEndpointConfigurationCtrl.hasPresetValues">
						<input id="value" ng-model="editEndpointConfigurationCtrl.configuration.value" class="form-control" type="text" autocomplete="off"/>
					</div>
				</div>
				<input id="value" ng-model="editEndpointConfigurationCtrl.configuration.value" class="form-control" type="password" ng-if="editEndpointConfigurationCtrl.parameter.kind == 'SECRET'"/>
				<div ng-if="editEndpointConfigurationCtrl.parameter.kind == 'BINARY'">
					<a class="form-control-static" href="" ng-if="editEndpointConfigurationCtrl.showFileName()" ng-click="editEndpointConfigurationCtrl.download()" style="padding-right:10px;">{{editEndpointConfigurationCtrl.fileName()}}</a>
					<button class="btn btn-default" ng-file-select="editEndpointConfigurationCtrl.onFileSelect($files)">Upload</button>
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="editEndpointConfigurationCtrl.parameter.kind == 'SECRET'">
			<label class="col-sm-3 control-label" for="valueConfirm" ng-if="editEndpointConfigurationCtrl.parameter.use == 'R'" style="font-weight: bold;">* Confirm value:</span></label>
			<label class="col-sm-3 control-label" for="valueConfirm" ng-if="editEndpointConfigurationCtrl.parameter.use != 'R'">Confirm value:</label>
			<div class="col-sm-8">
				<input id="valueConfirm" ng-model="editEndpointConfigurationCtrl.configuration.valueConfirm" class="form-control" type="password" ng-if="editEndpointConfigurationCtrl.parameter.kind == 'SECRET'"/>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="submit" ng-click="editEndpointConfigurationCtrl.save()" ng-disabled="editEndpointConfigurationCtrl.parameter.kind == 'BINARY' && !editEndpointConfigurationCtrl.file">Save</button>
		<button class="btn btn-default" type="button" ng-click="editEndpointConfigurationCtrl.delete()" ng-if="editEndpointConfigurationCtrl.isConfigurationSet">Delete</button>
		<button class="btn btn-default" type="button" ng-click="editEndpointConfigurationCtrl.cancel()">Cancel</button>
	</div>
</form>	