<div class="modal-header">
	<h4>Edit parameter</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label">Name:</label>
				<div class="col-sm-8"><p class="form-control-static">{{editEndpointConfigurationCtrl.parameter.name}}</p></div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Description:</label>
				<div class="col-sm-8"><p class="form-control-static">{{editEndpointConfigurationCtrl.parameter.desc}}</p></div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="value" ng-if="editEndpointConfigurationCtrl.parameter.use == 'R'" style="font-weight: bold;">* Value:</span></label>
				<label class="col-sm-3 control-label" for="value" ng-if="editEndpointConfigurationCtrl.parameter.use != 'R'">Value:</label>
				<div class="col-sm-8">
					<input id="value" ng-model="editEndpointConfigurationCtrl.configuration.value" class="form-control" type="text" ng-if="editEndpointConfigurationCtrl.parameter.kind != 'BINARY'"/>
					<div ng-if="editEndpointConfigurationCtrl.parameter.kind == 'BINARY'">
						<a class="form-control-static" href="" ng-if="editEndpointConfigurationCtrl.showFileName()" ng-click="editEndpointConfigurationCtrl.download()" style="padding-right:10px;">{{editEndpointConfigurationCtrl.fileName()}}</a>
						<button class="btn btn-default" ng-file-select="editEndpointConfigurationCtrl.onFileSelect($files)">Upload</button>
					</div>
				</div>
			</div>
		</form>		
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="editEndpointConfigurationCtrl.save()">Save</button>
		<button class="btn btn-default" ng-click="editEndpointConfigurationCtrl.delete()">Delete</button>
		<button class="btn btn-default" ng-click="editEndpointConfigurationCtrl.cancel()">Cancel</button>
	</div>