<div class="page conformance">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Conformance statements</h4>
			<a class="btn btn-default pull-right" ui-sref="app.systems.detail.conformance.create" ng-if="conformanceStatementCtrl.showCreate()">Create conformance statement</a>
		</div>
		<div id="conformance-statements-table" table-directive 
			columns="conformanceStatementCtrl.tableColumns" 
			data="conformanceStatementCtrl.conformanceStatementRepresentations" 
            no-data-message="No statements found"
			loading-status="conformanceStatementCtrl.dataStatus" 
			on-select="conformanceStatementCtrl.onConformanceStatementSelect">
		</div>
	</div>
</div>
