<div class="page users detail">
    <div class="card mb-0">
        <div class="card-header">
            <h4 class="title">User details</h4>
        </div>
        <form>
            <div class="card-body">
                <!-- Error messages -->
                <app-alert-display [alerts]="alerts" innerClass="col-10 offset-1"></app-alert-display>
                <div class="row">
                    <div class="col-11">
                        <app-user-form 
                            [user]="user" 
                            [new]="false" 
                            [admin]="false" 
                            [roles]="roleChoices" 
                            [sso]="dataService.configuration.ssoEnabled"
                            [showOrganisation]="fromCommunityManagement"
                            [roleReadonly]="isSelf"
                            [showChangePassword]="!isSelf"
                            (passwordChanged)="changePassword = $event"></app-user-form>
                    </div>
                </div>
                <div class="row" *ngIf="!dataService.configuration.ssoEnabled">
                    <div class="col-10 col-centered">
                        <div class="alert alert-info form-control-plaintext rounded mb-0">
                            <p class="mb-0"><b>Privacy note:</b> By clicking 'Update' you grant the user's consent on his/her behalf to record the provided information. This is used only for internal identification purposes and is never shared with other parties. Alternatively you may also complete this form with information that is not personally identifiable. Please refer to the legal notice (link available in the screen's footer) for more information.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer button-container">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" (click)="updateUser()" [disable]="deletePending || saveDisabled()" [pending]="savePending">Update</button>
                    <button class="btn btn-secondary" type="button" (click)="cancelDetailUser()">Back</button>
                </div>
                <div class="btn-toolbar btn-toolbar-delete" *ngIf="!isSelf">
                    <button class="btn btn-outline-danger" type="button" (click)="deleteUser()" [disable]="savePending" [pending]="deletePending">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
