<div class="modal-header">
    <div class="modal-title">{{headerText}}</div>
    <div tabindex="-1" class="modal-focus-anchor" ngbAutofocus></div>
</div>
<div class="modal-body py-4">
    {{bodyText}}
    @if (optionText) {
        <form>
            <div class="option-separator mt-4 pt-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="confirmationOption" name="confirmationOption" [(ngModel)]="optionChecked">
                    <label class="form-check-label" for="confirmationOption">{{optionText}}</label>
                </div>
            </div>
        </form>
    }
</div>
<div class="modal-footer">
    <div class="btn-toolbar">
        @if (!oneButton) {
            <button [labelIcon]="closeButtonIcon" [ngClass]="cancelClass()" type="button" (click)="cancel()">{{closeButtonText}}</button>
        }
        @if (middleButtonText) {
            <button [labelIcon]="middleButtonIcon" class="btn btn-secondary" type="button" (click)="middle()">{{middleButtonText}}</button>
        }
        <button [labelIcon]="actionButtonIcon" [ngClass]="currentActionClass()" type="button" (click)="ok()">{{actionButtonText}}</button>
    </div>
</div>
