<div class="page users create">
    <div class="card mb-0">
        <div class="card-header">
            <div class="card-title">Create community administrator</div>
            <div app-community-tag-indicator></div>
        </div>
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="col-11">
                        <app-user-form [user]="user" [new]="true" [admin]="true" [sso]="dataService.configuration.ssoEnabled" [validation]="validation"></app-user-form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 col-centered">
                        <div class="alert alert-info rounded mb-0">
                            @if (dataService.configuration.ssoEnabled) {
                                <div class="alert-section">
                                    The user's new role assignment will need to be confirmed by the user upon login.
                                </div>
                            }
                            <div class="alert-section">
                                <span class="alert-label">Privacy note</span>
                                By completing this form you grant the user's consent on his/her behalf to record the provided information.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.SAVE" type="submit" (click)="createAdmin()" [disable]="saveDisabled()" [pending]="savePending">Save</button>
                    <button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.CANCEL" type="button" (click)="cancelCreateAdmin()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
