<div class="input-group">
    @if (first) {
        <span class="input-group-text">{{expressionDescription}}</span>
    } @else {
        <div class="input-group-text">
            <span class="fw-bold">AND</span>
            <span class="ms-2">{{expressionDescription.toLowerCase()}}</span>
        </div>
    }
    <input name="expressionContentInput" [value]="fireExpression.expression" type="text" class="form-control" readonly="readonly"/>
    <button (click)="doEdit()" class="btn btn-secondary" tooltip="Edit" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'" containerClass="shortTooltip" container="body"><i class="fa-solid fa-pencil" aria-hidden="true"></i></button>
    <button (click)="doDelete()" class="btn btn-secondary" tooltip="Delete" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'" containerClass="shortTooltip" container="body"><i class="fa-solid fa-trash" aria-hidden="true"></i></button>
</div>
