<div class="input-group">
    @if (first) {
        <span class="input-group-text">{{expressionDescription}}</span>
    } @else {
        <div class="input-group-text">
            <span class="fw-bold">AND</span>
            <span class="ms-2">{{expressionDescription.toLowerCase()}}</span>
        </div>
    }
    <input name="expressionContentInput" [value]="fireExpression.expression" type="text" class="form-control" readonly="readonly"/>
    <button (click)="doEdit()" class="btn btn-secondary" ngbTooltip="Edit" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'" tooltipClass="shortTooltip" container="body"><i [class]="Constants.BUTTON_ICON.EDIT" aria-hidden="true"></i></button>
    <button (click)="doDelete()" class="btn btn-secondary" ngbTooltip="Delete" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'" tooltipClass="shortTooltip" container="body"><i [class]="Constants.BUTTON_ICON.DELETE" aria-hidden="true"></i></button>
</div>
