<div class="page domains detail">
    <div class="card panel-default">
        <div class="card-header">
            <h4 class="title">{{dataService.labelDomain()}} details</h4>
        </div>
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="col-10 offset-1">
                        <app-domain-form *ngIf="domain" [domain]="domain"></app-domain-form>
                    </div>
                </div>
            </div>
            <div class="card-footer button-container">
                <div class="btn-toolbar">
                    <button type="submit" (click)="saveDomainChanges()" class="btn btn-secondary" [disable]="deletePending || saveDisabled()" [pending]="savePending">Save changes</button>
                    <button type="button" *ngIf="dataService.isSystemAdmin || (dataService.isCommunityAdmin && !dataService.community!.domainId)" (click)="back()" class="btn btn-secondary">Back</button>
                </div>
                <div class="btn-toolbar btn-toolbar-delete" *ngIf="dataService.isSystemAdmin">
                    <button type="button" (click)="deleteDomain()" class="btn btn-outline-danger" [disable]="savePending" [pending]="deletePending">Delete</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <tabset #tabs>
            <tab (selectTab)="loadSpecifications()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-list-check" [text]="dataService.labelSpecifications()"></app-tab-title></ng-template>
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button *ngIf="specifications.length > 0" type="button" class="btn btn-secondary" (click)="uploadTestSuite()">Upload test suite</button>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-secondary" (click)="createSpecification()">Create {{dataService.labelSpecificationLower()}}</button>
                                <button id="button-create-spec" type="button" dropdownToggle class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
                                    <span class="caret"></span>
                                    <span class="sr-only visually-hidden">Create {{dataService.labelSpecificationLower()}}</span>
                                </button>
                                <ul id="dropdown-create-spec" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-create-spec">
                                    <li role="menuitem"><a class="dropdown-item" href (click)="createSpecificationGroup();$event.preventDefault();">Create {{dataService.labelSpecificationGroupLower()}}</a></li>
                                </ul>
                            </div>
                            <div class="btn-group" dropdown *ngIf="specificationGroups.length > 0">
                                <button id="button-option-visibility" (click)="$event.stopPropagation()" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-option-visibility">View {{dataService.labelSpecificationInGroupsLower()}}<span class="caret withMargin"></span></button>
                                <ul id="dropdown-option-visibility" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-option-visibility">
                                    <li role="menuitem"><a class="dropdown-item" href (click)="toggleSpecificationGroupCollapse(false);$event.preventDefault();">Show {{dataService.labelSpecificationInGroupsLower()}}</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href (click)="toggleSpecificationGroupCollapse(true);$event.preventDefault();">Hide {{dataService.labelSpecificationInGroupsLower()}}</a></li>
                                </ul>
                            </div>
                            <div class="btn-group" dropdown *ngIf="specifications.length > 1">
                                <button [pending]="saveOrderPending" type="button" class="btn btn-secondary" (click)="saveOrdering()">Save {{dataService.labelSpecificationLower()}} order</button>
                                <button id="button-order" type="button" dropdownToggle class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
                                    <span class="caret"></span>
                                    <span class="sr-only visually-hidden">Reset {{dataService.labelSpecificationLower()}} order</span>
                                </button>
                                <ul id="dropdown-order" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-order">
                                    <li role="menuitem"><a class="dropdown-item" href (click)="resetOrdering();$event.preventDefault();">Reset {{dataService.labelSpecificationLower()}} order</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ng-container [ngSwitch]="specificationStatus && specificationStatus.status != Constants.STATUS.FINISHED">
                            <ng-container *ngSwitchCase="true">
                                <div class="spec-message-div">
                                    <div class="pending-icon"><app-pending-block [pending]="true"></app-pending-block></div>
                                    <div class="pending-message">Loading {{dataService.labelSpecificationsLower()}}...</div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchDefault [ngSwitch]="domainSpecifications.length == 0">
                                <ng-container *ngSwitchCase="true">
                                    <div class="spec-message-div" *ngSwitchCase="true">
                                        <span>No {{dataService.labelSpecificationsLower()}} found.</span>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <ng-container *ngFor="let spec of domainSpecifications; let firstGroup = first; let lastGroup = last">
                                        <app-domain-specification-display
                                            [spec]="spec"
                                            [first]="firstGroup"
                                            [last]="lastGroup"
                                            [groups]="specificationGroups"
                                            (removeSpec)="removeSpecificationFromGroup($event[0], $event[1])"
                                            (moveSpec)="moveSpecificationToGroup($event[0], $event[1], $event[2])"
                                            (copySpec)="copySpecificationToGroup($event[0], $event[1], $event[2])"
                                            (moveUp)="moveSpecificationUp($event)"
                                            (moveDown)="moveSpecificationDown($event)"
                                            (selectSpec)="onSpecificationSelect($event)"
                                            (click)="onSpecificationGroupSelect(spec)"
                                        ></app-domain-specification-display>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </tab>

            <tab (selectTab)="loadSharedTestSuites()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-box-archive" text="Shared test suites"></app-tab-title></ng-template>
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-secondary" (click)="uploadSharedTestSuite()">Upload shared test suite</button>
                        </div>
                    </div>
                    <div class="card panel-default">
                        <div table-directive
                            [columns]="sharedTestSuiteTableColumns"
                            [data]="sharedTestSuites"
                            [noDataMessage]="'No shared test suites found'"
                            [loadingStatus]="sharedTestSuiteStatus"
                            [allowSelect]="true"
                            (onSelect)="onSharedTestSuiteSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>

            <tab (selectTab)="loadDomainParameters()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-sliders" text="Parameters"></app-tab-title></ng-template>
                <div class="tabPanel">
                    <div class="tabControls">
                        <button type="button" class="btn btn-secondary" (click)="createDomainParameter()">Create parameter</button>
                    </div>
                    <div class="card table-container rounded">
                        <table class="table table-directive">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th>Description</th>
                                    <th>In&nbsp;tests</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container [ngSwitch]="parameterStatus.status">
                                    <ng-container *ngSwitchCase="Constants.STATUS.FINISHED" [ngSwitch]="domainParameters.length">
                                        <tr *ngSwitchCase="0">
                                            <td colspan="4" class="td-no-data"><span>No parameters found</span></td>
                                        </tr>
                                        <ng-container *ngSwitchDefault>
                                            <tr class="selectable" (click)="onDomainParameterSelect(parameter)" *ngFor="let parameter of domainParameters">
                                                <td>{{parameter.name}}</td>
                                                <td *ngIf="parameter.kind == 'BINARY'"><a href (click)="downloadParameter(parameter);$event.preventDefault();$event.stopPropagation()">{{parameter.valueToShow}}</a></td>
                                                <td *ngIf="parameter.kind != 'BINARY'">{{parameter.valueToShow}}</td>
                                                <td>{{parameter.description}}</td>
                                                <td><div><span><i class="fa" [ngClass]="{'fa-check': parameter.inTests, 'fa-times': !parameter.inTests}"></i></span></div></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                        <tr>
                                            <td colspan="4" class="td-data-loading"><span><i class="fa-solid fa-spinner fa-spin-override fa-lg"></i></span></td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
