@import '../../../../../../styles/less/_common.less';
.spec-message-div {
    padding: 10px;
    background-color: @white;
    border: 1px solid @gray-dark-1;
    border-radius: @border-radius;
    display: flex;
    div, span {
        opacity: 0.5;
    }
}
