<div class="page dashboard">
    <app-test-filter [filterState]="filterState" [communityId]="communityId" (onApply)="applyFilters()"></app-test-filter>
    <div class="card panel-default">
        <div class="card-header clickable" (click)="activeSessionsCollapsed = !activeSessionsCollapsed">
            <h4 class="title"><app-collapsing-icon [isCollapsed]="activeSessionsCollapsed"></app-collapsing-icon>Active test sessions</h4>
            <div class="btn-toolbar" [class.disable-events]="filterState.updatePending">
                <button type="button" class="btn btn-secondary" (click)="stopAll();$event.stopPropagation()" [pending]="stopAllPending" [disable]="activeTests.length == 0 || exportActivePending">Terminate all</button>
                <button type="button" class="btn btn-secondary" (click)="exportActiveSessionsToCsv();$event.stopPropagation()" [pending]="exportActivePending" [disable]="activeTests.length == 0 || stopAllPending">Export CSV</button>
                <button type="button" class="btn btn-secondary" *ngIf="showCollapseAllActive()" (click)="onCollapseAllActive();$event.stopPropagation()">Collapse all</button>
            </div>
        </div>
        <div [collapse]="activeSessionsCollapsed" [isAnimated]="true">
            <div app-session-table
                [sessionTableId]="'dashboard-table-active'"
                [expandedCounter]="activeExpandedCounter"
                [columns]="activeTestsColumns"
                [data]="activeTests"
                [noDataMessage]="'No sessions found'"
                [loadingStatus]="activeStatus"
                [operationsVisible]="true"
                [rowStyle]="rowStyle"
                [supportRefresh]="true"
                (onSort)="sortActiveSessions($event)"
                (onDelete)="stopSession($event)"
                (onRefresh)="refreshForSession($event)"
                [refreshComplete]="sessionRefreshCompleteEmitter"
                [contentRefreshing]="filterState.updatePending">
            </div>
        </div>
    </div>
    <!-- completed sessions -->
    <div class="card mb-0">
        <div class="card-header clickable" (click)="completedSessionsCollapsed = !completedSessionsCollapsed">
            <h4 class="title"><app-collapsing-icon [isCollapsed]="completedSessionsCollapsed"></app-collapsing-icon>Completed test sessions</h4>
            <div class="btn-toolbar" [class.disable-events]="filterState.updatePending">
                <button type="button" class="btn btn-secondary" (click)="selectDeleteSessions();$event.stopPropagation()" *ngIf="!selectingForDelete" [disable]="completedTests.length == 0 || deletePending" [pending]="deleteSessionsPending">Delete sessions...</button>
                <button type="button" class="btn btn-outline-danger" (click)="confirmDeleteSessions();$event.stopPropagation()" *ngIf="selectingForDelete" [disable]="!testsChecked()" [pending]="deleteSessionsPending">Confirm</button>
                <button type="button" class="btn btn-secondary" (click)="cancelDeleteSessions();$event.stopPropagation()" *ngIf="selectingForDelete" [disabled]="deleteSessionsPending">Cancel</button>
                <button type="button" class="btn btn-secondary" (click)="deleteObsolete();$event.stopPropagation()" [disable]="selectingForDelete || deleteSessionsPending" [pending]="deletePending">Delete obsolete sessions</button>
                <button type="button" class="btn btn-secondary" (click)="exportCompletedSessionsToCsv();$event.stopPropagation()" [disable]="completedTests.length == 0 || selectingForDelete || deleteSessionsPending" [pending]="exportCompletedPending">Export CSV</button>
                <button type="button" class="btn btn-secondary" *ngIf="showCollapseAll()" (click)="onCollapseAll();$event.stopPropagation()">Collapse all</button>
            </div>
        </div>
        <div [collapse]="completedSessionsCollapsed" [isAnimated]="true">
            <div app-session-table
                [sessionTableId]="'dashboard-table'"
                [expandedCounter]="completedExpandedCounter"
                [columns]="completedTestsColumns"
                [data]="completedTests"
                [noDataMessage]="'No sessions found'"
                [loadingStatus]="completedStatus"

                [actionVisible]="true"
                [actionIcon]="'fa-regular fa-file-lines'"
                (onAction)="onReportExportXml($event)"
                [actionVisibleForRow]="exportVisible"
                [actionTooltip]="'Export (XML)'"

                [exportVisible]="true"
                (onExport)="onReportExportPdf($event)"
                [exportVisibleForRow]="exportVisible"
                [exportTooltip]="'Export (PDF)'"

                (firstPage)="goFirstPage()"
                (prevPage)="goPreviousPage()"
                (onSort)="sortCompletedSessions($event)"
                (nextPage)="goNextPage()"
                (lastPage)="goLastPage()"
                [nextDisabled]="isNextPageDisabled"
                [prevDisabled]="isPreviousPageDisabled"
                [rowStyle]="rowStyle"
                [showCheckbox]="completedTestsCheckboxEmitter"
                [contentRefreshing]="filterState.updatePending">
            </div>
        </div>
    </div>
</div>
