@import '../../../styles/less/_common.less';

.input-group.colour-input-group {
    flex-wrap: nowrap;
    width: 250px;
    .form-control {
        border-top-right-radius: @border-radius !important;
        border-bottom-right-radius: @border-radius !important;
    }
}

.colour-holder-readonly {
    cursor: pointer;
}