<div class="input-group colour-input-group">
    <div class="input-group-text">
        <div>{{label}}</div>
        @if (tooltipText != undefined) {
            <div app-tooltip [inline]="true" [tbTooltip]="tooltipText"></div>
        }
    </div>
    @if (readonly) {
        <input
            type="text"
            class="form-control colour-holder-readonly"
            readonly="readonly"
            [tooltip]="value"
            containerClass="shortTooltip"
            [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"
            [style.background]="value"
            (click)="copyColor()">
    } @else {
        <input
            type="text"
            class="form-control colour-holder"
            readonly="readonly"
            [style.background]="value"
            [colorPicker]="value!"
            [cpOutputFormat]="'hex'"
            (colorPickerChange)="value = $event">    
    }
</div>