@import "../_common.less";

#conformanceWizardTable {
	border: 1px solid @gray-light;
	border-radius: 3px;	
}

#conformanceWizardTableSummary {
	border: 1px solid @gray-light;
	border-radius: 3px;	
	padding-top: 10px;
}

#conformanceWizardTableSummary .row {
	margin-right: 0px;
    margin-left: 0px;	
}

.conformanceWizardHeader {
	padding-bottom:10px;
}

.page.systems .page.conformance {
    .panel-heading {
	.title {
	    display: inline-block;
	}
    }
    .no-conformance-statement-defined {
	text-align: center;
	margin: 24px 0;
    }

    &.create {
        .create-conformance-statement {
            .step-content {
                .no-data-found {
                    text-align: center;
                    padding: 8px;
                }
            }
        }
    }
}

.create-conformance-statement-dialog {
    .modal-dialog {
	width: 700px;

	.modal-content {
	    overflow: hidden;

	    .modal-header {
		h4 {
		    font-weight: bold;
		    color: @gray-dark;
		}
	    }

	    .modal-body {
		padding: 0;

		.wizard {
		    @wizard-min-height: 300px;
		    min-height: @wizard-min-height;
		    .steps {
			min-width: 210px;
			height: @wizard-min-height;
		    }
		}
	    }
	}

    }
}

.div-table {

	.div-table-cell {
		&.wordwrap {
			white-space: pre-wrap;      /* CSS3 */   
			white-space: -moz-pre-wrap; /* Firefox */    
			white-space: -pre-wrap;     /* Opera <7 */   
			white-space: -o-pre-wrap;   /* Opera 7 */    
			word-wrap: break-word;		
		}
	}

	.expandable-placeholder {
		padding: 0px;
	}

	&.inner {
		border: 1px solid #ddd;
		margin-left: 8px;
		margin-right: 8px;
		margin-top: 15px;
	}

	&.non-expandable {
		background-color: white;
	}

	&.expandable {
		background-color: #f5f5f5;
	}

	.div-table-row {

		&.expandable {
			cursor: pointer;
			&:hover {
				background-color: #efefef;
			}
		}

		&.non-expandable {
			background-color: white;
		}

		padding-top:8px;
		padding-bottom:8px;
		border-top: 1px solid #ddd;
		min-height: 51px;

		.div-table-cell {
			&.padded {
				padding-right:24px;
			}
		}

	}

	.div-table-row-header {
		font-weight: bold;
		background-color: white;
		border-bottom: 1px solid #ddd;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.row-cells {
		display: flex;
		align-items: center;
	}
}

#conformanceDetailPage, #conformanceDashboardPage, #conformanceDashboardPageTable {
	.panel-heading > .btn-toolbar {
		&.padded {
			margin-right: 1px;
		}
		margin-right: -8px;
	}
}