<div class="modal-header">
    <div class="modal-title">{{modalTitle}}</div>
</div>
<form>
	<div class="modal-body">
        <app-parameter-form
            [nameLabel]="nameLabel"
            [parameter]="parameter"
            [hasKey]="hasKey"
            [hideInExport]="hideInExport"
            [hideInRegistration]="hideInRegistration"
            [existingValues]="existingValues"
            [validation]="validation"></app-parameter-form>
    </div>
    <div class="modal-footer button-container">
        <div class="btn-toolbar btn-toolbar-delete">
            <button type="button" class="btn btn-outline-danger" (click)="deleteParameter()">Delete</button>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-secondary" (click)="updateParameter()" [disabled]="saveDisabled()">Save</button>
        </div>
    </div>
</form>
