@import "../../../../../styles/less/_common.less";

@color-summary-border: @gray-light;
@color-summary-title: @gray-light-1;
@color-summary-labels: white;
@color-summary-title-hover: fade(@gray-light, 50%);
@color-summary-labels-hover: @white-hover;

.summary {
    display: flex;
    cursor: pointer;
    height: 40px;

    &:hover {
        .summary-labels {
            background: @color-summary-labels-hover;
        }
        .summary-cell-title {
            background: @color-summary-title-hover !important;
        }
    }

    .summary-labels {
        display: inline-flex;
        flex-grow: 1;
        background: @color-summary-labels;

        & > .summary-cell {
            flex-grow: 0.33;
            justify-content: center;
            border-left: 1px solid @color-summary-border;
        }
    }

    .summary-cell {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        display: inline-flex;
        align-items: center;

        &.summary-cell-title {
            background: @color-summary-title;
            font-weight: bold;
            text-align: left;
            padding-left: 30px;
            padding-right: 80px;
        }

        .summary-item-label {
            font-weight: bold;
            margin-right: 5px;
        }
    }

}

.detailItems { 
    padding: 10px 10px 0px 10px; 
    border-top: 1px solid @color-summary-border; 
}

.detailsLabel { 
    margin-bottom:8px; 
}

.countersDiv { 
    padding-bottom:10px; 
}

.itemsDiv { 
    border: 1px solid @color-summary-border; 
    border-radius: 3px; 
    margin-top: 15px; 
}

