<div class="modal-header">
    <h4>Role removal options</h4>
</div>
<form class="form-horizontal">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-5 control-label" for="choice_partial">* Select how to proceed:</label>
            <div class="col-sm-7">
                <label style="padding-right:10px" class="radio-inline"><input type="radio" [(ngModel)]="choice" name="choice" id="choice_partial" [value]="Constants.DISCONNECT_ROLE_OPTION.CURRENT_PARTIAL">Deactivate current role</label><span class="tooltip-for-radio-label" [tooltip]="'The current role will be disconnected from your EU Login account but can be linked to it again if you choose to do so.'"><i class="fa fa-question-circle"></i></span><br/>
                <label *ngIf="!dataService.isSystemAdmin" style="padding-right:10px" class="radio-inline"><input type="radio" [(ngModel)]="choice" name="choice" id="choice_full" [value]="Constants.DISCONNECT_ROLE_OPTION.CURRENT_FULL">Delete current role</label><span *ngIf="!dataService.isSystemAdmin" class="tooltip-for-radio-label" [tooltip]="'The current role will be permanently removed from your EU Login account.'"><i class="fa fa-question-circle"></i></span><br *ngIf="!dataService.isSystemAdmin"/>
                <label *ngIf="dataService.isSystemAdmin" style="padding-right:10px" class="radio-inline"><input type="radio" [(ngModel)]="choice" name="choice" id="choice_all" [value]="Constants.DISCONNECT_ROLE_OPTION.ALL">Delete all other roles</label><span *ngIf="dataService.isSystemAdmin" class="tooltip-for-radio-label" [tooltip]="'All other roles linked to your EU Login account (active and inactive) will be permanently removed.'"><i class="fa fa-question-circle"></i></span>
                <label *ngIf="!dataService.isSystemAdmin" style="padding-right:10px" class="radio-inline"><input type="radio" [(ngModel)]="choice" name="choice" id="choice_all" [value]="Constants.DISCONNECT_ROLE_OPTION.ALL">Delete all roles</label><span *ngIf="!dataService.isSystemAdmin" class="tooltip-for-radio-label" [tooltip]="'All Test Bed roles linked to your EU Login account (active and inactive) will be permanently removed.'"><i class="fa fa-question-circle"></i></span>
            </div>
        </div>
        <div class="bg-info div-rounded div-padded">
            <b>Privacy note:</b> Option <i>"Delete all <span *ngIf="dataService.isSystemAdmin">other </span>roles"</i> removes all your recorded information<span *ngIf="dataService.isSystemAdmin"> except for your administrator account</span>. This does not affect or remove your conformance testing history.
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="submit" (click)="disconnect()" [pending]="disconnectPending">Proceed</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>    
</form>