<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="form-group" *ngIf="groups.length > 0">
            <label class="col-xs-3 control-label" for="groupChoice">{{dataService.labelSpecificationGroup()}}:</label>
            <div class="col-xs-7">
                <select id="groupChoice" class="form-control" name="group" [(ngModel)]="specification.group">
                    <option [ngValue]="undefined">--Optional--</option>
                    <option *ngFor="let group of groups" [ngValue]="group.id">{{group.sname}}</option>
                </select>
            </div>
            <app-tooltip [tbTooltip]="'If selected, this is the '+dataService.labelSpecificationGroupLower()+' that will contain this '+dataService.labelSpecificationLower()+'.'"></app-tooltip>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="shortName">* Short name:</label>
            <div class="col-xs-7"><input id="shortName" name="shortName" [(ngModel)]="specification.sname" class="form-control" type="text"></div>
            <app-tooltip [tbTooltip]="'This is used to display the '+dataService.labelSpecificationLower()+' in selection lists (e.g. search filters) and tables (e.g. conformance statement creation wizard) where space is limited. Ensure this is short but still understandable by users.'"></app-tooltip>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="fullName">* Full name:</label>
            <div class="col-xs-7"><input id="fullName" name="fullName" [(ngModel)]="specification.fname" class="form-control" type="text"></div>
            <app-tooltip [tbTooltip]="'This is used to display the '+dataService.labelSpecificationLower()+' in detail forms and reports.'"></app-tooltip>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="description">Description:</label>
            <div class="col-xs-7">
                <textarea id="description" name="description" [(ngModel)]="specification.description" class="form-control"></textarea>
            </div>
            <app-tooltip [tbTooltip]="'This is used to describe the '+dataService.labelSpecificationLower()+'. It is visible to users when managing conformance statements.'"></app-tooltip>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="hidden">Hidden:</label>
            <div class="col-xs-8">
                <input id="hidden" name="hidden" [(ngModel)]="specification.hidden" type="checkbox" class="form-check">
                <app-tooltip [tbTooltip]="'Check this to hide the '+dataService.labelSpecificationLower()+' as an available option for new conformance statements. Doing so effectively deprecates the '+dataService.labelSpecificationLower()+' but keeps testing history intact.'" [inline]="true"></app-tooltip>
            </div>
        </div>
        <div class="form-group" *ngIf="dataService.configuration.automationApiEnabled && specification.id != undefined">
            <label class="col-xs-3 control-label" for="apiKey">API key:</label>
            <div class="col-xs-7">
                <app-api-key-text id="apiKey" name="apiKey" [key]="specification.apiKey!"></app-api-key-text>
            </div>
            <app-tooltip [tbTooltip]="'The key to use when calling the Test Bed\'s REST API to identify the '+dataService.labelSpecificationLower()+'.'"></app-tooltip>
        </div>
    </div>
</div>
<app-manage-badges *ngIf="specification.badges" [badges]="specification.badges"></app-manage-badges>
