<div class="page endpoint detail detail-actor">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{dataService.labelEndpoint()}} details</h4>
		</div>
		<form class="form-horizontal">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
                        <app-endpoint-form [endpoint]="endpoint"></app-endpoint-form>
                    </div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="btn-toolbar">
					<button (click)="saveChanges()" type="submit" class="btn btn-default" [disable]="deletePending || saveDisabled()" [pending]="savePending">Save changes</button>
					<button (click)="delete()" type="button" class="btn btn-default" [pending]="deletePending" [disable]="savePending">Delete</button>
					<button (click)="back()" type="button" class="btn btn-default">Back</button>
				</div>
			</div>
		</form>
	</div>
	<div>
		<tabset>
			<tab heading="Parameters">
				<div class="tabPanel">
					<div class="tabControls">
						<div class="btn-toolbar">
							<button type="button" class="btn btn-default" [disable]="orderParametersDisabled" [pending]="orderPending" (click)="orderParameters()">Save parameter order</button>
							<button type="button" class="btn btn-default" (click)="addParameter()">Create parameter</button>
						</div>
					</div>
					<div class="panel panel-default table-container">
						<table class="table table-directive thick">
							<thead>
								<tr>
									<th>Label</th>
									<th>Key</th>
									<th>Type</th>
									<th class="min-width">Required</th>
									<th class="min-width">Editable</th>
									<th class="min-width">In&nbsp;tests</th>
									<th class="min-width">Hidden</th>
									<th class="min-width"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngIf="dataStatus.status != Constants.STATUS.FINISHED">
									<td colspan="8" class="td-data-loading"><span><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span></td>
								</tr>
								<tr *ngIf="dataStatus.status == Constants.STATUS.FINISHED && parameters.length == 0">
									<td colspan="8" class="td-no-data"><span>No parameters found</span></td>
								</tr>
								<tr class="table-row-directive selectable" *ngFor="let parameter of parameters; let index = index; let first = first; let last = last" (click)="onParameterSelect(parameter)">
									<td><div><span>{{parameter.name}}</span></div></td>
									<td><div><span>{{parameter.testKey}}</span></div></td>
									<td><div><span>{{parameter.kindLabel}}</span></div></td>
									<td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.useLabel, 'fa-times': !parameter.useLabel}"></i></span></div></td>
									<td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.adminOnlyLabel, 'fa-times': !parameter.adminOnlyLabel}"></i></span></div></td>
									<td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.notForTestsLabel, 'fa-times': !parameter.notForTestsLabel}"></i></span></div></td>
									<td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.hidden, 'fa-times': !parameter.hidden}"></i></span></div></td>
									<td class="btn-stacked-container" (click)="$event.stopPropagation();">
										<div class="btn-toolbar btn-stacked">
											<button *ngIf="!first" class="btn btn-xs btn-default" type="button" (click)="moveParameterUp(index)" containerClass="shortTooltip" tooltip="Move up" [delay]="Constants.TOOLTIP_DELAY"><i class="fa fa-chevron-up"></i></button>
											<button *ngIf="!last" class="btn btn-xs btn-default" type="button" (click)="moveParameterDown(index)" containerClass="shortTooltip" tooltip="Move down" [delay]="Constants.TOOLTIP_DELAY"><i class="fa fa-chevron-down"></i></button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>