<div class="page endpoint detail detail-actor">
	<div class="card panel-default">
		<div class="card-header">
			<h4 class="title">{{dataService.labelEndpoint()}} details</h4>
		</div>
		<form>
			<div class="card-body">
				<div class="row">
					<div class="col-10 offset-1">
                        <app-endpoint-form [endpoint]="endpoint"></app-endpoint-form>
                    </div>
				</div>
			</div>
			<div class="card-footer button-container">
				<div class="btn-toolbar">
					<button (click)="saveChanges()" type="submit" class="btn btn-secondary" [disable]="deletePending || saveDisabled()" [pending]="savePending">Save changes</button>
					<button (click)="back()" type="button" class="btn btn-secondary">Back</button>
				</div>
				<div class="btn-toolbar btn-toolbar-delete">
					<button (click)="delete()" type="button" class="btn btn-outline-danger" [pending]="deletePending" [disable]="savePending">Delete</button>
				</div>
			</div>
		</form>
	</div>
	<div>
		<tabset>
			<tab customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-sliders" text="Parameters"></app-tab-title></ng-template>
				<div class="tabPanel">
					<div class="tabControls">
						<div class="btn-toolbar">
							<button type="button" class="btn btn-secondary" [disable]="orderParametersDisabled" [pending]="orderPending" (click)="orderParameters()">Save parameter order</button>
							<button type="button" class="btn btn-secondary" (click)="addParameter()">Create parameter</button>
						</div>
					</div>
					<div class="card table-container">
						<table class="table table-directive thick">
							<thead>
								<tr>
									<th>Label</th>
									<th>Key</th>
									<th>Type</th>
									<th class="min-width">Required</th>
									<th class="min-width">Editable</th>
									<th class="min-width">In&nbsp;tests</th>
									<th class="min-width">Hidden</th>
									<th class="min-width"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngIf="dataStatus.status != Constants.STATUS.FINISHED">
									<td colspan="8" class="td-data-loading"><span><i class="fa-solid fa-spinner fa-spin-override fa-lg"></i></span></td>
								</tr>
								<tr *ngIf="dataStatus.status == Constants.STATUS.FINISHED && parameters.length == 0">
									<td colspan="8" class="td-no-data"><span>No parameters found</span></td>
								</tr>
								<tr class="table-row-directive selectable" *ngFor="let parameter of parameters; let index = index; let first = first; let last = last" (click)="onParameterSelect(parameter)">
									<td><div><span>{{parameter.name}}</span></div></td>
									<td><div><span>{{parameter.testKey}}</span></div></td>
									<td><div><span>{{parameter.kindLabel}}</span></div></td>
									<td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.useLabel, 'fa-times': !parameter.useLabel}"></i></span></div></td>
									<td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.adminOnlyLabel, 'fa-times': !parameter.adminOnlyLabel}"></i></span></div></td>
									<td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.notForTestsLabel, 'fa-times': !parameter.notForTestsLabel}"></i></span></div></td>
									<td class="centered"><div><span><i class="fa" [ngClass]="{'fa-check': parameter.hidden, 'fa-times': !parameter.hidden}"></i></span></div></td>
									<td class="btn-stacked-container" (click)="$event.stopPropagation();">
										<div class="btn-toolbar btn-stacked">
											<button *ngIf="!first" class="btn btn-xs btn-secondary" type="button" (click)="moveParameterUp(index)" containerClass="shortTooltip" tooltip="Move up" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-chevron-up"></i></button>
											<button *ngIf="!last" class="btn btn-xs btn-secondary" type="button" (click)="moveParameterDown(index)" containerClass="shortTooltip" tooltip="Move down" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-chevron-down"></i></button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>