<td *ngIf="groups.length > 0 && !spec.option" class="td-min-centered">
    <app-collapsing-icon [hidden]="!spec.group" [padded]="false" [isCollapsed]="spec.collapsed"></app-collapsing-icon>
</td>
<td>{{spec.fname}}</td>
<td>{{spec.description}}</td>
<td class="td-min-centered"><app-hidden-icon *ngIf="spec.hidden"></app-hidden-icon></td>
<td class="td-min-right" *ngIf="groups.length > 0">
    <div class="btn-toolbar" [ngSwitch]="spec.group">
        <ng-container *ngSwitchCase="true">
            <button id="button-edit" class="btn btn-default" (click)="editGroup();$event.stopPropagation();" containerClass="shortTooltip" [tooltip]="'Edit '+dataService.labelSpecificationGroupLower()" [delay]="Constants.TOOLTIP_DELAY"><span><i class="fa fa-pencil"></i></span></button>
            <button id="button-add-option" class="btn btn-default" (click)="createOption();$event.stopPropagation();" containerClass="shortTooltip" [tooltip]="'Add '+dataService.labelSpecificationInGroupLower()" [delay]="Constants.TOOLTIP_DELAY"><span><i class="fa fa-plus"></i></span></button>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <button id="button-remove-option" *ngIf="spec.groupId != undefined" [disable]="isPending()" [pending]="spec.removePending" [icon]="true" class="btn btn-default" (click)="removeFromGroup();$event.stopPropagation();" containerClass="shortTooltip" tooltip="Ungroup" [delay]="Constants.TOOLTIP_DELAY"><span><i class="fa fa-minus-circle"></i></span></button>
            <div class="btn-group" dropdown [isDisabled]="isPending()" *ngIf="(spec.groupId && groups.length > 1) || (!spec.groupId && groups.length > 0)">
                <button id="button-copy" (click)="$event.stopPropagation()" [pending]="spec.copyPending" [icon]="true" dropdownToggle type="button" class="btn btn-default dropdown-toggle" aria-controls="dropdown-copy" containerClass="shortTooltip" tooltip="Copy" [delay]="Constants.TOOLTIP_DELAY"><span><i class="fa fa-clone"></i></span><span class="caret"></span></button>
                <ul id="dropdown-copy" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-copy">
                    <ng-container *ngFor="let group of groups">
                        <li *ngIf="group.id != spec.groupId" role="menuitem"><a class="dropdown-item" href (click)="copyToGroup(group.id);$event.preventDefault();$event.stopPropagation()">Copy to {{group.sname}}</a></li>
                    </ng-container>
                </ul>
            </div>
            <div class="btn-group" dropdown [isDisabled]="isPending()" *ngIf="(spec.groupId && groups.length > 1) || (!spec.groupId && groups.length > 0)">
                <button id="button-move" (click)="$event.stopPropagation()" [pending]="spec.movePending" [icon]="true" dropdownToggle type="button" class="btn btn-default dropdown-toggle" aria-controls="dropdown-move" containerClass="shortTooltip" tooltip="Move" [delay]="Constants.TOOLTIP_DELAY"><span><i class="fa fa-arrow-right"></i></span><span class="caret"></span></button>
                <ul id="dropdown-move" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-move">
                    <ng-container *ngFor="let group of groups">
                        <li *ngIf="group.id != spec.groupId" role="menuitem"><a class="dropdown-item" href (click)="moveToGroup(group.id);$event.preventDefault();$event.stopPropagation()">Move to {{group.sname}}</a></li>
                    </ng-container>
                </ul>
            </div>
        </ng-container>
    </div>
</td>
