.caret {
    margin-left: 10px;
}
.btn-toolbar {
    display: flex;
    justify-content: flex-end;
}
.item-icon {
    margin-right: 10px;
    opacity: 0.4;
}
.button.btn-default:focus {
    outline: none;
}