<div class="rootDiv">
    <button id="button-options" type="button" [class.open]="open" class="btn btn-secondary text-nowrap" (click)="buttonClicked()">{{label}}<span class="caret withMargin"></span></button>
    @if (optionFormVisible) {
        <div class="optionForm">
            <div class="container-fluid">
                @for (optionSet of options; track index1; let index1 = $index) {
                    <div class="row">
                        @for (option of optionSet; track index2; let index2 = $index) {
                            <div class="col-12 itemContainer">
                                <div class="d-flex">
                                    <input class="form-check-input" type="checkbox" [attr.id]="'option-'+index1+'-'+index2" [attr.name]="'option-'+index1+'-'+index2" [(ngModel)]="currentState[option.key]" (ngModelChange)="updated.emit(currentState)">
                                    <label class="form-check-label disable-select" [attr.for]="'option-'+index1+'-'+index2" (click)="$event.stopPropagation()">
                                        <span class="optionLabel">@if (option.iconClass) { <i class="optionIcon" [ngClass]="option.iconClass!"></i> } {{option.label}}</span>
                                    </label>
                                </div>
                            </div>
                        }
                        @if (!$last) {
                            <div class="separator"></div>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>
