@import '../../../../styles/less/_common.less';

.tabPanel {
    & > div:last-child {
        margin-bottom: 0px;
    }
    .endpointPanelContainer {
        .endpointPanel:last-child {
            margin-bottom: 0px;
        }  
    }
}

.propertyPanel {
    background: @white;
    border: 1px solid @gray-dark-1;
    border-radius: @border-radius;
}

.endpointPanel {
    &.card {
        margin-bottom: 5px;
    }
}

.tabControls {
    display: flex;
    .testFilters {
        display: flex;
        justify-content: left;
    }
    .testSettings {
        display: flex;
        justify-content: right;
        flex-grow: 1;
    }
}

.resultFilterDiv {
    margin-left: 5px;
}
.noTestCasesDiv, .noConfigurationDiv {
    span {
        opacity: 0.5;
    }
}
.status-container {
    display: flex;
    align-items: center;
    .status-ratios {
        margin-left: 20px;
    }
}
.statementContainer {
    margin-top: 10px;
    &.latest {
        margin-top: -10px;
    }
}
.statementStatus {
    display: flex;
    align-items: center;
    border-radius: @border-radius;
    border: 1px solid @gray-dark-1;
    background-color: @gray-light-1;
    margin-top: 10px;
    padding: 0px 15px;
    flex-wrap: wrap;
    .statusLabel {
        padding: 15px 0px;
        font-weight: bold;
        margin-left: 0px;
    }
    .lastUpdateLabel, .resultsLabel {
        font-weight: bold;
    }
    .statementResult, .lastUpdateContainer {
        min-height: 35px;
        border-right: 1px solid @gray-dark-1;
        padding-right: 20px;
        margin-right: 20px;
    }
    .lastUpdateContainer, .resultsContainer {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 5px;
        margin-bottom: 5px;
        & > *:not(:last-child) {
            margin-right: 20px;
        }
    }
}
.statementResult {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;    
}

.partyContainer {
    display: flex;
    border-radius: @border-radius;
    border: 1px solid @gray-dark-1;
    background-color: @gray-light-1;
    margin-top: 10px;
    padding: 8px 15px;
    min-height: 54px;
    .partyContent {
        display: flex;
        align-self: center;
    }
    .organisationContainer {
        border-right: 1px solid @gray-dark-1;
        margin-right: 20px;
        padding-right: 20px;
    }
    .organisationContainer, .systemContainer {
        display: flex;
        align-items: stretch;
    }
    .partyLabel {
        font-weight: bold;
        align-self: center;
        margin-right: 20px;
    }
    .partyValue {
        align-self: center;
    }
}