@import '../../../../styles/less/_common.less';

th.th-nowrap {
    white-space: nowrap;
}

.conformanceStatusDiv {
    display:flex;
    margin-bottom:-14px;
    & > div {
        display:inline-flex;
    }
    div:last-of-type {
        align-items: center;
        line-height:0px;
    }
}

.row {
    min-height: 45px;
    &.row-display-last {
        padding-top: 0px;
    }
}

.oneLineDiv {
    display:flex;
    align-items: center;
    ::ng-deep {
        .statusRootContainer {
            margin-top: -5px;
            margin-bottom: -5px;
            height: 30px;
        }
    }
}

.tabPanel {
    & > div:last-child {
        margin-bottom: 0px;
    }
    .endpointPanelContainer {
        .endpointPanel:last-child {
            margin-bottom: 0px;
        }  
    }
}

.endpointPanel {
    &.panel.panel-default {
        margin-bottom: 5px;
    }
}

.testSuitePanel {
    background-color: @white;
    &.panel.panel-default {
        margin-bottom: 5px;
    }
    .testSuiteDisplay {
        display:flex;
        align-items: center;
        border-radius: 4px;
        padding: 10px 15px 10px 15px;
        cursor: pointer;
        & > div {
            display: inline-flex;
        }
        .testSuiteName {
            font-weight: bold;
            min-height: 40px;
            align-items: center;
        }
        .testSuiteDescription {
            min-height: 40px;
            border-left: 1px solid @gray-dark-1;
            padding-left: 10px;
            margin-left: 10px;
            align-items: center;
        }
        .testSuiteControls {
            flex-grow: 1;
            justify-content: right;  
            padding-right: 8px;
            padding-left: 30px;
            & > div.btn-toolbar {
                display: flex;
                flex-wrap: nowrap;            
            }
        }
        .testSuiteResult {
            padding-left:30px;
            padding-right:11px;
        }
        &:hover {
            background-color: @white-shaded;
            &.expanded {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            +.collapsibleTestCaseDiv {
                background-color: @white-shaded;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
    .testCaseContainer {
        padding: 5px 15px 15px 15px;
    }
    .testCaseDisplay {
        border: 1px solid @gray-dark-1;
    }
    .testcase-controls {
        width:1px;
        padding-left: 30px;
        & > div.btn-toolbar {
            display: flex;
            flex-wrap: nowrap;
            justify-content: right;
        }
    }
    .testcase-result {
        width: 1px;
        text-align: center;
        white-space: nowrap;
        padding-left: 30px;
        padding-right: 10px;        
    }
}
.tabControls {
    display: flex;
    .testFilters {
        display: flex;
        justify-content: left;
    }
    .testSettings {
        display: flex;
        justify-content: right;
        flex-grow: 1;
    }
}

.resultFilterDiv {
    margin-left: 4px;
}
.caret {
    margin-left: 10px;
}
.noTestCasesDiv, .noConfigurationDiv {
    span {
        opacity: 0.5;
    }
}
.status-container {
    display: flex;
    align-items: center;
    .status-ratios {
        margin-left: 30px;
    }
}