<div class="cell-content">
    @if (column.iconFn) {
        <span class="d-flex">
        @if (column.iconTooltipFn != undefined) {
            <i [ngClass]="column.iconFn!(item.data)" tooltipClass="shortTooltip" [ngbTooltip]="column.iconTooltipFn!(item.data)"></i>
        } @else {
            <i [ngClass]="column.iconFn!(item.data)"></i>
        }
        </span>
    } @else {
        @if (item.boolean) {
            @if (item.isHiddenFlag) {
                @if (item.data) {
                    <app-hidden-icon></app-hidden-icon>
                }
            } @else {
                <i class="fa" [ngClass]="{'fa-check': item.data, 'fa-times': !item.data}"></i>
            }
        } @else if (item.data != undefined && column.tag === true) {
            <app-tag [label]="column.tagIcon" [icon]="true" [tooltipText]="column.tagTooltip" [value]="item.data" [inTable]="true"></app-tag>
        } @else if (item.data != undefined && column.tagData === true) {
            <app-tags-display [tags]="item.data"></app-tags-display>
        } @else {
            {{item.data}}
        }
    }
</div>
