<div *ngIf="column.iconFn" [class]="column.cellClass">
    <ng-container [ngSwitch]="column.iconTooltipFn != undefined">
        <i *ngSwitchCase="true" [ngClass]="column.iconFn!(item.data)" containerClass="shortTooltip" [tooltip]="column.iconTooltipFn!(item.data)"></i>
        <i *ngSwitchDefault [ngClass]="column.iconFn!(item.data)"></i>
    </ng-container>
</div>
<div *ngIf="!column.iconFn" [class]="column.cellClass">
    <ng-container [ngSwitch]="item.boolean">
        <div *ngSwitchCase="true">
            <ng-container [ngSwitch]="item.isHiddenFlag">
                <ng-container *ngSwitchCase="true">
                    <app-hidden-icon *ngIf="item.data"></app-hidden-icon>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <i class="fa" [ngClass]="{'fa-check': item.data, 'fa-times': !item.data}"></i>
                </ng-container>
            </ng-container>
        </div>
        <div *ngSwitchCase="false">
            {{item.data}}
        </div>
    </ng-container>
</div>