@if (column.iconFn) {
    <span [class]="column.cellClass">
        @if (column.iconTooltipFn != undefined) {
            <i [ngClass]="column.iconFn!(item.data)" tooltipClass="shortTooltip" [ngbTooltip]="column.iconTooltipFn!(item.data)"></i>
        } @else {
            <i [ngClass]="column.iconFn!(item.data)"></i>
        }
    </span>
} @else {
    <div [class]="column.cellClass">
        @if (item.boolean) {
            <div>
                @if (item.isHiddenFlag) {
                    @if (item.data) {
                        <app-hidden-icon></app-hidden-icon>
                    }
                } @else {
                    <i class="fa" [ngClass]="{'fa-check': item.data, 'fa-times': !item.data}"></i>
                }
            </div>
        } @else if (item.data != undefined && column.tag === true) {
            <app-tag [label]="column.tagIcon" [icon]="true" [tooltipText]="column.tagTooltip" [value]="item.data"></app-tag>
        } @else {
            <div>
                {{item.data}}
            </div>
        }
    </div>
}
