<div class="btn-toolbar">
    <!-- Filter -->
    <app-filter-control [showRefresh]="false" [showClear]="false" (toggle)="filtersActive = $event"></app-filter-control>
    <!-- View -->
    <app-navigation-controls [config]="navigationConfig"></app-navigation-controls>
    @if (hasBadge == true) {
        <app-view-badge-button [systemId]="conformanceIds.systemId" [actorId]="conformanceIds.actorId" [snapshotId]="snapshotId"></app-view-badge-button>
    }
    @if (showCollapseAll) {
        <button type="button" class="btn btn-secondary" (click)="handleCollapseAll()">Collapse all</button>
    }
    <ng-content></ng-content>
</div>
<div [collapse]="!filtersActive" [isAnimated]="true">
    <div class="btn-toolbar mt-2">
        <app-text-filter name="testSuiteFilter" [width]="250" [placeholder]="'Search test suites...'" [(ngModel)]="testSuiteFilter" (apply)="applySearchFilters()"></app-text-filter>
        <app-text-filter name="testCaseFilter" [width]="250" [placeholder]="'Search test cases...'" [(ngModel)]="testCaseFilter" (apply)="applySearchFilters()"></app-text-filter>
        <app-test-case-filter [options]="testCaseFilterOptions" (apply)="resultFilterUpdated($event)"></app-test-case-filter>
    </div>
</div>
