<div class="modal-header">
	<h4>Test suite validation results</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12 test-suite-validation-summary">
			The provided test suite completed validation with <strong ng-if="report.counters.errors > 0">{{report.counters.errors}} error(s)</strong><span ng-if="report.counters.errors > 0 && report.counters.warnings > 0"> and </span><strong ng-if="report.counters.warnings > 0">{{report.counters.warnings}} warning(s)</strong>.
		</div>
	</div>
	<div class="row test-step-report">
		<div class="step-report test-assertion-step-report">
			<div class="col-md-12 test-assertion-group-report" ng-if="report.reports != null">
				<div ng-repeat="assertionReport in report.reports">
					<span class="assertion-report-nolink" ng-class="{'error-assertion-report': assertionReport.level == 'error', 'warning-assertion-report': assertionReport.level == 'warning', 'info-assertion-report': assertionReport.level == 'info'}">
						<span class="report-item-element assertion-report-item">
							<i class="fa fa-info-circle report-item-icon info-icon" ng-if="assertionReport.level == 'info'"></i>
							<i class="fa fa-warning report-item-icon warning-icon" ng-if="assertionReport.level == 'warning'"></i>
							<i class="fa fa-times-circle report-item-icon error-icon" ng-if="assertionReport.level == 'error'"></i>
							<span class="description">{{assertionReport.description}}</span>
						</span>
						<span class="report-item assertion-report-item" ng-if="assertionReport.location != null"><strong>Location:</strong> {{assertionReport.location}}</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="continue()" ng-if="report.result == 'SUCCESS'">Ignore warnings</button>
	<button class="btn btn-default" ng-click="close()">Cancel</button>
</div>