<div class="page dashboard">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Filters</h4>
            <div class="btn-toolbar pull-right">
                <button class="btn btn-default" ng-click="dashboardCtrl.refresh()" ng-disabled="dashboardCtrl.refreshActivePending || dashboardCtrl.refreshCompletedPending || dashboardCtrl.refreshCompletedCountPending"><span class="tab" ng-if="dashboardCtrl.refreshActivePending || dashboardCtrl.refreshCompletedPending || dashboardCtrl.refreshCompletedCountPending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Refresh</button>
                <div class="btn-group btn-toggle">
                    <button ng-disabled="dashboardCtrl.showFilters"
                            ng-class="{true: 'btn btn-primary active', false : 'btn btn-default'}[dashboardCtrl.showFilters]"
                            ng-click="dashboardCtrl.showFilter()">
                        APPLY
                    </button>
                    <button ng-disabled="!dashboardCtrl.showFilters"
                            ng-class="{true: 'btn btn-default', false : 'btn btn-primary active'}[dashboardCtrl.showFilters]"
                            ng-click="dashboardCtrl.clearFilter()">
                        CLEAR
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" ng-if="dashboardCtrl.showFilters">
                <thead>
                <tr>
                    <th class="col-md-1" ng-if="dashboardCtrl.DataService.isSystemAdmin || (dashboardCtrl.DataService.isCommunityAdmin && dashboardCtrl.DataService.community.domain === null)">{{dashboardCtrl.DataService.labelDomain()}}</th>
                    <th class="col-md-1">{{dashboardCtrl.DataService.labelSpecification()}}</th>
                    <th class="col-md-1">Test suite</th>
                    <th class="col-md-1">Test case</th>
                    <th class="col-md-1" ng-if="!dashboardCtrl.DataService.isCommunityAdmin">Community</th>
                    <th class="col-md-1">{{dashboardCtrl.DataService.labelOrganisation()}}</th>
                    <th class="col-md-1">{{dashboardCtrl.DataService.labelSystem()}}</th>
                    <th class="col-md-1">Result</th>
                    <th class="col-md-2">Start time</th>
                    <th class="col-md-2">End time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ng-if="dashboardCtrl.DataService.isSystemAdmin || (dashboardCtrl.DataService.isCommunityAdmin && dashboardCtrl.DataService.community.domain === null)">
                        <div isteven-multi-select input-model="dashboardCtrl.filters.domain.filter"
                             output-model="dashboardCtrl.filters.domain.selection" button-label="sname"
                             item-label="sname"
                             tick-property="ticked" max-labels="0" max-height="250px"
                             translation="dashboardCtrl.translation"
                             helper-elements="filter" search-property="sname" output-properties="id"
                             on-item-click="dashboardCtrl.domainClicked(data)"
                             is-disabled="dashboardCtrl.domainDisabled"></div>
                    </td>
                    <td>
                        <div isteven-multi-select input-model="dashboardCtrl.filters.specification.filter"
                             output-model="dashboardCtrl.filters.specification.selection" button-label="sname"
                             item-label="sname"
                             tick-property="ticked" max-labels="0" max-height="250px"
                             translation="dashboardCtrl.translation"
                             helper-elements="filter" search-property="sname"
                             output-properties="id" on-item-click="dashboardCtrl.specificationClicked(data)"></div>
                    </td>
                    <td>
                        <div isteven-multi-select input-model="dashboardCtrl.filters.testSuite.filter"
                             output-model="dashboardCtrl.filters.testSuite.selection" button-label="sname"
                             item-label="sname"
                             tick-property="ticked" max-labels="0" max-height="250px"
                             translation="dashboardCtrl.translation"
                             helper-elements="filter" search-property="sname" output-properties="id testCases"
                             on-item-click="dashboardCtrl.testSuiteClicked(data)"></div>
                    </td>
                    <td>
                        <div isteven-multi-select input-model="dashboardCtrl.filters.testCase.filter"
                             output-model="dashboardCtrl.filters.testCase.selection" button-label="sname"
                             item-label="sname"
                             tick-property="ticked" max-labels="0" max-height="250px"
                             translation="dashboardCtrl.translation"
                             helper-elements="filter" search-property="sname" output-properties="id"
                             on-item-click="dashboardCtrl.testCaseClicked(data)"></div>
                    </td>
                    <td ng-if="!dashboardCtrl.DataService.isCommunityAdmin">
                        <div isteven-multi-select input-model="dashboardCtrl.filters.community.filter"
                             output-model="dashboardCtrl.filters.community.selection" button-label="sname"
                             item-label="sname"
                             tick-property="ticked" max-labels="0" max-height="250px"
                             translation="dashboardCtrl.translation"
                             helper-elements="filter" search-property="sname" output-properties="id"
                             on-item-click="dashboardCtrl.communityClicked(data)"
                             is-disabled="dashboardCtrl.DataService.isCommunityAdmin"></div>
                    </td>
                    <td>
                        <div isteven-multi-select input-model="dashboardCtrl.filters.organization.filter"
                             output-model="dashboardCtrl.filters.organization.selection" button-label="sname"
                             item-label="sname"
                             tick-property="ticked" max-labels="0" max-height="250px"
                             translation="dashboardCtrl.translation"
                             helper-elements="filter" search-property="sname"
                             output-properties="id" on-item-click="dashboardCtrl.organizationClicked(data)"></div>
                    </td>
                    <td>
                        <div isteven-multi-select input-model="dashboardCtrl.filters.system.filter"
                             output-model="dashboardCtrl.filters.system.selection" button-label="sname"
                             item-label="sname"
                             tick-property="ticked" max-labels="0" max-height="250px"
                             translation="dashboardCtrl.translation"
                             helper-elements="filter" search-property="sname" output-properties="id"
                             on-item-click="dashboardCtrl.systemClicked(data)"></div>
                    </td>
                    <td>
                        <div isteven-multi-select input-model="dashboardCtrl.filters.result.filter"
                             output-model="dashboardCtrl.filters.result.selection" button-label="result"
                             item-label="result"
                             tick-property="ticked" max-labels="0" max-height="250px"
                             translation="dashboardCtrl.translation"
                             helper-elements="filter" search-property="result" output-properties="result"
                             on-item-click="dashboardCtrl.resultClicked(data)"></div>
                    </td>
                    <td>
                        <input date-range-picker class="form-control date-picker" type="text"
                               ng-model="dashboardCtrl.startTime" options="dashboardCtrl.startTimeOptions"
                               clearable="true">
                    </td>
                    <td>
                        <input date-range-picker class="form-control date-picker" type="text"
                               ng-model="dashboardCtrl.endTime" options="dashboardCtrl.endTimeOptions" clearable="true">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Active test sessions</h4>
            <div class="btn-toolbar pull-right">
                <button class="btn btn-default" ng-click="dashboardCtrl.exportActiveSessionsToCsv()">Export CSV</button>
            </div>
        </div>
        <div id="dashboard-table-active" table-directive columns="dashboardCtrl.activeTestsColumns" data="dashboardCtrl.activeTests"
             on-select="dashboardCtrl.testSelect" action-visible="true" action-icon="'fa-search'" on-action="dashboardCtrl.onAction"
             on-sort="dashboardCtrl.sortActiveSessions"
             operations-visible="true" on-delete="dashboardCtrl.stopSession" row-style="dashboardCtrl.rowStyle"></div>
    </div>
    <!-- completed sessions -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Completed test sessions</h4>
            <div class="btn-toolbar pull-right">
                <button class="btn btn-default" ng-click="dashboardCtrl.deleteObsolete()" ng-disabled="dashboardCtrl.deletePending"><span class="tab" ng-if="dashboardCtrl.deletePending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Delete obsolete results</button>
                <button class="btn btn-default" ng-click="dashboardCtrl.exportCompletedSessionsToCsv()">Export CSV</button>
            </div>
        </div>
        <div id="dashboard-table" table-directive columns="dashboardCtrl.completedTestsColumns" data="dashboardCtrl.completedTests"
             on-select="dashboardCtrl.testSelect" action-visible="true" action-icon="'fa-search'" on-action="dashboardCtrl.onAction"
             pagination-visible="true" first-page="dashboardCtrl.goFirstPage()"
             prev-page="dashboardCtrl.goPreviousPage()" on-sort="dashboardCtrl.sortCompletedSessions"
             next-page="dashboardCtrl.goNextPage()" last-page="dashboardCtrl.goLastPage()"
             next-disabled="dashboardCtrl.isNextPageDisabled"
             prev-disabled="dashboardCtrl.isPreviousPageDisabled"
             row-style="dashboardCtrl.rowStyle"></div>
    </div>
    <!-- configuration -->
    <div class="panel panel-default" ng-if="dashboardCtrl.DataService.isSystemAdmin">
        <div class="panel-heading">
            <h4 class="title">Automatically terminate idle sessions</h4>
            <div class="btn-group btn-toggle pull-right">
                <button ng-disabled="!dashboardCtrl.onOff"
                        ng-class="{true: 'btn btn-primary active', false : 'btn btn-default'}[!dashboardCtrl.onOff]"
                        ng-click="dashboardCtrl.onOff ? (dashboardCtrl.onOff = !dashboardCtrl.onOff) : ''">ON
                </button>
                <button ng-disabled="dashboardCtrl.onOff"
                        ng-class="{true: 'btn btn-default', false : 'btn btn-primary active'}[!dashboardCtrl.onOff]"
                        ng-click="!dashboardCtrl.onOff ? (dashboardCtrl.onOff = !dashboardCtrl.onOff) : ''; dashboardCtrl.turnOff()">
                    OFF
                </button>
            </div>
        </div>
        <!-- configuration form -->
        <form ng-if="!dashboardCtrl.onOff" class="form-inline" ng-submit="dashboardCtrl.apply()">
            <div class="form-group">
                <input type="number" min="1" ng-model="dashboardCtrl.config.parameter" class="form-control"
                       id="parameter" placeholder="Seconds">
            </div>
            <button type="submit" class="btn btn-default"
                    ng-disabled="dashboardCtrl.prevParameter == dashboardCtrl.config.parameter">Apply
            </button>
        </form>
    </div>
</div>