<div class="page dashboard">
    <!-- Active test sessions -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Active test sessions</h4>
        </div>
        <div table-directive columns="dashboardCtrl.activeSessionsColumns" data="dashboardCtrl.activeSessions" on-select="dashboardCtrl.testSelect" action-visible="true" on-action="dashboardCtrl.onAction" operations-visible="true" on-delete="dashboardCtrl.stopSession"></div>
    </div>
    <!-- completed sessions -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Completed test sessions</h4>
        </div>
        <div table-directive columns="dashboardCtrl.completedSessionsColumns" data="dashboardCtrl.completedSessions" on-select="dashboardCtrl.testSelect" action-visible="true" on-action="dashboardCtrl.onAction" pagination-visible="true" first-page="dashboardCtrl.firstPage()" prev-page="dashboardCtrl.prevPage()" next-page="dashboardCtrl.nextPage()" last-page="dashboardCtrl.lastPage()" next-disabled="dashboardCtrl.nextDisabled" prev-disabled="dashboardCtrl.prevDisabled"></div>
    </div>
    <!-- configuration -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Automatically terminate idle sessions</h4>
            <div class="btn-group btn-toggle pull-right">
                <button ng-disabled="!dashboardCtrl.onOff" ng-class="{true: 'btn btn-primary active', false : 'btn btn-default'}[!dashboardCtrl.onOff]" ng-click="dashboardCtrl.onOff ? (dashboardCtrl.onOff = !dashboardCtrl.onOff) : ''">ON</button>
                <button ng-disabled="dashboardCtrl.onOff" ng-class="{true: 'btn btn-default', false : 'btn btn-primary active'}[!dashboardCtrl.onOff]" ng-click="!dashboardCtrl.onOff ? (dashboardCtrl.onOff = !dashboardCtrl.onOff) : ''; dashboardCtrl.turnOff()">OFF</button>
            </div>
        </div>
        <!-- configuration form -->
        <form ng-if="!dashboardCtrl.onOff" class="form-inline" ng-submit="dashboardCtrl.apply()">
            <div class="form-group">
                <input type="number" min="1" ng-model="dashboardCtrl.config.parameter" class="form-control" id="parameter" placeholder="Seconds">
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="dashboardCtrl.prevParameter == dashboardCtrl.config.parameter">Apply</button>
        </form>
    </div>
</div>