<div class="page dashboard">

    <div tb-test-filter 
        filters = "dashboardCtrl.filters"
        state = "dashboardCtrl.filterState"
        apply-fn = "dashboardCtrl.goFirstPage"
        community-id = "dashboardCtrl.communityId"
        load-domains-fn = "dashboardCtrl.getAllDomains"
        load-specifications-fn = "dashboardCtrl.getAllSpecifications"
        load-actors-fn = "dashboardCtrl.getAllActors"
        load-test-suites-fn = "dashboardCtrl.getAllTestSuites"
        load-test-cases-fn = "dashboardCtrl.getAllTestCases"
        load-communities-fn = "dashboardCtrl.getAllCommunities"
        load-organisations-fn = "dashboardCtrl.getAllOrganizations"
        load-systems-fn = "dashboardCtrl.getAllSystems"
        load-organisation-properties-fn = "dashboardCtrl.getOrganisationPropertiesForFiltering"
        load-system-properties-fn = "dashboardCtrl.getSystemPropertiesForFiltering">
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Active test sessions</h4>
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-default" ng-click="dashboardCtrl.exportActiveSessionsToCsv()" ng-disabled="dashboardCtrl.activeTests.length == 0 || dashboardCtrl.exportActivePending"><span class="tab" ng-if="dashboardCtrl.exportActivePending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Export CSV</button>
				<button type="button" class="btn btn-default" ng-if="dashboardCtrl.showCollapseAllActive()" ng-click="dashboardCtrl.onCollapseAllActive()">Collapse all</button>
            </div>
        </div>
        <div session-table-directive session-table-id="dashboard-table-active" session-id-property="session" test-suite-name-property="testSuite" test-case-name-property="testCase"
            expanded-counter="dashboardCtrl.activeExpandedCounter"
            columns="dashboardCtrl.activeTestsColumns"
            data="dashboardCtrl.activeTests"
            no-data-message="No sessions found"
			loading-status="dashboardCtrl.activeStatus" 
            on-sort="dashboardCtrl.sortActiveSessions"
            operations-visible="true"
            on-delete="dashboardCtrl.stopSession"
            row-style="dashboardCtrl.rowStyle">
        </div>
    </div>
    <!-- completed sessions -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Completed test sessions</h4>
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-default" ng-click="dashboardCtrl.selectDeleteSessions()" ng-if="!dashboardCtrl.selectingForDelete" ng-disabled="dashboardCtrl.completedTests.length == 0 || dashboardCtrl.deletePending || dashboardCtrl.deleteSessionsPending"><span class="tab" ng-if="dashboardCtrl.deleteSessionsPending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Delete sessions...</button>
                <button type="button" class="btn btn-default" ng-click="dashboardCtrl.confirmDeleteSessions()" ng-if="dashboardCtrl.selectingForDelete" ng-disabled="!dashboardCtrl.testsChecked() || dashboardCtrl.deleteSessionsPending"><span class="tab" ng-if="dashboardCtrl.deleteSessionsPending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Confirm</button>
                <button type="button" class="btn btn-default" ng-click="dashboardCtrl.cancelDeleteSessions()" ng-if="dashboardCtrl.selectingForDelete" ng-disabled="dashboardCtrl.deleteSessionsPending">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="dashboardCtrl.deleteObsolete()" ng-disabled="dashboardCtrl.deletePending || dashboardCtrl.selectingForDelete || dashboardCtrl.deleteSessionsPending"><span class="tab" ng-if="dashboardCtrl.deletePending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Delete obsolete sessions</button>
                <button type="button" class="btn btn-default" ng-click="dashboardCtrl.exportCompletedSessionsToCsv()" ng-disabled="dashboardCtrl.completedTests.length == 0 || dashboardCtrl.exportCompletedPending || dashboardCtrl.selectingForDelete || dashboardCtrl.deleteSessionsPending"><span class="tab" ng-if="dashboardCtrl.exportCompletedPending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Export CSV</button>
				<button type="button" class="btn btn-default" ng-if="dashboardCtrl.showCollapseAll()" ng-click="dashboardCtrl.onCollapseAll()">Collapse all</button>
            </div>
        </div>
        <div session-table-directive session-table-id="dashboard-table" session-id-property="session" test-suite-name-property="testSuite" test-case-name-property="testCase"
            expanded-counter="dashboardCtrl.completedExpandedCounter"
            columns="dashboardCtrl.completedTestsColumns"
            data="dashboardCtrl.completedTests"
            no-data-message="No sessions found"
			loading-status="dashboardCtrl.completedStatus" 
            export-visible="true"
            on-export="dashboardCtrl.onReportExport"
            export-visible-for-row="dashboardCtrl.exportVisible"
            pagination-visible="true"
            first-page="dashboardCtrl.goFirstPage()"
            prev-page="dashboardCtrl.goPreviousPage()"
            on-sort="dashboardCtrl.sortCompletedSessions"
            next-page="dashboardCtrl.goNextPage()"
            last-page="dashboardCtrl.goLastPage()"
            next-disabled="dashboardCtrl.isNextPageDisabled"
            prev-disabled="dashboardCtrl.isPreviousPageDisabled"
            row-style="dashboardCtrl.rowStyle"
            checkbox-enabled="dashboardCtrl.viewCheckbox">
        </div>
    </div>
    <!-- configuration -->
    <div class="panel panel-default" ng-if="dashboardCtrl.DataService.isSystemAdmin">
        <div class="panel-heading">
            <h4 class="title">Automatically terminate idle sessions</h4>
            <div class="btn-group pull-right">
                <toggle id="dashboard-toggle-ttl" class="btn-group" ng-model="dashboardCtrl.ttlEnabled" on="Enabled" off="Disabled" ng-change="dashboardCtrl.ttlEnabled?dashboardCtrl.DataService.focus('parameter'):dashboardCtrl.turnOff()"></toggle>
            </div>
        </div>
        <!-- configuration form -->
        <div uib-collapse="!dashboardCtrl.ttlEnabled">
            <div style="padding: 10px">
                <form class="form-inline" ng-submit="dashboardCtrl.apply()">
                    <div class="form-group">
                        <input type="number" min="1" ng-model="dashboardCtrl.config.parameter" class="form-control"
                               id="parameter" placeholder="Seconds">
                    </div>
                    <button type="submit" class="btn btn-default"
                            ng-disabled="dashboardCtrl.prevParameter == dashboardCtrl.config.parameter">Apply
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>