@import "../../../styles/less/_common.less";

.report-details-title {
    font-weight: bold;
    background-color: @gray-light-1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    cursor: pointer;

    &:hover { 
        background-color: fade(@gray-light, 50%); 
    }
}

.report-details {
    border: 1px solid @gray-light; 
    border-radius: 5px; 
}

.report-details-items-inner {
    padding-top: 10px; 
    padding-left:10px; 
    padding-right:10px; 
    border-top: 1px solid @gray-light; 
}
