<div class="modal-header">
	<h4>Test suite upload</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" [ngSwitch]="step">
		<div *ngSwitchCase="'initial'">
			<div class="form-group" *ngIf="!sharedTestSuite">
				<label class="col-xs-3 control-label" for="specification">* Target {{dataService.labelSpecificationLower()}}:</label>
				<div class="col-xs-8">
					<input *ngIf="availableSpecifications.length == 1" class="form-control" id="specification" name="specification" [(ngModel)]="specifications[0].fname" readonly="readonly"/>
					<select *ngIf="availableSpecifications.length > 1" multiple="multiple" class="form-control" id="specification" name="specification" [(ngModel)]="specifications">
                        <option *ngFor="let specification of availableSpecifications" [ngValue]="specification">{{specification.fname}}</option>
                    </select>
				</div>
				<app-tooltip [tbTooltip]="'The '+dataService.labelSpecificationLower()+' for which the test suite will be uploaded.'"></app-tooltip>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label">* Test suite:</label>
				<div class="col-xs-8">
					<app-file-select placeholder="Select test suite archive ..."
						[fileName]="file?.name"
						[accepts]="['application/zip']"
						(onUpload)="selectArchive($event)"
						[maxSize]="-1">
					</app-file-select>
				</div>
				<app-tooltip tbTooltip="The test suite archive to upload."></app-tooltip>
			</div>
		</div>
		<div *ngSwitchCase="'validation'">
			<div class="container-fluid">
				<div class="row">
					<div class="bg-info div-rounded div-padded" [ngSwitch]="hasValidationErrors || hasValidationWarnings">
						<div *ngSwitchCase="true">
							The provided test suite completed validation with <strong *ngIf="hasValidationErrors">{{report!.counters.errors}} error(s)</strong><span *ngIf="hasValidationErrors && hasValidationWarnings"> and </span><strong *ngIf="hasValidationWarnings">{{report!.counters.warnings}} warning(s)</strong>.
						</div>
						<div *ngSwitchCase="false">
							The provided test suite was successfully validated.
						</div>
					</div>
				</div>
			</div>
			<div class="row test-step-report ts-upload-validation-report">
				<div class="step-report test-assertion-step-report">
					<div class="col-xs-12 test-assertion-group-report" *ngIf="report?.reports != undefined">
						<div class="report-details">
							<div class="report-details-title" (click)="reportItemsCollapsed = !reportItemsCollapsed"><app-collapsing-icon [isCollapsed]="reportItemsCollapsed"></app-collapsing-icon>Details</div>
							<div class="report-details-items" [collapse]="reportItemsCollapsed" [isAnimated]="true">
								<div class="report-details-items-inner">
									<div *ngFor="let assertionReport of report!.reports!">
										<span class="assertion-report-nolink" [ngClass]="{'error-assertion-report': assertionReport.level == 'error', 'warning-assertion-report': assertionReport.level == 'warning', 'info-assertion-report': assertionReport.level == 'info'}">
											<span class="report-item-element assertion-report-item">
												<i class="fa fa-info-circle report-item-icon info-icon" *ngIf="assertionReport.level == 'info'"></i>
												<i class="fa fa-warning report-item-icon warning-icon" *ngIf="assertionReport.level == 'warning'"></i>
												<i class="fa fa-times-circle report-item-icon error-icon" *ngIf="assertionReport.level == 'error'"></i>
												<span class="description">{{assertionReport.description}}</span>
											</span>
											<span class="report-item assertion-report-item" *ngIf="assertionReport.location != undefined"><strong>Location:</strong> {{assertionReport.location}}</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'replace'">
			<div class="container-fluid">
				<div class="row">
					<div class="bg-info div-rounded div-padded" [ngSwitch]="sharedTestSuite">
						<ng-container *ngSwitchCase="true">
							<ng-container [ngSwitch]="specificationChoices && specificationChoices.length > 0">
								<span *ngSwitchCase="true">A matching test suite was found with already linked {{dataService.labelSpecificationsLower()}}. Select how the update should take place.</span>
								<span *ngSwitchDefault>A matching test suite was found. Select how the update should take place.</span>
							</ng-container>
						</ng-container>
						<ng-container *ngSwitchDefault>
							<span *ngIf="!hasMultipleChoices && hasMatchingTestSuite">A selected {{dataService.labelSpecificationLower()}} already contains this test suite and its data. Select how the update should take place.</span>
							<span *ngIf="!hasMultipleChoices && !hasMatchingTestSuite">A selected {{dataService.labelSpecificationLower()}} defines matching data. Select how the update should take place.</span>
							<span *ngIf="hasMultipleChoices && hasMatchingTestSuite">Selected {{dataService.labelSpecificationsLower()}} already contain this test suite and its data. Select how the update should take place.</span>
							<span *ngIf="hasMultipleChoices && !hasMatchingTestSuite">Selected {{dataService.labelSpecificationsLower()}} define matching data. Select how the update should take place.</span>
						</ng-container>
					</div>
				</div>
			</div>
			<ng-container [ngSwitch]="sharedTestSuite">
				<ng-container *ngSwitchCase="true">
					<div class="container-fluid">
						<div class="row section-choice-container">
							<div class="col-xs-12 section-choice-title">Test suite definition</div>
							<div class="section-choice-actions col-xs-12">
								<div class="form-group">
									<label class="col-xs-3 control-label" for="choice_metadata_skip">* Test suite metadata:</label>
									<div class="col-xs-9">
										<label class="radio-inline">
											<input type="radio" name="choice_metadata_skip" [(ngModel)]="updateTestSuiteMetadata" id="choice_metadata_skip" [value]="false">Keep existing values
											<app-tooltip [inline]="true" inlineType="checkLabel" tbTooltip="Keep the metadata of the existing test suite unchanged."></app-tooltip>
										</label>
										<label class="radio-inline">
											<input type="radio" name="choice_metadata_update" [(ngModel)]="updateTestSuiteMetadata" id="choice_metadata_update" [value]="true">Update to match the uploaded archive
											<app-tooltip [inline]="true" inlineType="checkLabel" tbTooltip="Update the metadata of the existing test suite (its name, description and documentation) to match the information contained in the provided archive. Note that test cases are always processed regardless of this option."></app-tooltip>
										</label>
									</div>
								</div>
								<!-- Test cases to update -->
								<app-test-case-update-list *ngIf="testCasesInArchiveAndDB.length > 0"
									[title]="'Existing test cases to update ('+testCasesInArchiveAndDB.length+')'"
									[titleTooltip]="'These are the test cases defined in the provided archive that match existing ones from the '+dataService.labelSpecificationLower()+'. The test steps of each of these will be updated, whereas the metadata (name, description, documentation) and test history will be updated according to your below choices.'"
									[testCases]="testCasesInArchiveAndDB"
									[showUpdateDefinition]="true"
									[showResetTestHistory]="true"
								></app-test-case-update-list>						
								<!-- Test cases to add -->
								<app-test-case-update-list *ngIf="testCasesInArchive.length > 0"
									[title]="'New test cases to add ('+testCasesInArchive.length+')'"
									[titleTooltip]="'These are the test cases defined in the provided archive for which no match was found in the '+dataService.labelSpecificationLower()+'. They will be included as new test cases in the test suite.'"
									[testCases]="testCasesInArchive"
								></app-test-case-update-list>
								<!-- Test cases to delete -->
								<app-test-case-update-list *ngIf="testCasesInDB.length > 0"
									[title]="'Missing test cases to delete ('+testCasesInDB.length+')'"
									[titleTooltip]="'These are the test cases that exist in the '+dataService.labelSpecificationLower()+' for which no match was found in the provided archive. They will be deleted from the test suite, with any relevant test sessions considered obsolete.'"
									[testCases]="testCasesInDB"
								></app-test-case-update-list>
							</div>
						</div>
					</div>
					<div class="section-choice-container" *ngIf="specificationChoices && specificationChoices.length > 0">
						<div class="section-choice-title expandable" (click)="specificationsCollapsed = !specificationsCollapsed">
							<app-collapsing-icon [isCollapsed]="specificationsCollapsed"></app-collapsing-icon>Linked {{dataService.labelSpecificationsLower()}} ({{specificationChoices.length}})
						</div>
						<div [collapse]="specificationsCollapsed" [isAnimated]="true">
							<div class="section-choice-actions">
								<app-test-suite-upload-specification-choices
									[choices]="specificationChoices"
									[sharedTestSuite]="sharedTestSuite"
									(pendingChoices)="choiceUpdate($event)"
								></app-test-suite-upload-specification-choices>
							</div>
						</div>
					</div>
				</ng-container>
				<ng-container *ngSwitchDefault>
					<div class="section-choice-actions-specs">
						<app-test-suite-upload-specification-choices *ngIf="specificationChoices"
							[choices]="specificationChoices"
							[sharedTestSuite]="sharedTestSuite"
							(pendingChoices)="choiceUpdate($event)"
						></app-test-suite-upload-specification-choices>
					</div>
				</ng-container>
			</ng-container>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button *ngIf="proceedVisible()" type="button" class="btn btn-default" (click)="proceed()" [disable]="proceedDisabled()" [pending]="actionProceedPending">Proceed</button>
	<button type="button" class="btn btn-default" (click)="close()" [disabled]="actionPending">{{step == 'results'?'Close':'Cancel'}}</button>
</div>
