<div class="modal-header">
	<h4>Test suite upload</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" [ngSwitch]="step">
		<div *ngSwitchCase="'initial'">
			<div class="form-group">
				<label class="col-xs-3 control-label" for="specification">* Target {{dataService.labelSpecificationLower()}}:</label>
				<div class="col-xs-8">
					<input *ngIf="availableSpecifications.length == 1" class="form-control" id="specification" name="specification" [(ngModel)]="specifications[0].fname" readonly="readonly"/>
					<select *ngIf="availableSpecifications.length > 1" multiple="multiple" class="form-control" id="specification" name="specification" [(ngModel)]="specifications">
                        <option *ngFor="let specification of availableSpecifications" [ngValue]="specification">{{specification.fname}}</option>
                    </select>
				</div>
				<app-tooltip [tbTooltip]="'The '+dataService.labelSpecificationLower()+' for which the test suite will be uploaded.'"></app-tooltip>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label">* Test suite:</label>
				<div class="col-xs-8">
					<app-file-select placeholder="Select test suite archive ..."
						[fileName]="file?.name"
						[accepts]="['application/zip']"
						(onUpload)="selectArchive($event)"
						[maxSize]="-1">
					</app-file-select>
				</div>
				<app-tooltip tbTooltip="The test suite archive to upload."></app-tooltip>
			</div>
		</div>
		<div *ngSwitchCase="'validation'">
			<div class="container-fluid">
				<div class="row">
					<div class="bg-info div-rounded div-padded" [ngSwitch]="hasValidationErrors || hasValidationWarnings">
						<div *ngSwitchCase="true">
							The provided test suite completed validation with <strong *ngIf="hasValidationErrors">{{report!.counters.errors}} error(s)</strong><span *ngIf="hasValidationErrors && hasValidationWarnings"> and </span><strong *ngIf="hasValidationWarnings">{{report!.counters.warnings}} warning(s)</strong>.
						</div>
						<div *ngSwitchCase="false">
							The provided test suite was successfully validated.
						</div>
					</div>
				</div>
			</div>
			<div class="row test-step-report ts-upload-validation-report">
				<div class="step-report test-assertion-step-report">
					<div class="col-xs-12 test-assertion-group-report" *ngIf="report?.reports != undefined">
						<div class="report-details">
							<div class="report-details-title" (click)="reportItemsCollapsed = !reportItemsCollapsed">Details</div>
							<div class="report-details-items" [collapse]="reportItemsCollapsed" [isAnimated]="true">
								<div class="report-details-items-inner">
									<div *ngFor="let assertionReport of report!.reports!">
										<span class="assertion-report-nolink" [ngClass]="{'error-assertion-report': assertionReport.level == 'error', 'warning-assertion-report': assertionReport.level == 'warning', 'info-assertion-report': assertionReport.level == 'info'}">
											<span class="report-item-element assertion-report-item">
												<i class="fa fa-info-circle report-item-icon info-icon" *ngIf="assertionReport.level == 'info'"></i>
												<i class="fa fa-warning report-item-icon warning-icon" *ngIf="assertionReport.level == 'warning'"></i>
												<i class="fa fa-times-circle report-item-icon error-icon" *ngIf="assertionReport.level == 'error'"></i>
												<span class="description">{{assertionReport.description}}</span>
											</span>
											<span class="report-item assertion-report-item" *ngIf="assertionReport.location != undefined"><strong>Location:</strong> {{assertionReport.location}}</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'replace'">
			<div class="container-fluid">
				<div class="row">
					<div class="bg-info div-rounded div-padded">
						<span *ngIf="!hasMultipleChoices && hasMatchingTestSuite">The selected {{dataService.labelSpecificationLower()}} already contains this test suite and its data. Select how the update should take place.</span>
						<span *ngIf="!hasMultipleChoices && !hasMatchingTestSuite">The selected {{dataService.labelSpecificationLower()}} defines matching data. Select how the update should take place.</span>
						<span *ngIf="hasMultipleChoices && hasMatchingTestSuite">Selected {{dataService.labelSpecificationsLower()}} already contain this test suite and its data. Select how the update should take place.</span>
						<span *ngIf="hasMultipleChoices && !hasMatchingTestSuite">Selected {{dataService.labelSpecificationsLower()}} define matching data. Select how the update should take place.</span>
					</div>
				</div>
			</div>
			<div class="container-fluid ts-upload-result-container">
				<div *ngFor="let choice of specificationChoices; let first = first; let last = last" class="row" [ngClass]="{'ts-upload-result-first': first, 'ts-upload-result-last': last}">
					<div class="col-xs-12 ts-upload-result-spec">
						<div class="ts-upload-result-spec-name" [ngClass]="{'ts-upload-skipped': choice.skipUpdate}">{{specificationName(choice.specification)}}</div>
						<div class="btn-toolbar pull-right ts-upload-result-spec-controls" *ngIf="hasMultipleChoices">
							<button *ngIf="!choice.skipUpdate" class="btn btn-default btn-sm" type="button" (click)="applyChoiceToAll(choice.specification)">Apply to all</button>
							<button *ngIf="!choice.skipUpdate" class="btn btn-default btn-sm" type="button" (click)="skipUpdate(choice.specification)">Skip</button>
							<button *ngIf="choice.skipUpdate" class="btn btn-default btn-sm" type="button" (click)="processUpdate(choice.specification)">Process</button>
						</div>
					</div>
					<div [collapse]="choice.skipUpdate" [isAnimated]="true" class="ts-upload-result-actions col-xs-12">
						<div class="form-group">
							<label class="col-xs-3 control-label" [attr.for]="'choice_metadata_skip_'+choice.specification">* {{dataService.labelSpecification()}} data:</label>
							<div class="col-xs-9">
								<label class="checkbox-inline">
									<input type="checkbox" [name]="'choice_metadata_actors_'+choice.specification" [(ngModel)]="choice.updateActors">Update {{dataService.labelActorLower()}} definitions?
									<app-tooltip [inline]="true" inlineType="checkLabel" [tbTooltip]="'Update any existing '+dataService.labelActorLower()+' definitions (including configuration parameters) to match the information contained in the provided archive. Only '+dataService.labelActorsLower()+' matching those contained in the archive will be updated.'"></app-tooltip>
								</label>
								<label class="checkbox-inline" *ngIf="choice.testSuiteExists">
									<input type="checkbox" [name]="'choice_metadata_test_suite_'+choice.specification" [(ngModel)]="choice.updateTestSuite">Update test suite metadata?
									<app-tooltip [inline]="true" inlineType="checkLabel" tbTooltip="Update the metadata of the existing test suite (its name, description and documentation) to match the information contained in the provided archive. Note that test cases are always processed regardless of this option."></app-tooltip>
								</label>
							</div>
						</div>
						<div *ngIf="choice.testCasesInArchiveAndDB.length > 0">
							<div class="form-table table-container testcase-table">
								<div class="testcase-table-title expandable" (click)="choice.showTestCasesToUpdate = !choice.showTestCasesToUpdate">
									<div class="testcase-table-title-label">Existing test cases to update ({{choice.testCasesInArchiveAndDB.length}})<span class="inline-tooltip" boundariesElement="window" [tooltip]="'These are the test cases defined in the provided archive that match existing ones from the '+dataService.labelSpecificationLower()+'. The test steps of each of these will be updated, whereas the metadata (name, description, documentation) and test history will be updated according to your below choices.'"><i class="fa fa-question-circle"></i></span></div>
									<div class="testcase-table-title-controls">
										<div class="btn-toolbar" (click)="$event.stopPropagation()" *ngIf="choice.showTestCasesToUpdate">
											<div class="btn-group" dropdown [isDisabled]="hasAllTestCaseDataChoice(choice, true) && hasAllTestCaseHistoryChoice(choice, true)">
												<button type="button" class="btn btn-default btn-sm" (click)="toggleTestCaseChoices(choice, true)" [disabled]="hasAllTestCaseDataChoice(choice, true) && hasAllTestCaseHistoryChoice(choice, true)">Select all options</button>
												<button [attr.id]="'button-all-'+choice.specification" dropdownToggle type="button" class="btn btn-default btn-sm dropdown-toggle" [attr.aria-controls]="'dropdown-all-'+choice.specification"><span class="caret"></span></button>
												<ul [attr.id]="'dropdownType-all-'+choice.specification" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" [attr.aria-labelledby]="'button-all-'+choice.specification">
													<li role="menuitem" [class.disabled]="hasAllTestCaseDataChoice(choice, true)"><a class="dropdown-item" href (click)="toggleTestCaseDataChoice(choice, true); $event.preventDefault()">Select all metadata update options</a></li>
													<li role="menuitem" [class.disabled]="hasAllTestCaseHistoryChoice(choice, true)"><a class="dropdown-item" href (click)="toggleTestCaseHistoryChoice(choice, true); $event.preventDefault()">Select all history reset options</a></li>
												</ul>
											</div>
											<div class="btn-group" dropdown [isDisabled]="hasAllTestCaseDataChoice(choice, false) && hasAllTestCaseHistoryChoice(choice, false)">
												<button type="button" class="btn btn-default btn-sm" (click)="toggleTestCaseChoices(choice, false)" [disabled]="hasAllTestCaseDataChoice(choice, false) && hasAllTestCaseHistoryChoice(choice, false)">Clear all options</button>
												<button [attr.id]="'button-none-'+choice.specification" dropdownToggle type="button" class="btn btn-default btn-sm dropdown-toggle" [attr.aria-controls]="'dropdown-all-'+choice.specification"><span class="caret"></span></button>
												<ul [attr.id]="'dropdownType-all-'+choice.specification" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" [attr.aria-labelledby]="'button-none-'+choice.specification">
													<li role="menuitem" [class.disabled]="hasAllTestCaseDataChoice(choice, false)"><a class="dropdown-item" href (click)="toggleTestCaseDataChoice(choice, false); $event.preventDefault()">Clear all metadata update options</a></li>
													<li role="menuitem" [class.disabled]="hasAllTestCaseHistoryChoice(choice, false)"><a class="dropdown-item" href (click)="toggleTestCaseHistoryChoice(choice, false); $event.preventDefault()">Clear all history reset options</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div [collapse]="!choice.showTestCasesToUpdate" [isAnimated]="true" class="testcase-table-contents">
									<table class="table">
										<thead>
											<tr>
												<th>ID</th>
												<th>Name</th>
												<th class="th-min-centered">Update metadata?<app-tooltip [inline]="true" boundariesElement="window" tbTooltip="The test cases for which metadata (names, descriptions and documentation) shall be updated based on the information within the provided archive."></app-tooltip></th>
												<th class="th-min-centered">Reset test history?<app-tooltip [inline]="true" boundariesElement="window" tbTooltip="The test cases for which the conformance testing status shall be reset and existing results considered obsolete."></app-tooltip></th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let testCase of choice.testCasesInArchiveAndDB">
												<td>{{testCase.identifier}}</td>
												<td>{{testCase.name}}</td>
												<td class="centered"><input type="checkbox" [(ngModel)]="testCase.updateDefinition" [name]="'choice_data_'+choice.specification+'_'+testCase.identifier"></td>
												<td class="centered"><input type="checkbox" [(ngModel)]="testCase.resetTestHistory" [name]="'choice_history_'+choice.specification+'_'+testCase.identifier"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div *ngIf="choice.testCasesInArchive.length > 0">
							<div class="form-table table-container testcase-table">
								<div class="testcase-table-title expandable" (click)="choice.showTestCasesToAdd = !choice.showTestCasesToAdd">
									<div class="testcase-table-title-label">New test cases to add ({{choice.testCasesInArchive.length}})<span class="inline-tooltip" boundariesElement="window" [tooltip]="'These are the test cases defined in the provided archive for which no match was found in the '+dataService.labelSpecificationLower()+'. They will be included as new test cases in the test suite.'"><i class="fa fa-question-circle"></i></span></div>
								</div>
								<div [collapse]="!choice.showTestCasesToAdd" [isAnimated]="true" class="testcase-table-contents">
									<table class="table">
										<thead>
											<tr>
												<th>ID</th>
												<th>Name</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let testCase of choice.testCasesInArchive">
												<td>{{testCase.identifier}}</td>
												<td>{{testCase.name}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div *ngIf="choice.testCasesInDB.length > 0">
							<div class="form-table table-container testcase-table">
								<div class="testcase-table-title expandable" (click)="choice.showTestCasesToDelete = !choice.showTestCasesToDelete">
									<div class="testcase-table-title-label">Missing test cases to delete ({{choice.testCasesInDB.length}})<span class="inline-tooltip" boundariesElement="window" [tooltip]="'These are the test cases that exist in the '+dataService.labelSpecificationLower()+' for which no match was found in the provided archive. They will be deleted from the test suite, with any relevant test sessions considered obsolete.'"><i class="fa fa-question-circle"></i></span></div>
								</div>
								<div [collapse]="!choice.showTestCasesToDelete" [isAnimated]="true" class="testcase-table-contents">
									<table class="table">
										<thead>
											<tr>
												<th>ID</th>
												<th>Name</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let testCase of choice.testCasesInDB">
												<td>{{testCase.identifier}}</td>
												<td>{{testCase.name}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'results'">
			<div class="container-fluid">
				<div class="row">
					<div class="bg-info div-rounded div-padded">
						<span>The test suite has been successfully uploaded. You can review below the changes that were applied.</span>
					</div>
				</div>
			</div>
			<div class="container-fluid ts-upload-result-container">
				<div *ngFor="let result of results; let first = first; let last = last" class="row" [ngClass]="{'ts-upload-result-first': first, 'ts-upload-result-last': last}">
					<div class="col-xs-12 ts-upload-result-spec">
						<div class="ts-upload-result-spec-name">{{specificationName(result.specification)}}</div
					></div>
					<div class="ts-upload-result-actions col-xs-12">
						<div *ngIf="result.testSuites.length > 0">
							<label class="col-xs-3 control-label">Test suite:</label>
							<div class="col-xs-9"><p class="form-control-static">{{result.testSuiteSummary}}</p></div>
						</div>
						<div *ngIf="result.testCases.length > 0">
							<label class="col-xs-3 control-label">Test cases:</label>
							<div class="col-xs-9"><p class="form-control-static">{{result.testCaseSummary}}</p></div>
						</div>
						<div *ngIf="result.actors.length > 0">
							<label class="col-xs-3 control-label">{{dataService.labelActors()}}:</label>
							<div class="col-xs-9"><p class="form-control-static">{{result.actorSummary}}</p></div>
						</div>
						<div *ngIf="result.endpoints.length > 0">
							<label class="col-xs-3 control-label">{{dataService.labelEndpoints()}}:</label>
							<div class="col-xs-9"><p class="form-control-static">{{result.endpointSummary}}</p></div>
						</div>
						<div *ngIf="result.parameters.length > 0">
							<label class="col-xs-3 control-label">Parameters:</label>
							<div class="col-xs-9"><p class="form-control-static">{{result.parameterSummary}}</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button *ngIf="proceedVisible()" type="button" class="btn btn-default" (click)="proceed()" [disable]="proceedDisabled()" [pending]="actionProceedPending">Proceed</button>
	<button type="button" class="btn btn-default" (click)="close()" [disabled]="actionPending">{{step == 'results'?'Close':'Cancel'}}</button>
</div>
