<div class="page domains detail detail-testsuite">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Test suite details</h4>
		</div>
		<form class="form-horizontal">
			<div class="panel-body">
				<div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
						<div class="form-group">
							<label class="col-xs-3 control-label" for="identifier">ID:</label>
							<div class="col-xs-7"><input id="identifier" name="identifier" [(ngModel)]="testSuite.identifier" class="form-control" type="text" readonly="readonly"></div>
							<app-tooltip [tbTooltip]="'The unique identifier of the test suite within the '+dataService.labelSpecificationLower()+'. This is not presented to users but is used internally to match uploaded test suites to existing ones.'"></app-tooltip>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="name">* Name:</label>
							<div class="col-xs-7"><input id="name" name="name" [(ngModel)]="testSuite.sname" class="form-control" type="text"></div>
							<app-tooltip tbTooltip="A short and descriptive identifier for the test suite. This is used for filtering purposes and also to distinguish the test suite in conformance statements where multiple test suites are defined."></app-tooltip>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="version">* Version:</label>
							<div class="col-xs-7"><input id="version" name="version" [(ngModel)]="testSuite.version" class="form-control" type="text"></div>
							<app-tooltip tbTooltip="A version number for this test suite. This is only visible to administrators."></app-tooltip>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="description">Description:</label>
							<div class="col-xs-7">
								<textarea id="description" name="description" [(ngModel)]="testSuite.description" class="form-control"></textarea>
							</div>
							<app-tooltip tbTooltip="A description for the test suite presented to users when viewing a conformance statement with multiple test suites. This should be informative enough for users to understand the purpose of the test suite. Where extended information is needed consider complementing the description with the test suite's documentation."></app-tooltip>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="showDocumentation">Show documentation:</label>
							<div class="col-xs-7">
								<input id="showDocumentation" name="showDocumentation" [(ngModel)]="showDocumentation" type="checkbox" class="form-check">
							</div>
						</div>
					</div>
				</div>
				<div [collapse]="!showDocumentation" [isAnimated]="true">
					<div class="row">
						<div class="col-xs-12">
							<div class="form-separator"><h4 class="title">Documentation</h4></div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-offset-1 col-xs-10">
                            <app-editor id="documentation" name="documentation" [(ngModel)]="testSuite.documentation"></app-editor>
						</div>
						<app-tooltip tbTooltip="Extended documentation on the test suite that users can click to view before test execution. Use this to provide detailed information, prerequisites and references to external resources."></app-tooltip>
					</div>
					<div class="row form-group">
						<div class="col-xs-offset-1 col-xs-10">
							<button (click)="previewDocumentation()" type="button" class="btn btn-default">Preview documentation</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-8 btn-toolbar">
						<button (click)="saveChanges()" type="submit" class="btn btn-default" [disable]="downloadPending || deletePending || saveDisabled()" [pending]="savePending">Save changes</button>
						<button (click)="download()" type="button" class="btn btn-default" [disable]="savePending || deletePending" [pending]="downloadPending">Download</button>
						<button (click)="delete()" type="button" class="btn btn-default" [disable]="savePending || downloadPending" [pending]="deletePending">Delete</button>
						<button (click)="back()" type="button" class="btn btn-default">Back</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Test cases</h4>
		</div>
		<div table-directive
			[columns]="testCaseTableColumns"
			[data]="testSuite.testCases"
			noDataMessage="No test cases found"
			[loadingStatus]="dataStatus" 
			[allowSelect]="true"
			(onSelect)="onTestCaseSelect($event)">
		</div>
	</div>
</div>