<div class="page users create">
    <div class="card no-bottom-margin">
        <div class="card-header">
            <h4 class="title">Create user</h4>
        </div>
        <form>
            <div class="card-body">
                <!-- Error messages -->
                <div class="row">
                    <app-alert-display [alerts]="alerts" innerClass="col-10 offset-1"></app-alert-display>
                </div>
                <div class="row">
                    <div class="col-11">
                        <app-user-form [user]="user" [new]="true" [admin]="false" [sso]="dataService.configuration.ssoEnabled" [roles]="roleCreateChoices"></app-user-form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 col-centered">
                        <div class="form-control-plaintext alert-info div-padded-sides rounded">
                            <p *ngIf="dataService.configuration.ssoEnabled">The user's new role assignment will need to be confirmed by the user upon login.</p>
                            <p class="no-bottom-margin"><b>Privacy note:</b> By clicking 'Save' you grant the user's consent on his/her behalf to record the provided information. This is used only for internal identification purposes and is never shared with other parties. <span *ngIf="!dataService.configuration.ssoEnabled">Alternatively you may also complete this form with information that is not personally identifiable. </span>Please refer to the legal notice (link available in the screen's footer) for more information.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" (click)="createUser()" [disable]="saveDisabled()" [pending]="savePending">Save</button>
                    <button class="btn btn-secondary" type="button" (click)="cancelCreateUser()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
