<div class="modal-header">
    <h4>Report generation options</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="choice_report">* Report type:</label>
            <div class="col-sm-8">
                <label class="radio-inline"><input type="radio" ng-model="controller.choice" name="choice" id="choice_report" ng-value="controller.Constants.REPORT_OPTION_CHOICE.REPORT">Conformance statement report</label><br/>
                <label class="radio-inline"><input type="radio" ng-model="controller.choice" name="choice" id="choice_detailed" ng-value="controller.Constants.REPORT_OPTION_CHOICE.DETAILED_REPORT">Conformance statement report (with test case results)</label><br/>
                <label class="radio-inline"><input type="radio" ng-model="controller.choice" name="choice" id="choice_cert" ng-value="controller.Constants.REPORT_OPTION_CHOICE.CERTIFICATE">Conformance certificate</label>
            </div>
        </div>
        <div ng-show="controller.choice == controller.Constants.REPORT_OPTION_CHOICE.CERTIFICATE">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="title">Title:</label>
                <div class="col-sm-8"><input id="title" ng-model="controller.settings.title" class="form-control" type="text"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Included sections:</label>
                <div class="col-sm-8">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="controller.settings.includeDetails">Details
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="controller.settings.includeTestStatus">Result overview
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="controller.settings.includeTestCases">Test cases
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="controller.settings.includeMessage">Message
                    </label>
                    <label class="checkbox-inline" ng-show="controller.settings.keystoreDefined">
                        <input type="checkbox" ng-model="controller.settings.includeSignature">Signature
                    </label>
                </div>
            </div>
            <div class="form-group" ng-show="controller.settings.includeMessage">
                <label class="col-sm-3 control-label" for="message" >Message content:</label>
                <div class="col-sm-8"><textarea id="message" class="mce-editor"></textarea></div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="controller.generate()" ng-disabled="controller.exportPending"><span class="tab" ng-if="controller.exportPending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Generate report</button>
    <button class="btn btn-default" ng-click="controller.cancel()">Cancel</button>
</div>