<div id="conformanceDashboardPage" class="page conformancedashboard">
	<div class="panel panel-default">
        <div class="panel-heading">
			<h4 class="title">Filters</h4>
			<div class="btn-toolbar pull-right padded">
                <toggle id="conformance-toggle-filter" class="btn-group" ng-model="adminConformanceCtrl.showFilters" on="Enabled" off="Disabled" ng-change="adminConformanceCtrl.DataService.async(adminConformanceCtrl.showFilters?adminConformanceCtrl.showFilter:adminConformanceCtrl.clearFilter)"/>
			</div>
		</div>
        <div class="table-responsive" uib-collapse="!adminConformanceCtrl.showFilters">
			<table class="table">
				<thead>
				<tr>
					<th class="col-md-1" ng-if="!adminConformanceCtrl.DataService.isCommunityAdmin">Community</th>
					<th class="col-md-1">{{adminConformanceCtrl.DataService.labelOrganisation()}}</th>
					<th class="col-md-1">{{adminConformanceCtrl.DataService.labelSystem()}}</th>
					<th class="col-md-1" ng-if="adminConformanceCtrl.DataService.isSystemAdmin || (adminConformanceCtrl.DataService.isCommunityAdmin && adminConformanceCtrl.DataService.community.domain === null)">{{adminConformanceCtrl.DataService.labelDomain()}}</th>
					<th class="col-md-1">{{adminConformanceCtrl.DataService.labelSpecification()}}</th>
					<th class="col-md-1">{{adminConformanceCtrl.DataService.labelActor()}}</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td ng-if="!adminConformanceCtrl.DataService.isCommunityAdmin">
						<div isteven-multi-select input-model="adminConformanceCtrl.filters.community.filter"
								output-model="adminConformanceCtrl.filters.community.selection" button-label="sname"
								item-label="sname"
								tick-property="ticked" max-labels="0" max-height="250px"
								translation="adminConformanceCtrl.translation"
								helper-elements="filter" search-property="sname" output-properties="id"
								on-item-click="adminConformanceCtrl.communityClicked(data)"
								is-disabled="adminConformanceCtrl.DataService.isCommunityAdmin"></div>
					</td>
					<td>
						<div isteven-multi-select input-model="adminConformanceCtrl.filters.organization.filter"
								output-model="adminConformanceCtrl.filters.organization.selection" button-label="sname"
								item-label="sname"
								tick-property="ticked" max-labels="0" max-height="250px"
								translation="adminConformanceCtrl.translation"
								helper-elements="filter" search-property="sname"
								output-properties="id" on-item-click="adminConformanceCtrl.organizationClicked(data)"></div>
					</td>
					<td>
						<div isteven-multi-select input-model="adminConformanceCtrl.filters.system.filter"
								output-model="adminConformanceCtrl.filters.system.selection" button-label="sname"
								item-label="sname"
								tick-property="ticked" max-labels="0" max-height="250px"
								translation="adminConformanceCtrl.translation"
								helper-elements="filter" search-property="sname" output-properties="id"
								on-item-click="adminConformanceCtrl.systemClicked(data)"></div>
					</td>
					<td ng-if="adminConformanceCtrl.DataService.isSystemAdmin || (adminConformanceCtrl.DataService.isCommunityAdmin && adminConformanceCtrl.DataService.community.domain === null)">
							<div isteven-multi-select input-model="adminConformanceCtrl.filters.domain.filter"
									output-model="adminConformanceCtrl.filters.domain.selection" button-label="sname"
									item-label="sname"
									tick-property="ticked" max-labels="0" max-height="250px"
									translation="adminConformanceCtrl.translation"
									helper-elements="filter" search-property="sname" output-properties="id"
									on-item-click="adminConformanceCtrl.domainClicked(data)"
									is-disabled="adminConformanceCtrl.domainDisabled"></div>
						</td>
						<td>
							<div isteven-multi-select input-model="adminConformanceCtrl.filters.specification.filter"
									output-model="adminConformanceCtrl.filters.specification.selection" button-label="sname"
									item-label="sname"
									tick-property="ticked" max-labels="0" max-height="250px"
									translation="adminConformanceCtrl.translation"
									helper-elements="filter" search-property="sname"
									output-properties="id" on-item-click="adminConformanceCtrl.specificationClicked(data)"></div>
						</td>
						<td>
							<div isteven-multi-select input-model="adminConformanceCtrl.filters.actor.filter"
									output-model="adminConformanceCtrl.filters.actor.selection" button-label="actorId"
									item-label="actorId"
									tick-property="ticked" max-labels="0" max-height="250px"
									translation="adminConformanceCtrl.translation"
									helper-elements="filter" search-property="actorId"
									output-properties="id" on-item-click="adminConformanceCtrl.actorClicked(data)"></div>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="conformanceDashboardPageTable" class="panel panel-default">
		<div class="panel-heading">
			<h4 id="conformance-statements-title" class="title">Conformance statements</h4>
			<div class="btn-toolbar pull-right padded">
				<button class="btn btn-default" ng-if="adminConformanceCtrl.conformanceStatements.length > 0" ng-click="adminConformanceCtrl.onExportConformanceStatementsAsCsv()">Export CSV</button>
				<button class="btn btn-default" ng-if="adminConformanceCtrl.showCollapseAll()" ng-click="adminConformanceCtrl.onCollapseAll()">Collapse all</button>
			</div>
		</div>
		<div>
			<div class="container-fluid div-table expandable">
				<div class="row div-table-row-header">
					<div class="col-xs-2 div-table-cell wordwrap">{{adminConformanceCtrl.DataService.labelOrganisation()}}</div>
					<div class="col-xs-2 div-table-cell wordwrap">{{adminConformanceCtrl.DataService.labelSystem()}}</div>
					<div class="col-xs-3 div-table-cell wordwrap">{{adminConformanceCtrl.DataService.labelSpecification()}}</div>
					<div class="col-xs-2 div-table-cell wordwrap">{{adminConformanceCtrl.DataService.labelActor()}}</div>
					<div class="col-xs-2 div-table-cell wordwrap">Status</div>
					<div class="col-xs-1 div-table-cell">&nbsp;</div>
				</div>
				<div ng-if="adminConformanceCtrl.conformanceStatements.length > 0" ng-repeat="statement in adminConformanceCtrl.conformanceStatements"
					ng-click="adminConformanceCtrl.onExpand(statement)" class="row div-table-row expandable">
					<div class="row-cells">
						<div class="col-xs-2 div-table-cell wordwrap">{{statement.organizationName}}</div>
						<div class="col-xs-2 div-table-cell wordwrap">{{statement.systemName}}</div>
						<div class="col-xs-3 div-table-cell wordwrap">{{statement.specName}}</div>
						<div class="col-xs-2 div-table-cell wordwrap">{{statement.actorName}}</div>
						<div class="col-xs-2 div-table-cell wordwrap">{{statement.status}}</div>
						<div class="col-xs-1 div-table-cell padded"><button class="btn btn-default pull-right" ng-click="adminConformanceCtrl.onExportConformanceStatement(statement); $event.stopPropagation();"><i class="fa fa-file-pdf-o"></i></button></div>
					</div>
					<div class="col-xs-12 expandable-placeholder" uib-collapse="!adminConformanceCtrl.isExpanded(statement)">
						<div class="container-fluid div-table non-expandable inner">
							<div class="row div-table-row-header non-expandable">
								<div class="col-xs-5 div-table-cell wordwrap">Test suite</div>
								<div class="col-xs-5 div-table-cell wordwrap">Test case</div>
								<div class="col-xs-1 div-table-cell wordwrap">Result</div>
								<div class="col-xs-1 div-table-cell">&nbsp;</div>
							</div>
							<div class="row div-table-row non-expandable row-cells" ng-repeat="testCase in statement.testCases">
								<div class="col-xs-5 div-table-cell wordwrap">{{testCase.testSuiteName}}</div>
								<div class="col-xs-5 div-table-cell wordwrap">{{testCase.testCaseName}}</div>
								<div class="col-xs-1 div-table-cell wordwrap">{{testCase.result}}</div>
								<div class="col-xs-1 div-table-cell">
									<button ng-if="adminConformanceCtrl.showExportTestCase(testCase)" class="btn btn-default pull-right" ng-click="adminConformanceCtrl.onExportTestCase(statement, testCase); $event.stopPropagation();"><i class="fa fa-file-pdf-o"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
