@import '../../../styles/less/_common.less';

.value-container {
    position: relative;
    cursor: pointer;
    display: flex;
    .value-container-inner {
        display: flex;
        align-items: center;
        margin: -5px;
        padding: 5px;
        border-radius: @border-radius;
        transition: background-color 0.2s ease;
        .icon {
            margin-left: 10px;
            margin-right: 5px;
        }
    }
    &.hovering > .value-container-inner {
        background-color: @gray-light;
    }

}
