<div class="page users detail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">{{dataService.labelSystem()}} information</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-11">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Short name:</label>
                            <div class="col-xs-9">
                                <p class="form-control-static">{{system.sname}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Full name:</label>
                            <div class="col-xs-9">
                                <p class="form-control-static">{{system.fname}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Description:</label>
                            <div class="col-xs-9">
                                <p class="form-control-static">{{system.description}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Version:</label>
                            <div class="col-xs-9">
                                <p class="form-control-static">{{system.version}}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <app-optional-custom-property-form
                [tbPropertyData]="propertyData"
                [tbPropertyType]="'system'"
                [tbOwner]="system.id"
                [tbColOffset]="0"
                [tbColLabel]="3"
                [tbReadonly]="true"></app-optional-custom-property-form>    
        </div>
    </div>
</div>