/* Add here all your CSS customizations */
.or {
  overflow: hidden;
  text-align: center;
  padding: 0 0 0 0;
}

.or .or_l,
.or .or_r {
  width: 40%;
  border-bottom: solid 1px #cccccc;
  display: inline-block;
  position: relative;
  left: 0px;
  top: -4px;
}

.or span {
  width: 5%;
  display: inline-block;
}

.grid-header {
	font-weight: bold;
	font-size: 12px;
}

.grid-header-center {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

.grid-row {
    font-size: 12px;
}

.grid-row-center {
	font-size: 12px;
	vertical-align:middle;
	text-align: center;
}

.centralize {
	text-align: center;
	display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

span.tab{
    padding: 10px; /* Or desired space*/
}

span.mini-tab{
    margin-right: 10px; /* Or desired space*/
}

tr, aside, input[readonly] {
	cursor: default;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 400px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.float-right {
	float: right;
}

div.execution {
	font-size: 12px;
	border: 1px solid rgb(212,212,212);
	border-radius: 10px;
	line-height: 30px;
	margin: 0 auto;
	margin-left: 10px;
	margin-bottom: 7px;
}

.alert-empty {
  color: grey;
  background-color: #ffffff;
  border-color: rgb(212,212,212);
}

.margin {
	margin: 0px;
}

.label-dark,
.label-dark:hover {
	background: #999;
	text-decoration: none;
	font-weight: normal;
}

.font10 {
	font-size:10px;
}

.font11 {
	font-size:11px;
}

.font12 {
	font-size:12px;
}

.font13 {
	font-size:13px;
}

.font14 {
	font-size:14px;
}

.margin-left-25 {
	margin-left:25px;
}

.margin-top-10 {
	margin-top:10px;
}

.absolute {
	position: absolute;
}

.hidden {
	display: none;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.bordered {
	border: 1px solid #e5e5e5;
}

#notification-container > .growl-container {
	top: 74px;
    right: 10px;	
}

#notification-container >.growl-container > .growl-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tooltip-for-radio-label {
	vertical-align: middle;
	display: inline-block;
	padding-top: 7px;	
}