:root {
     --itb-modal-title-color: #337ab7;
     --itb-card-title-color: #337ab7;
     --itb-table-title-color: #337ab7;
     --itb-heading-color: #337ab7;
     --itb-tab-link-color: #337ab7;
     --itb-page-title-color: #FFF;
     --itb-footer-text-color: #FFF;
     --itb-header-background-color: #171717;
     --itb-header-border-color: #CCC;
     --itb-footer-background-color: #121214;
     --itb-footer-border-color: #CCC;
     --itb-header-logo-path: url("http://localhost:9000/assets/images/gitb.png");
     --itb-footer-logo-display: none;
     --itb-header-logo-path: url("http://localhost:9000/assets/images/gitb.png");
}