section.page-top {
    background-color: #171717;
    border-bottom-color: #074CCC;
}

section.page-top h2 {
    color: #FFF;
}

.footer-bar {
    background-color: #121214;
    border-top-color: #CCC;
}
