.ec section.page-top {
    background-color: #0065a2;
    border-bottom: 5px solid #074A8B;
    margin-bottom: 35px;
    min-height: 50px;
    padding: 0;
    padding: 20px 0;
    position: relative;
    text-align: left;
}

.ec section.page-top h2 {
    color: #FFF;
    display: inline-block;
    font-weight: 200;
    margin: 0 0 -25px;
    min-height: 37px;
    line-height: 46px;
    padding: 0 0 17px;
    position: relative;
}

footer.ec {
    background-color: #0065a2;
    border-top: 4px solid #074A8B;
    font-size: 0.9em;
    /*margin-top: 10px;*/
    /*padding: 80px 0 0;*/
    position: relative;
    clear: both;
}

footer.ec img {
    zoom: 75%;
}