section.page-top {
    background-color: #0065a2;
    border-bottom-color: #074A8B;
}

section.page-top h2 {
    color: #FFF;
}

.footer-bar {
    background-color: #0065a2;
    border-top-color: #074A8B;
}
