<div class="row">
    <div class="col-10 offset-1">
        <div class="row mb-3">
            <label class="col-3 col-form-label text-end" for="id">* ID:</label>
            <div class="col-7"><input id="id" name="id" [(ngModel)]="actor.actorId" class="form-control" type="text"></div>
            <div app-tooltip class="col-auto" [tbTooltip]="'This identifier is used within test suites and test cases to refer to the '+dataService.labelActorLower()+'.'"></div>
        </div>
        <div class="row mb-3">
            <label class="col-3 col-form-label text-end" for="name">* Name:</label>
            <div class="col-7"><input id="name" name="name" [(ngModel)]="actor.name" class="form-control" type="text"></div>
            <div app-tooltip class="col-auto" [tbTooltip]="'This is used to refer to the '+dataService.labelActorLower()+' in all screens and reports.'"></div>
        </div>
        <div class="row mb-3">
            <label class="col-3 col-form-label text-end" for="description">Description:</label>
            <div class="col-7">
                <textarea id="description" name="description" [(ngModel)]="actor.description" class="form-control"></textarea>
            </div>
            <div app-tooltip class="col-auto" [tbTooltip]="'This description is presented to users to explain the purpose of the '+dataService.labelActorLower()+' when managing conformance statements.'"></div>
        </div>
        <div class="row mb-3">
            <label class="col-3 col-form-label text-end" for="displayOrder">Display order:</label>
            <div class="col-1"><input id="displayOrder" name="displayOrder" [(ngModel)]="actor.displayOrder" class="form-control" type="text"></div>
            <div app-tooltip class="col-auto" [tbTooltip]="'A number to be considered in relation to other '+dataService.labelActorsLower()+' that is used to determine the display positioning in test execution diagrams. If unspecified a default positioning is applied based on the test case\'s steps.'"></div>
        </div>
        <div class="row mb-3 pt-1">
            <label class="col-3 col-form-label text-end pt-0" for="default">Specification default:</label>
            <div class="col-7">
                <div class="form-check">
                    <input class="form-check-input" id="default" name="default" [(ngModel)]="actor.default" type="checkbox">
                    <div app-tooltip class="col-auto d-inline-flex" [inline]="true" [tbTooltip]="'The default '+dataService.labelActorLower()+' of the '+dataService.labelSpecificationLower()+' will be automatically selected when defining new conformance statements. Other '+dataService.labelActorsLower()+' will not be presented as available options.'"></div>
                </div>
            </div>
        </div>
        <div class="row mb-3 pt-1">
            <label class="col-3 col-form-label text-end pt-0" for="hidden">Hidden:</label>
            <div class="col-7">
                <div class="form-check">
                    <input class="form-check-input" id="hidden" name="hidden" [(ngModel)]="actor.hidden" type="checkbox">
                    <div app-tooltip class="col-auto d-inline-flex" [inline]="true" [tbTooltip]="'Check this to remove this '+dataService.labelActorLower()+' as an available option when defining new conformance statements. This can be used to hide simulated '+dataService.labelActorsLower()+' when there is no clear default '+dataService.labelActorLower()+' or to deprecate an '+dataService.labelActorLower()+' that should not be used anymore. In any case checking this has no effect on the existing testing history.'"></div>
                </div>
            </div>
        </div>
        @if (dataService.configuration.automationApiEnabled && actor.id != undefined) {
            <div class="row mb-3">
                <label class="col-3 col-form-label text-end" for="hidden">API key:</label>
                <div class="col-7">
                    <app-api-key-text idName="apiKey" name="apiKey" [key]="actor.apiKey!"></app-api-key-text>
                </div>    
                <div app-tooltip class="col-auto" [tbTooltip]="'The key to use when calling the Test Bed\'s REST API to identify the '+dataService.labelActorLower()+'.'"></div>
            </div>
        }
    </div>
</div>
@if (actor.badges) {
    <app-manage-badges [badges]="actor.badges"></app-manage-badges>
}
