.rootContainer {
    display: flex;
    flex-wrap: wrap;    
    .tagContainer {
        &.withMargin {
            margin-right: 10px;
        }
    }
    .create-tag-container {
        display: flex;
    }
}