@if (tags || editable) {
    <div class="rootContainer">
        @for (tag of tags; track $index; let last = $last) {
            <div class="tagContainer" [class.withMargin]="!last || (last && editable)">
                <app-tag 
                    [id]="tag.id"
                    [label]="tag.name"
                    [tooltipText]="tag.description"
                    [foreground]="tag.foreground"
                    [background]="tag.background"
                    [editable]="editable"
                    [pill]="true"
                    (edit)="tagEdited($event)"
                    (delete)="tagDeleted($event)"
                ></app-tag>
            </div>
        }
        @if (editable) {
            <div class="create-tag-container">
                <button (click)="createTag()" type="button" class="btn btn-secondary">Add</button>
                <div app-tooltip class="col-auto d-inline-flex" [inline]="true" inlineType="button" tbTooltip="Tags used to visually distinguish and highlight test cases."></div>
            </div>
        }
    </div>
}