<div class="modal-header">
	<h4>{{title}}</h4>
</div>
<form class="form-horizontal">
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-10 col-md-offset-1">
				<div class="form-group">
					<label class="col-xs-3 control-label" for="sname">* Short name:</label>
					<div class="col-xs-7"><input id="sname" name="sname" [(ngModel)]="system.sname" class="form-control" type="text"></div>
					<app-tooltip [tbTooltip]="'A short name used to refer to this '+dataService.labelSystemLower()+' in lists and tabular displays where space is limited.'"></app-tooltip>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label" for="fname">* Full name:</label>
					<div class="col-xs-7"><input id="fname" name="fname" [(ngModel)]="system.fname" class="form-control" type="text"></div>
					<app-tooltip [tbTooltip]="'The full name for this '+dataService.labelSystemLower()+' used in reports and detail screens.'"></app-tooltip>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label" for="description">Description:</label>
					<div class="col-xs-7">
						<textarea id="description" name="description" [(ngModel)]="system.description" class="form-control"></textarea>
					</div>
					<app-tooltip [tbTooltip]="'A short description of the purpose of this '+dataService.labelSystemLower()+'. This is only used for presentation purposes to distinguish this '+dataService.labelSystemLower()+' from others.'"></app-tooltip>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label" for="version">* Version:</label>
					<div class="col-xs-7"><input id="version" name="version" [(ngModel)]="system.version" class="form-control" type="text"></div>
					<app-tooltip [tbTooltip]="'An arbitrary text to serve as a version number for this '+dataService.labelSystemLower()+'. Apart from being displayed here this is not currently used, however it is reserved for potential future needs.'"></app-tooltip>
				</div>
				<div class="form-group" *ngIf="otherSystems.length">
					<label class="col-xs-3 control-label" for="version">Copy test setup from:</label>
					<div class="col-xs-7">
                        <select class="form-control" name="otherSystem" [(ngModel)]="otherSystem">
                            <option value=""></option>
                            <option *ngFor="let sys of otherSystems" [ngValue]="sys.id">{{sys.sname}}</option>
                        </select>
                    </div>
					<app-tooltip [tbTooltip]="'Select another '+dataService.labelSystemLower()+' to serve as a template for this one. The configuration from the selected '+dataService.labelSystemLower()+' will be copied to the current one.'"></app-tooltip>
                </div>
                <div [collapse]="!otherSystem" [isAnimated]="true">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Copy also:</label>
                        <div class="col-xs-8">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="copySystemParameters" (change)="copyChanged()" [(ngModel)]="copySystemParameters">{{dataService.labelSystem()}} properties
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="copyStatementParameters" (change)="copyChanged()" [(ngModel)]="copyStatementParameters">Conformance statement configurations
                            </label>
                        </div>
                    </div>
                </div>
			</div>
		</div>
        <app-optional-custom-property-form *ngIf="!copySystemParameters"
            [tbPropertyData]="propertyData"
			      [tbPropertyType]="'system'"
			      [tbOwner]="system.id"
            [tbColInputLess]="1"
            [tbPopup]="true"></app-optional-custom-property-form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="submit" (click)="save()" [pending]="savePending" [disable]="!saveEnabled() || deletePending">Save</button>
		<button class="btn btn-default" type="button" (click)="delete()" *ngIf="system.id && canDelete()" [pending]="deletePending" [disable]="savePending">Delete</button>
		<button class="btn btn-default" type="button" (click)="cancel()" [disabled]="savePending || deletePending">Cancel</button>
	</div>
</form>
