<div class="filterContainer">
    <button (click)="controlClicked()" type="button" class="btn btn-secondary filterControl"><div>{{filterLabel}}</div><div class="caret withMargin"></div></button>
    @if (formVisible) {
        <div class="filterForm" [ngClass]="{'leftForm': openToLeft, 'rightForm': !openToLeft}">
            @if (typeahead && availableItems.length > 0) {
                <div class="formSearch">
                    <div class="inputDiv"><input #filterText type="text" class="form-control" placeholder="Search items..." [(ngModel)]="textValue" (ngModelChange)="searchApplied()"/></div>
                    <div class="iconDiv"><span><i class="fa fa-search" aria-hidden="true"></i></span></div>
                </div>
            }
            @if (!config.singleSelection && selectedItems.length > 0) {
                <div class="itemsContainer">
                    @for (item of selectedItems; track $index) {
                        <div class="itemContainer" (click)="selectedItemClicked(item)">
                            <div class="d-flex">
                                <input class="form-check-input" type="checkbox" [attr.id]="'item-'+$index" [attr.name]="'item-'+$index" [(ngModel)]="selectedSelectedItems[item.id].selected" (ngModelChange)="updateCheckFlag()">
                                <label class="form-check-label disable-select mx-2" (click)="$event.stopPropagation()" [attr.for]="'item-'+$index">{{item[config.textField]}}</label>
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="itemsContainer availableItems">
                @if (loadPending) {
                    <div class="loadingDiv"><app-pending-block></app-pending-block></div>
                } @else {
                    @if (selectedItems.length == 0 && visibleAvailableItems.length == 0) {
                        <div class="noItems">No items found</div>
                    } @else {
                        @for (item of visibleAvailableItems; track $index) {
                            <div class="itemContainer" (click)="availableItemClicked(item)">
                                @if (config.singleSelection) {
                                    <div>{{item[config.textField]}}</div>
                                } @else {
                                    <div class="d-flex">
                                        <input class="form-check-input" [attr.id]="'a_item-'+$index" [attr.name]="'a_item-'+$index" type="checkbox" [(ngModel)]="selectedAvailableItems[item.id].selected" (ngModelChange)="updateCheckFlag()">
                                        <label class="form-check-label disable-select mx-2" (click)="$event.stopPropagation()" [attr.for]="'a_item-'+$index">{{item[config.textField]}}</label>
                                    </div>
                                }
                            </div>
                        }
                    }
                }
            </div>
            @if (!config.singleSelection) {
                <div class="formButtons btn-toolbar">
                    @if (selectedItems.length > 0 || visibleAvailableItems.length > 0) {
                        <button type="button" class="btn btn-secondary" (click)="applyItems()">Apply</button>
                    }
                    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                    @if (hasCheckedSelectedItem) {
                        <button type="button" class="btn btn-secondary" (click)="clearSelectedItems()">Clear selected items</button>
                    }
                </div>
            }
        </div>
    }
</div>
