@import '../../../styles/less/_common.less';


.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid var(--bs-secondary-color);
    border-left: 4px solid var(--bs-secondary-color);
}
.filterContainer {
    position: relative;
    display: flex;
    min-height: 35px;
}
.filterControl {
    display: flex;
    flex-grow: 1;
    align-items: center;
    & .button-label {
        display: flex;
        .button-label-text {
            flex-grow: 1;
            text-align: start;
        }
    }
}
.filterForm {
    border-radius: @border-radius;
    width: 400px;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    position: absolute;
    top: 35px;
    &.leftForm {
        right: 0;
    }
    &.rightForm {
        left: 0;
    }
    z-index: 10;
    background: @white;
    .formSearch {
        margin: 8px;
        display: flex;
        align-items: center;
        position: relative;
        .inputDiv {
            flex-grow: 1;
        }
        .iconDiv {
            position: absolute;
            right: 10px;
        }
    }
    .formButtons {
        border-top: 1px solid @gray-light-2;
        padding: 8px;
    }
    &.multiSelection .itemsContainer .itemContainer:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .itemsContainer {
        border-top: 1px solid @gray-light-2;
        .loadingDiv {
            padding: 6px 12px;
        }
        .itemContainer {
            @focus-background: @gray-highlight;
            padding: 8px;
            &.focused {
                background-color: @focus-background;
            }
            &:last-child {
                border-bottom-left-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
            }
            &:hover {
                background: @bs-background-highlight;
                cursor: pointer;
                &.focused {
                    background-color: @focus-background;
                }
            }
            input {
                cursor: pointer;
            }
            .form-check-label {
                cursor: pointer;
            }
        }
        &.availableItems {
            overflow-y: auto;
            max-height: 300px;
        }
    }
}
.noItems {
    padding: 8px 10px;
    opacity: 0.5;
}
