<div class="filterContainer">
    <div (click)="controlClicked()" class="filterControl">
        <div class="disable-select">{{filterLabel}}</div><div><span class="caret"></span></div>
    </div>
    <div *ngIf="formVisible" class="filterForm" [ngClass]="{'leftForm': openToLeft, 'rightForm': !openToLeft}">
        <div class="formSearch" *ngIf="typeahead">
            <div class="inputDiv"><input #filterText type="text" class="form-control" placeholder="Search items..." [(ngModel)]="textValue" (ngModelChange)="searchApplied()"/></div>
            <div class="iconDiv"><span><i class="fa fa-search" aria-hidden="true"></i></span></div>
        </div>
        <div class="itemsContainer" *ngIf="selectedItems.length > 0">
            <div *ngFor="let item of selectedItems" class="itemContainer" (click)="selectedItemClicked(item)">
                <label class="checkbox-inline disable-select" (click)="$event.stopPropagation()">
                    <input type="checkbox" [(ngModel)]="selectedSelectedItems[item.id].selected" (ngModelChange)="updateCheckFlag()">{{item[config.textField]}}
                </label>
            </div>
        </div>
        <div class="itemsContainer availableItems">
            <div class="loadingDiv" *ngIf="loadPending"><app-pending-block></app-pending-block></div>
            <div *ngFor="let item of visibleAvailableItems" class="itemContainer" (click)="availableItemClicked(item)">
                <label class="checkbox-inline disable-select" (click)="$event.stopPropagation()">
                    <input type="checkbox" [(ngModel)]="selectedAvailableItems[item.id].selected" (ngModelChange)="updateCheckFlag()">{{item[config.textField]}}
                </label>
            </div>
        </div>
        <div class="formButtons btn-toolbar">
            <button type="button" class="btn btn-default" (click)="applyItems()">Apply</button>
            <button type="button" class="btn btn-default" (click)="close()">Close</button>
            <button type="button" class="btn btn-default" (click)="clearSelectedItems()" *ngIf="hasCheckedSelectedItem">Clear selected items</button>
        </div>
    </div>
</div>
