@import '../../../styles/less/_common.less';


.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid var(--bs-secondary-color);
    border-left: 4px solid var(--bs-secondary-color);
}
.filterContainer {
    position: relative;
    display: flex;
}
.filterControl {
    display: flex;
    flex-grow: 1;
    align-items: center;
    & :first-child {
        flex-grow: 1;
        display: flex;        
    }
}
.filterForm {
    border-radius: @border-radius;
    width: 400px;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    position: absolute;
    top: 35px;
    &.leftForm {
        right: 0px;
    }
    &.rightForm {
        left: 0px;
    }
    z-index: 10;
    background: @white;
    .formSearch {
        margin: 8px;
        display: flex;
        align-items: center;
        position: relative;
        .inputDiv {
            flex-grow: 1;
        }
        .iconDiv {
            position: absolute;
            right: 10px;            
        }
    }
    .formButtons {
        border-top: 1px solid @gray-light-2;
        padding: 8px;
    }
    .itemsContainer {
        border-top: 1px solid @gray-light-2;
        .loadingDiv {
            padding: 5px 5px;
        }
        .itemContainer {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 8px;
            padding-right: 8px;
            &:hover {
                background: @bs-background-highlight;
                cursor: pointer;
            }
            input {
                cursor: pointer;
            }
            .form-check-label {
                cursor: pointer;
            }
        }
        &.availableItems {
            overflow-y: auto;
            max-height: 300px;
        }
    }
}
.noItems {
    padding: 5px 10px;
    opacity: 0.5;
}