<div class="page" xmlns="http://www.w3.org/1999/html">
    <div class="panel panel-default col-md-12">
        <div class="panel-heading">
            <h4>Execute Test</h4>
        </div>
        <div class="panel-body">
            <div class="wizard-directive" wizard-directive steps="testExecutionCtrl.steps" trigger-next="testExecutionCtrl.nextStep" on-before="testExecutionCtrl.onWizardBefore" on-next="testExecutionCtrl.onWizardNext" on-finish="testExecutionCtrl.onWizardFinish">
                <div class="step-content select-configs">
                    Please check your system configurations again in case of inconsistent input <br> <br>

                    <div class="list-group">
                        <div class="list-group-item endpoint" ng-repeat="endpoint in testExecutionCtrl.endpointRepresentations">
                            <div><strong>Name: </strong>{{endpoint.name}}</div>
                            <div><strong>Description: </strong>{{endpoint.description}}</div>
                            <div table-directive columns="testExecutionCtrl.parameterTableColumns" data="endpoint.parameters" table-caption="'Endpoint parameters'" on-select="conformanceStatementDetailCtrl.onParameterSelect"></div>
                        </div>
                    </div>

                    <button class="btn btn-primary pull-right" ng-click="testExecutionCtrl.nextStep()" ng-if="testExecutionCtrl.isSystemConfigurationsValid(testExecutionCtrl.endpointRepresentations)" ng-disabled="testExecutionCtrl.testcase == null || testExecutionCtrl.actor == null">Next</button>
                    <button class="btn btn-primary pull-right" ng-click="testExecutionCtrl.updateConfigurations()" ng-if="!testExecutionCtrl.isSystemConfigurationsValid(testExecutionCtrl.endpointRepresentations)">Update Configurations</button>
                </div>
                <div class="step-content select-participants" ng-if="testExecutionCtrl.isInteroperabilityTesting">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a id="createSession" class="btn btn-default pull-right" ng-click="testExecutionCtrl.createInteroperabilitySession()">Create New</a>
                            <span class="tab pull-right" />
                            <a id="joinSession" class="btn btn-default pull-right" ng-disabled="testExecutionCtrl.actor == null" ng-click="testExecutionCtrl.join()">Join</a>
                            <h4 class="title">Existing Sessions</h4>

                        </div>
                        <h5 class="no-session-found" ng-if="testExecutionCtrl.interoperabilitySessions.length == 0">No existing interoperability test sessions...</h5>
                        <div ng-if="testExecutionCtrl.interoperabilitySessions.length > 0" table-directive columns="testExecutionCtrl.sessionTableColumns" data="testExecutionCtrl.interoperabilitySessions" on-select="testExecutionCtrl.onSessionSelect"></div>
                    </div>

                    <div class="panel panel-default" ng-if="testExecutionCtrl.availableActors.length >= 0">
                        <div class="panel-heading">
                            <h4 class="title">Available Actors</h4>
                        </div>
                        <div ng-if="testExecutionCtrl.availableActors.length > 0" table-directive columns="testExecutionCtrl.actorTableColumns" data="testExecutionCtrl.availableActors" on-select="testExecutionCtrl.onActorSelect"></div>
                    </div>
                </div>
                <div class="step-content select-peliminary">
                    <div ng-repeat="simulatedConfig in testExecutionCtrl.simulatedConfigs">
                        <p>Simulated configurations for {{simulatedConfig.actor}}</p>
                        <ul ng-repeat="config in simulatedConfig.configs">
                            <li>
                                <label>{{config.actor}}</label>
                                <ul ng-repeat="parameter in config.config">
                                    <li>
                                        <span>{{parameter.name}}:</span>
                                        <!-- configuration parameter is a data url -->
                                        <span class="tab" ng-if="testExecutionCtrl.isConfigurationDataURL(parameter.value)"><a download='{{parameter.name}}' href="{{parameter.value}}">Download</a></span>
                                        <!-- configuration parameter is a string -->
                                        <span class="tab" ng-if="!testExecutionCtrl.isConfigurationDataURL(parameter.value)">{{parameter.value}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-primary pull-right" ng-click="testExecutionCtrl.nextStep()" ng-show="testExecutionCtrl.showNextForPreliminaryStep">Next</button>
                </div>
                <div class="step-content select-execution">
                    <div ng-if="!testExecutionCtrl.started">
                        <button class="btn btn-primary pull-right"  ng-click="testExecutionCtrl.start(testExecutionCtrl.session)">Start</button>
                        <br> <br> <br>
                    </div>
                    <div ng-if="testExecutionCtrl.started">
                        <button class="btn btn-primary pull-right"  ng-click="testExecutionCtrl.stop(testExecutionCtrl.session)">Stop</button>
                        <br> <br> <br>
                    </div>
                    <div class="child" seq-diagram steps="steps" actor-info="actorInfo"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="provideInputModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Server Interaction</h4>
			</div>
			<div class="modal-body">
                <!--
				<p>The server requests the following input:</p>
                -->
				<div class="row">
					<form type="post">
						<div class="row" ng-repeat="interaction in interactions">
							<div class="form-group">
								<div class="col-md-11 col-centered" >
									<label>{{interaction.desc}}</label>
                                    <!-- request interaction: server asks operator to send inputs -->
                                    <div ng-if="interaction.type == 'request'">
                                        <input type="text" class="form-control" ng-model="interaction.data" ng-if="interaction.contentType != 'BASE64'" >
                                        <div ng-if="interaction.contentType == 'BASE64'">
                                            <span ng-if="interaction.file != null">{{interaction.file.name}} - {{interaction.file.size}} bytes</span>
                                            <span ng-if="interaction.file == null">No file selected</span>
                                            <button class="btn btn-default" ng-file-select="testExecutionCtrl.onFileSelect(interaction, $files)">Select file</button>
                                        </div>
                                    </div>
                                    <!-- instruction interaction: server shows a message -->
                                    <div ng-if="interaction.type == 'instruction' && interaction.value != null">
                                        <span class="tab" ng-if="testExecutionCtrl.isConfigurationDataURL(interaction.value)"><a download='{{interaction.name}}' href="{{interaction.value}}">Download</a></span>
                                        <!-- configuration parameter is a string -->
                                        <span class="tab" ng-if="!testExecutionCtrl.isConfigurationDataURL(interaction.value)">{{interaction.value}}</span>
                                    </div>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<input type="submit" value="Send"  ng-if="testExecutionCtrl.interactionNeedsInput()"  ng-click="testExecutionCtrl.provideInput()" class="btn btn-info" >
                            <input type="submit" value="Close" ng-if="!testExecutionCtrl.interactionNeedsInput()" ng-click="testExecutionCtrl.closeInteractionModal()" class="btn btn-info" >
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
