<div class="page conformance">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Test cases to execute</h4>
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="testExecutionCtrl.nextStep()" ng-if="testExecutionCtrl.wizardStep == 1 && testExecutionCtrl.isSystemConfigurationsValid(testExecutionCtrl.endpointRepresentations)" ng-disabled="testExecutionCtrl.testcase == null || testExecutionCtrl.actor == null">Next</button>
                <button class="btn btn-primary" ng-click="testExecutionCtrl.nextStep()" ng-if="testExecutionCtrl.wizardStep == 2">Next</button>
                <button class="btn btn-primary" ng-if="testExecutionCtrl.wizardStep == 3 && !testExecutionCtrl.started && !testExecutionCtrl.startAutomatically && testExecutionCtrl.reload" ng-click="testExecutionCtrl.reinitialise()">Reset</button>
                <button class="btn btn-primary" ng-if="testExecutionCtrl.wizardStep == 3 && testExecutionCtrl.firstTestStarted && !testExecutionCtrl.reload && testExecutionCtrl.testsToExecute.length > 1" ng-click="testExecutionCtrl.stopAll()">Stop All</button>
                <button class="btn btn-primary" ng-if="testExecutionCtrl.wizardStep == 3 && testExecutionCtrl.testsToExecute.length == 1 && !testExecutionCtrl.started && !testExecutionCtrl.startAutomatically && !testExecutionCtrl.reload" ng-click="testExecutionCtrl.start(testExecutionCtrl.session)">Start</button>
                <button class="btn btn-primary" ng-if="testExecutionCtrl.wizardStep == 3 && testExecutionCtrl.testsToExecute.length == 1 && testExecutionCtrl.started" ng-click="testExecutionCtrl.stop(testExecutionCtrl.session)">Stop</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="test-case-list-table">
                <table class="table test-case-table">
                    <thead>
                        <tr>
                            <th width="10%">Name</th>
                            <th>Description</th>
                            <th class="td-centered" width="1%">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="testCase in testExecutionCtrl.testsToExecute" ng-click="testExecutionCtrl.viewTestCase(testCase)" ng-class="testExecutionCtrl.tableRowClass(testCase)">
                            <td>{{testCase.sname}}</td>
                            <td>{{testCase.description}}</td>
                            <td class="td-centered"><i class="fa testsuite-progress-icon" ng-class="testExecutionCtrl.progressIcon(testCase.id)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default" ng-if="testExecutionCtrl.wizardStep == 1">
                <div class="panel-heading">
                    <h5 class="title">Test [{{testExecutionCtrl.currentTest.sname}}] - Required configuration missing</h5>
                </div>
                <diV class="panel-body">
                    <div class="endpoint" ng-repeat="endpoint in testExecutionCtrl.endpointRepresentations">
                        <div endpoint-display endpoint="endpoint" editable="false" show-values="false" on-download="testExecutionCtrl.downloadParameter"></div>
                    </div>
                </diV>
            </div>
            <div class="panel panel-default" ng-if="testExecutionCtrl.wizardStep == 2">
                <div class="panel-heading">
                    <h5 class="title">Test [{{testExecutionCtrl.currentTest.sname}}] - Preliminary phase</h5>
                </div>
                <div class="panel-body">
                    <div ng-repeat="simulatedConfig in testExecutionCtrl.simulatedConfigs">
                        <p>Simulated configurations for {{testExecutionCtrl.getActorName(simulatedConfig.actor)}}</p>
                        <ul ng-repeat="config in simulatedConfig.configs">
                            <li><label>{{testExecutionCtrl.getActorName(config.actor)}}</label>
                                <ul ng-repeat="parameter in config.config">
                                    <li>
                                        <span>{{parameter.name}}:</span>
                                        <!-- configuration parameter is a data url -->
                                        <span class="tab" ng-if="testExecutionCtrl.isConfigurationDataURL(parameter.value)"><a download='{{parameter.name}}' href="{{parameter.value}}">Download</a></span>
                                        <!-- configuration parameter is a string -->
                                        <span class="tab" ng-if="!testExecutionCtrl.isConfigurationDataURL(parameter.value)">{{parameter.value}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-repeat="test in testExecutionCtrl.testsToExecute" ng-if="testExecutionCtrl.wizardStep == 3">
                <div class="panel panel-default select-execution" ng-show="test.id == testExecutionCtrl.visibleTest.id">
                    <div class="panel-heading">
                        <h5 class="title">Test [{{test.sname}}] - Execution</h5>
                        <button class="btn btn-primary pull-right" ng-if="testExecutionCtrl.testsToExecute.length > 1 && !testExecutionCtrl.started && !testExecutionCtrl.startAutomatically && !testExecutionCtrl.reload" ng-click="testExecutionCtrl.start(testExecutionCtrl.session)">Start</button>
                        <button class="btn btn-primary pull-right" ng-if="testExecutionCtrl.testsToExecute.length > 1 && testExecutionCtrl.started && test.id == testExecutionCtrl.currentTest.id" ng-click="testExecutionCtrl.stop(testExecutionCtrl.session)">Stop</button>
                    </div>
                    <div class="panel-body">
                        <div class="child" seq-diagram steps-of-tests="stepsOfTests" test="{{test.id}}" actor-info-of-tests="actorInfoOfTests"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-default" ng-disabled="testExecutionCtrl.backDisabled()" ng-click="testExecutionCtrl.back()">Back</button>
            <button class="btn btn-default" ng-click="testExecutionCtrl.viewLog()" ng-if="testExecutionCtrl.showViewLog()">View log</button>
        </div>
    </div>
</div>
