<div class="page">
    <div class="card mb-0">
        <div class="card-header">
            <div class="card-title">Theme details</div>
        </div>
        <form>
            <div class="card-body">
                @if (!theme.custom) {
                    <div class="alert alert-info rounded mb-3">
                        This is a readonly built-in theme. If you want to adapt this theme you would first need to create a copy.
                    </div>
                }
                <app-theme-form [theme]="theme" [readonly]="!theme.custom" [validation]="validation"/>
            </div>
            <div class="card-footer button-container">
                <div class="btn-toolbar">
                    @if (theme.custom) {
                        <button class="btn btn-secondary" type="button" (click)="save()" [disable]="copyPending || deletePending || savePending" [pending]="savePending">Update</button>
                    } @else if (!theme.active) {
                        <button class="btn btn-secondary" type="button" (click)="activate()" [disable]="copyPending" [pending]="savePending">Activate</button>
                    }
                    <button class="btn btn-secondary" type="button" (click)="copy()" [disable]="copyPending || deletePending || savePending" [pending]="copyPending">Copy</button>
                    <button class="btn btn-secondary" type="button" (click)="back()">Back</button>
                </div>
                @if (theme.custom) {
                    <div class="btn-toolbar btn-toolbar-delete">
                        <button class="btn btn-outline-danger" type="button" (click)="delete()" [disable]="copyPending || deletePending || savePending" [pending]="deletePending">Delete</button>
                    </div>
                }
            </div>
        </form>
    </div>
</div>
