<div class="testSuiteContainer">
    @for (testSuite of testSuites; track testSuite.id) {
        <div class="testSuite" [class.shaded]="shaded" [class.hovering]="hovering[testSuite.id]">
            <div class="testSuiteInfo" (mouseenter)="hovering[testSuite.id] = true" (mouseleave)="hovering[testSuite.id] = false" (click)="onExpand(testSuite)">
                <div><app-collapsing-icon [isCollapsed]="!testSuite.expanded" [asDiv]="true"></app-collapsing-icon></div>
                <div class="testSuiteName">{{testSuite.sname}}</div>
                @if (testSuite.description != undefined && testSuite.description.trim() != '') {
                    <div class="testSuiteDescription">{{testSuite.description}}</div>
                }
                <div class="testSuiteExecution">
                    @if (testSuite.hasDocumentation && showViewDocumentation || showExecute) {
                        <div class="testSuiteControls">
                            <div class="btn-toolbar">
                                @if (testSuite.hasDocumentation && showViewDocumentation) {
                                    <button type="button" class="btn btn-secondary" (click)="showTestSuiteDocumentation(testSuite); $event.stopPropagation();" [icon]="true" [pending]="viewDocumentationPending[testSuite.id]" containerClass="shortTooltip" container="body"  tooltip="Documentation" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-solid fa-info-circle"></i></button>
                                }
                                @if (showExecute) {
                                    <button class="btn btn-primary" (click)="onTestSuiteSelect(testSuite); $event.stopPropagation();" [pending]="testSuite.executionPending" [icon]="true" containerClass="shortTooltip" container="body" tooltip="Run all" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i class="fa-solid fa-play"></i></button>
                                }
                            </div>
                        </div>
                    }
                    <div class="testSuiteResult"><i containerClass="shortTooltip" [tooltip]="dataService.tooltipForTestResult(testSuite.result)" [ngClass]="dataService.iconForTestResult(testSuite.result)"></i></div>
                </div>
            </div>
            <div [collapse]="!testSuite.expanded" [isAnimated]="true">
                <div class="collapsibleTestCaseDiv">
                    <app-test-case-display
                        [testCases]="testSuite.testCases"
                        [testSuiteSpecificationReference]="testSuite"
                        [hasOptional]="testSuite.hasOptionalTestCases"
                        [hasDisabled]="testSuite.hasDisabledTestCases"
                        [showExecute]="showExecute"
                        [showExport]="showExport"
                        [showViewDocumentation]="showViewDocumentation"
                        [shaded]="!shaded"
                        (viewTestSession)="propagateViewTestSession($event)"
                        (execute)="propagateExecuteTestSession($event)"
                    ></app-test-case-display>
                </div>
            </div>
        </div>
    }
</div>
