<div class="page">
    <div class="card">
        <div class="card-header clickable" (click)="configsCollapsed = !configsCollapsed">
            <div class="card-title"><app-collapsing-icon [isCollapsed]="configsCollapsed"></app-collapsing-icon>System configuration</div>
        </div>
        <div [collapse]="configsCollapsed" [isAnimated]="true">
            <div class="configsContainer" [ngSwitch]="configValuesPending">
                <ng-container *ngSwitchCase="true">
                    <div class="pending-container my-3">
                        <div class="pending-icon"><app-pending-block [pending]="true"></app-pending-block></div>
                        <div class="pending-message">Loading system configuration properties...</div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <!-- Inactive account retention period. -->
                    <div class="configContainer" >
                        <app-configuration-entry
                            configTitle="Inactive account retention period"
                            configDescription="Delete user accounts for organisations that have been inactive above a maximum retention period."
                            [(status)]="accountRetentionPeriodStatus"
                        >
                            <form>
                                <div class="row row-cols-auto align-items-center gx-3">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="accountRetentionPeriodEnabled" name="accountRetentionPeriodEnabled" (change)="accountRetentionPeriodCheckChanged()" [(ngModel)]="accountRetentionPeriodEnabled">
                                            <label class="form-check-label" for="accountRetentionPeriodEnabled">Enabled?</label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <label class="sr-only" for="ttlValue">Inactive days before deleting accounts:</label>
                                        <div class="input-group">
                                            <input type="number" min="1" class="form-control" id="accountRetentionPeriodValue" name="accountRetentionPeriodValue" placeholder="Retention period" [disabled]="!accountRetentionPeriodEnabled" [(ngModel)]="accountRetentionPeriodValue">
                                            <div class="input-group-text">days</div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-secondary" [disable]="accountRetentionPeriodEnabled && accountRetentionPeriodValue == undefined" [pending]="accountRetentionPeriodStatus.pending" (click)="saveAccountRetentionPeriod()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </app-configuration-entry>
                    </div>
                    <!-- Welcome page. -->
                    <div class="configContainer">
                        <app-configuration-entry
                            configTitle="Custom welcome page message"
                            configDescription="Display a custom message on the Test Bed's welcome page."
                            [(status)]="welcomePageStatus"
                        >
                            <form>
                                <app-editor id="welcomePageMessage" name="welcomePageMessage" [(ngModel)]="welcomePageMessage" type="normal" [height]="200"></app-editor>
                                <div class="btn-toolbar mt-3">
                                    <button type="submit" class="btn btn-secondary" [disable]="welcomePageResetPending || !textProvided(welcomePageMessage)" [pending]="welcomePageStatus.pending" (click)="saveWelcomePage()">Save</button>
                                    <button type="button" class="btn btn-secondary" [disable]="welcomePageStatus.fromDefault || welcomePageStatus.fromEnv || welcomePageStatus.pending" [pending]="welcomePageResetPending" (click)="resetWelcomePage()">Reset to default</button>
                                </div>
                            </form>
                        </app-configuration-entry>
                    </div>
                    <!-- Demo account. -->
                    <div class="configContainer">
                        <app-configuration-entry
                            configTitle="Demo account"
                            configDescription="Enable access to demos using a configured demo account."
                            [(status)]="demoAccountStatus"
                        >
                            <form>
                                <div class="row row-cols-auto align-items-center gx-3">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="demoAccountEnabled" name="demoAccountEnabled" [(ngModel)]="demoAccountEnabled">
                                            <label class="form-check-label" for="demoAccountEnabled">Enabled?</label>
                                        </div>
                                    </div>
                                    <div class="col-auto" [ngSwitch]="loadCommunitiesPending">
                                        <app-pending-block *ngSwitchCase="true"></app-pending-block>
                                        <ng-container *ngSwitchDefault [ngSwitch]="communities.length == 0">
                                            <div *ngSwitchCase="true" class="no-data-container">No communities available</div>
                                            <select *ngSwitchDefault name="selectedCommunity" [disabled]="!demoAccountEnabled || loadCommunitiesPending || communities.length == 0" [(ngModel)]="selectedCommunity" [compareWith]="sameId" (change)="selectCommunity()" class="form-control form-select demoSelect">
                                                <option *ngFor="let community of communities" [ngValue]="community">{{community.fname}}</option>
                                            </select>
                                        </ng-container>
                                    </div>
                                    <div class="col-auto" *ngIf="selectedCommunity && !loadCommunitiesPending" [ngSwitch]="loadOrganisationsPending">
                                        <app-pending-block *ngSwitchCase="true"></app-pending-block>
                                        <ng-container *ngSwitchDefault [ngSwitch]="organisations.length == 0">
                                            <div *ngSwitchCase="true" class="no-data-container">No organisations available</div>
                                            <select *ngSwitchDefault name="selectedOrganisation" [disabled]="!demoAccountEnabled || loadOrganisationsPending || organisations.length == 0" [(ngModel)]="selectedOrganisation" [compareWith]="sameId" (change)="selectCommunityOrganisation()" class="form-control form-select demoSelect">
                                                <option *ngFor="let organisation of organisations" [ngValue]="organisation">{{organisation.fname}}</option>
                                            </select>
                                        </ng-container>
                                    </div>
                                    <div class="col-auto" *ngIf="selectedOrganisation && !loadCommunitiesPending && !loadOrganisationsPending" [ngSwitch]="loadUsersPending">
                                        <app-pending-block *ngSwitchCase="true"></app-pending-block>
                                        <ng-container *ngSwitchDefault [ngSwitch]="users.length == 0">
                                            <div *ngSwitchCase="true" class="no-data-container">No non-administrator users available</div>
                                            <select *ngSwitchDefault name="demoAccount" [disabled]="!demoAccountEnabled || loadUsersPending || users.length == 0" [(ngModel)]="demoAccount" [compareWith]="sameId" class="form-control form-select demoSelect">
                                                <option *ngFor="let user of users" [ngValue]="user">{{user.name}}</option>
                                            </select>
                                        </ng-container>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-secondary" [disable]="demoAccountEnabled && demoAccount == undefined" [pending]="demoAccountStatus.pending" (click)="saveDemoAccount()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </app-configuration-entry>
                    </div>
                    <!-- REST API. -->
                    <div class="configContainer">
                        <app-configuration-entry
                            configTitle="REST API"
                            configDescription="Allow operations by means of the Test Bed's REST API."
                            [(status)]="restApiStatus"
                        >
                            <form>
                                <div class="row row-cols-auto align-items-center gx-3">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="restApiEnabled" name="restApiEnabled" [(ngModel)]="restApiEnabled">
                                            <label class="form-check-label" for="restApiEnabled">Enabled?</label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-secondary" [pending]="restApiStatus.pending" (click)="saveRestApi()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </app-configuration-entry>
                    </div>
                    <!-- Self-registration. -->
                    <div class="configContainer">
                        <app-configuration-entry
                            configTitle="Self-registration"
                            configDescription="Enable user self-registration for hosted communities."
                            [(status)]="selfRegistrationStatus"
                        >
                            <form>
                                <div class="row row-cols-auto align-items-center gx-3">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="selfRegistrationEnabled" name="selfRegistrationEnabled" [(ngModel)]="selfRegistrationEnabled">
                                            <label class="form-check-label" for="selfRegistrationEnabled">Enabled?</label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-secondary" [pending]="selfRegistrationStatus.pending" (click)="saveSelfRegistration()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </app-configuration-entry>
                    </div>
                    <!-- Idle session timeout. -->
                    <div class="configContainer" >
                        <app-configuration-entry
                            configTitle="Test session timeout"
                            configDescription="Terminate test sessions exceeding a maximum duration."
                            [(status)]="ttlStatus"
                        >
                            <form>
                                <div class="row row-cols-auto align-items-center gx-3">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="ttlEnabled" name="ttlEnabled" (change)="ttlCheckChanged()" [(ngModel)]="ttlEnabled">
                                            <label class="form-check-label" for="ttlEnabled">Enabled?</label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <label class="sr-only" for="ttlValue">Seconds before terminating sessions:</label>
                                        <div class="input-group">
                                            <input type="number" min="1" class="form-control" id="ttlValue" name="ttlValue" placeholder="Timeout" [disabled]="!ttlEnabled" [(ngModel)]="ttlValue">
                                            <div class="input-group-text">seconds</div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-secondary" [disable]="ttlEnabled && ttlValue == undefined" [pending]="ttlStatus.pending" (click)="saveTTL()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </app-configuration-entry>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div>
        <tabset #tabs>
            <tab (selectTab)="showAdministrators()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-user" text="Administrators"></app-tab-title></ng-template>
                <!-- Administrators -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <button type="button" class="btn btn-secondary" (click)="createAdmin()">Create system administrator</button>
                    </div>
                    <div class="card">
                        <div table-directive
                            [columns]="adminColumns"
                            [data]="admins"
                            noDataMessage="No administrators found"
                            [loadingStatus]="adminStatus"
                            [allowSelect]="true"
                            (onSelect)="adminSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="showLandingPages()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-house" text="Default landing pages"></app-tab-title></ng-template>
                <!-- Landing pages -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-secondary" (click)="createLandingPage()">Create landing page</button>
                        </div>
                    </div>
                    <div class="card">
                        <div table-directive
                            [columns]="landingPagesColumns"
                            [data]="landingPages"
                            noDataMessage="No landing pages found"
                            [loadingStatus]="landingPageStatus"
                            [allowSelect]="true"
                            (onSelect)="landingPageSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="showLegalNotices()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-scale-balanced" text="Default legal notices"></app-tab-title></ng-template>
                <!-- Legal notices -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-secondary" (click)="createLegalNotice()">Create legal notice</button>
                        </div>
                    </div>
                    <div class="card">
                        <div table-directive
                            [columns]="legalNoticesColumns"
                            [data]="legalNotices"
                            noDataMessage="No legal notices found"
                            [loadingStatus]="legalNoticeStatus"
                            [allowSelect]="true"
                            (onSelect)="legalNoticeSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="showErrorTemplates()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-bug" text="Default error templates"></app-tab-title></ng-template>
                <!-- error templates -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-secondary" (click)="createErrorTemplate()">Create error template</button>
                        </div>
                    </div>
                    <div class="card">
                        <div table-directive
                            [columns]="errorTemplatesColumns"
                            [data]="errorTemplates"
                            noDataMessage="No error templates found"
                            [loadingStatus]="errorTemplateStatus"
                            [allowSelect]="true"
                            (onSelect)="errorTemplateSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="showThemes()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-palette" text="Themes"></app-tab-title></ng-template>
                <!-- Themes -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-secondary" (click)="createTheme()">Create theme</button>
                        </div>
                    </div>
                    <div class="card">
                        <div table-directive
                            [columns]="themeColumns"
                            [data]="themes"
                            noDataMessage="No themes found"
                            [loadingStatus]="themeStatus"
                            [allowSelect]="true"
                            (onSelect)="themeSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
