.configsContainer {
    margin: 10px;
    .configContainer {
        .form-group {
            margin-right: 10px;
            .demoSelect {
                max-width: 350px;
            }
        }
        margin-top: 10px;
        &:first-child {
            margin-top: 0px;
        }        
    }
    .topMargin {
        margin-top: 10px;
    }
}
.no-data-container {
    opacity: 0.5;
}
::ng-deep {
    .tb-active, .tb-status, .tb-default {
        width: 1px !important;
        text-align: center;
    }
}