.configsContainer {
    margin: 10px;
    .configContainer {
        .form-group {
            margin-right: 10px;
        }
        margin-top: 10px;
        &:first-child {
            margin-top: 0px;
        }        
    }
    .topMargin {
        margin-top: 10px;
    }
}
.pending-container {
    display: flex;
    .pending-message {
        opacity: 0.5;
    }
}