<div class="page">
    <div class="panel panel-default">
        <div class="panel-heading clickable" (click)="configsCollapsed = !configsCollapsed">
            <h4 class="title">System configuration</h4>
        </div>
        <div [collapse]="configsCollapsed" [isAnimated]="true">
            <div class="configsContainer" [ngSwitch]="configValuesPending">
                <ng-container *ngSwitchCase="true">
                    <div class="pending-container">
                        <div class="pending-icon"><app-pending-block [pending]="true"></app-pending-block></div>
                        <div class="pending-message">Loading system configuration properties...</div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <!-- Idle session timeout. -->
                    <div class="configContainer" >
                        <app-configuration-entry
                            configTitle="Test session timeout"
                            configDescription="Terminate test sessions exceeding a maximum duration."
                            [(status)]="ttlStatus"
                        >
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="ttlEnabled" (change)="ttlCheckChanged()" [(ngModel)]="ttlEnabled"> Enabled?
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="ttlValue">Seconds before terminating sessions:</label>
                                    <div class="input-group">
                                        <input type="number" min="1" class="form-control" id="ttlValue" name="ttlValue" placeholder="Timeout" [disabled]="!ttlEnabled" [(ngModel)]="ttlValue">
                                        <div class="input-group-addon">seconds</div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default" [disable]="ttlEnabled && ttlValue == undefined" [pending]="ttlStatus.pending" (click)="saveTTL()">Save</button>
                            </form>
                        </app-configuration-entry>
                    </div>
                    <!-- Self-registration. -->
                    <div class="configContainer">
                        <app-configuration-entry
                            configTitle="Self-registration"
                            configDescription="Enable user self-registration for hosted communities."
                            [(status)]="selfRegistrationStatus"
                        >
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="selfRegistrationEnabled" [(ngModel)]="selfRegistrationEnabled"> Enabled?
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default" [pending]="selfRegistrationStatus.pending" (click)="saveSelfRegistration()">Save</button>
                            </form>
                        </app-configuration-entry>
                    </div>
                    <!-- Demo account. -->
                    <div class="configContainer">
                        <app-configuration-entry
                            configTitle="Demo account"
                            configDescription="Enable access to demos using a configured demo account."
                            [(status)]="demoAccountStatus"
                        >
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="demoAccountEnabled" [(ngModel)]="demoAccountEnabled"> Enabled?
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" [ngSwitch]="loadCommunitiesPending">
                                    <app-pending-block *ngSwitchCase="true"></app-pending-block>
                                    <ng-container *ngSwitchDefault [ngSwitch]="communities.length == 0">
                                        <div *ngSwitchCase="true" class="no-data-container">No communities available</div>
                                        <select *ngSwitchDefault name="selectedCommunity" [disabled]="!demoAccountEnabled || loadCommunitiesPending || communities.length == 0" [(ngModel)]="selectedCommunity" [compareWith]="sameId" (change)="selectCommunity()" class="form-control demoSelect">
                                            <option *ngFor="let community of communities" [ngValue]="community">{{community.fname}}</option>
                                        </select>
                                    </ng-container>
                                </div>
                                <div class="form-group" *ngIf="selectedCommunity && !loadCommunitiesPending" [ngSwitch]="loadOrganisationsPending">
                                    <app-pending-block *ngSwitchCase="true"></app-pending-block>
                                    <ng-container *ngSwitchDefault [ngSwitch]="organisations.length == 0">
                                        <div *ngSwitchCase="true" class="no-data-container">No organisations available</div>
                                        <select *ngSwitchDefault name="selectedOrganisation" [disabled]="!demoAccountEnabled || loadOrganisationsPending || organisations.length == 0" [(ngModel)]="selectedOrganisation" [compareWith]="sameId" (change)="selectCommunityOrganisation()" class="form-control demoSelect">
                                            <option *ngFor="let organisation of organisations" [ngValue]="organisation">{{organisation.fname}}</option>
                                        </select>
                                    </ng-container>
                                </div>
                                <div class="form-group" *ngIf="selectedOrganisation && !loadCommunitiesPending && !loadOrganisationsPending" [ngSwitch]="loadUsersPending">
                                    <app-pending-block *ngSwitchCase="true"></app-pending-block>
                                    <ng-container *ngSwitchDefault [ngSwitch]="users.length == 0">
                                        <div *ngSwitchCase="true" class="no-data-container">No non-administrator users available</div>
                                        <select *ngSwitchDefault name="demoAccount" [disabled]="!demoAccountEnabled || loadUsersPending || users.length == 0" [(ngModel)]="demoAccount" [compareWith]="sameId" class="form-control demoSelect">
                                            <option *ngFor="let user of users" [ngValue]="user">{{user.name}}</option>
                                        </select>
                                    </ng-container>
                                </div>
                                <button type="submit" class="btn btn-default" [disable]="demoAccountEnabled && demoAccount == undefined" [pending]="demoAccountStatus.pending" (click)="saveDemoAccount()">Save</button>
                            </form>
                        </app-configuration-entry>
                    </div>            
                    <!-- REST API. -->
                    <div class="configContainer">
                        <app-configuration-entry
                            configTitle="REST API"
                            configDescription="Allow operations by means of the Test Bed's REST API."
                            [(status)]="restApiStatus"
                        >
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="restApiEnabled" [(ngModel)]="restApiEnabled"> Enabled?
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default" [pending]="restApiStatus.pending" (click)="saveRestApi()">Save</button>
                            </form>
                        </app-configuration-entry>
                    </div>
                    <!-- Welcome page. -->
                    <div class="configContainer">
                        <app-configuration-entry
                            configTitle="Custom welcome page message"
                            configDescription="Display a custom message on the Test Bed's welcome page."
                            [(status)]="welcomePageStatus"
                        >
                            <form class="form-inline">
                                <app-editor id="welcomePageMessage" name="welcomePageMessage" [(ngModel)]="welcomePageMessage" type="normal" [height]="200"></app-editor>
                                <div class="btn-toolbar topMargin">
                                    <button type="submit" class="btn btn-default" [disable]="welcomePageResetPending || !textProvided(welcomePageMessage)" [pending]="welcomePageStatus.pending" (click)="saveWelcomePage()">Save</button>
                                    <button type="button" class="btn btn-default" [disable]="welcomePageStatus.fromDefault || welcomePageStatus.fromEnv || welcomePageStatus.pending" [pending]="welcomePageResetPending" (click)="resetWelcomePage()">Reset to default</button>
                                </div>
                            </form>
                        </app-configuration-entry>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div>
        <tabset #tabs>
            <tab (selectTab)="showAdministrators()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-user" text="Administrators"></app-tab-title></ng-template>
                <!-- Administrators -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <button type="button" class="btn btn-default" (click)="createAdmin()">Create system administrator</button>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="adminColumns"
                            [data]="admins"
                            noDataMessage="No administrators found"
                            [loadingStatus]="adminStatus"
                            [allowSelect]="true"
                            (onSelect)="adminSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="showLandingPages()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-house" text="Default landing pages"></app-tab-title></ng-template>
                <!-- Landing pages -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-default" (click)="createLandingPage()">Create landing page</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="landingPagesColumns"
                            [data]="landingPages"
                            noDataMessage="No landing pages found"
                            [loadingStatus]="landingPageStatus"
                            [allowSelect]="true"
                            (onSelect)="landingPageSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="showLegalNotices()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-scale-balanced" text="Default legal notices"></app-tab-title></ng-template>
                <!-- Legal notices -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-default" (click)="createLegalNotice()">Create legal notice</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="legalNoticesColumns"
                            [data]="legalNotices"
                            noDataMessage="No legal notices found"
                            [loadingStatus]="legalNoticeStatus"
                            [allowSelect]="true"
                            (onSelect)="legalNoticeSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
            <tab (selectTab)="showErrorTemplates()" customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-bug" text="Default error templates"></app-tab-title></ng-template>
                <!-- error templates -->
                <div class="tabPanel">
                    <div class="tabControls">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-default" (click)="createErrorTemplate()">Create error template</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div table-directive
                            [columns]="errorTemplatesColumns"
                            [data]="errorTemplates"
                            noDataMessage="No error templates found"
                            [loadingStatus]="errorTemplateStatus"
                            [allowSelect]="true"
                            (onSelect)="errorTemplateSelect($event)">
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>