@if (disabled) {
    <span class="boundary" ngbTooltip="Disabled test case that cannot be executed and is ignored for the conformance statement's status."><i [class]="Constants.BUTTON_ICON.DISABLED"></i></span>
} @else if (optional) {
    <span class="boundary" ngbTooltip="Optional test case that is ignored for the conformance statement's status."><i [class]="Constants.BUTTON_ICON.OPTIONAL"></i></span>
} @else {
    <span class="boundary" ngbTooltip="Required test case that is counted towards the conformance statement's status."><i [class]="Constants.BUTTON_ICON.REQUIRED"></i></span>
}
