@import '../../../styles/less/_common.less';

.rootDiv {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-wrap: wrap;
}
.boundary {
    display: inline-flex;
    align-items: center;
    justify-content: center;    
    color: @gray;
}