<div class="modal-header">
    <h4>Report generation options</h4>
</div>
<form class="form-horizontal">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-xs-3 control-label" for="choice_report">* Report type:</label>
            <div class="col-xs-8">
                <label class="radio-inline"><input type="radio" [(ngModel)]="choice" name="choice" id="choice_report" [value]="Constants.REPORT_OPTION_CHOICE.REPORT">Conformance statement report</label><br/>
                <label class="radio-inline"><input type="radio" [(ngModel)]="choice" name="choice" id="choice_detailed" [value]="Constants.REPORT_OPTION_CHOICE.DETAILED_REPORT">Conformance statement report (with test case results)</label><br/>
                <label class="radio-inline"><input type="radio" [(ngModel)]="choice" (change)="certificateChoice()" name="choice" id="choice_cert" [value]="Constants.REPORT_OPTION_CHOICE.CERTIFICATE">Conformance certificate</label>
            </div>
        </div>
        <div [collapse]="choice != Constants.REPORT_OPTION_CHOICE.CERTIFICATE" [isAnimated]="true">
            <div class="form-group">
                <label class="col-xs-3 control-label">Title:</label>
                <div class="col-xs-8">
                    <div class="titleFormContainer">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="includeTitle" (change)="includeTitleChanged()" [(ngModel)]="settings.includeTitle"> Included?
                            </label>
                        </div>
                        <div class="titleText">
                            <input id="title" name="title" [(ngModel)]="settings.title" [readonly]="!settings.includeTitle" class="form-control" type="text">
                            <app-tooltip tbTooltip="Specify a specific title to use to override the default."></app-tooltip>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Included sections:</label>
                <div class="col-xs-8">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="details" [(ngModel)]="settings.includeDetails">Details
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="overview" [(ngModel)]="settings.includeTestStatus">Result overview
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="testCases" [(ngModel)]="settings.includeTestCases">Test cases
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="message" [(ngModel)]="settings.includeMessage">Message
                    </label>
                    <label class="checkbox-inline" *ngIf="settings.keystoreDefined">
                        <input type="checkbox" name="signature" [(ngModel)]="settings.includeSignature">Signature
                    </label>
                </div>
            </div>
            <div [collapse]="!settings.includeMessage" [isAnimated]="true">
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="messageContent">Message content:</label>
                    <div class="col-xs-8">
                        <app-editor id="messageContent" name="messageContent" [(ngModel)]="settings.message" [type]="'pdf'" [height]="300"></app-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
        <button class="btn btn-default" type="submit" (click)="generate()" [pending]="exportPending">Generate report</button>
    </div>
</form>