.titleFormContainer {
    display: flex;
    &> div {
        display: flex;
    }
    .titleText {
        width: 100%;
        max-width: 600px;
        input {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}