.checks-container {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    app-service-health-card {
        margin: 5px;
        flex: 1;
    }
}
.status-container {
    margin: 10px 10px 0 10px;
}
