<div class="row mb-3">
    <label class="col-3 col-form-label text-end" for="name">* Name:</label>
    <div class="col-7"><input id="name" name="name" [(ngModel)]="endpoint.name" class="form-control" type="text"></div>
    <div app-tooltip class="col-auto" tbTooltip="A name used to refer to this set of configuration properties. This is displayed when viewing a conformance statement's details."></div>
</div>
<div class="row mb-3">
    <label class="col-3 col-form-label text-end" for="description">Description:</label>
    <div class="col-7">
        <textarea id="description" name="description" [(ngModel)]="endpoint.description" class="form-control"></textarea>
    </div>
    <div app-tooltip class="col-auto" tbTooltip="A descriptive text for the purpose of these configuration properties. This is displayed when viewing a conformance statement's details."></div>
</div>