<div class="modal-header">
	<h4>Add existing actors</h4>
</div>
<div class="modal-body">
	<div table-directive columns="addExistingActorsCtrl.actorTableColumns" data="addExistingActorsCtrl.domainActors" allow-multi-select="true" on-select="addExistingActorsCtrl.onActorSelect" on-deselect="addExistingActorsCtrl.onActorSelect"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="addExistingActorsCtrl.save()">Save</button>
	<button class="btn btn-default" ng-click="addExistingActorsCtrl.cancel()">Cancel</button>
</div>