<div class="modal-header">
		<h4>{{modalTitle}}</h4>
	</div>
	<form class="form-horizontal">
		<div class="modal-body">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="name">* {{nameLabel}}:</label>
				<div class="col-sm-8"><input id="name" ng-model="parameter.name" class="form-control" type="text" required></div>
			</div>
			<div class="form-group" ng-if="hasKey">
				<label class="col-sm-3 control-label" for="key">* Key:</label>
				<div class="col-sm-8"><input id="key" ng-model="parameter.key" class="form-control" type="text" required></div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="description">Description:</label>
				<div class="col-sm-8">
					<textarea id="description" ng-model="parameter.description" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="kind_1">* Value type:</label>
				<div class="col-sm-8">
					<label class="radio-inline"><input type="radio" ng-model="parameter.kind" name="kinds" id="kind_1" value="SIMPLE">Simple</label>
					<label class="radio-inline"><input type="radio" ng-model="parameter.kind" name="kinds" id="kind_2" value="BINARY">Binary</label>
					<label class="radio-inline"><input type="radio" ng-model="parameter.kind" name="kinds" id="kind_3" value="SECRET">Hidden</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">* Properties:</label>
				<div class="col-sm-8">
					<label class="checkbox-inline">
						<input type="checkbox" ng-model="parameter.use" ng-true-value="'R'" ng-false-value="'O'">Required
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" ng-model="parameter.adminOnly" ng-true-value="false" ng-false-value="true">Editable by users
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" ng-model="parameter.notForTests" ng-true-value="false" ng-false-value="true">Included in tests
					</label>
					<label class="checkbox-inline" ng-if="!hideInExport && parameter.kind == 'SIMPLE'">
						<input type="checkbox" ng-model="parameter.inExports">Included in exports
					</label>
					<label class="checkbox-inline" ng-if="!parameter.adminOnly && !hideInRegistration">
						<input type="checkbox" ng-model="parameter.inSelfRegistration">Requested in self-registration
					</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" type="submit" ng-click="createParameter()" ng-disabled="saveDisabled()">Save</button>
			<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</form>		
</div>
