<div class="page domains detail specifications create">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Create specification</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-10 col-md-offset-1" spec-details-form specification="createSpecCtrl.specification"></div>
		</div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-3"></div>
				<div class="col-md-8 btn-toolbar">
					<button class="btn btn-default" type="button" ng-click="createSpecCtrl.createSpecification()" ng-disabled="createSpecCtrl.saveDisabled()">Save</button>
					<button class="btn btn-default" type="button" ng-click="createSpecCtrl.cancel()">Cancel</button>
                </div>
            </div>
        </div>
	</div>
</div>