<div class="page domains detail options create-option">
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="title">Create Endpoint</h4>
				</div>
				<div class="panel-body">
					<div class="col-md-10 col-md-offset-1" endpoint-details-form endpoint="createEndpointCtrl.endpoint" on-submit="createEndpointCtrl.createEndpoint" show-save-button="true" on-cancel="createEndpointCtrl.cancel" show-cancel-button="true" save-disabled="createEndpointCtrl.saveDisabled"></div>
				</div>
			</div>
		</div>
	</div>
</div>
