<div class="page domains detail detail-spec">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{specDetailsCtrl.DataService.labelSpecification()}} details</h4>
		</div>
		<form class="form-horizontal">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10 col-md-offset-1" spec-details-form specification="specDetailsCtrl.specification"></div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-8 btn-toolbar">
						<button ng-click="specDetailsCtrl.saveSpecificationChanges()" type="submit" class="btn btn-default" ng-disabled="specDetailsCtrl.saveDisabled()">Save changes</button>
						<button ng-click="specDetailsCtrl.deleteSpecification()" type="button" class="btn btn-default">Delete</button>
						<button ng-click="specDetailsCtrl.back()" type="button" class="btn btn-default">Back</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Test suites</h4>
			<button class="btn btn-default pull-right" ng-file-select="specDetailsCtrl.onFileSelect($files)" accept="application/zip" onclick="this.value = null" ng-disabled="specDetailsCtrl.uploadPending"><span class="tab" ng-if="specDetailsCtrl.uploadPending"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>Deploy test suite</button>
		</div>
		<div table-directive id="test-suites-table" columns="specDetailsCtrl.testSuiteTableColumns" data="specDetailsCtrl.testSuites" operations-visible="true" on-delete="specDetailsCtrl.onTestSuiteDelete"  on-select="specDetailsCtrl.onTestSuiteDownload"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{specDetailsCtrl.DataService.labelActors()}}</h4>
			<a ui-sref="app.admin.domains.detail.specifications.detail.actors.create" class="btn btn-default pull-right">Create {{specDetailsCtrl.DataService.labelActorLower()}}</a>
		</div>
		<div table-directive columns="specDetailsCtrl.actorTableColumns" data="specDetailsCtrl.actors" on-select="specDetailsCtrl.onActorSelect"></div>
	</div>
</div>