<div class="modal-header">
	<h4>{{modalTitle}}</h4>
</div>
<form class="form-horizontal">
	<div class="modal-body">
			<div class="form-group">
				<label class="col-xs-3 control-label" for="name">* {{nameLabel}}:</label>
				<div class="col-xs-7"><input id="name" ng-model="parameter.name" class="form-control" type="text" autocomplete="off"></div>
				<div ng-if="hasKey" tb-tooltip="This will be displayed as a label for the property in data collection forms."></div>
				<div ng-if="!hasKey" tb-tooltip="An identifier for the parameter within the current endpoint. This is displayed to users in the conformance statement detail screen and used within test cases to refer to the parameter."></div>
			</div>
			<div class="form-group" ng-if="hasKey">
				<label class="col-xs-3 control-label" for="key">* Key:</label>
				<div class="col-xs-7"><input id="key" ng-model="parameter.key" class="form-control" type="text" autocomplete="off"></div>
				<div tb-tooltip="An identifier used to distinguish this property and refer to it from within test cases (if included in tests)."></div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="description">Description:</label>
				<div class="col-xs-7">
					<textarea id="description" ng-model="parameter.desc" class="form-control"></textarea>
				</div>
				<div ng-if="hasKey" tb-tooltip="This text will be included in a tooltip displayed for this property in data collection forms to explain its purpose."></div>
				<div ng-if="!hasKey" tb-tooltip="This is presented to users when requesting a value for this parameter to explain its purpose."></div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="kind_1">* Kind:</label>
				<div class="col-xs-7">
					<label class="radio-inline"><input type="radio" ng-model="parameter.kind" name="kinds" id="kind_1" value="SIMPLE">Simple
						<div tb-inline="true" tb-inline-type="checkLabel" tb-tooltip="A plain text value."></div>
					</label>
					<label class="radio-inline"><input type="radio" ng-model="parameter.kind" name="kinds" id="kind_2" value="BINARY">Binary
						<div tb-inline="true" tb-inline-type="checkLabel" tb-tooltip="A file."></div>
					</label>
					<label class="radio-inline"><input type="radio" ng-model="parameter.kind" name="kinds" id="kind_3" value="SECRET">Secret
						<div tb-inline="true" tb-inline-type="checkLabel" tb-tooltip="A secret text value such as a password."></div>
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label">* Properties:</label>
				<div class="col-xs-8">
					<label class="checkbox-inline">
						<input type="checkbox" ng-model="parameter.use" ng-true-value="'R'" ng-false-value="'O'">Required
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" ng-model="parameter.adminOnly" ng-true-value="false" ng-false-value="true">Editable by users
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" ng-model="parameter.notForTests" ng-true-value="false" ng-false-value="true">Included in tests
					</label>
					<label class="checkbox-inline" ng-if="!hideInExport && parameter.kind == 'SIMPLE'">
						<input type="checkbox" ng-model="parameter.inExports">Included in exports
					</label>
					<label class="checkbox-inline" ng-if="parameter.adminOnly">
						<input type="checkbox" ng-model="parameter.hidden">Hidden
					</label>
					<label class="checkbox-inline" ng-if="!parameter.adminOnly && !hideInRegistration">
						<input type="checkbox" ng-model="parameter.inSelfRegistration">Requested in self-registration
					</label>
				</div>
			</div>
			<div class="form-group" ng-if="dependsOnTargets.length > 0">
				<label class="col-xs-3 control-label" for="depends">Depends on:</label>
				<div class="col-xs-3">
					<select id="depends" class="form-control" ng-model="parameter.dependsOn" ng-change="dependsOnChanged()">
						<option value=""></option>
						<option ng-repeat="v in dependsOnTargets" ng-value="v.key">{{v.name}}</option>
					</select>
				</div>
				<div class="col-xs-4 no-left-padding">
					<div ng-if="parameter.dependsOn && parameter.dependsOn != ''">
						<div ng-if="!dependsOnTargetsMap[parameter.dependsOn].hasPresetValues">
							<input type="text" autocomplete="off" class="form-control" ng-model="parameter.dependsOnValue" placeholder="Property value"/>
						</div>
						<div ng-if="dependsOnTargetsMap[parameter.dependsOn].hasPresetValues">
							<select ng-model="parameter.dependsOnValue" class="form-control">
								<option ng-repeat="v in dependsOnTargetsMap[parameter.dependsOn].presetValues" ng-value="v.value">{{v.label}}</option>
							</select>
						</div>
					</div>
					<div ng-if="!(parameter.dependsOn && parameter.dependsOn != '')">
						<input type="text" autocomplete="off" readonly="readonly" class="form-control" placeholder="Property value"/>
					</div>
				</div>
				<div tb-tooltip="Define another simple property as a prerequisite. To do so select another property and define the value that is must have. If the prerequisite property's value does not match the provided value, then the current property is hidden and never considered as required."></div>
			</div>
			<div uib-collapse="parameter.kind != 'SIMPLE'">
				<div class="form-group">
					<label class="col-xs-3 control-label" for="hasPresetValues">Preset values:</label>
					<div class="col-xs-8">
						<input id="hasPresetValues" type="checkbox" class="form-check" ng-model="parameter.hasPresetValues">
						<div tb-inline="true" tb-tooltip="Check this to define a set of allowed values for this property. The configured values will be displayed in the defined order as a single-selection dropdown list."></div>
					</div>
				</div>
				<div class="form-group" uib-collapse="!parameter.hasPresetValues">
					<div class="col-xs-8 col-xs-offset-3">
						<div class="form-table" ng-show="parameter.presetValues.length > 0">
							<table class="table">
								<thead>
									<th>* Value</th>
									<th>* Label</th>
									<th class="min-width"></th>
									<th class="min-width"></th>
								</thead>
								<tbody>
									<tr ng-repeat="presetValue in parameter.presetValues">
										<td><input ng-attr-id="{{'presetValue-'+$index}}" class="form-control" type="text" autocomplete="off" ng-model="presetValue.value"/></td>
										<td><input class="form-control" type="text" autocomplete="off" ng-model="presetValue.label"/></td>
										<td class="btn-stacked-container">
											<div class="btn-toolbar btn-stacked">
												<button ng-if="!$first" class="btn btn-xs btn-default" type="button" ng-click="movePresetUp($index)"><i class="fa fa-chevron-up"></i></button>
												<button ng-if="!$last" class="btn btn-xs btn-default" type="button" ng-click="movePresetDown($index)"><i class="fa fa-chevron-down"></i></button>
											</div>
										</td>
										<td><button class="btn btn-default" type="button" ng-click="removePresetValue($index)"><i class="fa fa-times"></i></button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-xs-8 col-xs-offset-3">
						<button class="btn btn-default" type="button" ng-click="addPresetValue()"><i class="fa fa-plus"></i></button>					
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-default" ng-click="updateParameter()" ng-disabled="saveDisabled()">Save</button>
			<button type="button" class="btn btn-default" ng-click="deleteParameter()">Delete</button>
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</form>		
</div>
