<div class="page domains detail detail-spec">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Specification details</h4>
			<div class="pull-right">
				<button ng-click="specDetailsCtrl.saveSpecificationChanges()" class="btn btn-default" ng-disabled="specDetailsCtrl.saveDisabled()">Save changes</button>
				<button ng-click="specDetailsCtrl.deleteSpecification()" class="btn btn-default">Delete</button>
				<button ng-click="specDetailsCtrl.back()" class="btn btn-default">Back</button>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-10 col-md-offset-1" spec-details-form specification="specDetailsCtrl.specification"></div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Test suites</h4>
			<button class="btn btn-default pull-right" ng-file-select="specDetailsCtrl.onFileSelect($files)" accept="application/zip" onclick="this.value = null">Deploy test suite</button>
		</div>
		<div table-directive id="test-suites-table" columns="specDetailsCtrl.testSuiteTableColumns" data="specDetailsCtrl.testSuites" operations-visible="true" on-delete="specDetailsCtrl.onTestSuiteDelete"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Actors</h4>
			<a ui-sref="app.admin.domains.detail.specifications.detail.actors.create" class="btn btn-default pull-right">Create actor</a>
		</div>
		<div table-directive columns="specDetailsCtrl.actorTableColumns" data="specDetailsCtrl.actors" on-select="specDetailsCtrl.onActorSelect"></div>
	</div>
</div>