<div class="page domains detail">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{domainDetailsCtrl.DataService.labelDomain()}} details</h4>
		</div>
		<form class="form-horizontal">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10 col-md-offset-1" domain-details-form domain="domainDetailsCtrl.domain">
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-8 btn-toolbar">
						<button type="submit" ng-click="domainDetailsCtrl.saveDomainChanges()" class="btn btn-default" ng-disabled="domainDetailsCtrl.saveDisabled()">Save changes</button>
						<button type="button" ng-click="domainDetailsCtrl.deleteDomain()" class="btn btn-default">Delete</button>
						<button type="button" ng-click="domainDetailsCtrl.back()" class="btn btn-default">Back</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{domainDetailsCtrl.DataService.labelSpecifications()}}</h4>
			<a ui-sref="app.admin.domains.detail.specifications.create" class="btn btn-default pull-right">Create {{domainDetailsCtrl.DataService.labelSpecificationLower()}}</a>
		</div>
		<div table-directive columns="domainDetailsCtrl.tableColumns" data="domainDetailsCtrl.specifications" on-select="domainDetailsCtrl.onSpecificationSelect"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Parameters</h4>
			<a href="" ng-click="domainDetailsCtrl.createDomainParameter()" class="btn btn-default pull-right">Create parameter</a>
		</div>
		<div>
			<table class="table table-directive">
				<thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr class="selectable" ng-click="domainDetailsCtrl.onDomainParameterSelect(parameter)" ng-repeat="parameter in domainDetailsCtrl.domainParameters">
						<td>{{parameter.name}}</td>
						<td ng-if="parameter.kind == 'BINARY'"><a href="" ng-click="domainDetailsCtrl.downloadParameter(parameter); $event.stopPropagation();">{{parameter.valueToShow}}</a></td>
						<td ng-if="parameter.kind != 'BINARY'">{{parameter.valueToShow}}</td>
						<td>{{parameter.description}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>