<div class="page domains detail detail-actor">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{actorDetailsCtrl.DataService.labelActor()}} details</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-10 col-md-offset-1" actor-details-form actor="actorDetailsCtrl.actor"></div>
			</div>
		</div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8 btn-toolbar">
					<button ng-click="actorDetailsCtrl.saveChanges()" class="btn btn-default" ng-disabled="actorDetailsCtrl.saveDisabled()">Save changes</button>
					<button ng-click="actorDetailsCtrl.delete()" class="btn btn-default">Delete</button>
					<button ng-click="actorDetailsCtrl.back()" class="btn btn-default">Back</button>
                </div>
            </div>
        </div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{actorDetailsCtrl.DataService.labelEndpoints()}}</h4>
			<a ui-sref="app.admin.domains.detail.specifications.detail.actors.detail.endpoints.create({id: actorDetailsCtrl.domainId, spec_id: actorDetailsCtrl.specificationId, actor_id: actorDetailsCtrl.actorId})" class="btn btn-default pull-right">Create {{actorDetailsCtrl.DataService.labelEndpointLower()}}</a>
		</div>
		<div table-directive columns="actorDetailsCtrl.endpointTableColumns" data="actorDetailsCtrl.endpointRepresentations" on-select="actorDetailsCtrl.onEndpointSelect"></div>
	</div>
</div>