<div class="page users create">
    <div class="card mb-0">
        <div class="card-header">
            <h4 class="title">Create community</h4>
        </div>
        <form>
            <div class="card-body">
                <!-- Error messages -->
                <app-alert-display [alerts]="alerts" innerClass="col-10 offset-1"></app-alert-display>
                <app-community-form [community]="community" [admin]="true" [domains]="domains"></app-community-form>
            </div>
            <div class="card-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" (click)="createCommunity()" [disable]="saveDisabled()" [pending]="savePending">Save</button>
                    <button class="btn btn-secondary" type="button" (click)="cancelCreateCommunity()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
