<div class="modal-header">
    <div class="modal-title">Link a new role to your account</div>
</div>
<form>
	<div class="modal-body" appFileDropTarget>
		<div class="row pt-1">
			<legend class="col-3 col-form-label text-end pt-0">I want to ...</legend>
			<div class="col-8">
				<div class="form-check pb-2">
					<input class="form-check-input" type="radio" [(ngModel)]="choice" name="choice" id="choice_link" [value]="Constants.CREATE_ACCOUNT_OPTION.LINK" (change)="choiceChanged()">
					<label class="form-check-label" for="choice_link">Confirm a role assigned to me by an administrator</label>
				</div>
				@if (dataService.configuration.registrationEnabled) {
					<div class="form-check pb-2">
						<input class="form-check-input" type="radio" [(ngModel)]="choice" name="choice" id="choice_register" [value]="Constants.CREATE_ACCOUNT_OPTION.SELF_REGISTER" (change)="choiceChanged()">
						<label class="form-check-label" for="choice_register">Register in a public community</label>
					</div>
				}
				@if (dataService.configuration.ssoInMigration) {
					<div class="form-check pb-2">
						<input class="form-check-input" type="radio" [(ngModel)]="choice" name="choice" id="choice_migrate" [value]="Constants.CREATE_ACCOUNT_OPTION.MIGRATE" (change)="choiceChanged()">
						<label class="form-check-label" for="choice_migrate">Migrate an existing legacy account</label>
					</div>
				}
			</div>
		</div>
		@if (choice == Constants.CREATE_ACCOUNT_OPTION.LINK) {
			<div>
				<div class="link-account-separator" [class.mb-0]="linkedAccounts.length == 0">
					<div class="alert alert-info rounded" [class.mb-0]="linkedAccounts.length == 0">
						@if (linkedAccounts.length > 0) {
							<div>
								<p>The following roles have been assigned to you. Select the one you want to confirm and link to your account.</p>
								<span><b>Privacy note:</b> By confirming you grant your consent to record your name, email and user ID.</span>
							</div>
						} @else {
							<span>There are no unconfirmed roles currently assigned to you.</span>
						}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						@for (account of linkedAccounts; track account.id) {
                            <app-account-card [account]="account" [first]="$first" [selected]="selectedAccountId == account.id" (select)="selectAccount($event.id)"></app-account-card>
						}
					</div>
				</div>
			</div>
		}
		@if (dataService.configuration.ssoInMigration && choice == Constants.CREATE_ACCOUNT_OPTION.MIGRATE) {
			<div>
				<div class="link-account-separator">
					<div class="alert alert-info rounded">
						<p>Provide the legacy credentials you have been using previously to authenticate.</p>
						<span><b>Privacy note:</b> By completing this you grant your consent to record your name, email and user ID.</span>
					</div>
				</div>
				<div class="row mt-3">
					<label class="col-3 col-form-label text-end" for="username">* Username:</label>
					<div class="col-7"><input id="username" name="username" [(ngModel)]="email" class="form-control" type="text" [invalid]="validation.get('username')"></div>
					<div app-tooltip class="col-auto" tbTooltip="The username you have been using up to now to log in."></div>
				</div>
				<div class="row mt-3">
					<label class="col-3 col-form-label text-end" for="password">* Password:</label>
					<div class="col-7">
						<app-secret-input inputId="password" inputName="password" name="passwordSecret" [(ngModel)]="password"></app-secret-input>
					</div>
					<div app-tooltip class="col-auto" tbTooltip="The password you have been using up to now."></div>
				</div>
			</div>
		}
		@if (choice == Constants.CREATE_ACCOUNT_OPTION.SELF_REGISTER) {
			<div class="mt-3">
				<app-self-registration [model]="selfRegData" [selfRegOptions]="selfRegOptions" [validation]="validation"></app-self-registration>
			</div>
		}
	</div>
	<div class="modal-footer">
		<div class="btn-toolbar">
			<button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
			<button class="btn btn-secondary" type="submit" (click)="create()" [disable]="!createEnabled()" [pending]="createPending">Complete</button>
		</div>
	</div>
</form>
