<div class="health-card-container" [class.has-subtitle]="info.subtitle" [class.hovering]="hovering" (mouseenter)="hovering = (info.info != undefined)" (mouseleave)="hovering = false" [class.actionable]="info.info != undefined" (click)="showDetails()">
    @if (info.subtitle) {
        <div class="health-card-subtitle"><span>{{info.subtitle}}</span></div>
    }
    <div class="health-card-title"><span>{{info.title}}</span></div>
    <div class="health-card-status"><app-service-health-icon [status]="info.info?.status"></app-service-health-icon></div>
    @if (info.icon) {
        <div class="health-card-icon"><div><i [class]="info.icon"></i></div></div>
    }
    @if (info.info != undefined) {
        <div class="health-card-action"><div><i class="fa-solid fa-magnifying-glass"></i></div></div>
    }
</div>
