/** admin.less */
@import "../_common.less";

.page.admin {
	/*.sidebar {
		position: fixed;
		top: @navigation-height;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		border-right: 1px solid @gray;
	}*/
}