/** dashboard.less */
.page.dashboard {
  .panel-heading {
    .title {
      display: inline-block;
    }
  }
  .dashboard-table-directive {
    .dashboard {
      .operations {
        button {
          margin: 0 4px;
        }
      }
    }
  }
  .pagination a {
    margin: 0 4px;
  }
  form {
    margin: 4px;
  }
}
