.page.domains {
	.panel-heading {
		.title {
			display: inline-block;
		}

		.btn {
			margin: 0 8px;
		}
	}
	.domains-table-directive {
		.domain {
			.operations {
				button {
					margin: 0 4px;
				}
			}
		}
	}
}
