<div class="page settings">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Organisation details</h4>
		</div>
		<div class="panel-body">
            <div class="row col-sm-10 col-sm-offset-1">
                <div uib-alert ng-repeat="alert in oc.alerts" ng-class="'alert-' + alert.type" close="oc.closeAlert($index)">{{alert.msg}}</div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" ng-if="oc.ds.isVendorAdmin || oc.ds.isSystemAdmin || oc.ds.isCommunityAdmin">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="shortName">* Short name:</label>
                            <div class="col-sm-8"><input id="shortName" ng-model="vdata.sname" class="form-control" type="text" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="fullName">* Full name:</label>
                            <div class="col-sm-8"><input id="fullName" ng-model="vdata.fname" class="form-control" type="text" required></div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-10 col-sm-offset-1" ng-if="oc.ds.isVendorUser">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="shortName">Short name:</label>
                            <div class="col-sm-8"><p class="form-control-static">{{oc.ds.vendor.sname}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="fullName">Full name:</label>
                            <div class="col-sm-8"><p class="form-control-static">{{oc.ds.vendor.fname}}</p></div>
                        </div>
                    </form>
                </div>
            </div>
            <div tb-optional-custom-properties-form tb-property-data="oc.propertyData"></div>
        </div>
        <div class="panel-footer" ng-if="oc.ds.isVendorAdmin || oc.ds.isSystemAdmin || oc.ds.isCommunityAdmin">
            <button ng-click="oc.updateVendorProfile()" ng-disabled="oc.saveDisabled()" class="btn btn-default">Save changes</button>
        </div>
    </div>
	<div class="panel panel-default">
		<div class="panel-heading">
            <h4 class="title">Members</h4>
			<button class="btn btn-default pull-right" ng-if="oc.ds.isVendorAdmin" ng-click="oc.openModel()" data-toggle="modal" data-target="#addMemberModal">Add member</button>
        </div>
		<div ng-attr-id="{{oc.ds.isVendorAdmin?'members-table':'members-table-na'}}" table-directive columns="oc.tableColumns" data="oc.users" allowSelect="false" operations-visible="oc.ds.isVendorAdmin" on-delete="oc.deleteMember" delete-visible-for-row="oc.deleteVisible"></div>
    </div>
    <!-- Popup control for adding members to organization -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Member information</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form type="post">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-11 col-centered">
                                        <div uib-alert ng-repeat="alert in oc.modalAlerts" ng-class="'alert-' + alert.type" close="oc.closeModalAlert($index)">{{alert.msg}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-if="!oc.DataService.configuration['sso.enabled']">
                                <div class="form-group">
                                    <div class="col-sm-11 col-centered">
                                        <label>* User name:</label>
                                        <input type="text" class="form-control" ng-model="udata.name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-11 col-centered">
                                        <label>* Email:</label>
                                        <input type="text"  class="form-control" ng-model="udata.email">
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!oc.DataService.configuration['sso.enabled']">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-11 col-centered">
                                            <label>* One-time password:</label>
                                            <input type="password" class="form-control" ng-model="udata.password" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-11 col-centered">
                                            <label>* Confirm one-time password:</label>
                                            <input type="password" class="form-control" ng-model="udata.cpassword" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-11 col-centered">
                                    <div class="form-control-static bg-info div-padded div-rounded">
                                        <p ng-if="oc.DataService.configuration['sso.enabled']">The user's new role assignment will need to be confirmed by the user upon login.</p>
                                        <p style="margin-bottom: 0px;"><b>Privacy note:</b> By clicking 'Save changes' you grant the user's consent on his/her behalf to record the provided information. This is used only for internal identification purposes and is never shared with other parties. <span ng-if="!oc.DataService.configuration['sso.enabled']">Alternatively you may also complete this form with information that is not personally identifiable. </span>Please refer to the legal notice (link available in the screen's footer) for more information.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="margin-top:10px">
                                <input type="submit" value="Save changes" ng-disabled="oc.saveMemberDisabled()" ng-click="oc.checkEmail()" class="btn btn-default" >
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
