<div class="page settings">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{oc.DataService.labelOrganisation()}} details</h4>
		</div>
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row col-sm-10 col-sm-offset-1">
                    <div uib-alert ng-repeat="alert in oc.alerts" ng-class="'alert-' + alert.type" close="oc.closeAlert($index)">{{alert.msg}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" ng-if="oc.ds.isVendorAdmin || oc.ds.isSystemAdmin || oc.ds.isCommunityAdmin">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="shortName">* Short name:</label>
                            <div class="col-sm-7"><input id="shortName" ng-model="vdata.sname" class="form-control" type="text"></div>
                            <div tb-tooltip="A short name for your {{oc.ds.labelOrganisationLower()}} used to refer to it in lists and tables where space is limited."></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="fullName">* Full name:</label>
                            <div class="col-sm-7"><input id="fullName" ng-model="vdata.fname" class="form-control" type="text"></div>
                            <div tb-tooltip="The full name for your {{oc.ds.labelOrganisationLower()}} used to refer to it in reports and detail screens."></div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1" ng-if="oc.ds.isVendorUser">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="shortName">Short name:</label>
                            <div class="col-sm-8"><p class="form-control-static">{{oc.ds.vendor.sname}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="fullName">Full name:</label>
                            <div class="col-sm-8"><p class="form-control-static">{{oc.ds.vendor.fname}}</p></div>
                        </div>
                    </div>
                </div>
                <div tb-optional-custom-properties-form tb-property-data="oc.propertyData" tb-col-input-less="1"></div>
            </div>
            <div class="panel-footer" ng-if="oc.ds.isVendorAdmin || oc.ds.isSystemAdmin || oc.ds.isCommunityAdmin">
                <button type="submit" ng-click="oc.updateVendorProfile()" ng-disabled="oc.saveDisabled()" class="btn btn-default">Save changes</button>
            </div>
        </form>
    </div>
	<div class="panel panel-default">
		<div class="panel-heading">
            <h4 class="title">Members</h4>
			<button type="button" class="btn btn-default pull-right" ng-if="oc.ds.isVendorAdmin" ng-click="oc.popupMemberForm()">Add member</button>
        </div>
		<div ng-attr-id="{{oc.ds.isVendorAdmin?'members-table':'members-table-na'}}" table-directive columns="oc.tableColumns" data="oc.users" allowSelect="false" operations-visible="oc.ds.isVendorAdmin" on-delete="oc.deleteMember" delete-visible-for-row="oc.deleteVisible"></div>
    </div>
</div>
