<div class="page settings">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Change password</h4>
		</div>
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row col-md-10 col-md-offset-1">
                    <div uib-alert ng-repeat="alert in pc.alerts" ng-class="'alert-' + alert.type" close="pc.closeAlert($index)">{{alert.msg}}</div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="current">* Current password:</label>
                            <div class="col-sm-7"><input id="current" ng-model="data.currentPassword" class="form-control" type="password" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="password">* New password:</label>
                            <div class="col-sm-7"><input id="password" ng-model="data.password1" class="form-control" type="password" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="confirm">* Confirm password:</label>
                            <div class="col-sm-7"><input id="confirm" ng-model="data.password2" class="form-control" type="password" required></div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-10 col-md-offset-1" ng-if="pc.DataService.user.onetime">
                    <div class="bg-info div-rounded div-padded">
                        <span>The password you used is a one-time password that needs to be changed upon your first login.</span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button ng-click="pc.updatePassword()" ng-disabled="pc.saveDisabled()" type="submit" class="btn btn-default">Save</button>
                <button ng-click="pc.cancelOneTimePasswordUpdate()" ng-if="pc.DataService.user.onetime" type="button" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
</div>