<div class="page settings">
	<div class="card mb-0">
		<div class="card-header">
			<h4 class="title">Profile</h4>
        </div>
        <form #profileForm="ngForm">
            <div class="card-body">
                <app-alert-display [alerts]="alerts" innerClass="col-10 offset-1"></app-alert-display>
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="row mb-3">
                            <label class="col-2 col-form-label text-end" for="shortName"><span *ngIf="!dataService.configuration.ssoEnabled">* </span>Name:</label>
                            <div class="col-8">
                                <p *ngIf="dataService.configuration.ssoEnabled" class="form-control-plaintext">{{data.name}}</p>
                                <input *ngIf="!dataService.configuration.ssoEnabled" id="name" name="name" type="text" class="form-control" [(ngModel)]="data.name">
                            </div>
                            <div app-tooltip class="col-auto" *ngIf="!dataService.configuration.ssoEnabled" tbTooltip="Your full name. This is used only when listing the members of your {{dataService.labelOrganisationLower()}}."></div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-2 col-form-label text-end" for="fullName">{{dataService.configuration.ssoEnabled?'Email:':'Username:'}}</label>
                            <div class="col-8">
                                <p class="form-control-plaintext">{{data.email}}</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-2 col-form-label text-end" for="fullName">Role:</label>
                            <div class="col-8">
                                <p class="form-control-plaintext">{{data.role}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="alert alert-info rounded mb-0" *ngIf="!dataService.configuration.ssoEnabled">
                            <span><b>Privacy note:</b> By clicking 'Save changes' you grant consent to record the provided information. This is used only for internal identification purposes and is never shared with other parties. Please refer to the legal notice (link available in the screen's footer) for more information.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-toolbar">
                    <button type="submit" class="btn btn-secondary" *ngIf="!dataService.configuration.ssoEnabled" [disable]="saveDisabled()" (click)="updateProfile()" [pending]="spinner">Save changes</button>
                    <button type="button" class="btn btn-secondary" *ngIf="dataService.configuration.ssoEnabled"  (click)="disconnect()">Remove role from your account</button>
                    <button type="button" class="btn btn-secondary" *ngIf="dataService.configuration.ssoEnabled"  (click)="linkOtherRole()">Link another role to your account</button>
                    <button type="button" class="btn btn-secondary" *ngIf="dataService.configuration.registrationEnabled" (click)="register()">Register another {{dataService.labelOrganisationLower()}}</button>
                </div>
            </div>
        </form>
    </div>
</div>