<div class="page domains detail detail-actor">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{dataService.labelActor()}} details</h4>
		</div>
		<form class="form-horizontal">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
                        <app-actor-form [actor]="actor"></app-actor-form>
                    </div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-8 btn-toolbar">
						<button (click)="saveChanges()" type="submit" class="btn btn-default" [disable]="saveDisabled()" [pending]="savePending">Save changes</button>
						<button (click)="delete()" type="button" class="btn btn-default" [pending]="deletePending">Delete</button>
						<button (click)="back()" type="button" class="btn btn-default">Back</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{dataService.labelEndpoints()}}</h4>
			<a [routerLink]="['endpoints', 'create']" class="btn btn-default pull-right">Create {{dataService.labelEndpointLower()}}</a>
		</div>
		<div table-directive 
			[columns]="endpointTableColumns"
			[data]="endpointRepresentations"
			[noDataMessage]="'No '+dataService.labelEndpointsLower()+' found'"
			[loadingStatus]="dataStatus" 
			[allowSelect]="true"
			(onSelect)="onEndpointSelect($event)">
		</div>
	</div>
</div>