<div class="page domains detail detail-actor">
	<div class="card">
		<div class="card-header">
			<div class="card-title">{{dataService.labelActor()}} details</div>
		</div>
		<form>
			<div class="card-body" [pending]="!loaded" focus="id">
				<app-actor-form [actor]="actor"></app-actor-form>
			</div>
			<div class="card-footer button-container">
				<div class="btn-toolbar">
					<button (click)="saveChanges()" type="submit" class="btn btn-secondary" [disable]="saveDisabled()" [pending]="savePending">Save changes</button>
					<button (click)="back()" type="button" class="btn btn-secondary">Back</button>
				</div>
				<div class="btn-toolbar btn-toolbar-delete">
					<button (click)="delete()" type="button" class="btn btn-outline-danger" [pending]="deletePending" [disable]="!loaded">Delete</button>
				</div>
			</div>
		</form>
	</div>
	<div>
		<tabset>
			<tab customClass="tabClass">
        <ng-template tabHeading><app-tab-title icon="fa-solid fa-gear" text="Configuration parameters"></app-tab-title></ng-template>
				<div class="tabPanel">
					@if (dataStatus.status != Constants.STATUS.FINISHED) {
						<app-pending-block></app-pending-block>
					} @else {
						@if (endpoints.length == 0) {
							<app-endpoint-parameter-tab-content
								[actorId]="actorId"
								[parametersLoaded]="parametersLoaded"
								[manageEndpoints]="true"
								(createEndpoint)="createEndpoint()"></app-endpoint-parameter-tab-content>
						} @else if (endpoints.length == 1) {
							<app-endpoint-parameter-tab-content
								[actorId]="actorId"
								[endpointId]="endpoints[0].id"
								[parametersLoaded]="parametersLoaded"
								[manageEndpoints]="true"
								(createEndpoint)="createEndpoint()"></app-endpoint-parameter-tab-content>
						} @else {
							<div class="tabControls">
                                <div class="btn-toolbar">
                                    <button type="button" class="btn btn-secondary" (click)="createEndpoint()">Create {{dataService.labelEndpointLower()}}</button>
                                </div>
							</div>
							<div class="card">
								<div table-directive
									[columns]="endpointTableColumns"
									[data]="endpointRepresentations"
									[noDataMessage]="'No '+dataService.labelEndpointsLower()+' found'"
									[loadingStatus]="dataStatus"
									[allowSelect]="true"
									(onSelect)="onEndpointSelect($event)">
								</div>
							</div>
						}
					}
				</div>
			</tab>
		</tabset>
	</div>
</div>
