<div class="page domains detail detail-actor">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">{{dataService.labelActor()}} details</h4>
		</div>
		<form class="form-horizontal">
			<div class="panel-body">
				<app-actor-form [actor]="actor"></app-actor-form>
			</div>
			<div class="panel-footer button-container">
				<div class="btn-toolbar">
					<button (click)="saveChanges()" type="submit" class="btn btn-default" [disable]="saveDisabled()" [pending]="savePending">Save changes</button>
					<button (click)="back()" type="button" class="btn btn-default">Back</button>
				</div>
				<div class="btn-toolbar btn-toolbar-delete">
					<button (click)="delete()" type="button" class="btn btn-default btn-delete" [pending]="deletePending">Delete</button>
				</div>
			</div>
		</form>
	</div>
	<div>
		<tabset>
			<tab customClass="tabClass">
                <ng-template tabHeading><app-tab-title icon="fa-solid fa-gear" [text]="dataService.labelEndpoints()"></app-tab-title></ng-template>
				<div class="tabPanel">
					<div class="tabControls">
						<button type="button" class="btn btn-default" (click)="createEndpoint()">Create {{dataService.labelEndpointLower()}}</button>
					</div>
					<div class="panel panel-default">
						<div table-directive 
							[columns]="endpointTableColumns"
							[data]="endpointRepresentations"
							[noDataMessage]="'No '+dataService.labelEndpointsLower()+' found'"
							[loadingStatus]="dataStatus" 
							[allowSelect]="true"
							(onSelect)="onEndpointSelect($event)">
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>