<app-checkbox-option-panel #optionButton
                           label="Options"
                           [icon]="Constants.BUTTON_ICON.ACTIONS"
                           placement="left"
                           [optionProvider]="loadAvailableOptionsFactory()"
                           [singleSelection]="true"
                           [pending]="pending == true"
                           [smallButton]="inTable == true"
                           (updated)="handleOption($event)"
                           (opening)="optionsOpening()"></app-checkbox-option-panel>
