<div class="page users detail">
    <div class="card mb-0">
        <div class="card-header">
            <div class="card-title">{{dataService.labelSystem()}} details</div>
        </div>
        <form (ngSubmit)="update()">
            <div class="card-body" [pending]="!loaded" focus="sname">
                <app-system-form
                    [system]="system"
                    [communityId]="communityId"
                    [organisationId]="organisationId"
                    [propertyData]="propertyData"
                    [showAdminInfo]="fromCommunityManagement"
                    [readonly]="readonly"
                ></app-system-form>
            </div>
            <div class="card-footer button-container">
                <div class="btn-toolbar">
                    @if (!readonly) {
                        <button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.SAVE" type="submit" [disable]="!saveEnabled()" [pending]="savePending">Update</button>
                    }
                    <button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.MANAGE_TESTS"  type="button" (click)="manageSystemTests()">Manage tests</button>
                    <button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.BACK" type="button" (click)="cancel()">Back</button>
                </div>
                @if (showDelete) {
                    <div class="btn-toolbar btn-toolbar-delete">
                        <button class="btn btn-outline-danger" [labelIcon]="Constants.BUTTON_ICON.DELETE" type="button" (click)="delete()" [disable]="!loaded || savePending" [pending]="deletePending">Delete</button>
                    </div>
                }
            </div>
        </form>
    </div>
</div>
