<div [ngClass]="{'inline-tooltip': inline}" [class.withMargin]="withMargin">
    <div [ngClass]="{'form-control-static': (!inline || inlineType == 'button'), 'checkLabel': (inline && inlineType == 'checkLabel'), 'checkLabelText': (inline && inlineType == 'checkLabelText'), 'check': (inline && inlineType == 'check'), 'radio': (inline && inlineType == 'radio')}">
        <span [tooltip]="tbTooltip" [containerClass]="'tooltipContainer'" [boundariesElement]="boundariesElement"><i class="fa-solid fa-question-circle"></i></span>
    </div>
</div>
