@import '../../../styles/less/_common.less';

.ref-container {
    margin-top: 15px;
    margin-bottom: 5px;
    &.with-border {
        margin-top: 10px;        
        margin-bottom: inherit;
        border-top: 1px solid @gray-dark-1;
        padding-top: 10px;
    }
    .ref-reference {
        font-weight: bold;
    }
}

.spec-container {
    margin-top: 10px;
    .spec-reference-container {
        border: 1px solid @gray-dark-1;
        padding: 5px;
        border-radius: @border-radius;
        font-weight: bold;
    }
}