@import '../../../styles/less/_common.less';

.ref-container {
    margin-top: 15px;
    margin-bottom: 5px;
    &.with-border {
        margin-top: 10px;
        margin-bottom: inherit;
        border-top: 1px dashed @gray-dark-1;
        padding-top: 10px;
    }
    .ref-reference {
        font-weight: bold;
    }
}
