<div class="page settings">
	<div class="card no-bottom-margin">
		<div class="card-header">
			<h4 class="title">Change password</h4>
		</div>
        <form>
            <div class="card-body">
                <app-alert-display [alerts]="alerts" innerClass="col-10 offset-1"></app-alert-display>
                <div class="row" app-change-password-form [model]="passwordChangeData" [autoFocus]="true"></div>
            </div>
            <div class="card-footer">
                <button (click)="replacePassword()" [disable]="saveDisabled()" type="submit" class="btn btn-secondary" [pending]="spinner">Save</button>
            </div>
        </form>
    </div>
</div>