<div class="page settings">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Change password</h4>
		</div>
        <form class="form-horizontal">
            <div class="panel-body">
                <app-alert-display [alerts]="alerts" innerClass="col-md-10 col-md-offset-1"></app-alert-display>
                <div class="row">
                    <app-change-password-form [model]="passwordChangeData"></app-change-password-form>
                </div>
            </div>
            <div class="panel-footer">
                <button (click)="replacePassword()" [disable]="saveDisabled()" type="submit" class="btn btn-default" [pending]="spinner">Save</button>
            </div>
        </form>
    </div>
</div>