<div class="page domains detail specifications create">
	<div class="card mb-0">
		<div class="card-header">
			<h4 class="title">Create {{dataService.labelSpecificationLower()}}</h4>
		</div>
		<form>
			<div class="card-body">
				<app-specification-form [specification]="specification"></app-specification-form>
			</div>
			<div class="card-footer">
				<div class="btn-toolbar">
					<button class="btn btn-secondary" type="submit" (click)="createSpecification()" [disable]="saveDisabled()" [pending]="pending">Save</button>
					<button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>