<div class="modal-header">
    <div class="modal-title">Signature settings</div>
</div>
<form>
    <div class="modal-body" appFileDropTarget>
        <app-alert-display [alerts]="alerts" innerClass="col-12"></app-alert-display>
        <div class="row">
            <legend class="col-3 col-form-label text-end">* Keystore:</legend>
            <div class="col-8">
                <app-file-select
                    [fileName]="getKeystoreName()"
                    (onUpload)="uploadKeystore($event)"
                    placeholder="Drop or browse for keystore ..."></app-file-select>
            </div>
            <div app-tooltip class="col-auto" tbTooltip="The keystore file that includes the keypair (private and public key) that will be used for report signatures. The keystore should contain a single keypair."></div>
        </div>
        <div class="row mt-3">
            <legend class="col-3 col-form-label text-end pt-0">* Keystore type:</legend>
            <div class="col-8">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [(ngModel)]="settings.keystoreType" name="keystoreTypes" id="type_1" [value]="'JCEKS'">
                    <label class="form-check-label" for="type_1">JCEKS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [(ngModel)]="settings.keystoreType" name="keystoreTypes" id="type_2" [value]="'JKS'">
                    <label class="form-check-label" for="type_2">JKS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [(ngModel)]="settings.keystoreType" name="keystoreTypes" id="type_3" [value]="'PKCS12'">
                    <label class="form-check-label" for="type_3">PKCS #12</label>
                </div>
            </div>
        </div>
        @if (keystoreExists) {
            <div class="row mt-3">
                <label class="col-3 col-form-label text-end pt-0" for="change-passwords">Change passwords?</label>
                <div class="col-8">
                    <div class="form-check">
                        <input class="form-check-input" id="change-passwords" name="change-passwords" [(ngModel)]="updatePasswords" type="checkbox"/>
                    </div>
                </div>
            </div>
        }
        <div [collapse]="!updatePasswords" [isAnimated]="true">
            <div class="row mt-3">
                <label class="col-3 col-form-label text-end" for="keystorePassword">* Keystore password:</label>
                <div class="col-8">
                    <app-secret-input id="keystorePassword" name="keystorePassword" [(ngModel)]="settings.keystorePassword"></app-secret-input>
                </div>
                <div app-tooltip class="col-auto" tbTooltip="The password to open the keystore."></div>
            </div>
            <div class="row mt-3">
                <label class="col-3 col-form-label text-end" for="keyPassword">* Key password:</label>
                <div class="col-8">
                    <app-secret-input id="keyPassword" name="keyPassword" [(ngModel)]="settings.keyPassword"></app-secret-input>
                </div>
                <div app-tooltip class="col-auto" tbTooltip="The password to unlock the key used for signing."></div>
            </div>
        </div>
    </div>
    <div class="modal-footer button-container">
        @if (keystoreExists) {
            <div class="btn-toolbar btn-toolbar-delete">
                <button class="btn btn-outline-danger" type="button" (click)="deleteKeystore()" [disable]="savePending || downloadPending || testPending" [pending]="deletePending">Delete</button>
            </div>
        }
        <div class="btn-toolbar">
            <button class="btn btn-secondary" type="button" (click)="close()">Close</button>
            <button class="btn btn-secondary" type="submit" (click)="downloadKeystore()" [disable]="deletePending || savePending || testPending || !keystoreDefined" [pending]="downloadPending">Download</button>
            <button class="btn btn-secondary" type="button" (click)="testKeystore()" [disable]="deletePending || savePending || downloadPending || !keystoreSettingsOk()" [pending]="testPending">Test settings</button>
            <button class="btn btn-secondary" type="submit" (click)="save()" [disable]="deletePending || downloadPending || testPending || !keystoreSettingsOk()" [pending]="savePending">Save</button>
        </div>
    </div>
</form>
