<ng-container *ngIf="!filtering || item.filtered">
    <ng-container [ngSwitch]="hideSelf">
        <ng-container *ngSwitchCase="true">
            <app-conformance-statement-items-display *ngIf="item.items" [items]="item.items" [wrapDescriptions]="wrapDescriptions" [expandable]="expandable" [filtering]="filtering" [shade]="!shade" [animated]="animated" [withCheck]="withCheck" [withResults]="withResults" (selectionChanged)="childSelectionChanged($event)"></app-conformance-statement-items-display>        
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div class="item-container" [class.shade]="shade">
                <div class="item-header" (click)="clickHeader();$event.stopPropagation()" [class.actionable]="expandable || withCheck" [class.wrapDescriptions]="wrapDescriptions">
                    <div class="item-header-title">
                        <div class="item-icon" *ngIf="expandable && hasChildren && !allChildrenHidden"><app-collapsing-icon [isCollapsed]="item.collapsed!" [asDiv]="true"></app-collapsing-icon></div>
                        <div class="item-check" *ngIf="showCheck"><input type="checkbox" name="itemCheck" [(ngModel)]="item.checked" (ngModelChange)="updateChecked()"></div>
                        <div class="item-name">{{item.name}}</div>
                    </div>
                    <div class="item-description" *ngIf="item.description">{{item.description}}</div>
                    <div class="item-results" *ngIf="showResults">
                        <app-tag *ngIf="updateTime" label="fa-solid fa-clock" [icon]="true" tooltipText="Last update time" [value]="updateTime"></app-tag>
                        <ng-container *ngIf="counters">
                            <div class="item-counters">
                                <app-test-status-icons [counters]="counters" [asLine]="true"></app-test-status-icons>
                            </div>
                            <div class="item-ratios">
                                <app-test-result-ratio [counters]="counters" [asLine]="true"></app-test-result-ratio>
                            </div>
                        </ng-container>
                        <div class="item-status" *ngIf="status"><i containerClass="shortTooltip" [tooltip]="dataService.tooltipForTestResult(status)" [ngClass]="dataService.iconForTestResult(status)"></i></div>
                    </div>
                </div>
                <ng-container *ngIf="item.items && item.items.length > 0">
                    <div class="item-content" [collapse]="item.collapsed!" [isAnimated]="expandable && animated" (expanded)="expanded()" (collapsed)="collapsed()">    
                        <app-conformance-statement-items-display [items]="item.items" [wrapDescriptions]="wrapDescriptions" [expandable]="expandable" [filtering]="filtering" [shade]="!shade" [animated]="animated" [withCheck]="withCheck" [withResults]="withResults" (selectionChanged)="childSelectionChanged($event)"></app-conformance-statement-items-display>        
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</ng-container>