@if ((key == undefined || key.length == 0) && !editing) {
    @if (supportCreate) {
        <button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.NEW" (click)="doCreate()" [pending]="createPending">{{createLabel}}</button>
    }
} @else {
    <div class="input-group">
        @if (label) {
            <span class="input-group-text">{{label}}</span>
        }
        @if (editing) {
            <input #tempKeyField [name]="name" [attr.id]="idName" [(ngModel)]="keyTemp" class="form-control" [style.width]="inputWidth">
        } @else {
            <input [name]="name" [attr.id]="idName" [(ngModel)]="key" class="form-control" readonly="readonly" [style.width]="inputWidth">
        }
        @if (supportEdit) {
            @if (editing) {
                <button class="btn btn-secondary" type="button" (click)="editConfirm()" [disabled]="key == undefined || key.length == 0" containerClass="shortTooltip" container="body" tooltip="Confirm" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'">
                    <i class="fa-solid fa-check" aria-hidden="true"></i>
                </button>
                <button class="btn btn-secondary" type="button" (click)="editCancel()" containerClass="shortTooltip" container="body" tooltip="Cancel" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'">
                    <i class="fa-solid fa-xmark" aria-hidden="true"></i>
                </button>
            } @else {
                <button class="btn btn-secondary" type="button" (click)="editStart()" [disabled]="updatePending || deletePending" containerClass="shortTooltip" container="body" tooltip="Edit" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'">
                    <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                </button>
            }
        }
        @if (!editing) {
            @if (supportUpdate) {
                <button class="btn btn-secondary" type="button" (click)="doUpdate()" [disabled]="updatePending || deletePending" containerClass="shortTooltip" container="body" tooltip="Reset" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'">
                    <i class="fa-solid fa-refresh" aria-hidden="true"></i>
                </button>
            }
            @if (supportDelete) {
                <button class="btn btn-secondary" type="button" (click)="doDelete()" [disabled]="updatePending || deletePending" containerClass="shortTooltip" container="body" tooltip="Delete" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'">
                    <i class="fa-solid fa-trash" aria-hidden="true"></i>
                </button>
            }
            @if (supportCopy) {
                <button class="btn btn-secondary" type="button" (click)="copy()" [disabled]="updatePending || deletePending" containerClass="shortTooltip" container="body" tooltip="Copy" [delay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'">
                    <i class="fa-solid fa-clipboard" aria-hidden="true"></i>
                </button>
            }
        }
    </div>
}
