<div class="row">
    <div class="col-10 offset-1">
        <div class="mb-3 row">
            <label class="col-3 col-form-label text-end" for="sname">* Short name:</label>
            <div class="col-7"><input id="sname" name="sname" [(ngModel)]="community.sname" class="form-control" type="text"></div>
             <div class="col-auto" app-tooltip tbTooltip="A short name used to refer to the community in selection lists and tabular displays where space is limited. If self-registration is enabled this is also displayed as the community's name along with its description."></div>
        </div>
        <div class="mb-3 row">
            <label class="col-3 col-form-label text-end" for="fname">* Full name:</label>
            <div class="col-7"><input id="fname" name="fname" [(ngModel)]="community.fname" class="form-control" type="text"></div>
             <div class="col-auto" app-tooltip tbTooltip="The full name used to refer to the community in reports and detail screens."></div>
        </div>
        <div class="mb-3 row" *ngIf="admin">
            <label class="col-3 col-form-label text-end" for="domainChoice">{{dataService.labelDomain()}}:</label>
            <div class="col-7">
                <select id="domainChoice" class="form-control form-select" name="domain" (change)="domainChanged()" [(ngModel)]="community.domainId">
                    <option [ngValue]="undefined">--Optional--</option>
                    <option *ngFor="let domain of domains" [ngValue]="domain.id">{{domain.sname}}</option>
                </select>
            </div>
             <div class="col-auto" app-tooltip [tbTooltip]="'The linked '+dataService.labelDomainLower()+' determines the '+dataService.labelSpecificationsLower()+' that will be made available for testing to the community\'s members.'"></div>
        </div>
        <div class="mb-3 row">
            <label class="col-3 col-form-label text-end" for="email">Support email:</label>
            <div class="col-7"><input id="email" name="email" [(ngModel)]="community.email" class="form-control" type="text"></div>
             <div class="col-auto" app-tooltip tbTooltip="This email address is used to receive contact form submissions (if supported) from community members and other notifications."></div>
        </div>
        <div class="mb-3 row" *ngIf="dataService.configuration.automationApiEnabled && community.id != undefined">
            <label class="col-3 col-form-label text-end" for="apiKey">API key:</label>
            <div class="col-7">
                <app-api-key-text id="apiKey" name="apiKey" [key]="community.apiKey!"></app-api-key-text>
            </div>
             <div class="col-auto" app-tooltip [tbTooltip]="'The key to use when calling the Test Bed\'s REST API to identify the community.'"></div>
        </div>
        <div *ngIf="selfRegEnabled" class="mb-3 row">
            <label class="col-3 col-form-label text-end" for="selfRegType">* Self-registration method:</label>
            <div class="col-7">
                <select id="selfRegType" name="selfRegType" class="form-control form-select" (ngModelChange)="selfRegTypeChanged($event)" [(ngModel)]="community.selfRegType">
                    <option *ngFor="let type of selfRegTypes" [ngValue]="type.id">{{type.label}}</option>
                </select>
            </div>
             <div class="col-auto" app-tooltip tbTooltip="This option determines whether users are allowed to self-register as new community members. Disabling self-registration means that new members can only be added by an administrator."></div>
        </div>
    </div>
</div>
<div *ngIf="selfRegEnabled" [collapse]="!selfRegOptionsVisible" [isAnimated]="true">
    <div class="row">
        <div class="col-12">
            <div class="form-separator expandable" (click)="selfRegOptionsCollapsed = !selfRegOptionsCollapsed">
                <div><h4 class="title"><app-collapsing-icon [isCollapsed]="selfRegOptionsCollapsed"></app-collapsing-icon>Self-registration settings</h4></div>
            </div>
        </div>
    </div>
    <div [collapse]="selfRegOptionsCollapsed" [isAnimated]="true">
        <div class="row">
            <div class="col-10 offset-1">
                <div *ngIf="community.selfRegType == Constants.SELF_REGISTRATION_TYPE.PUBLIC_LISTING_WITH_TOKEN">
                    <div class="mb-3 row">
                        <label class="col-3 col-form-label text-end" for="selfRegToken">* Self-registration token:</label>
                        <div class="col-7"><input id="selfRegToken" name="selfRegToken" [(ngModel)]="community.selfRegToken" class="form-control" type="text"></div>
                         <div class="col-auto" app-tooltip tbTooltip="This serves as a password for new users to provide during self-registration so that the community is not fully public. Ensure your community members are aware of this or that you provide a support email for relevant requests."></div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-3 col-form-label text-end" for="selfRegTokenHelpText">Token help text:</label>
                        <div class="col-7">
                            <app-editor id="selfRegTokenHelpText" name="selfRegTokenHelpText" [(ngModel)]="community.selfRegTokenHelpText" type="line"></app-editor>
                        </div>
                         <div class="col-auto" app-tooltip tbTooltip="A short explanatory text to instruct users on how the token is to be retrieved (e.g. pointer to a link or email address). This is displayed in the self-registration form next to the token input."></div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-3 col-form-label text-end pt-0" for="description">Community description:</label>
                    <div class="col-7">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="descriptionCheckChanged()" [disabled]="community.domain == undefined" id="descriptionCheck" name="descriptionCheck" [(ngModel)]="community.sameDescriptionAsDomain">
                            <label class="form-check-label" for="descriptionCheck">Same as {{dataService.labelDomainLower()}}</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="offset-3 col-7">
                        <textarea id="description" name="description" [(ngModel)]="community.activeDescription" class="form-control" [readonly]="community.sameDescriptionAsDomain" (blur)="setSameDescription()"></textarea>
                    </div>
                     <div class="col-auto" app-tooltip tbTooltip="This description will be displayed in the self-registration screen to explain to prospective members the community's context and purpose."></div>
                </div>
                <div class="mb-3 row" *ngIf="emailEnabled">
                    <label class="col-3 col-form-label text-end pt-0" for="selfRegNotification">Self-registration notifications:</label>
                    <div class="col-7">
                        <div class="form-check">
                            <input class="form-check-input" id="selfRegNotification" name="selfRegNotification" [(ngModel)]="community.selfRegNotification" type="checkbox">
                            <div class="col-auto d-inline-flex" app-tooltip [inline]="true" tbTooltip="Check this if you want new self-registrations to send a notification email to the configured support mailbox."></div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row" *ngIf="ssoEnabled">
                    <label class="col-3 col-form-label text-end" for="selfRegRestriction">* Self-registration restrictions:</label>
                    <div class="col-7">
                        <select id="selfRegRestriction" name="selfRegRestriction" class="form-control form-select" [(ngModel)]="community.selfRegRestriction">
                            <option *ngFor="let type of selfRegRestrictions" [ngValue]="type.id">{{type.label}}</option>
                        </select>
                    </div>
                     <div class="col-auto" app-tooltip tbTooltip="Use this option to restrict multiple registrations to the community. Restrictions are applied considering the email address of the user that is in the process of self-registering."></div>
                </div>
                <div class="mb-3 row">
                    <legend class="col-3 col-form-label text-end pt-0" for="selfRegForceTemplateSelection">Require from users:</legend>
                    <div class="col-7">
                        <div class="form-check pb-2">
                            <input class="form-check-input" type="checkbox" id="selfRegForceTemplateSelection" name="selfRegForceTemplateSelection" [(ngModel)]="community.selfRegForceTemplateSelection">Select one of the defined configuration templates
                            <label class="form-check-label" for="selfRegForceTemplateSelection">
                                 <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" tbTooltip="Check this to force users to select a configuration template when registering. This option applies only if configuration templates are defined."></div>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="selfRegForceRequiredProperties" name="selfRegForceRequiredProperties" [(ngModel)]="community.selfRegForceRequiredProperties">Complete custom properties defined as required
                            <label class="form-check-label" for="selfRegForceRequiredProperties">
                                 <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" [tbTooltip]="'Check this to force users to complete required custom '+dataService.labelOrganisationLower()+' properties on the self-registration screen. This option applies only if such properties are defined.'"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-separator expandable" (click)="userPermissionsCollapsed = !userPermissionsCollapsed">
            <div><h4 class="title"><app-collapsing-icon [isCollapsed]="userPermissionsCollapsed"></app-collapsing-icon>User permissions</h4></div>
        </div>
    </div>
</div>
<div [collapse]="userPermissionsCollapsed" [isAnimated]="true">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="mb-3 row">
                <legend class="col-3 col-form-label text-end pt-0">{{dataService.labelOrganisation()}} users may:</legend>
                <div class="col-7">
                    <div class="form-check pb-2">
                        <input class="form-check-input" type="checkbox" id="allowCertificateDownload" name="allowCertificateDownload" [(ngModel)]="community.allowCertificateDownload">
                        <label class="form-check-label" for="allowCertificateDownload">Download conformance certificates
                             <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" [tbTooltip]="'Check this to allow '+dataService.labelOrganisationLower()+' users to download a conformance certificate if they have successfully passed their tests. Otherwise only community administrators may create and share such certificates.'"></div>
                        </label>
                    </div>
                    <div class="form-check pb-2">
                        <input class="form-check-input" type="checkbox" id="allowSystemManagement" name="allowSystemManagement" [(ngModel)]="community.allowSystemManagement">
                        <label class="form-check-label" for="allowSystemManagement">Create or delete {{dataService.labelSystemsLower()}}
                             <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" [tbTooltip]="'Check this to allow '+dataService.labelOrganisationLower()+' administrators to create and delete '+dataService.labelSystemsLower()+' (editing an existing '+dataService.labelSystemLower()+' is always possible). You may want to restrict this if you predefine fully the setup for your users, either through community administrator actions or via self-registration templates.'"></div>
                        </label>
                    </div>
                    <div class="form-check pb-2">
                        <input class="form-check-input" type="checkbox" id="allowStatementManagement" name="allowStatementManagement" [(ngModel)]="community.allowStatementManagement">
                        <label class="form-check-label" for="allowStatementManagement">Create or delete conformance statements
                             <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" [tbTooltip]="'Check this to allow '+dataService.labelOrganisationLower()+' administrators to create and delete conformance statements. You may want to restrict this if you predefine fully the setup for your users, either through community administrator actions or via self-registration templates.'"></div>
                        </label>
                    </div>
                    <div class="form-check pb-2">
                        <input class="form-check-input" type="checkbox" id="allowPostTestOrganisationUpdates" name="allowPostTestOrganisationUpdates" [(ngModel)]="community.allowPostTestOrganisationUpdates">
                        <label class="form-check-label" for="allowPostTestOrganisationUpdates">Update {{dataService.labelOrganisationLower()}} data after testing
                             <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" [tbTooltip]="'Check this to allow '+dataService.labelOrganisationLower()+' users to update '+dataService.labelOrganisationLower()+' data and custom properties once tests have been recorded.'"></div>
                        </label>
                    </div>
                    <div class="form-check pb-2">
                        <input class="form-check-input" type="checkbox" id="allowPostTestSystemUpdates" name="allowPostTestSystemUpdates" [(ngModel)]="community.allowPostTestSystemUpdates">
                        <label class="form-check-label" for="allowPostTestSystemUpdates">Update {{dataService.labelSystemLower()}} data after testing
                             <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" [tbTooltip]="'Check this to allow '+dataService.labelOrganisationLower()+' users to update '+dataService.labelSystemLower()+' data and custom properties once tests have been recorded.'"></div>
                        </label>
                    </div>
                    <div class="form-check pb-2">
                        <input class="form-check-input" type="checkbox" id="allowPostTestStatementUpdates" name="allowPostTestStatementUpdates" [(ngModel)]="community.allowPostTestStatementUpdates">
                        <label class="form-check-label" for="allowPostTestStatementUpdates">Update conformance statement after testing
                             <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" [tbTooltip]="'Check this to allow '+dataService.labelOrganisationLower()+' users to update the configuration parameters for a conformance statement once tests have been recorded.'"></div>
                        </label>
                    </div>
                    <div class="form-check" *ngIf="dataService.configuration.automationApiEnabled">
                        <input class="form-check-input" type="checkbox" id="allowAutomationApi" name="allowAutomationApi" [(ngModel)]="community.allowAutomationApi">
                        <label class="form-check-label" for="allowAutomationApi">Manage test sessions via REST API
                             <div class="col-auto d-inline-flex" app-tooltip [inline]="true" inlineType="checkLabelText" [tbTooltip]="'Check this to allow '+dataService.labelOrganisationLower()+' users to use the Test Bed\'s REST API to start test sessions, stop them, and view their status.'"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="domain" *ngIf="!admin" name="domainId" [(ngModel)]="community.domain" type="hidden">
