<div class="table-container">
    <table [attr.id]="sessionTableId" class="table table-directive expandable-table">
        <caption *ngIf="tableCaptionVisible">{{tableCaption}}</caption>
        <thead>
            <tr>
                <th class="th-min-centered" *ngIf="checkboxEnabled"></th>
                <th class="th-min-centered"></th>
                <th [ngClass]="column.headerClass!" *ngFor="let column of columnsLeft" (click)="!column.sortable || headerColumnClicked(column)">
                    {{column.title}} 
                    <i *ngIf="column.order == 'desc'" class="fa fa-caret-down"></i>
                    <i *ngIf="column.order == 'asc'" class="fa fa-caret-up"></i>
                </th>
                <th *ngIf="actionVisible || exportVisible || operationsVisible" class="th-min-centered"></th>
                <th [ngClass]="column.headerClass!" *ngFor="let column of columnsRight" (click)="!column.sortable || headerColumnClicked(column)">
                    {{column.title}} 
                    <i *ngIf="column.order == 'desc'" class="fa fa-caret-down"></i>
                    <i *ngIf="column.order == 'asc'" class="fa fa-caret-up"></i>
                </th>
            </tr>
        </thead>
        <tbody [class.disable-events]="contentRefreshing">
            <tr *ngIf="loadingStatus && loadingStatus.status != Constants.STATUS.FINISHED">
                <td [attr.colspan]="columnCount" class="td-data-loading"><span><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span></td>
            </tr>
            <tr *ngIf="loadingStatus && loadingStatus.status == Constants.STATUS.FINISHED && (!data || data.length == 0)">
                <td [attr.colspan]="columnCount" class="td-no-data"><span>{{noDataMessage}}</span></td>
            </tr>
            <ng-container *ngFor="let row of data; let i = index">
                <tr table-row-directive
                    class="table-row-directive expandable-table-row-collapsed session-table-row" 
                    [ngClass]="rowClass(row)" 
                    (click)="onExpand(row)"
                    [data]="row"
                    [columns]="columns"
                    [classes]="classes"
                    [actionVisible]="actionVisible"
                    [actionIcon]="actionIcon"
                    [exportIcon]="exportIcon"
                    [deleteIcon]="deleteIcon"
                    [operationsVisible]="operationsVisible"
                    [exportVisible]="exportVisible"
                    [exportVisibleForRow]="exportVisibleForRow"
                    [checkboxEnabled]="checkboxEnabled"
                    (onAction)="handleAction($event)"
                    (onDelete)="handleDelete($event)"
                    (onExport)="handleExport($event)"
                    (onCheck)="handleCheck($event)"
                    [deleteVisibleForRow]="deleteVisibleForRow"
                    [actionVisibleForRow]="actionVisibleForRow"
                    [actionPendingProperty]="actionPendingProperty"
                    [deletePendingProperty]="deletePendingProperty"
                    [exportPendingProperty]="exportPendingProperty"
                    [actionTooltip]="actionTooltip"
                    [deleteTooltip]="'Terminate'"
                    [exportTooltip]="exportTooltip"
                    [expandableRowProperty]="'expanded'"></tr>
                <tr class="expandable-table-row-expanded">
                    <td [attr.colspan]="columnCount" class="expandable-table-expandable-cell-no-spacings">
                        <table width="100%" style="table-layout:fixed;">
                            <tr class="tr-expandable-inner">
                                <td>
                                    <div [collapse]="!row.expanded" [isAnimated]="true">
                                        <div class="collapsing-div">
                                            <div class="sessionControls">
                                                <div class="btn-toolbar">
                                                    <button *ngIf="supportRefresh" type="button" class="btn btn-default" (click)="refresh(row)" [pending]="sessionBeingRefreshed?.session == row.session" [disable]="row.endTime != undefined">Refresh</button>
                                                    <button type="button" class="btn btn-default" (click)="showTestSessionLog(row)" [pending]="viewLogPending[row.session]">View log</button>
                                                    <button *ngIf="row.organizationId != undefined" type="button" class="btn btn-default" (click)="goToOrganisation(row)">View {{dataService.labelOrganisationLower()}}</button>
                                                    <button *ngIf="row.organizationId != undefined && row.systemId != undefined" type="button" class="btn btn-default" (click)="goToSystem(row)">View {{dataService.labelSystemLower()}}</button>
                                                    <button *ngIf="row.organizationId != undefined && row.systemId != undefined && row.actorId != undefined && row.specificationId != undefined" type="button" class="btn btn-default" (click)="goToStatement(row)">View conformance statement</button>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading session-table-title clickable" (click)="diagramCollapsed[row.session] = !diagramCollapsed[row.session]">
                                                    <div class="session-table-title-part">
                                                        <div class="session-table-title-label"><app-collapsing-icon [isCollapsed]="diagramCollapsed[row.session]"></app-collapsing-icon>Test suite</div>
                                                        <div class="session-table-title-value">{{row.testSuite}}</div>
                                                    </div>
                                                    <div class="session-table-title-part">
                                                        <div class="session-table-title-label">Test case</div>
                                                        <div class="session-table-title-value">{{row.testCase}}</div>
                                                    </div>
                                                    <div class="session-table-title-part">
                                                        <div class="session-table-title-label">Session</div>
                                                        <div class="session-table-title-value"><app-copy-enabled-text [value]="row.session"></app-copy-enabled-text></div>
                                                    </div>
                                                </div>
                                                <div [collapse]="diagramCollapsed[row.session]" [isAnimated]="true">
                                                    <div class="panel-body" [class.disable-events]="sessionBeingRefreshed?.session == row.session" style="overflow-x: auto; overflow-y: hidden;">
                                                        <div *ngIf="!row.hideLoadingIcon"><span><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span></div>
                                                        <div [collapse]="!row.diagramExpanded" [isAnimated]="true">
                                                            <div class="no-margin">
                                                                <div *ngIf="row.expanded || row.diagramLoaded">
                                                                    <app-test-session-presentation
                                                                        [session]="row" 
                                                                        (ready)="diagramReady($event)">
                                                                    </app-test-session-presentation>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div *ngIf="(!prevDisabled || !nextDisabled) && data && data.length > 0" class="text-center table-paging-controls-expandable">
        <ul class="pagination pagination-sm" [class.disable-events]="contentRefreshing">
            <li [ngClass]="prevDisabled ? 'disabled' : ''"><a href (click)="doFirstPage(); $event.preventDefault()">First</a></li>
            <li [ngClass]="prevDisabled ? 'disabled' : ''"><a href (click)="doPrevPage(); $event.preventDefault()">Previous</a></li>
            <li [ngClass]="nextDisabled ? 'disabled' : ''"><a href (click)="doNextPage(); $event.preventDefault()">Next</a></li>
            <li [ngClass]="nextDisabled ? 'disabled' : ''"><a href (click)="doLastPage(); $event.preventDefault()">Last</a></li>
        </ul>
    </div>
</div>