.sessionControls {
    margin-left: -5px;
    button {
        margin-bottom: 10px;
    }
}
.diagramReloading {
    opacity: 0.5;
    pointer-events: none;
}
tr.session-table-row {
    height: 51px;
}