@import '../../../styles/less/_common.less';

.sessionControls {
    margin-bottom: 10px;
    display: flex;
    .goto-controls {
        padding-left: 10px;
        margin-left: auto;
    }    
}
tr.session-table-row {
    height: 51px;
}