<div class="page users create">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Create landing page</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <!-- Error messages -->
                <div class="row">
                    <app-alert-display [alerts]="alerts" innerClass="col-md-10 col-md-offset-1"></app-alert-display>
                </div>
                <!-- landing page form -->
                <div class="row col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">* Name:</label>
                        <div class="col-sm-8"><input id="name" name="name" [(ngModel)]="page.name" class="form-control" type="text"></div>
                        <app-tooltip tbTooltip="The name of the landing page that will identify it and be displayed in selection lists."></app-tooltip>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="description">Description:</label>
                        <div class="col-sm-8"><textarea id="description" name="description" [(ngModel)]="page.description" class="form-control"></textarea></div>
                        <app-tooltip tbTooltip="A description that will be visible only to administrators to help distinguish this landing page and summarise its purpose."></app-tooltip>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="default">Default:</label>
                        <div class="col-sm-8">
                            <input id="default" name="default" [(ngModel)]="page.default" type="checkbox" class="form-check">
                            <app-tooltip [inline]="true" [tbTooltip]="tooltipForDefaultCheck"></app-tooltip>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-separator expandable" (click)="showContent = !showContent">
							<div><h4 class="title"><app-collapsing-icon [isCollapsed]="!showContent"></app-collapsing-icon>Content</h4></div>
						</div>
					</div>
				</div>
				<div [collapse]="!showContent" [isAnimated]="true">
					<div class="row">
						<div class="col-sm-12">
                            <app-editor id="content" name="content" [(ngModel)]="page.content"></app-editor>
						</div>
                    </div>                    
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-default" type="submit" (click)="createLandingPage()" [disable]="saveDisabled()" [pending]="savePending">Save</button>
                    <button class="btn btn-default" type="button" (click)="cancelCreateLandingPage()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
