<div class="root-container">
    @if (userLoaded()) {
      <div class="header-profile-user" [class.expanded]="expanded" (mouseenter)="overHeader()" (mouseleave)="leftHeader()">
        <span class="user-icon"><i class="fa-solid fa-user"></i></span><span class="header-user-name"> {{dataService.user?.name}}</span><span class="user-icon-expand"><i class="fa-solid" [ngClass]="{'fa-angle-right': !expanded, 'fa-angle-down': expanded}"></i></span>
      </div>
    }
    @if (expanded) {
      <div class="header-popup" (mouseenter)="overPopup()" (mouseleave)="leftPopup()">
          <div class="header-popup-spacing">
              <div class="header-popup-spacing-inner">
                  <div class="header-popup-user">
                    <div class="user-name">{{dataService.user?.name}}</div>
                    @if (userFullyLoaded()) {
                      <div class="user-description">{{dataService.getRoleDescription(false)}}</div>
                    }
                  </div>
                  @if (!logoutInProgress) {
                    <div class="header-popup-options">
                      @if (!dataService.isDemoAccount() && (dataService.configuration.ssoEnabled || !dataService.user?.onetime) && isAuthenticated()) {
                        <div class="profile-option" (click)="routingService.toProfile(); expanded = false"><span class="icon"><i class="fa-solid fa-user-pen"></i></span><span>My profile</span></div>
                      }
                      @if (dataService.configuration.ssoEnabled && isAuthenticated()) {
                        <div class="profile-option" (click)="switchAccount(); expanded = false"><span class="icon"><i class="fa-solid fa-arrows-rotate"></i></span><span>Switch role</span></div>
                      }
                      @if (!dataService.isDemoAccount() && !dataService.configuration.ssoEnabled) {
                        <div class="profile-option" (click)="routingService.toChangePassword(); expanded = false"><span class="icon"><i class="fa-solid fa-key"></i></span><span>Change password</span></div>
                      }
                      <div class="profile-option" (click)="logout(); expanded = false"><span class="icon"><i class="fa-solid fa-power-off"></i></span><span>Logout</span></div>
                    </div>
                  }
              </div>
          </div>
      </div>
    }
  </div>
