<div class="page-with-margins">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (pageContent == undefined) {
                    <div class="container"><span class="tab" style="font-size: xx-large;"><i class="fa-solid fa-spinner fa-spin-override fa-lg"></i></span></div>
                } @else {
                    <div id="content" [innerHtml]="pageContent | sanitizeHtml"></div>
                }
            </div>
        </div>
    </div>
</div>