@import "../../../../../styles/less/_common.less";

.any-content-view-container { 
    display: flex; 
}
.any-content-view-texts { 
    display: inline-flex; 
    flex-direction: column; 
    flex-grow: 1; 
    word-break: break-all;
    align-self: center;
    & > .value {
        &.hasName {
            padding-top: 5px; 
        }
    }
}
.any-content-view-controls{ 
    display: inline-flex; 
    align-items: center; 
    flex-shrink: 0; 
    height: 50px;
}

.any-content-view {
    padding: 0 15px;
    margin: 8px 0;
    border: 1px solid @gray-light;
    border-radius: 3px;
    .content-view {
        padding: 5px 0;
        .simple-content-view {
            display: block;
            padding: 8px 0;
            border-bottom: 1px solid @gray-light;
            &:last-child {
                border-bottom: none;
            }
            .value {
                display: block;
            }
        }
    }
    .test-assertion-group-report {
        .assertion-report-nolink {
            display: block;
            margin-bottom: 10px;
            &.warning-assertion-report {
                background-color: @orange-light;
            }
            &.error-assertion-report {
                background-color: @red-light;
            }
            &.info-assertion-report {
                background-color: @gray-light-2;
            }
        }
        .assertion-report {
            display: block;
            margin-bottom: 10px;
            &:hover {
                cursor: pointer;
            }
            &.warning-assertion-report {
                background-color: @orange-light;
            }
            &.error-assertion-report {
                background-color: @red-light;
            }
            &.info-assertion-report {
                background-color: @gray-light-2;
            }
        }
    }
}
.content-container {
    margin-top: 8px;
}