<div class="tabControls">
    <div class="btn-toolbar">
        @if (manageDocumentation) {
            <button type="button" [labelIcon]="Constants.BUTTON_ICON.DOCUMENTATION" class="btn btn-secondary" (click)="manageActorDocumentation()">Manage documentation</button>
        }
        <button type="button" [labelIcon]="Constants.BUTTON_ICON.SAVE" class="btn btn-secondary" [disable]="orderParametersDisabled" [pending]="orderPending" (click)="orderParameters()">Save parameter order</button>
        @if (manageEndpoints) {
            <div class="btn-group create-group" ngbDropdown>
                <button type="button" [labelIcon]="Constants.BUTTON_ICON.NEW" class="btn btn-secondary" (click)="addParameter()">Create parameter</button>
                <button id="button-create" type="button" ngbDropdownToggle class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
                    <span class="caret"></span>
                    <span class="sr-only visually-hidden">Create parameter</span>
                </button>
                <div id="dropdown-create" ngbDropdownMenu aria-labelledby="button-create">
                    <button ngbDropdownItem type="button" (click)="addEndpoint()">Create {{dataService.labelEndpointLower()}}</button>
                </div>
            </div>
        } @else {
            <button type="button" [labelIcon]="Constants.BUTTON_ICON.NEW" class="btn btn-secondary" (click)="addParameter()">Create parameter</button>
        }
    </div>
</div>
<div class="card table-container rounded">
    <table class="table table-directive">
        <thead>
            <tr>
                <th><div class="cell-content">Label</div></th>
                <th><div class="cell-content">Key</div></th>
                <th class="th-min"><div class="cell-content">Type</div></th>
                <th class="th-min"></th>
                <th class="th-min"></th>
            </tr>
        </thead>
        <tbody class="parametersTable" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="dropParameter($event)">
            @if (dataStatus.status != Constants.STATUS.FINISHED) {
                <tr>
                    <td colspan="5" class="td-data-loading">
                        <div class="cell-content">
                            <app-pending-block></app-pending-block>
                        </div>
                    </td>
                </tr>
            } @else if (dataStatus.status == Constants.STATUS.FINISHED && parameters.length == 0) {
                <tr>
                    <td colspan="5" class="td-no-data">
                        <div class="cell-content">
                            <span>No parameters found</span>
                        </div>
                    </td>
                </tr>
            }
            @for (parameter of parameters; track parameter.id) {
                <tr class="table-row-directive selectable drag-table-row"
                    cdkDrag
                    (cdkDragStarted)="draggingParameter = true"
                    (cdkDragEnded)="draggingParameter = false"
                    cdkDragPreviewContainer="parent"
                    [cdkDragDisabled]="parameters.length == 1"
                    (click)="onParameterSelect(parameter)"
                    [class.selectable]="!draggingParameter"
                >
                    <td class="drag-preview"><div class="cell-content">{{parameter.name}}</div></td>
                    <td><div class="cell-content">{{parameter.testKey}}</div></td>
                    <td class="td-min"><div class="cell-content"><app-value-pill [text]="parameter.kindLabel"></app-value-pill></div></td>
                    <td class="td-min td-padded-icon"><div class="cell-content marker-cell">@if (parameter.useLabel) {<app-marker-icon [icon]="Constants.BUTTON_ICON.REQUIRED" tooltip="Required"></app-marker-icon>}@if (!parameter.adminOnlyLabel) {<app-marker-icon [icon]="Constants.BUTTON_ICON.USER_ADMIN" tooltip="Editable by administrators only"></app-marker-icon>}@if (!parameter.notForTestsLabel) {<app-marker-icon [icon]="Constants.BUTTON_ICON.NOT_IN_TESTS" tooltip="Not used in tests"></app-marker-icon>}@if (parameter.hidden) {<app-marker-icon [icon]="Constants.BUTTON_ICON.HIDE" tooltip="Hidden"></app-marker-icon>}</div></td>
                    <td class="drag-handle" (click)="$event.stopPropagation();">
                        @if (parameters.length > 1) {
                            <div class="cell-content">
                                <button cdkDragHandle #pop="ngbTooltip" (mousedown)="mouseDownOnDragButton(pop)" (mouseout)="mouseOutOnDragButton(pop)" class="btn btn-sm btn-secondary" type="button" tooltipClass="shortTooltip" container="body" ngbTooltip="Reorder" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><span><i [class]="Constants.BUTTON_ICON.REORDER"></i></span></button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
