<div class="page users">
    <!-- communities -->
    <div class="card mb-0">
        <div class="card-header">
            <div class="card-title">Communities</div>
            <div class="btn-toolbar">
                <app-text-filter name="communityFilter" [width]="300" [placeholder]="'Search communities...'" [(ngModel)]="communityFilter" (apply)="applyFilter()"></app-text-filter>
                <button type="button" class="btn btn-secondary" (click)="createCommunity()">Create community</button>
            </div>
        </div>
        <div #communityTable table-directive
            [columns]="communityColumns"
            [data]="communities"
			noDataMessage="No communities found"
			[loadingStatus]="communityStatus"
            [contentRefreshing]="communitiesRefreshing"
            [allowSelect]="true"
            [supportPaging]="true"
            (pageNavigation)="doCommunityPaging($event)"
            (onSelect)="communitySelect($event)">
        </div>
    </div>
</div>
