<div class="page users">
    <!-- communities -->
    <div class="card mb-0">
        <div class="card-header">
            <div class="card-title">Communities</div>
            <div class="btn-toolbar">
                <button type="button" class="btn btn-secondary" (click)="createCommunity()">Create community</button>
            </div>
        </div>
        <div table-directive 
            [columns]="communityColumns"
            [data]="communities"
			noDataMessage="No communities found"
			[loadingStatus]="communityStatus" 
            [allowSelect]="true"
            (onSelect)="communitySelect($event)">
        </div>
    </div>
</div>
