<ng-container>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                <label class="col-xs-3 control-label" for="sname">* Short name:</label>
                <div class="col-xs-7"><input id="sname" name="sname" [(ngModel)]="organisation.sname" class="form-control" type="text"></div>
                <app-tooltip [tbTooltip]="'A short name to refer to the '+dataService.labelOrganisationLower()+' used in selection lists and tabular displays where space is limited.'"></app-tooltip>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label" for="fname">* Full name:</label>
                <div class="col-xs-7"><input id="fname" name="fname" [(ngModel)]="organisation.fname" class="form-control" type="text"></div>
                <app-tooltip [tbTooltip]="'The full name of the '+dataService.labelOrganisationLower()+' used in reports and detail screens.'"></app-tooltip>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label" for="role">Landing page:</label>
                <div class="col-xs-7">
                    <select class="form-control" name="landingPage" [(ngModel)]="organisation.landingPage">
                        <option [ngValue]="undefined">--Default Page--</option>
                        <option *ngFor="let page of landingPages" [ngValue]="page.id">{{page.name}}</option>
                    </select>
                </div>
                <app-tooltip [tbTooltip]="'You can provide a specific landing page for the '+dataService.labelOrganisationLower()+' with custom information. If unspecified the community default applies.'"></app-tooltip>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label" for="role">Legal notice:</label>
                <div class="col-xs-7">
                    <select class="form-control" name="legalNotice" [(ngModel)]="organisation.legalNotice">
                        <option [ngValue]="undefined">--Default Legal Notice--</option>
                        <option *ngFor="let notice of legalNotices" [ngValue]="notice.id">{{notice.name}}</option>
                    </select>
                </div>
                <app-tooltip [tbTooltip]="'You can provide a specific legal notice for the '+dataService.labelOrganisationLower()+' with custom information. If unspecified the community default applies.'"></app-tooltip>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label" for="template">Error template:</label>
                <div class="col-xs-7">
                    <select class="form-control" name="errorTemplate" [(ngModel)]="organisation.errorTemplate">
                        <option [ngValue]="undefined">--Default Error Template--</option>
                        <option *ngFor="let template of errorTemplates" [ngValue]="template.id">{{template.name}}</option>
                    </select>
                </div>
                <app-tooltip [tbTooltip]="'You can provide a specific error template for the '+dataService.labelOrganisationLower()+' with custom information. If unspecified the community default applies.'"></app-tooltip>
            </div>
            <div class="form-group" *ngIf="otherOrganisations.length">
                <label class="col-xs-3 control-label" for="role">Copy test setup from:</label>
                <div class="col-xs-7">
                    <select (change)="copyChanged()" class="form-control" name="otherOrganisation" [(ngModel)]="organisation.otherOrganisations">
                        <option [ngValue]="undefined"></option>
                        <option *ngFor="let organisation of otherOrganisations" [ngValue]="organisation.id">{{organisation.sname}}</option>
                    </select>
                </div>
                <app-tooltip [tbTooltip]="'Select another '+dataService.labelOrganisationLower()+' to serve as a template for this one. The configuration from the selected '+dataService.labelOrganisationLower()+' will be copied to the current one.'"></app-tooltip>
            </div>
            <div [collapse]="!organisation.otherOrganisations" [isAnimated]="true">
                <div class="form-group">
                    <label class="col-xs-3 control-label">Copy also:</label>
                    <div class="col-xs-8">
                        <label class="checkbox-inline">
                            <input type="checkbox" (change)="copyChanged()" name="copyOrgParams" [(ngModel)]="organisation.copyOrganisationParameters">{{dataService.labelOrganisation()}} properties
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" (change)="copyChanged()" name="copySysParams" [(ngModel)]="organisation.copySystemParameters">{{dataService.labelSystem()}} properties
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" (change)="copyChanged()" name="copyStmtParams" [(ngModel)]="organisation.copyStatementParameters">Conformance statement configurations
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="selfRegEnabled">
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="template">Publish as template:</label>
                    <div class="col-xs-7">
                        <input id="template" name="asTemplate" [(ngModel)]="organisation.template" type="checkbox" class="form-check" (change)="templateChoiceChanged()">
                        <app-tooltip [inline]="true" [tbTooltip]="'You can define the configuration of this '+dataService.labelOrganisationLower()+' as a template that will be presented to users self-registering for the community (if self-registration is enabled). Do this to offer new users preconfigured '+dataService.labelSystemsLower()+' and conformance statements.'"></app-tooltip>
                    </div>
                </div>
                <div [collapse]="!organisation.template" [isAnimated]="true">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="templateName">* Template name:</label>
                        <div class="col-xs-7"><input id="templateName" name="templateName" [(ngModel)]="organisation.templateName" class="form-control" type="text"></div>
                        <app-tooltip tbTooltip="The name to display in the self-registration screen for this template configuration."></app-tooltip>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-optional-custom-property-form *ngIf="!organisation.copyOrganisationParameters"
        [tbPropertyData]="propertyData"
        [tbPropertyType]="'organisation'"
        [tbOwner]="organisation.id"
        [tbSetDefaults]="organisation.id == undefined"
        [tbColInputLess]="1"></app-optional-custom-property-form>
</ng-container>