<div class="page users create">
    <div class="card no-bottom-margin">
        <div class="card-header">
            <h4 class="title">Create {{dataService.labelOrganisationLower()}}</h4>
        </div>
        <form>
            <div class="card-body">
                <app-alert-display [alerts]="alerts" innerClass="col-10 offset-1"></app-alert-display>
                <app-organisation-form
                    [organisation]="organisation"
                    [communityId]="communityId"
                    [propertyData]="propertyData"
                ></app-organisation-form>
            </div>
            <div class="card-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" (click)="createOrganisation()" [disable]="saveDisabled()" [pending]="savePending">Save</button>
                    <button class="btn btn-secondary" type="button" (click)="cancelCreateOrganisation()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>