<div class="page users create">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="title">Create {{dataService.labelOrganisationLower()}}</h4>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">
                <div class="row">
                    <app-alert-display [alerts]="alerts" innerClass="col-md-10 col-md-offset-1"></app-alert-display>
                </div>
                <app-organisation-form
                    [organisation]="organisation"
                    [communityId]="communityId"
                    [propertyData]="propertyData"
                ></app-organisation-form>
            </div>
            <div class="panel-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-default" type="submit" (click)="createOrganisation()" [disable]="saveDisabled()" [pending]="savePending">Save</button>
                    <button class="btn btn-default" type="button" (click)="cancelCreateOrganisation()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>