<div class="page users create">
    <div class="card mb-0">
        <div class="card-header">
            <div class="card-title">Create {{dataService.labelOrganisationLower()}}</div>
        </div>
        <form>
            <div class="card-body" [pending]="!loaded" focus="sname">
                <app-organisation-form #form
                    [organisation]="organisation"
                    [communityId]="communityId"
                    [propertyData]="propertyData"
                    [validation]="validation"
                    [landingPages]="landingPages"
                    [legalNotices]="legalNotices"
                    [errorTemplates]="errorTemplates"
                ></app-organisation-form>
            </div>
            <div class="card-footer">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" type="submit" (click)="createOrganisation()" [disable]="saveDisabled()" [pending]="savePending">Save</button>
                    <button class="btn btn-secondary" type="button" (click)="cancelCreateOrganisation()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
