<div class="modal-header">
    <h4>{{title}}</h4>
</div>
<form class="form-horizontal">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-xs-3 control-label" for="nameIdentifier">* Name:</label>
            <div class="col-xs-7"><input id="nameIdentifier" name="name" [(ngModel)]="tagToUse.name" class="form-control" type="text"></div>
            <app-tooltip tbTooltip="The text to display within the tag."></app-tooltip>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="background">Background colour:</label>
            <div class="col-xs-7">
                <input id="background" name="background" class="colour-holder" readonly="readonly"
                    [style.background]="tagToUse.background"
                    [colorPicker]="tagToUse.background!"
                    [cpOutputFormat]="'hex'"
                    (colorPickerChange)="tagToUse.background = $event">
                <app-tooltip [inline]="true" inlineType="button" tbTooltip="The colour for the tag's background."></app-tooltip>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="foreground">Text colour:</label>
            <div class="col-xs-7">
                <input id="foreground" name="foreground" class="colour-holder" readonly="readonly"
                    [style.background]="tagToUse.foreground"
                    [colorPicker]="tagToUse.foreground!"
                    [cpOutputFormat]="'hex'"
                    (colorPickerChange)="tagToUse.foreground = $event">
                <app-tooltip [inline]="true" inlineType="button" tbTooltip="The colour for the tag's text."></app-tooltip>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="description">Description:</label>
            <div class="col-xs-7">
                <textarea id="description" name="description" [(ngModel)]="tagToUse.description" class="form-control"></textarea>
            </div>
            <app-tooltip tbTooltip="A text describing what this tag means. This will be displayed as a tooltip when hovering over the tag."></app-tooltip>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="submit" (click)="save()" [disabled]="saveDisabled()">Save</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>
