@import "../../../../styles/less/_common.less";

.actor-role-pill {
    cursor: pointer;
    position: absolute;
    font-weight: bold;
    border: 1px solid @gray;
    border-radius: 10px;
    background-color: @gray;
    color: @white;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    top: -7px;
    height: 14px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
