.root {
    display: flex;    
    .buttonContainer {
        display: flex;
        .button {
            display: inline-flex;
        }
        .help {
            display: inline-flex;
            align-items: center;
            margin-right: 30px;
        }
    }
}