<app-file-select [fileName]="badge.file?badge.file.name:badge.nameToShow" (onUpload)="selectBadge($event)" placeholder="Select badge image ..." [accepts]="acceptedFileTypes" [extraActions]="true">
    <button type="button" class="btn btn-default" *ngIf="badge.enabled" (click)="previewBadge()" containerClass="shortTooltip" tooltip="Preview" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-magnifying-glass"></i></button>
    <button type="button" class="btn btn-default" *ngIf="badge.enabled" (click)="removeBadge()" containerClass="shortTooltip" tooltip="Remove" [delay]="Constants.TOOLTIP_DELAY"><i class="fa-solid fa-trash"></i></button>
</app-file-select>
