<app-file-select [icon]="forReport?'fa solid fa-file-pdf':undefined" [fileName]="badge.file?badge.file.name:badge.nameToShow" (onUpload)="selectBadge($event)" placeholder="Drop or browse for badge image ..." [accepts]="acceptedFileTypes" [extraActions]="true">
    @if (badge.enabled) {
        <button type="button" class="btn btn-secondary" (click)="previewBadge()" tooltipClass="shortTooltip" container="body" ngbTooltip="Preview" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i [class]="Constants.BUTTON_ICON.VIEW"></i></button>
        <button type="button" class="btn btn-secondary" (click)="removeBadge()" tooltipClass="shortTooltip" container="body" ngbTooltip="Remove" [openDelay]="Constants.TOOLTIP_DELAY" [triggers]="'mouseover:mouseout'"><i [class]="Constants.BUTTON_ICON.DELETE"></i></button>
    }
</app-file-select>
