@import '../../../../styles/less/_common.less';

.controls {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.system-filter {
		display: flex;
		align-items: center;
		.system-filter-label {
			font-weight: bold;
			margin-right: 10px;
		}
		.system-filter-value {
			min-width: 350px;
		}
	}
	.text-filter, .status-filter {
		margin-right: 5px;
	}
	.text-filter {
		margin-left: 30px;
		padding-left: 30px;
		border-left: 1px solid @gray-light;
	}
	& > * {
		margin-bottom: 5px;
	}
}
.top-margin {
	margin-top: 10px;
}