@import '../../../../styles/less/_common.less';

.pending-container {
    display: flex;
	padding: 0px 0px 20px 0px;
    .pending-message {
        opacity: 0.5;
    }
}
.controls {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 25px;
	.system-filter {
		display: flex;
		align-items: center;
		.system-filter-label {
			font-weight: bold;
			margin-right: 10px;
		}
		.system-filter-value {
			min-width: 350px;
		}
	}
	.text-filter, .status-filter {
		margin-right: 5px;
	}
	.text-filter {
		margin-left: 30px;
		padding-left: 30px;
		border-left: 1px solid @gray-light;
	}
	& > * {
		margin-bottom: 5px;
	}
}