<div class="page domains detail options create-option">
	<div class="card mb-0">
		<div class="card-header">
			<h4 class="title">Create {{dataService.labelEndpointLower()}}</h4>
		</div>
		<form>
			<div class="card-body">
				<div class="col-10 offset-1">
                    <app-endpoint-form [endpoint]="endpoint"></app-endpoint-form>
                </div>
			</div>
			<div class="card-footer">
				<div class="btn-toolbar">
					<button class="btn btn-secondary" type="submit" (click)="createEndpoint()" [disable]="saveDisabled()" [pending]="pending">Save</button>
					<button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
