<div class="page domains detail options create-option">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="title">Create {{dataService.labelEndpointLower()}}</h4>
		</div>
		<form class="form-horizontal">
			<div class="panel-body">
				<div class="col-md-10 col-md-offset-1">
                    <app-endpoint-form [endpoint]="endpoint"></app-endpoint-form>
                </div>
			</div>
			<div class="panel-footer">
				<div class="btn-toolbar">
					<button class="btn btn-default" type="submit" (click)="createEndpoint()" [disable]="saveDisabled()" [pending]="pending">Save</button>
					<button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
