@import "../_common.less";

.editor {
	border: 1px solid @gray-dark-1;
	&.editor-normal {
		.CodeMirror {
			height: 500px;
		}
	}
	&.editor-short {
		.CodeMirror {
			height: 200px;
		}
	}
	.indicator-editor-widget {
		font-size: 12px;
		line-height: 16px;

		&.info-indicator-editor-widget {
			.indicator-icon {
				color: @blue-info;
			}
		}

		&.warning-indicator-editor-widget {
			.indicator-icon {
				color: @orange-warning;
			}
		}

		&.error-indicator-editor-widget {
			.indicator-icon {
				color: @red-error;
			}
		}

		.indicator-icon {
			padding: 0 8px;
		}
	}

	.indicator-widget-line {
		background-color: @gray-light;
	}

    .selected-editor-line {
        background-color: @gray-medium;
    }
    .selected-editor-line-text {
        font-weight: bold;
    }
}
