<div class="page index">
  <div class="header-bar">
    <div class="container">
      <div class="header-container">
        <div class="header-logo-container">
          <img [src]="logo" class="logo"/>
        </div>
        <div class="header-menu-container">
          <app-header-menu [logoutInProgress]="logoutInProgress"></app-header-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="child">
    <div class="page">
      <section class="page-top">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <h2>{{pageTitle}}</h2>
                  </div>
              </div>
          </div>
      </section>
      <app-breadcrumb [logoutInProgress]="logoutInProgress"></app-breadcrumb>
      <div class="page-root">
        <div class="page-menu" [class.hidden]="logoutInProgress" *ngIf="isAuthenticated() && (dataService.isSystemAdmin || dataService.isCommunityAdmin || dataService.isVendorAdmin || dataService.isVendorUser)">
          <app-menu-item (click)="routingService.toHome()" [type]="MenuItem.home" label="Home" icon="fa-solid fa-house" [expanded]="menuExpanded"></app-menu-item>
          <ng-container *ngIf="dataService.isSystemAdmin || dataService.isCommunityAdmin">
            <app-menu-group label="Administration" [expanded]="menuExpanded"></app-menu-group>
            <app-menu-item (click)="routingService.toConformanceDashboard()" [type]="MenuItem.conformanceDashboard" label="Conformance dashboard" icon="fa-solid fa-gauge-simple-high" [expanded]="menuExpanded"></app-menu-item>
            <app-menu-item (click)="routingService.toSessionDashboard()" [type]="MenuItem.sessionDashboard" label="Session dashboard" icon="fa-solid fa-rectangle-list" [expanded]="menuExpanded"></app-menu-item>
            <app-menu-item (click)="dataService.isSystemAdmin?routingService.toDomains():routingService.toDomain(dataService.community!.domainId!)" *ngIf="dataService.isSystemAdmin || dataService.community?.domainId != undefined" [type]="MenuItem.domainManagement" [label]="dataService.labelDomain() +' management'" icon="fa-solid fa-sitemap" [expanded]="menuExpanded"></app-menu-item>
            <app-menu-item (click)="dataService.isSystemAdmin?routingService.toUserManagement():routingService.toCommunity(dataService.community!.id)" [type]="MenuItem.communityManagement" label="Community management" icon="fa-solid fa-people-group" [expanded]="menuExpanded"></app-menu-item>
            <app-menu-item (click)="routingService.toDataExport()" [type]="MenuItem.dataExport" label="Data export" icon="fa-solid fa-file-export" [expanded]="menuExpanded"></app-menu-item>
            <app-menu-item (click)="routingService.toDataImport()" [type]="MenuItem.dataImport" label="Data import" icon="fa-solid fa-file-import" [expanded]="menuExpanded"></app-menu-item>
            <app-menu-item (click)="routingService.toSystemAdministration()" [type]="MenuItem.systemAdministration" label="System administration" *ngIf="dataService.isSystemAdmin" icon="fa-solid fa-gear" [expanded]="menuExpanded"></app-menu-item>
          </ng-container>
          <app-menu-group label="My tests" [expanded]="menuExpanded"></app-menu-group>
          <app-menu-item (click)="routingService.toOwnConformanceStatements(dataService.vendor!.id)" [type]="MenuItem.myConformanceStatements" label="My conformance statements" icon="fa-solid fa-award" [expanded]="menuExpanded"></app-menu-item>
          <app-menu-item (click)="routingService.toTestHistory(dataService.vendor!.id)" [type]="MenuItem.myTestSessions" label="My test sessions" icon="fa-regular fa-rectangle-list" [expanded]="menuExpanded"></app-menu-item>
          <app-menu-item (click)="routingService.toOwnOrganisationDetails()" [type]="MenuItem.myOrganisation" [label]="'My '+dataService.labelOrganisationLower()" icon="fa-solid fa-building" [expanded]="menuExpanded"></app-menu-item>
          <app-menu-group [expanded]="menuExpanded"></app-menu-group>
          <app-menu-item [label]="menuExpanded?'Collapse menu':'Expand menu'" [icon]="'fa-solid '+(menuExpanded?'fa-angles-left':'fa-angles-right')" (click)="toggleMenu()" [expanded]="menuExpanded"></app-menu-item>
        </div>
        <div class="page-content" [ngSwitch]="logoutInProgress">
          <router-outlet *ngSwitchCase="false"></router-outlet>
          <div class="page-with-margins" *ngSwitchDefault>
            <div class="container"><span class="tab" style="font-size: xx-large;"><i class="fa-solid fa-spinner fa-spin-override fa-lg"></i></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bar">
    <div class="container">
      <div class="footer-logo">
        <img [src]="footer"/>
      </div>
      <div class="footer-devmode-container" *ngIf="dataService.isDevelopmentMode()">
        <div class="footer-devmode"><span><i class="fa-solid fa-exclamation-circle" aria-hidden="true"></i></span><span>Development mode</span></div>
      </div>
      <div class="version-div">
        <div class="footer-links">
          <div *ngIf="showUserGuide()" class="footer-link"><a href (click)="userGuideLink();$event.preventDefault()">User guide</a></div>
          <div *ngIf="showProvideFeedback()" class="footer-link"><a [href]="provideFeedbackLink()" target="blank">Provide feedback</a></div>
          <div *ngIf="showContactUs()" class="footer-link"><a href="#" (click)="contactUs();$event.preventDefault()">Contact support</a></div>
          <div class="footer-link"><a href (click)="onLegalNotice();$event.preventDefault()">Legal notice</a></div>
          <div *ngIf="showMoreInfo()" class="footer-link"><a [href]="moreInfoLink()" target="blank">Find out more</a></div>
          <div *ngIf="showReleaseInfo()" class="footer-link"><a [href]="releaseInfoLink()" target="blank">{{version}}</a></div>
          <div *ngIf="!showReleaseInfo()" class="footer-link"><span class="version-text">{{version}}</span></div>
        </div>
      </div>    
    </div>
  </div>
</div>
