<div class="btn-group" ngbDropdown>
    <button type="button" [labelIcon]="Constants.BUTTON_ICON.COPY_LINK" [pending]="copyBadgePending" class="btn btn-secondary" (click)="copyBadgeURL()">Copy badge URL</button>
    <button id="button-badge" type="button" [disabled]="copyBadgePending" ngbDropdownToggle class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
        <span class="caret"></span>
        <span class="sr-only visually-hidden">Copy badge URL</span>
    </button>
    <div id="dropdown-badge" ngbDropdownMenu aria-labelledby="button-badge">
        <button ngbDropdownItem type="button" (click)="previewBadge()">Preview badge</button>
    </div>
</div>
