<div class="diagram-container-outer">
    <div class="diagram-container" [class.last-actor-with-steps]="lastActorHasDisplayedSteps" [ngClass]="'actors-'+actorStyleCount">
        <div class="diagram-container-inner" [ngClass]="'sequence-diagram actor-diagram-'+actorStyleCount">
            <div class="actor-container">
                @for (actor of actors; track $index) {
                    <app-sequence-diagram-actor [actor]="actor" [index]="$index" [actorInfo]="actorInfo!"></app-sequence-diagram-actor>
                }
            </div>
            <div class="lifeline-container" [ngClass]="'actor-diagram-'+actorStyleCount">
                <div class="lifeline-container-inner">
                    @for (actor of actors; track $index) {
                        <div class="lifeline"></div>
                    }
                </div>
                <div class="message-container">
                    @for (message of messages; track $index) {
                        <app-sequence-diagram-message [message]="message" [events]="events"></app-sequence-diagram-message>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
