<div class="menu-item-root" [class.active]="active" (click)="itemClicked()">
    @if (expanded) {
        <div class="menu-item">
            @if (customTemplate) {
                <ng-container [ngTemplateOutlet]="customTemplate"></ng-container>
            } @else {
                <span><i [ngClass]="icon" class="fa-xl"></i></span>
            }
            @if (status != MenuItemStatus.None) {
                <div class="status-indicator" [class.status-error]="status == MenuItemStatus.Error" [class.status-warning]="status == MenuItemStatus.Warning"></div>
            }
        </div>
        <div class="menu-item-text">{{label}}</div>
    } @else {
        <div class="menu-item" (click)="popup.close()" [ngbTooltip]="label" [disableTooltip]="expanded" container="body" placement="right" [openDelay]="500" #popup="ngbTooltip" tooltipClass="menuItemTooltip">
            @if (customTemplate) {
                <ng-container [ngTemplateOutlet]="customTemplate"></ng-container>
            } @else {
                <span><i [ngClass]="icon" class="fa-xl"></i></span>
            }
            @if (status != MenuItemStatus.None) {
                <div class="status-indicator" [class.status-error]="status == MenuItemStatus.Error" [class.status-warning]="status == MenuItemStatus.Warning"></div>
            }
        </div>
    }
</div>
