<div class="menu-item-root" [class.active]="active">
    @if (expanded) {
        <div class="menu-item">
            @if (customTemplate) {
                <ng-container [ngTemplateOutlet]="customTemplate"></ng-container>
            } @else {
                <span><i [ngClass]="icon" class="fa-xl"></i></span>
            }
        </div>
        <div class="menu-item-text">{{label}}</div>
    } @else {
        <div class="menu-item" (click)="popup.hide()" [tooltip]="label" [isDisabled]="expanded" placement="right" [delay]="500" #popup="bs-tooltip" containerClass="shortTooltip">
            @if (customTemplate) {
                <ng-container [ngTemplateOutlet]="customTemplate"></ng-container>
            } @else {
                <span><i [ngClass]="icon" class="fa-xl"></i></span>
            }
        </div>
    }
</div>
