<div class="page domains detail specifications create">
	<div class="card no-bottom-margin">
		<div class="card-header">
			<h4 class="title">Create {{dataService.labelSpecificationGroupLower()}}</h4>
		</div>
		<form>
			<div class="card-body">
				<div class="col-10 offset-1">
                    <app-specification-group-form [group]="group"></app-specification-group-form>
                </div>
			</div>
			<div class="card-footer">
				<div class="btn-toolbar">
					<button class="btn btn-secondary" type="submit" (click)="createSpecificationGroup()" [disable]="saveDisabled()" [pending]="pending">Save</button>
					<button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>