<div class="modal-header">
	<div class="modal-title">{{modalTitle}}</div>
</div>
<form>
    <div class="modal-body">
        <app-parameter-form 
            [nameLabel]="nameLabel"
            [parameter]="parameter"
            [hasKey]="hasKey"
            [hideInExport]="hideInExport"
            [hideInRegistration]="hideInRegistration"
            [existingValues]="existingValues"></app-parameter-form>
    </div>
    <div class="modal-footer">
        <div class="btn-toolbar">
            <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
            <button class="btn btn-secondary" type="submit" (click)="createParameter()" [disabled]="saveDisabled()">Save</button>
        </div>
    </div>
</form>		
