<div class="modal-header">
	<div class="modal-title">{{modalTitle}}</div>
</div>
<form (ngSubmit)="createParameter()">
    <div class="modal-body">
        <app-parameter-form
            [nameLabel]="nameLabel"
            [parameter]="parameter"
            [hasKey]="hasKey"
            [hideInExport]="hideInExport"
            [hideInRegistration]="hideInRegistration"
            [existingValues]="existingValues"
            [validation]="validation"></app-parameter-form>
    </div>
    <div class="modal-footer">
        <div class="btn-toolbar">
            <button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.CANCEL" type="button" (click)="cancel()">Cancel</button>
            <button class="btn btn-secondary" [labelIcon]="Constants.BUTTON_ICON.SAVE" type="submit" [disable]="saveDisabled()">Save</button>
        </div>
    </div>
</form>
